ADMIN_SITE_HEADER: "{{ admin_site_header }}"
ADMIN_URL: "{{ admin_url }}"
ADMINS: "{{ admins }}"
ALLOWED_HOSTS: "{{ allowed_hosts }}"
CONTACT_EMAIL: "{{ contact_email }}"
DATABASE_URL: "{{ database_url }}"
REDIS_URL: "{{ redis_url }}"
MAILGUN_API_KEY: "{{ mailgun_api_key }}"
MAILGUN_API_URL: "{{ mailgun_api_url }}"
MAILGUN_SENDER_DOMAIN: "{{ mailgun_sender_domain }}"
PWA_SHA256_FINGERPRINTS: "{{ pwa_sha256_fingerprints }}"
SECRET_KEY: "{{ secret_key }}"
SECRET_KEY_FALLBACKS: "{{ secret_key_fallbacks }}"
SENTRY_URL: "{{ sentry_url }}"
STATIC_URL: "{{ static_url }}"
USE_HSTS: true
