# Deployment settings
#
k3s_deploy_docker_image: "{{ k3s_docker_image }}"

k3s_deploy_postgres_image: "postgres:18.1-bookworm"
k3s_deploy_postgres_password: ""
k3s_deploy_postgres_storage: "30Gi"
k3s_deploy_postgres_volume: "/home/ubuntu/pg_data"

k3s_deploy_redis_image: "redis:8.2.2-bookworm"

# Django settings

k3s_deploy_admin_url: "admin/"
k3s_deploy_admins: "admin@{{ domain }}"
k3s_deploy_allowed_hosts: "*"
k3s_deploy_contact_email: "contact@{{ domain }}"
k3s_deploy_conn_pool_max_idle: 120
k3s_deploy_conn_pool_max_lifetime: 1800
k3s_deploy_conn_pool_max_size: 100
k3s_deploy_conn_pool_max_waiting: 25
k3s_deploy_conn_pool_min_size: 2
k3s_deploy_conn_pool_timeout: 20
k3s_deploy_csp_script_whitelist: "*.account.google.com,*.googleapis.com,*.cloudflareinsights.com"
k3s_deploy_mailgun_api_key: ""
k3s_deploy_mailgun_api_url: "https://api.eu.mailgun.net/v3"
k3s_deploy_mailgun_sender_domain: "mg.{{ domain }}"
k3s_deploy_meta_author: "Site owner"
k3s_deploy_meta_description: "Podcast aggregator site"
k3s_deploy_meta_keywords: "podcasts, feeds, rss"
k3s_deploy_open_telemetry_url: ""
k3s_deploy_pwa_sha256_fingerprints: ""
k3s_deploy_secret_key: ""
k3s_deploy_secret_key_fallbacks: ""
k3s_deploy_secure_ssl_redirect: false
k3s_deploy_sentry_url: ""
