{% load heroicons widget_tweaks %}
{% with widget_type=field|widget_type errors=field.errors described_by=field.aria_describedby %}
    <fieldset class="space-y-3 form-control{% if errors %} has-errors{% endif %}"
              {% if described_by %} aria-describedby="{{ described_by }}"{% endif %}>
        {% include "form/field.html#"|add:widget_type %}
        {% partial errors %}
        {% partial help_text %}
    </fieldset>
{% endwith %}

{% partialdef label %}
    <label class="block font-semibold{% if field.errors %} text-red-800 dark:text-red-500{% endif %}"
           for="{{ field.id_for_label }}"
    >
        {{ field.label }}
        {% if not field.field.required %}(optional){% endif %}
    </label>
{% endpartialdef %}

{% partialdef errors %}
    {% if errors %}
        <ul class="space-y-3 font-semibold text-red-800 dark:text-red-600">
            {{ errors|unordered_list }}
        </ul>
    {% endif %}
{% endpartialdef %}

{% partialdef help_text %}
    {% if field.help_text %}
        <div class="text-gray-600 dark:text-gray-300" id="{{ field.auto_id }}_helptext">
            {{ field.help_text }}
        </div>
    {% endif %}
{% endpartialdef %}

{# FIELD DEFINITIONS #}

{# Default input #}
{% partialdef input %}
    {% partial label %}
    {% render_field field class="form-input" %}
{% endpartialdef %}

{# Text input #}
{% partialdef textinput %}
    {% partial input %}
{% endpartialdef %}

{# File input #}
{% partialdef fileinput %}
    {% partial input %}
{% endpartialdef %}

{# URL input #}
{% partialdef urlinput %}
    {% partial input %}
{% endpartialdef %}

{# Checkbox input #}
{% partialdef checkboxinput %}
    <div class="flex items-center space-x-3 w-full">
        {% render_field field class="form-checkbox" %}
        {% partial label %}
    </div>
{% endpartialdef %}

{# Password input #}
{% partialdef passwordinput %}
    {% partial label %}
    <div x-data="{ show: false }" class="inline-block relative">
        {% render_field field class="pr-10 form-input" x-ref="password" %}
        <button type="button"
            {# fmt:off #}
            x-on:click="
                show = !show;
                $refs.password.type = show ? 'text' : 'password';
            "
            {# fmt:on #}
                aria-label="Toggle password"
                class="flex absolute inset-y-0 right-0 justify-center items-center px-3 h-full text-gray-700"
                tabindex="-1"
        >
            {% heroicon_mini "eye" class="w-5 h-5 text-gray-700 dark:text-white" x_show="show" %}
            {% heroicon_mini "eye-slash" class="w-5 h-5 text-gray-700 dark:text-white" x_show="!show" %}
        </button>
    </div>
{% endpartialdef %}
