{% load heroicons %}
<c-vars field />
<c-form.label :field="field" />
<div x-data="{ show: false }" class="inline-block relative">
    {% render_field field class="pr-10 form-input" x_ref="password" %}
    <button type="button"
            {# fmt:off #}
            x-on:click="
                show = !show;
                $refs.password.type = show ? 'text' : 'password'
            "
            {# fmt:on #}
            class="flex absolute inset-y-0 right-0 justify-center items-center px-3 h-full text-gray-700"
            tabindex="-1"
    >
        {% heroicon_mini "eye" class="w-5 h-5 text-gray-700 dark:text-white" x_show="show" %}
        {% heroicon_mini "eye-slash" class="w-5 h-5 text-gray-700 dark:text-white" x_show="!show" %}
    </button>
</div>
