<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{ site.name }}</title>
    </head>

    <body style="font-family: Helvetica, sans-serif;">
        <h1 style="margin-bottom: 0.75rem; font-weight: 700; font-size: 1.25rem;">Hi {{ recipient.username }}, greetings from {{ site.name }}!</h1>

        {% block content %}{% endblock %}

        <p>If you do not want to receive any more recommendations, you can just uncheck the "Send email notifications"
            option
            on your <a style="text-decoration: underline; color: #000;" href="{% absolute_uri 'users:preferences' %}">Settings</a> page.</p>
    </body>

</html>
