{% extends request.htmx|yesno:"layout_base.html,base.html" %}

{% block subtitle %} About {% endblock %}

{% block signup_cta %}{% endblock %}
{% block content %}
<h1 class="font-bold mb-4 flex flex-wrap text-lg lg:text-xl">About {{ request.site.name }}</h1>
<div id="about-content">
    <nav class="mb-4 pb-3 border-b dark:border-gray-500">
        <ul class="flex items-center overflow-x-auto lg:overflow-none whitespace-nowrap lg:whitespace-none space-x-6">
            {% with TAB_ACTIVE_CSS="text-blue-600 font-bold dark:text-blue-300" %}
            {% active_link 'about:credits' as link %}
            <li class="{% if link.exact %}text-blue-600 font-bold dark:text-blue-400{% endif %}">
                <a class="link{% if link.exact %} {{ TAB_ACTIVE_CSS }}{% endif %}"
                   title="Credits"
                   href="{{ link.url }}">Credits</a>
            </li>
            {% active_link 'about:help' as link %}
            <li class="{% if link.exact %}text-blue-600 font-bold dark:text-blue-400{% endif %}">
                <a class="link{% if link.exact %} {{ TAB_ACTIVE_CSS }}{% endif %}"
                   title="help"
                   href="{{ link.url }}">Help</a>
            </li>
            {% active_link 'about:terms' as link %}
            <li class="{% if link.exact %}text-blue-600 font-bold dark:text-blue-400{% endif %}">
                <a class="link{% if link.exact %} {{ TAB_ACTIVE_CSS }}{% endif %}"
                   title="Terms &amp; Conditions"
                   href="{{ link.url }}">Terms</a>
            </li>
            {% endwith %}
        </ul>
    </nav>
    {% block about_content %}{% endblock %}
</div>
{% endblock content %}
