{% extends base_template|default:"about/base.html" %}

{% block about_content %}
<p class="mb-3">
  <strong>{{ request.site.name }}</strong> is a web application for discovering, following and listening to your favorite podcasts.
</p>
<p class="mb-3">
  This is an open-source project covered by the MIT license.
</p>
<div class="mb-3 flex items-center space-x-3">
  <div>
    <a class="underline hover:text-blue-500"
       target="_blank"
       rel="noopener"
       href="https://github.com/danjac/audiotrails/">Source code</a>
  </div>
  <div>
    <a class="underline hover:text-blue-500"
       target="_blank"
       rel="noopener"
       href="https://github.com/danjac/audiotrails/issues">Report an issue</a>
  </div>
  <div>&copy; {% now 'Y' %} <a class="underline hover:text-blue-500"
       href="mailto:danjac2018@gmail.com">Dan Jacob</a></div>
</div>
<h2 class="font-semibold mb-6 pt-6 border-t dark:border-gray-500 text-lg">Additional Credits</h2>

<ul class="mb-3">

  <li class="mb-3">
    Share icons from <a target="_blank"
       href="https://fontawesome.com"
       class="underline hover:text-blue-500"
       rel="noopener">Font Awesome</a>
  </li>

  <li class="mb-3">
    Loader icon from <a target="_blank"
       href="https://github.com/SamHerbert/SVG-Loaders"
       class="underline hover:text-blue-500"
       rel="noopener">Sam Herbert</a>
  </li>


  <li>
    <a target="_blank"
       rel="noopener"
       class="underline hover:text-blue-500"
       href="https://icons8.com/icons/set/browse-podcasts">Browse Podcasts icon</a> by
    <a target="_blank"
       rel="noopener"
       class="underline hover:text-blue-500"
       href="https://icons8.com">Icons8</a>

  </li>
</ul>


<h2 class="font-semibold pt-6 mb-6 border-t dark:border-gray-500 text-lg">General Disclaimer</h2>

<p class="mb-3">
  All podcast artwork and content are the property of the individual podcast owners. Podcasts are not affiliated with nor ensorsed by {{ request.site.name }}. All audio files are played directly from the source.
</p>

{% endblock about_content %}
