{% extends "about/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% translate "Frequently Asked Questions" %}{% endblock %}

{% block about_content %}

    {% with site_name=request.site.name %}
        <div class="prose dark:prose-invert prose-sm md:prose break-words">

            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">What is {{ site_name }}?</summary>
                <p>
                    {% blocktranslate %}
                        <strong>{{ site_name }}</strong> is a web application for discovering new podcasts and collecting your favorite podcasts and episodes.
                    {% endblocktranslate %}
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">Is {{ site_name }} free?</summary>
                <p>
                    {% blocktranslate %}
                        <strong>{{ site_name }}</strong> is a web application for discovering new podcasts and collecting your favorite podcasts and episodes.
                        <strong>{{ site_name }}</strong> is free of charge. It's also <a href="https://github.com/danjac/radiofeed/">free, open-source software!</a>
                    {% endblocktranslate %}
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">Does {{ site_name }} store data about me?</summary>
                <p>
                    <strong>{{ site_name }}</strong> keeps track of your podcast subscriptions, bookmarks and individual episodes you listen to. This data is not shared with any third party. If you delete your account, all this data is also permanently deleted. More detailed terms and conditions <a class="link"
                        href="{% url 'about:terms' %}">here</a>.
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">
                    {% blocktranslate %}
                        Do I have to create an account to use {{ site_name }}?
                    {% endblocktranslate %}
                </summary>
                <p>
                    You don't have to <a class="link"
                        href="{% url 'account_signup' %}">sign up</a> to discover new podcasts and episodes and download content.
                </p>
                <p>
                    You'll have to register at <strong>{{ site_name }}</strong> to do all of these:
                </p>
                <ul class="list-disc list-inside space-y-3 ml-3">
                    <li>{% translate "Play episodes in our custom Player" %}</li>
                    <li>{% translate "Bookmark episodes to listen to later" %}</li>
                    <li>{% translate "Add podcasts to your collection" %}</li>
                    <li>{% translate "Get new weekly recommendations" %}</li>
                    <li>{% translate "Keep track of episodes you have listened to" %}</li>
                </ul>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">{% translate "What if I want to download an episode to my device?" %}</summary>
                <p>
                    Click the download icon {% include "icons/download.svg" with css_class="inline h-4 w-4 md:h-6 md:w-6" %} on the episode page to save the audio file to your device. You can then
                    listen to the episode using any suitable audio player software. However if you download on your device, it won't be added to your
                    play History.
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">{% translate "How do I add podcasts to my collection?" %}</summary>
                <p>
                    {% blocktranslate %}
                        Just click the <strong>Subscribe</strong> button on the podcast&apos;s <strong>About</strong> page to add the podcast
                        to your collection.
                    {% endblocktranslate %}
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">
                    {% blocktranslate %}
                        How does {{ site_name }} recommend new podcasts to me?
                    {% endblocktranslate %}
                </summary>
                <p>
                    {% blocktranslate %}
                        We will send you an email with new recommendations every week. We recommend new podcasts using a machine-learning algorithm based on your collection and listening history.
                    {% endblocktranslate %}
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">{% translate "How do I stop receiving email notifications?" %}</summary>
                <p>
                    Go to the <a class="link"
                        href="{% url 'users:preferences'%}">Preferences</a> section in the <strong>Settings</strong> area, uncheck the option <strong>Send email notifications</strong> and click the save button.
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">{% translate "How do I remove an episode from my history?" %}</summary>
                <p>
                    Go to the episode page and click the trash icon {% include "icons/trash.svg" with css_class="inline h-4 w-4 md:h-6 md:w-6" %}
                    to permanently remove the episode from your History.
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">{% translate "Can I import my feeds from another podcast app?" %}</summary>
                <p>
                    If your podcast app supports <a class="link" target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/OPML">OPML</a> export, you can download the OPML file to your device and upload it to <strong>{{ request.site.name }}</strong> in the <a class="link"
                        href="{% url 'users:import_export_podcast_feeds' %}">Import/Export OPML</a> section in the <strong>Settings</strong> area.
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">{% translate "Can I save my podcast subscriptions to my device?" %}</summary>
                <p>
                    You can download your podcast feed collection in <a class="link" target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/OPML">OPML</a> format in the <a class="link"
                        href="{% url 'users:import_export_podcast_feeds' %}">Import/Export OPML</a> section in the <strong>Settings</strong> area.
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">How do I add podcasts to {{ site_name }}?</summary>
                <p>
                    {% blocktranslate %}
                        First try looking for the podcast in the Search box in the navigation bar. If you can't find what you are looking for,
                        click the <strong>iTunes</strong> link in the search results page. Any new podcasts you find in iTunes will be automatically
                        added to our database. We're also adding new podcasts every day!
                    {% endblocktranslate %}
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">{% translate "How do I save an episode to listen to later?" %}</summary>
                <p>
                    Click the star icon {% include "icons/star.svg" with css_class="inline h-4 w-4 md:h-6 md:w-6" %}
                    in the episode page to add an episode to your <a class="link" href="{% url 'episodes:bookmarks' %}">Bookmarks</a>.
                    You can add episodes you want to listen to later, or favorites you want to listen to again.
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">{% translate "How often are podcasts updated?" %}</summary>
                <p>
                    {% blocktranslate %}
                        Popular podcasts are refreshed several times an hour and other podcasts every few hours. Podcasts which haven't
                        submitted new content in a long time may be updated every few days.
                    {% endblocktranslate %}
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">Which browsers does {{ site_name }} support?</summary>
                <p>
                    {% blocktranslate %}
                        <strong>{{ site_name }}</strong> has been tested on Chrome and Firefox browsers on Windows, Linux and Android operating systems.
                        It should work OK on other browsers and operating systems, but no guarantee. If you run into an issue in your particular device or browser please file a <a class="link"
                            target="_blank"
                            rel="noopener"
                            href="https://github.com/danjac/radiofeed/issues">bug</a> and provide as much detail as possible.
                    {% endblocktranslate %}
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">{% translate "Help! I've found a bug. How do I report it?" %}</summary>
                <p>
                    {% blocktranslate %}
                        Sorry! If you find a bug we would be very grateful if you report it
                        <a class="link"
                            target="_blank"
                            rel="noopener"
                            href="https://github.com/danjac/radiofeed/issues">here</a>. You can also submit any ideas or suggestions you have!
                    {% endblocktranslate %}
                </p>
            </details>
            <details class="mb-3">
                <summary class="cursor-pointer focus:font-bold">I want to host an instance of {{ site_name }} myself. Is this possible?</summary>
                <p>
                    {% blocktranslate %}
                        Absolutely, this is an open source project that can be hosted on your own server. Please see the <a class="link"
                            target="_blank"
                            rel="noopener"
                            href="https://github.com/danjac/radiofeed/">README</a> for instructions on setting up and running an instance.
                    {% endblocktranslate %}
                </p>
            </details>
            <details>
                <summary class="cursor-pointer focus:font-bold">{% translate "How do I delete my account?" %}</summary>
                <p>
                    Go to <a class="link"
                        href="{% url 'users:delete_account' %}">Delete Account</a> section in the <strong>Settings</strong> area. If you delete your account,
                    your collection, bookmarks and history will also be <strong>permanently</strong> deleted.
                </p>
            </details>
        </div>
    {% endwith %}
{% endblock %}
