{% extends "about/base.html" %}

{% block subtitle %} About | Shortcuts {% endblock %}

{% block about_content %}
<div class="space-y-6">

  <div class="space-y-3">
    <h2 class="font-semibold mb-3 xl:text-lg">Player Shortcuts</h2>

    <p class="mb-3">
      These keyboard shortcuts are available when the Player is running.
    </p>

    <table class="mb-3 table-fixed w-full border dark:border-gray-500"
           aria-label="Navigation Shortcuts">
      <thead>
        <tr class="bg-gray-100 dark:bg-gray-800">
          <th scope="col"
              class="text-left p-1 w-1/2">Action</th>
          <th scope="col"
              class="text-left p-1 w-1/2">Key</th>
        </tr>
      </thead>
      <tbody class="font-mono">
        <tr>
          <td class="border dark:border-gray-500 p-1">Toggle Play/Pause</td>
          <td class="border dark:border-gray-500 p-1">Spacebar</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Skip Backwards 10s</td>
          <td class="border dark:border-gray-500 p-1">Left Arrow</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Skip Forwards 10s</td>
          <td class="border dark:border-gray-500 p-1">Right Arrow</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Increase Playback Rate</td>
          <td class="border dark:border-gray-500 p-1">+</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Decrease Playback Rate</td>
          <td class="border dark:border-gray-500 p-1">-</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Reset Default Playback Rate</td>
          <td class="border dark:border-gray-500 p-1">0</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Close Player (if running)</td>
          <td class="border dark:border-gray-500 p-1">alt+shift+x</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Reload Player (if running)</td>
          <td class="border dark:border-gray-500 p-1">alt+shift+r</td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="space-y-3">
    <h2 class="font-semibold mb-3 xl:text-lg">Navigation Shortcuts</h2>

    <p class="mb-3">
      These keyboard shortcuts should be used in combination with <strong>Alt+Shift</strong> keys on Windows and Linux
      devices (Chrome/Firefox/Edge) and <strong>Ctrl+Option</strong> keys on Mac devices (Chrome/Firefox/Safari).
    </p>

    <table class="mb-3 table-fixed w-full border dark:border-gray-500"
           aria-label="Navigation Shortcuts">
      <thead>
        <tr class="bg-gray-100 dark:bg-gray-800">
          <th scope="col"
              class="text-left p-1 w-1/2">Action</th>
          <th scope="col"
              class="text-left p-1 w-1/2">Key</th>
        </tr>
      </thead>
      <tbody class="font-mono">
        <tr>
          <td class="border dark:border-gray-500 p-1">Podcasts</td>
          <td class="border dark:border-gray-500 p-1">p</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">New Releases</td>
          <td class="border dark:border-gray-500 p-1">n</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Discover</td>
          <td class="border dark:border-gray-500 p-1">d</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Play Queue</td>
          <td class="border dark:border-gray-500 p-1">q</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Favorites</td>
          <td class="border dark:border-gray-500 p-1">f</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">History</td>
          <td class="border dark:border-gray-500 p-1">h</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Settings</td>
          <td class="border dark:border-gray-500 p-1">s</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">About</td>
          <td class="border dark:border-gray-500 p-1">a</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Search</td>
          <td class="border dark:border-gray-500 p-1">k</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Login/Logout</td>
          <td class="border dark:border-gray-500 p-1">l</td>
        </tr>
        <tr>
          <td class="border dark:border-gray-500 p-1">Join</td>
          <td class="border dark:border-gray-500 p-1">j</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
{% endblock about_content %}
