{% extends "about/base.html" %}
{% block about_content %}

<h2 class="font-semibold pt-3 mb-3 border-t dark:border-gray-500">Navigation Shortcuts</h2>

<p class="text-sm mb-3">
  These keyboard shortcuts will only work on latest Firefox, Chrome and Edge.
</p>

<table class="text-sm mb-3 table-auto w-full border dark:border-gray-500">
  <thead>
    <tr class="bg-gray-100 dark:bg-gray-800">
      <th class="text-left p-1">Key</th>
      <th class="text-left p-1">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border dark:border-gray-500 p-1">Alt+Shift+1</td>
      <td class="border dark:border-gray-500 p-1">New Releases</td>
    </tr>
    <tr>
      <td class="border dark:border-gray-500 p-1">Alt+Shift+2</td>
      <td class="border dark:border-gray-500 p-1">Podcasts</td>
    </tr>
    <tr>
      <td class="border dark:border-gray-500 p-1">Alt+Shift+3</td>
      <td class="border dark:border-gray-500 p-1">Discover</td>
    </tr>
    <tr>
      <td class="border dark:border-gray-500 p-1">Alt+Shift+4</td>
      <td class="border dark:border-gray-500 p-1">Play Queue</td>
    </tr>
    <tr>
      <td class="border dark:border-gray-500 p-1">Alt+Shift+5</td>
      <td class="border dark:border-gray-500 p-1">Favorites</td>
    </tr>
    <tr>
      <td class="border dark:border-gray-500 p-1">Alt+Shift+6</td>
      <td class="border dark:border-gray-500 p-1">History</td>
    </tr>
    <tr>
      <td class="border dark:border-gray-500 p-1">Alt+Shift+8</td>
      <td class="border dark:border-gray-500 p-1">About</td>
    </tr>
  </tbody>
</table>

<h3 class="font-semibold mb-3">Player Shortcuts</h2>

  <p class="text-sm mb-3">
    These keyboard shortcuts are active only when the Player is running.
  </p>

  <table class="text-sm mb-3 table-auto w-full border dark:border-gray-500">
    <thead>
      <tr class="bg-gray-100 dark:bg-gray-800">
        <th class="text-left p-1">Key</th>
        <th class="text-left p-1">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border dark:border-gray-500 p-1">Space</td>
        <td class="border dark:border-gray-500 p-1">Play/Pause Player</td>
      </tr>
      <tr>
        <td class="border dark:border-gray-500 p-1">Delete</td>
        <td class="border dark:border-gray-500 p-1">Stop and Close Player</td>
      </tr>
      <tr>
        <td class="border dark:border-gray-500 p-1">Arrow Left (&larr;)</td>
        <td class="border dark:border-gray-500 p-1">Skip 10s Back</td>
      </tr>
      <tr>
        <td class="border dark:border-gray-500 p-1">Arrow Right (&rarr;)</td>
        <td class="border dark:border-gray-500 p-1">Skip 10s Forwards</td>
      </tr>
      <tr>
        <td class="border dark:border-gray-500 p-1">Plus (+)</td>
        <td class="border dark:border-gray-500 p-1">Speed Up Playback Rate</td>
      </tr>
      <tr>
        <td class="border dark:border-gray-500 p-1">Minus (-)</td>
        <td class="border dark:border-gray-500 p-1">Slow Down Playback Rate</td>
      </tr>
      <tr>
        <td class="border dark:border-gray-500 p-1">Shift+Tab</td>
        <td class="border dark:border-gray-500 p-1">Play Next Episode in Queue</td>
      </tr>
    </tbody>
  </table>
 {% endblock about_content %}
