{% extends "base.html" %}
{% load heroicons socialaccount %}

{% block title %}
    {{ block.super }} | Social Logins
{% endblock title %}

{% block content %}
    {% include "account/header.html" with active="social_logins" %}
    <div class="space-y-6">
        {% if form.accounts %}
            <p>You can sign in to your account using any of the following third party accounts:</p>
            {% blockinclude "form.html" %}
                {% for base_account in form.accounts %}
                    {% with account=base_account.get_provider_account %}
                        <div>
                            <label for="id_account_{{ base_account.id }}"
                                   class="flex items-center font-semibold">
                                <input id="id_account_{{ base_account.id }}"
                                       type="radio"
                                       name="account"
                                       class="inline-block mr-3 form-radio"
                                       value="{{ base_account.id }}" />
                                <div class="{{ base_account.provider }} {{ account.get_brand.id }}">
                                    {{ account.get_brand.name }}
                                    {{ account }}
                                </div>
                            </label>
                        </div>
                    {% endwith %}
                {% endfor %}
                {% blockinclude "form.html#buttons" %}
                    <button class="btn btn-danger"
                            type="submit"
                            name="action_remove"
                            value="1"
                            title="Remove this connection"
                    >
                        {% heroicon_mini "trash" class="mr-2" %}
                        Remove
                    </button>
                {% endblockinclude %}
            {% endblockinclude %}
            <hr class="border" />
        {% else %}
            <p>You currently have no social network accounts connected to this account.</p>
        {% endif %}
        <h2 class="text-lg font-semibold">Add a 3rd Party Account</h2>
        <ul class="flex items-center">
            {% include "socialaccount/buttons.html" with process="connect" %}
        </ul>
    </div>
    {% providers_media_js %}
{% endblock content %}
