{% extends "base.html" %}
{% load heroicons socialaccount %}
{% block title %}
    {{ block.super }} | Social Logins
{% endblock title %}

{% block content %}
    <c-account.settings current="social_logins">
        {% if form.accounts %}
            <div class="space-y-3">
                <p>You can sign in to your account using any of the following third party accounts:</p>
                <form method="post"
                      class="space-y-3"
                      action="{% url 'socialaccount_connections' %}">
                    {% csrf_token %}
                    {% for base_account in form.accounts %}
                        {% with base_account.get_provider_account as account %}
                            <div>
                                <label for="id_account_{{ base_account.id }}"
                                       class="flex items-center font-semibold">
                                    <input id="id_account_{{ base_account.id }}"
                                           type="radio"
                                           name="account"
                                           class="inline-block mr-3"
                                           value="{{ base_account.id }}" />
                                    <div class="{{ base_account.provider }} {{ account.get_brand.id }}">
                                        {{ account.get_brand.name }}
                                        {{ account }}
                                    </div>
                                </label>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    <div class="flex items-center">
                        <button class="inline-flex items-center btn btn-danger"
                                type="submit"
                                value="1"
                                title="Remove this connection"
                                aria-label="Remove this connection"
                                name="action_remove">
                            {% heroicon_mini "trash" class="mr-2" %}
                            Remove
                        </button>
                    </div>
                </form>
        {% else %}
            <p>You currently have no social network accounts connected to this account.</p>
        {% endif %}
        <hr />
        <h2 class="text-lg font-semibold">Add a 3rd Party Account</h2>
        <ul class="flex items-center">
            {% get_providers as socialaccount_providers %}
            {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
        </ul>
        {% include "socialaccount/snippets/login_extra.html" %}
    </div>
    </c-account.settings>
{% endblock content %}
