<c-layout title="Sign In">
    {% with provider_name=provider.name %}
        <c-header>
            <c-header.title>
                {% if process == "connect" %}
                    Connect to {{ provider_name }}
                {% else %}
                    Sign In Via {{ provider_name }}
                {% endif %}
            </c-header.title>
        </c-header>
        <p class="mb-3">
            {% if process == "connect" %}
                You are about to connect a new third party account from {{ provider_name }}.
            {% else %}
                You are about to sign in using a third party account from {{ provider_name }}.
            {% endif %}
        </p>
        <c-form hx-disable="true">
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            <c-form.buttons>
                <c-button.primary icon="arrow-right-on-rectangle">
                    {% if process == "connect" %}
                        Connect
                    {% else %}
                        Sign In
                    {% endif %}
                </c-button.primary>
            </c-form.buttons>
        </c-form>
    {% endwith %}
</c-layout>
