{% extends "base.html" %}
{% load heroicons %}
{% block content %}
    {% with provider_name=provider.name %}
        {% if process == "connect" %}
            <h1 class="mb-3 font-bold text-lg lg:text-xl xl:text-2xl">Connect to {{ provider_name }}</h1>
            <p class="mb-3">You are about to connect a new third party account from {{ provider_name }}.</p>
        {% else %}
            <h1 class="mb-3 font-bold text-lg lg:text-xl xl:text-2xl">Sign In Via {{ provider_name }}</h1>
            <p class="mb-3">You are about to sign in using a third party account from {{ provider_name }}.</p>
        {% endif %}
        <form method="post" hx-disable="true">
            {% csrf_token %}
            <button class="inline-flex items-center btn btn-primary" type="submit">
                {% heroicon_mini "arrow-right-on-rectangle" class="mr-2" %}
                {% if process == "connect" %}
                    Connect
                {% else %}
                    Sign In
                {% endif %}
            </button>
        </form>
    {% endwith %}
{% endblock content %}
