{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block content %}
{% if process == "connect" %}
<h1 class="mb-3 font-bold text-base lg:text-lg">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p class="mb-3">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1 class="mb-3 font-bold text-base lg:text-lg">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

<p class="mb-3">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
{% endif %}

<form method="post"
      hx-disable="true">
    {% csrf_token %}
    <button class="inline-flex items-center btn btn-default"
            type="submit">
        {% icon "login" css_class="h-4 w-4 lg:h-5 lg:w-5 mr-2" %}
        {% trans "Continue" %}</button>
</form>
{% endblock %}
