{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block content %}
<h1 class="mb-3 text-lg font-bold">{% translate "Sign Up" %}</h1>

<p class="mb-3">{% blocktranslate with provider_name=account.get_provider.name site_name=site.name %}You are about to
  use your {{provider_name}} account to login to
  {{site_name}}. As a final step, please complete the following form:{% endblocktranslate %}</p>


<form class="{% include "forms/_form_css.html" %}"
      method="post"
      action="{% url 'socialaccount_signup' %}"
      novalidate>

  {% csrf_token %}
  {% include "forms/_errors.html" with errors=form.non_field_errors %}

  {% if redirect_field_value %}
  <input type="hidden"
         name="{{ redirect_field_name }}"
         value="{{ redirect_field_value }}" />
  {% endif %}

  {% include "_form_errors.html" with errors=form.non_field_errors %}
  <div class="mb-3">
    {% include "forms/_field.html" with field=form.username %}
  </div>
  <div class="mb-3">
    {% include "forms/_field.html" with field=form.email %}
  </div>

  <div class="flex items-center justify-end">
    <button class="btn btn-default"
            type="submit">
      {% svg "plus" css_class="btn-icon mr-2" %}
      {% translate "Sign Up" %}</button>
  </div>
</form>
{% endblock %}
