{% extends "base.html" %}
{% load heroicons %}
{% block title %}
    | Signup
{% endblock title %}
{% block content %}
    {% with provider_name=account.get_provider.name site_name=site.name %}
        <h1 class="flex items-center justify-center mb-3 text-lg font-bold sm:justify-start lg:text-xl xl:text-2xl pb-3 border-b">
            Sign Up
        </h1>
        <p class="mb-3">
            You are about to
            use your {{ provider_name }} account to login to
            {{ site_name }}. As a final step, please complete the following form:
        </p>
        <form method="post"
              action="{{ request.path }}"
              class="space-y-6"
              hx-disable="true">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            {{ form }}
            <div>
                <button class="inline-flex items-center btn btn-primary">
                    {% heroicon_mini "plus" class="mr-2" %}
                    Sign Up
                </button>
            </div>
        </form>
    {% endwith %}
{% endblock content %}
