@layer buttons {
    .btn {
        display: inline-flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        border-radius: var(--radius-lg);
        font-weight: var(--font-weight-semibold);
        transition: all 200ms ease;

        @variant hover {
            cursor: pointer;
        }

        @variant focus {
            outline: 2px solid transparent;
            outline-offset: 2px;
            cursor: pointer;
        }

        @variant disabled {
            background-color: var(--color-gray-400) !important;
            color: var(--color-white) !important;
            border-color: var(--color-gray-400) !important;
            cursor: not-allowed !important;
        }

        & > svg {
            margin-right: theme("spacing.2") !important;
            display: inline-block !important;
        }
    }

    .btn-primary {
        color: var(--color-white);
        background-color: var(--color-indigo-600);
        border: solid theme("borderWidth.DEFAULT") var(--color-indigo-600);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

        @variant hover {
            background-color: var(--color-indigo-500);
            border-color: var(--color-indigo-500);
        }

        &.btn-outline {
            color: var(--color-indigo-600);
            background-color: inherit;
            border: solid theme("borderWidth.DEFAULT") var(--color-indigo-600);
            box-shadow: none;

            @variant hover {
                color: var(--color-white);
                background-color: var(--color-indigo-600);
                border-color: var(--color-indigo-600);
            }

            @variant dark {
                color: var(--color-indigo-400);
                border-color: var(--color-indigo-400);

                @variant hover {
                    color: var(--color-white);
                    background-color: var(--color-indigo-500);
                    border-color: var(--color-indigo-500);
                }
            }
        }
    }

    .btn-default {
        color: var(--color-white);
        background-color: var(--color-violet-600);
        border: solid theme("borderWidth.DEFAULT") var(--color-violet-600);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

        @variant hover {
            background-color: var(--color-violet-500);
            border-color: var(--color-violet-500);
        }

        &.btn-outline {
            color: var(--color-zinc-700);
            background-color: inherit;
            border: solid theme("borderWidth.DEFAULT") var(--color-zinc-400);

            @variant hover {
                color: var(--color-violet-600);
                background-color: var(--color-zinc-100);
                border: solid theme("borderWidth.DEFAULT") var(--color-violet-600);
            }

            @variant dark {
                color: var(--color-zinc-300);
                border-color: var(--color-zinc-500);

                @variant hover {
                    color: var(--color-violet-400);
                    background-color: var(--color-zinc-800);
                    border-color: var(--color-violet-400);
                }
            }
        }
    }

    .btn-danger {
        color: var(--color-white);
        background-color: var(--color-rose-600);
        border: solid theme("borderWidth.DEFAULT") var(--color-rose-600);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

        @variant hover {
            background-color: var(--color-rose-500);
            border-color: var(--color-rose-500);
        }

        &.btn-outline {
            color: var(--color-rose-600);
            border: solid theme("borderWidth.DEFAULT") var(--color-rose-600);
            background-color: inherit;
            box-shadow: none;

            @variant hover {
                color: var(--color-white);
                background-color: var(--color-rose-600);
                border-color: var(--color-rose-600);
            }

            @variant dark {
                color: var(--color-rose-400);
                border-color: var(--color-rose-400);

                @variant hover {
                    color: var(--color-white);
                    background-color: var(--color-rose-500);
                    border-color: var(--color-rose-500);
                }
            }
        }
    }
}
