@layer links {
    .link,
    .form-control a,
    .markdown a {
        font-weight: var(--font-weight-semibold);
        color: var(--color-text);
        text-decoration: none;
        transition: color 200ms ease;

        &.active {
            color: var(--color-indigo-600);
        }

        @variant hover {
            color: var(--color-indigo-600);
        }

        @variant dark {
            color: var(--color-text);

            &.active {
                color: var(--color-indigo-400);
            }

            @variant hover {
                color: var(--color-indigo-400);
            }
        }
    }
}
