@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/* Plugin modifications */

@utility form-input {
    /* FORMS */
    background: inherit;
    color: inherit;
    border-radius: var(--radius-md);
    padding: theme("padding.1") theme("padding.2");
}

@utility form-select {
    background: inherit;
    color: inherit;
    border-radius: var(--radius-md);
    padding: theme("padding.1") theme("padding.2");
}

@utility form-multiselect {
    background: inherit;
    color: inherit;
    border-radius: var(--radius-md);
    padding: theme("padding.1") theme("padding.2");
}

@utility form-textarea {
    background: inherit;
    color: inherit;
    border-radius: var(--radius-md);
    padding: theme("padding.1") theme("padding.2");
}

@utility form-control {
    /* LINKS */

    & a {
        font-weight: var(--font-weight-semibold);
        color: var(--color-black);

        @variant active {
            color: var(--color-blue-600);
        }

        @variant hover {
            color: var(--color-blue-600);
        }
        @variant dark {
            color: var(--color-white);

            @variant active {
                color: var(--color-blue-300);
            }

            @variant hover {
                color: var(--color-blue-300);
            }
        }
    }
}
