@utility divide-x {
    @variant dark {
        & > * + *,
        & > * {
            border-color: var(--color-gray-600);
        }
    }
}

@utility divide-y {
    @variant dark {
        & > * + *,
        & > * {
            border-color: var(--color-gray-600);
        }
    }
}

@utility border {
    /* BORDERS */

    @variant dark {
        border-color: var(--color-gray-600);
    }
}

@utility border-t {
    /* BORDERS */

    @variant dark {
        border-color: var(--color-gray-600);
    }
}

@utility border-l {
    /* BORDERS */

    @variant dark {
        border-color: var(--color-gray-600);
    }
}

@utility border-r {
    /* BORDERS */

    @variant dark {
        border-color: var(--color-gray-600);
    }
}

@utility border-b {
    /* BORDERS */

    @variant dark {
        border-color: var(--color-gray-600);
    }
}
