{% load i18n widget_tweaks %}
<form class="p-3 mb-3 border w-full sm:w-1/2 {% if form.errors %}border-red-600{% else %}border-gray-500{% endif %}"
      method="post"
      action="{% url 'account_reset_password' %}"
      novalidate>
  {% csrf_token %}
  <p class="mb-3">{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>


  {% include "_form_errors.html" with errors=form.non_field_errors %}
  {% with WIDGET_ERROR_CLASS="border-red-600 text-red-600" %}
  <div class="mb-3">
    {% render_field form.email placeholder=form.email.label class="p-1 w-full bg-gray-900" %}
    {% include "_form_errors.html" with errors=form.email.errors %}
  </div>

  {% endwith %}
  <div class="">
    <button class="p-1 rounded border border-white bg-blue-800 hover:bg-blue-600 text-white text-sm"
            type="submit">{% translate "Reset Password" %}</button>
  </div>

</form>
