{% load i18n widget_tweaks %}
<form class="p-3 border w-full sm:w-1/2 {% if form.errors %}border-red-600{% else %}border-gray-500{% endif %}"
      method="post"
      action="{{ action_url }}"
      novalidate>
  {% csrf_token %}
  <div class="mb-3">
    {% render_field form.password1 placeholder=form.password1.label class="p-1 w-full bg-gray-900" %}
    {% include "_form_errors.html" with errors=form.password1.errors %}
  </div>
  <div class="mb-3">
    {% render_field form.password2 placeholder=form.password2.label class="p-1 w-full bg-gray-900" %}
    {% include "_form_errors.html" with errors=form.password2.errors %}
  </div>

  <button type="submit"
          class="rounded border border-white p-1 bg-blue-800 hover:bg-blue-600">{% translate 'Change Password' %}</button>
</form>
