{% extends "base.html" %}
{% load account allauth heroicons %}
{% block title %}
    {% title "Password Reset" %}
{% endblock title %}

{% block content %}
    {% include "header.html" with title="Password Reset" %}
    <div class="space-y-6">
        <p>
            We've sent a code to <strong>{{ email }}</strong>. Enter the code in the form below and click the <strong>Confirm</strong> button.
        </p>
        {% fragment "form.html" hx_disable=True %}
            {{ form }}
            {% fragment "form.html#buttons" %}
                <button class="btn btn-primary">
                    {% heroicon_mini "check" class="mr-2" %}
                    Confirm
                </button>
                <a href="{% url "account_reset_password" %}" class="btn btn-default"
                   formnovalidate
                >
                    {% heroicon_mini "envelope" class="mr-2" %}
                    Resend
                </a>
            {% endfragment %}
        {% endfragment %}
    </div>
{% endblock content %}
