{% extends "account/settings_base.html" %}

{% block subtitle %} | Delete Account{% endblock %}

{% block settings_content %}

<div class="w-full md:w-3/4 lg:w-1/2 border border-gray-500 p-3">
  <p class="mb-3">
    Please confirm that you want to delete your account. You will not be able to undo this action!
  </p>
  <form action="{% url 'delete_account' %}"
        method="post"
        class="flex justify-end"
        novalidate>
    {% csrf_token %}
    <button class="btn btn-danger flex items-center"
            name="confirm-delete"
            value="true"
            type="submit">
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor"
           class="btn-icon mr-2">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
      </svg>
      Yes, delete my account
    </button>
  </form>
</div>
{% endblock settings_content %}
