{% extends "account/settings_base.html" %}
{% load heroicons account_settings %}
{% block title %}
    {{ block.super }} | Delete Account
{% endblock title %}
{% block settings_dropdown %}
    {% settings_dropdown "delete_account" %}
{% endblock settings_dropdown %}
{% block settings_content %}
    {% if user.is_authenticated %}
        <div class="space-y-3">
            <p>Please confirm that you want to delete your account. You will not be able to undo this action!</p>
            <p>This will delete ALL your data including your subscriptions, bookmarks and listening history.</p>
            <form method="post"
                  hx-disable="true"
                  action="{% url 'users:delete_account' %}"
                  onSubmit="return confirm('Are you sure?')">
                {% csrf_token %}
                <div>
                    <button class="inline-flex items-center btn btn-danger"
                            name="confirm-delete"
                            value="true">
                        {% heroicon_mini "trash" class="mr-2" %}
                        Yes, delete my account
                    </button>
                </div>
            </form>
        </div>
    {% else %}
        <h1 class="flex flex-wrap justify-center pb-3 mb-6 text-xl font-bold border-b sm:justify-start lg:text-2xl xl:text-3xl">
            Delete Account
        </h1>
        <div class="space-y-3">
            <p>
                You must be logged in to delete your data. All user data, including subscriptions, bookmarks and listening history, will be irrevocably deleted.
            </p>
            <p>
                More details on our data policy can be found <a class="link" href="{% url "privacy" %}">here</a>.
            </p>
            <p>
                <a class="link"
                   href="{% url "account_login" %}{% querystring next=request.path|urlencode %}">Please log in to delete your account.</a>
            </p>
        </div>
    {% endif %}
{% endblock settings_content %}
