{% extends "account/base.html" %}
{% load account heroicons %}
{% block title %}
    {{ block.super }} | Confirm E-mail Address
{% endblock title %}

{% block content %}
    <c.header title="Confirm E-mail Address" />
    <div class="space-y-3">
        {% if confirmation %}
            {% user_display confirmation.email_address.user as user_display %}
            <p class="mb-3">
                Please confirm that <strong>{{ confirmation.email_address.email }}</strong> is an e-mail address for user <strong>{{ user_display }}</strong>.
            </p>
            <c-form action="{% url 'account_confirm_email' confirmation.key %}">
                <c-button icon="check" type="primary">
                    Confirm E-Mail
                </c-button>
            </c-form>
        {% else %}
            <p>
                This e-mail confirmation link expired or is invalid. Please <a href="{% url 'account_email' %}">issue a new e-mail confirmation request</a>.
            </p>
        {% endif %}
    </div>
{% endblock content %}
