{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% translate "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<h1 class="font-bold mb-3 text-lg">{% translate "Confirm E-mail Address" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

{% url 'account_confirm_email' confirmation.key as action_url %}

{% component_block "form" form %}
{% slot form_header %}
<p class="mb-3">{% blocktranslate with confirmation.email_address.email as email %}Please confirm that <b>{{ email }}</b> is an e-mail address for user <b>{{ user_display }}</b>.{% endblocktranslate %}</p>
{% endslot %}
{% slot form_buttons %}
{% button _("Confirm") icon="check" %}
{% endslot %}
{% endcomponent_block %}

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktranslate %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktranslate %}</p>

{% endif %}

{% endblock %}
