{% extends "account/base.html" %}
{% load account heroicons %}
{% block title %}
    | Confirm E-mail Address
{% endblock title %}
{% block content %}
    <h1 class="flex items-center justify-center mb-6 text-lg font-bold sm:justify-start lg:text-xl xl:text-2xl pb-3 border-b">
        Confirm E-mail Address
    </h1>
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        <p class="mb-3">
            Please confirm that <strong>{{ confirmation.email_address.email }}</strong> is an e-mail address for user <strong>{{ user_display }}</strong>.
        </p>
        <form method="post"
              action="{% url 'account_confirm_email' confirmation.key %}"
              hx-disable="true">
            {% csrf_token %}
            {{ form }}
            <div class="flex items-center">
                <button class="inline-flex items-center btn btn-primary"
                        name="action_add"
                        value="true">
                    {% heroicon_mini "check" class="mr-2" %}
                    Confirm E-Mail
                </button>
            </div>
        </form>
    {% else %}
        <p>
            This e-mail confirmation link expired or is invalid. Please <a href="{% url 'account_email' %}">issue a new e-mail confirmation request</a>.
        </p>
    {% endif %}
{% endblock content %}
