{% extends "account/settings_base.html" %}

{% load i18n %}

{% block subtitle %} | {% translate "E-mail Addresses" %}{% endblock %}

{% block settings_content %}
{% if user.emailaddress_set.all %}
<p class="mb-3">{% translate 'The following e-mail addresses are associated with your account:' %}</p>

<form class="mb-3 w-full sm:w-3/4 lg:w-1/2"
      method="post"
      id="email-addresses"
      hx-disable="true"
      action="{% url 'account_email' %}">
  {% csrf_token %}
  {% with num_addresses=user.emailaddress_set.count %}
  {% for emailaddress in user.emailaddress_set.all %}
  <div class="border p-2 mb-3 dark:border-gray-500">
    <label for="email_radio_{{forloop.counter}}"
           class="flex items-center">

      <input id="email_radio_{{forloop.counter}}"
             type="radio"
             name="email"
             class="mr-3"
             {% if emailaddress.primary or num_addresses == 1 %}checked="checked"
             {% endif %}
             value="{{emailaddress.email}}" />

      <div class="{% if emailaddress.primary or num_addresses == 1 %}font-bold{% endif %}">
        <div class="flex items-center">
          {{ emailaddress.email }}
          {% if emailaddress.verified %}
          {% icon "check" css_class="h-5 w-5 ml-2 text-green-500" %}
          {% endif %}
        </div>
      </div>

    </label>
  </div>
  {% endfor %}
  <div class="flex items-center justify-evenly sm:justify-end mb-3 space-x-2">
    {% button _("Primary") icon="sparkles" name="action_primary" value="1" %}
    {% button _("Re-Verify") icon="mail" type="secondary" name="action_send" value="1" %}
    {% button _("Remove") icon="trash" type="danger" data_controller="confirm" data_confirm_text_value=_("Are you sure you want to remove this email address?") data_action="confirm#confirm" name="action_remove" value="1" %}
    {% endwith %}
  </div>

</form>

{% else %}

<p><strong>{% translate 'Warning:'%}</strong>
  {% translate "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
</p>

{% endif %}

{% if can_add_email %}
<h2 class="font-semibold mb-3">{% translate "Add E-mail Address" %}</h2>
{% include "account/forms/_email.html" with hx_disable=True %}
{% endif %}
{% endblock %}
