{% extends "base.html" %}
{% load heroicons %}
{% block title %}
    {% title "Settings" "Email Addresses" %}
{% endblock title %}

{% block content %}
    {% include "account/header.html" with active="email" %}
    <div class="space-y-6">
        {% with emailaddresses=user.emailaddress_set.all %}
            {% with num_addresses=emailaddresses|length %}
                {% if num_addresses %}
                    <p>The following e-mail addresses are associated with your account:</p>
                    {% fragment "form.html" %}
                        {% for emailaddress in emailaddresses|dictsortreversed:"primary" %}
                            <div class="flex flex-wrap items-center space-x-3">
                                <input type="radio"
                                       name="email"
                                       id="email_radio_{{ forloop.counter }}"
                                       class="form-radio"
                                       value="{{ emailaddress.email }}"
                                       {% if emailaddress.primary or num_addresses == 1 %}checked{% endif %}>
                                <label for="email_radio_{{ forloop.counter }}"
                                       class="flex items-center space-x-3">
                                    <span {% if emailaddress.primary or num_addresses == 1 %}class="font-bold"{% endif %}>{{ emailaddress.email }}</span>
                                </label>
                                {% if emailaddress.primary %}
                                    <div class="px-1 text-xs font-semibold text-blue-500 rounded-sm border border-blue-600 lg:text-sm">Primary</div>
                                {% endif %}
                                {% if emailaddress.verified %}
                                    <div class="px-1 text-xs font-semibold text-green-500 rounded-sm border border-green-600 lg:text-sm">Verified</div>
                                {% endif %}

                            </div>
                        {% endfor %}
                        {% fragment "form.html#buttons" %}
                            {% if num_addresses == 1 %}
                                <button
                                    class="btn btn-default"
                                    disabled
                                    title="You cannot set the only e-mail address associated with your account as primary."
                                >
                                    {% heroicon_mini "hand-thumb-up" class="mr-2" %}
                                    Primary
                                </button>
                                <button
                                    class="btn btn-default"
                                    disabled
                                    title="You cannot remove the only e-mail address associated with your account."
                                >
                                    {% heroicon_mini "trash" class="mr-2" %}
                                    Remove
                                </button>
                            {% else %}
                                <button
                                    class="btn btn-primary"
                                    name="action_primary"
                                    value="1"
                                >
                                    {% heroicon_mini "hand-thumb-up" class="mr-2" %}
                                    Primary
                                </button>
                                <button
                                    class="btn btn-danger"
                                    name="action_remove"
                                    value="1"
                                >
                                    {% heroicon_mini "trash" class="mr-2" %}
                                    Remove
                                </button>
                            {% endif %}
                            <button
                                class="btn btn-default"
                                name="action_send"
                                value="1">
                                {% heroicon_mini "envelope" class="mr-2" %}
                                Re-Verify
                            </button>
                        {% endfragment %}
                    {% endfragment %}
                    <p>
                        Email notifications will be sent to your primary email address.
                    </p>
                {% else %}
                    <p>
                        <strong>Warning:</strong>
                        You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc.
                    </p>
                {% endif %}
            {% endwith %}
        {% endwith %}
        {% if can_add_email %}
            <hr class="border"/>
            <h2 class="text-base font-semibold lg:text-lg">Add New Email Address</h2>
            {% fragment "form.html" %}
                {{ form }}
                {% fragment "form.html#buttons" %}
                    <button
                        class="btn btn-primary"
                        name="action_add"
                        value="1">
                        {% heroicon_mini "plus" class="mr-2" %}
                        Add Email
                    </button>

                {% endfragment %}
            {% endfragment %}
        {% endif %}
    </div>
{% endblock content %}
