{% extends "account/settings_base.html" %}

{% load i18n %}

{% block subtitle %}{{ block.super }} | Export{% endblock %}

{% block settings_content %}

<form method="POST"
      action="{{ request.path }}"
      class="space-y-3"
      hx-disable="true">
    {% csrf_token %}
    <p>
        You can export the RSS feeds of the podcasts you are following in OPML or CSV format.
    </p>
    <div class="sm:flex items-center space-y-2 sm:space-y-0 sm:space-x-2 lg:space-x-6">
        {% with ICON_CSS="h-4 w-4 lg:h-5 lg:w-5 mr-2" %}

        <a class="flex sm:inline-flex items-center justify-center btn btn-secondary"
           href="{{ request.path }}?format=csv">
            {% icon "table" css_class=ICON_CSS %}
            Export CSV
        </a>

        <a class="flex sm:inline-flex items-center justify-center btn btn-secondary"
           href="{{ request.path }}?format=json">
            {% icon "code" css_class=ICON_CSS %}
            Export JSON
        </a>

        <a class="flex sm:inline-flex items-center justify-center btn btn-secondary"
           href="{{ request.path }}?format=opml">
            {% icon "rss" css_class=ICON_CSS %}
            Export OPML
        </a>
        {% endwith %}
    </div>
</form>

{% endblock %}
