{% load get_account_settings from users %}
{% get_account_settings active as settings %}
{% fragment "header.html" %}
    {% fragment "header.html#title" %}
        Settings for {{ user.username }}
    {% endfragment %}
    {% fragment "header/nav.html" %}
        {% fragment "header/nav.html#item" %}
            {% fragment "header/nav/dropdown.html" dropdown_id="settings-dropdown" icon=settings.active.icon label=settings.active.label %}
                {% for item in settings.items %}
                    {% include "header/nav/dropdown.html#item" with url=item.url icon=item.icon content=item.label %}
                {% endfor %}
            {% endfragment %}
        {% endfragment %}
    {% endfragment %}
{% endfragment %}
