{% extends "account/settings_base.html" %}

{% block title %}{{ block.super }} | Export{% endblock %}

{% block settings_content %}
    <div class="space-y-3">
        <p>
            Export your podcast feeds to an OPML file.
        </p>
        <form method="POST"
            action="{% url 'users:export_podcast_feeds' %}"
            class="pb-3 border-b dark:border-gray-500"
            hx-disable="true">
            {% csrf_token %}
            <div class="sm:flex items-center space-y-2 sm:space-y-0 sm:space-x-2 md:space-x-6">
                <button class="flex sm:inline-flex items-center justify-center btn btn-default">
                    {% include "icons/download.svg" with css_class="h-4 w-4 md:h-5 md:w-5 mr-2"  %}
                    Download OPML
                </button>
            </div>
        </form>
        <p>
            Import feeds from an OPML file into your collection.
        </p>
        {% include "account/forms/import_podcast_feeds.html" %}
    </div>

{% endblock %}
