{% extends "account/base.html" %}
{% load account heroicons %}
{% block title %}
    {{ block.super }} | Sign In
{% endblock title %}

{% block content %}
    <c-header title="Sign In" />
    <div class="space-y-3">
        {% include "socialaccount/_social_logins.html" %}
        <p>
            If you have not created an account yet, then please
            <a class="underline link" href="{{ signup_url }}">sign up</a> first.
        </p>
        <c-form hx-disable="true">
            <c-slot name="fields">
                {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}" />
                {% endif %}
                {{ form }}
            </c-slot>
            <c-button icon="arrow-right-on-rectangle" variant="primary">
                Sign In
            </c-button>
        </c-form>
    </div>
{% endblock content %}
