{% extends "account/base.html" %}
{% load account heroicons %}
{% block title %}
    | Sign In
{% endblock title %}
{% block content %}
    <div class="space-y-6">
        <h1 class="flex items-center justify-center pb-3 text-lg font-bold border-b sm:justify-start md:text-xl xl:text-2xl">
            Sign In
        </h1>
        <p>
            If you have not created an account yet, then please
            <a class="underline hover:text-blue-500" href="{{ signup_url }}">sign up</a> first.
        </p>
        <form method="post"
              action="{{ request.path }}"
              class="space-y-6"
              hx-disable="true">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            {{ form }}
            <div class="flex items-center">
                <a class="mr-3 link md:mr-6"
                   title="Recover Your Password"
                   aria-label="Recover Your Password"
                   href="{% url 'account_reset_password' %}">Forgot Password?</a>
                <button class="inline-flex items-center btn btn-primary">
                    {% heroicon_mini "arrow-right-on-rectangle" class="mr-2" %}
                    Sign In
                </button>
            </div>
        </form>
        {% include "account/_social_logins.html" %}
    </div>
{% endblock content %}
