{% extends "account/base.html" %}
{% load account heroicons %}
{% block title %}
    {{ block.super }} | Sign In
{% endblock title %}

{% block content %}
    {% fragment "header" %}
        {% fragment "header.title" %}Sign In{% endfragment %}
    {% endfragment %}
    <div class="space-y-3">
        {% include "socialaccount/buttons.html" with hint="Login with" process="login" %}
        <p>
            If you have not created an account yet, then please
            <a class="underline link" href="{{ signup_url }}">sign up</a> first.
        </p>
        {% fragment "form" hx_disable=True %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            {{ form }}
            {% fragment "form.buttons" %}
                <button class="btn btn-primary">
                    {% heroicon_mini "arrow-right-on-rectangle" class="mr-2" %}
                    Sign In
                </button>
            {% endfragment %}
        {% endfragment %}
    </div>
{% endblock content %}
