{% extends "base.html" %}
{% load heroicons %}
{% block title %}
    {{ block.super }} | Sign In
{% endblock title %}

{% block content %}
    {% include "header.html" with title="Sign In" %}
    <div class="space-y-3">
        {% fragment "socialaccount/buttons.html" process="login" %}
            Log in with
        {% endfragment %}
        <p>
            If you have not created an account yet, then please
            <a class="underline link" href="{{ signup_url }}">sign up</a> first.
        </p>
        {% fragment "form.html" hx_disable=True %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            {{ form }}
            {% fragment "form.html#buttons" %}
                <button class="btn btn-primary">
                    {% heroicon_mini "arrow-right-on-rectangle" class="mr-2" %}
                    Sign In
                </button>
            {% endfragment %}
        {% endfragment %}
    </div>
{% endblock content %}
