{% extends "account/settings_base.html" %}
{% load heroicons %}
{% block title %}
    {{ block.super }} | Change Password
{% endblock title %}
{% block settings_selected_item %}
    {% heroicon_mini "key" class="mr-3" %}
    Change Password
{% endblock settings_selected_item %}
{% block settings_content %}
    <form method="post"
          action="{{ request.path }}"
          class="space-y-3"
          hx-disable="true">
        {% csrf_token %}
        {{ form }}
        <div class="flex items-center space-x-3 md:space-x-6">
            <a class="link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
            <button class="inline-flex items-center btn btn-primary"
                    name="action_add"
                    value="true">
                {% heroicon_mini "check" class="mr-2" %}
                Change Password
            </button>
        </div>
    </form>
{% endblock settings_content %}
