{% extends "account/base.html" %}

{% load i18n widget_tweaks %}

{% block subtitle %} | {% translate "Change Password" %}{% endblock %}

{% block content %}
<h1 class="text-lg mb-3 font-bold">{% if token_fail %}{% translate "Bad Token" %}{% else %}{% translate "Change Password" %}{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktranslate %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktranslate %}</p>
{% else %}
{% if form %}

<form class="p-3 border w-full sm:w-1/2 {% if form.errors %}border-red-800{% endif %}"
      method="post"
      action="{{ action_url }}"
      novalidate>
  {% csrf_token %}
  <div class="mb-3">
    {% render_field form.password1 aria-label=form.password1.label placeholder=form.password1.label class="p-1 w-full" %}
    {% include "_form_errors.html" with errors=form.password1.errors %}
  </div>
  <div class="mb-3">
    {% render_field form.password2 aria-label=form.password2.label placeholder=form.password2.label class="p-1 w-full" %}
    {% include "_form_errors.html" with errors=form.password2.errors %}
  </div>


  <div class="flex items-center justify-end">
    <button type="submit"
            class="btn btn-default flex items-center">
      {% svg "check" css_class="btn-icon mr-2" %}
      {% translate 'Change Password' %}</button>
  </div>
</form>
{% else %}
<p>{% translate 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}
{% endblock %}
