{% extends "base.html" %}
{% load head_tags heroicons %}
{% block title %}
    {% title_tag "Settings" "Change Password" %}
{% endblock title %}

{% block content %}
    {% include "account/header.html" with icon="key" label="Change Password" %}
    {% fragment "form.html" %}
        {{ form }}
        {% fragment "form.html#buttons" %}
            <button class="btn btn-primary" name="action-add" value="true">
                {% heroicon_mini "check" class="mr-2" %}
                Change Password
            </button>
            <a class="link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        {% endfragment %}
    {% endfragment %}
{% endblock content %}
