{% extends "base.html" %}
{% load heroicons partials %}
{% block title %}
    {{ block.super }} | Change Password
{% endblock title %}

{% block content %}
    {% include "account/header.html" with active="password" %}
    {% fragment "form.html" %}
        {{ form }}
        {% fragment "form/buttons.html" %}
            <button class="btn btn-primary" name="action_add" value="true">
                {% heroicon_mini "check" %}
                Change Password
            </button>
            <a class="link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        {% endfragment %}
    {% endfragment %}
{% endblock content %}
