{% extends "account/settings_base.html" %}

{% load i18n widget_tweaks %}

{% block subtitle %} | {% translate "Set Password" %}{% endblock %}

{% block settings_content %}

<form class="{% include "forms/_form_css.html" %}"
      action="{% url 'account_set_password' %}"
      method="post"
      novalidate>
  {% csrf_token %}
  {% include "forms/_errors.html" with errors=form.non_field_errors %}
  <div class="mb-3">
    {% include "forms/_field.html" with field=form.oldpassword %}
  </div>
  <div class="mb-3">
    {% include "forms/_field.html" with field=form.password1 %}
  </div>
  <div class="mb-3">
    {% include "forms/_field.html" with field=form.password2 %}
  </div>
  <div class="flex items-center justify-end">
    <button class="btn btn-default"
            type="submit">{% translate "Set Password" %}</button>
  </div>
</form>
{% endblock %}
