{% extends "account/base.html" %}
{% load account %}
{% block title %}
    {{ block.super }} | Password Reset
{% endblock title %}

{% block content %}
    <c-header>
        <c-header.title>Password Reset</c-header.title>
    </c-header>
    <div class="space-y-3">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <c-form :form="form">
            <c-slot name="buttons">
                <c-button icon="envelope" variant="primary">
                    Reset Password
                </c-button>
            </c-slot>
        </c-form>
    </div>
{% endblock content %}
