{% extends "base.html" %}
{% load head_tags heroicons %}
{% block title %}
    {% title_tag "Password Reset" %}
{% endblock title %}

{% block content %}
    {% include "header.html" with title="Password Reset" %}
    <div class="space-y-6">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        {% fragment "form.html" %}
            {{ form }}
            {% fragment "form.html#buttons" %}
                <button class="btn btn-primary"
                        value="true">
                    {% heroicon_mini "envelope" class="mr-2" %}
                    Recover Password
                </button>
            {% endfragment %}
        {% endfragment %}
    </div>
{% endblock content %}
