{% extends "account/base.html" %}
{% load account %}
{% block title %}
    {{ block.super }} | Password Reset
{% endblock title %}

{% block content %}
    <c-header title="Password Reset" />
    <div class="space-y-3">
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <c-form :form="form">
            <c-slot name="buttons">
                <c-form.buttons>
                    <c-button icon="envelope" variant="primary">
                        Reset Password
                    </c-button>
                </c-form.buttons>
            </c-slot>
        </c-form>
    </div>
{% endblock content %}
