{% extends "account/base.html" %}
{% load account heroicons %}
{% block title %}
    | Password Reset
{% endblock title %}
{% block content %}
    <h1 class="font-bold flex items-center justify-center sm:justify-start text-lg md:text-xl xl:text-2xl mb-3 pb-3 border-b">
        Password Reset
    </h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <form method="post"
          action="{{ request.path }}"
          class="space-y-6"
          hx-disable="true">
        {% csrf_token %}
        {{ form }}
        <div class="flex items-center">
            <button class="inline-flex items-center btn btn-primary"
                    name="action_add"
                    value="true">
                {% heroicon_mini "envelope" class="mr-2" %}
                Reset Password
            </button>
        </div>
    </form>
{% endblock content %}
