{% extends "account/base.html" %}
{% load account %}
{% block title %}
    | Password Reset
{% endblock title %}
{% block content %}
    <h1 class="flex items-center justify-center pb-3 mb-3 text-lg font-bold border-b sm:justify-start lg:text-xl xl:text-2xl">
        Password Reset
    </h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
{% endblock content %}
