{% extends "account/settings_base.html" %}
{% load heroicons %}
{% block title %}
    | Set Password
{% endblock title %}
{% block settings_content %}
    <form method="post"
          action="{{ request.path }}"
          class="w-3/4 sm:w-1/3 space-y-3"
          hx-disable="true">
        {% csrf_token %}
        {{ form }}
        <div class="flex items-center">
            <button class="inline-flex items-center btn btn-primary"
                    name="action_add"
                    value="true">
                {% heroicon_mini "check" class="mr-2" %}
                Set Password
            </button>
        </div>
    </form>
{% endblock settings_content %}
