{% extends "account/base.html" %}
{% load heroicons %}
{% block title %}
    | Change Password
{% endblock title %}
{% block content %}
    <h1 class="flex items-center justify-center pb-3 mb-3 text-lg font-bold border-b sm:justify-start lg:text-xl xl:text-2xl">
        {% if token_fail %}
            Bad Token
        {% else %}
            Change Password
        {% endif %}
    </h1>
    {% if token_fail %}
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
        </p>
    {% else %}
        {% if form %}
            <form method="post"
                  action="{{ request.path }}"
                  class="space-y-6"
                  hx-disable="true">
                {% csrf_token %}
                {{ form }}
                <div class="flex items-center">
                    <button class="inline-flex items-center btn btn-primary"
                            name="action_add"
                            value="true">
                        {% heroicon_mini "check" class="mr-2" %}
                        Reset Password
                    </button>
                </div>
            </form>
        {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}
{% endblock content %}
