{% extends "account/base.html" %}
{% load account %}
{% block title %}
    {{ block.super }} | Password Reset
{% endblock title %}

{% block content %}
    <h1 class="flex justify-center items-center pb-3 mb-3 text-xl font-bold border-b sm:justify-start lg:text-2xl xl:text-3xl">
        Password Reset
    </h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
{% endblock content %}
