{% extends "account/base.html" %}
{% load heroicons %}
{% block title %}
    {{ block.super }} | Change Password
{% endblock title %}

{% block content %}
    <c-header>
        <c-header.title>
            {% if token_fail %}
                Bad Token
            {% else %}
                Change Password
            {% endif %}
        </c-header.title>
    </c-header>
    {% if token_fail %}
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
        </p>
    {% else %}
        {% if form %}
            <c-form :form="form"
                    :action="request.path"
                    method="post"
                    hx-disable="true">
                <c-button icon="check" variant="primary">
                    Reset Password
                </c-button>
            </c-form>
        {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}
{% endblock content %}
