{% extends "base.html" %}
{% load heroicons %}
{% block title %}
    {% title_tag "Set Password" %}
{% endblock title %}

{% block content %}
    {% include "header.html" with title="Set Password" %}
    {% fragment "form.html" %}
        {{ form }}
        {% fragment "form.html#buttons" %}
            <button class="btn btn-primary"
                    value="true">
                {% heroicon_mini "check" class="mr-2" %}
                Set Password
            </button>
        {% endfragment %}
    {% endfragment %}
{% endblock content %}
