{% extends "base.html" %}
{% load heroicons %}
{% block title %}
    {% title_tag "Change Password" %}
{% endblock title %}

{% block content %}
    {% blockinclude "header.html" %}
        {% blockinclude "header.html#title" %}
            {% if token_fail %}
                Bad Token
            {% else %}
                Change Password
            {% endif %}
        {% endblockinclude %}
    {% endblockinclude %}

    {% if token_fail %}
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a <a href="{% url 'account_reset_password' %}">new password reset</a>.
        </p>
    {% else %}
        {% if form %}
            {% blockinclude "form.html" hx_disable=True %}
                {{ form }}
                {% blockinclude "form.html#buttons" %}
                    <button class="btn btn-primary">
                        {% heroicon_mini "check" class="mr-2" %}
                        Reset Password
                    </button>
                {% endblockinclude %}
            {% endblockinclude %}
        {% else %}
            <p>Your password is now changed.</p>
        {% endif %}
    {% endif %}
{% endblock content %}
