{% extends "account/settings_base.html" %}
{% load heroicons partials %}
{% block title %}
    {{ block.super }} | Import/Export Feeds
{% endblock title %}
{% block settings_selected_item %}
    {% heroicon_mini "rss" class="mr-3" %}
    Import/Export Feeds
{% endblock settings_selected_item %}
{% block settings_content %}
    <div class="space-y-6">
        {% if user.subscriptions.exists %}
            <div class="space-y-6">
                <h2 class="font-semibold">Export your podcast feeds to an OPML file.</h2>
                <div>
                    <a class="inline-flex items-center btn btn-default"
                       href="{% url 'users:export_podcast_feeds' %}"
                       hx-disable="true">
                        {% heroicon_mini "arrow-down-tray" class="mr-2" %}
                        Download OPML
                    </a>
                </div>
                <hr />
            </div>
        {% endif %}
        <div class="space-y-6">
            <h2 class="font-semibold">Import feeds from an OPML file into your collection.</h2>
            {% partialdef import_feeds_form inline=True %}
            <form class="space-y-6"
                  id="import-feeds-form"
                  hx-encoding="multipart/form-data"
                  hx-target="this"
                  hx-swap="outerHTML"
                  hx-post="{% url 'users:import_podcast_feeds' %}">
                {% csrf_token %}
                {{ upload_form }}
                <div>
                    <button class="inline-flex items-center btn btn-default">
                        {% heroicon_mini "arrow-up-tray" class="mr-2" %}
                        Upload OPML
                    </button>
                </div>
            </form>
        {% endpartialdef import_feeds_form %}
    </div>
</div>
{% endblock settings_content %}
