{% extends "base.html" %}
{% load heroicons partials %}

{% block title %}
    {{ block.super }} | Import/Export Feeds
{% endblock title %}

{% block content %}
    <c-account.header current="feeds" />
    <div class="space-y-3">
        {% if user.subscriptions.exists %}
            <div class="space-y-3">
                <h2 class="text-base font-semibold lg:text-lg">Export feeds</h2>
                <div>
                    <a class="inline-flex items-center btn btn-default"
                       href="{% url 'users:export_podcast_feeds' %}"
                       hx-disable="true">
                        {% heroicon_mini "arrow-down-tray" class="mr-2" %}
                        Download OPML
                    </a>
                </div>
                <p>
                    <strong>Note:</strong> private feeds will not be included.
                </p>
                <hr class="border"/>
            </div>
        {% endif %}
        <div class="space-y-3">
            <h2 class="text-base font-semibold lg:text-lg">Import feeds</h2>
            {% partialdef form inline=True %}
                <c-form
                    :hx-post="request.path"
                    hx-target="this"
                    hx-swap="outerHTML"
                    hx-encoding="multipart/form-data"
                    enctype="multipart/form-data"
                    id="import-feeds-form">
                    {{ upload_form }}
                    <c-form.buttons>
                        <c-button icon="arrow-up-tray" label="Upload OPML" />
                    </c-form.buttons>
                </c-form>
            {% endpartialdef form %}
        </div>
    </div>
{% endblock content %}
