{% extends "account/settings_base.html" %}

{% load i18n widget_tweaks %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block settings_content %}

<form class="p-3 border w-full md:w-3/4 lg:w-1/2 border-gray-500"
      method="post"
      action="{% url 'user_preferences' %}"
      novalidate>
  {% csrf_token %}

  <div class="mb-3">
    <label class="flex items-center mb-2 w-full">
      {% render_field form.send_recommendations_email class="mr-3 bg-gray-900" %}
      {{ form.send_recommendations_email.label }}
    </label>
    {% include "_form_help_text.html" with help_text=form.send_recommendations_email.help_text %}
  </div>

  <div class="flex items-center justify-end">
    <button class="btn btn-default flex items-center"
            type="submit">
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           class="btn-icon mr-2"
           stroke="currentColor">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 13l4 4L19 7" />
      </svg>
      {% translate "Save Changes" %}
    </button>
  </div>
</form>

{% endblock %}
