{% extends "base.html" %}
{% load heroicons partials %}

{% block title %}
    {{ block.super }} | Preferences
{% endblock title %}

{% block content %}
    {% include "account/header.html" with current="preferences" %}
    {% partialdef form inline=True %}
        {% fragment "hx_form" target="preferences-form" %}
            {{ form }}
            <c-form.buttons>
                <button class="btn btn-primary">
                    {% heroicon_mini "check" class="mr-2" %}
                    Save Changes
                </button>
            </c-form.buttons>
        {% endfragment %}
    {% endpartialdef form %}
{% endblock content %}
