{% extends "account/settings_base.html" %}
{% load heroicons partials %}
{% block title %}
    {{ block.super }} | Preferences
{% endblock title %}
{% block settings_selected_item %}
    {% heroicon_mini "adjustments-horizontal" class="mr-3" %}
    Preferences
{% endblock settings_selected_item %}
{% block settings_content %}
    {% partialdef form inline=True %}
    <form method="post"
          action="{{ request.path }}"
          class="space-y-6"
          id="preferences-form"
          hx-swap="outerHTML"
          hx-target="this">
        {% csrf_token %}
        {{ form }}
        <div>
            <button class="inline-flex items-center btn btn-primary">
                {% heroicon_mini "check" class="mr-2" %}
                Save Changes
            </button>
        </div>
    </form>
{% endpartialdef form %}
{% endblock settings_content %}
