{% extends "account/settings_base.html" %}
{% load heroicons %}
{% block title %}
    {{ block.super }} | Private Feeds
{% endblock title %}
{% block settings_dropdown_title %}
    {% heroicon_mini "lock-closed" class="mr-3" %}
    Private Feeds
{% endblock settings_dropdown_title %}
{% block settings_content %}
    <div class="space-y-3">
        <h3 class="font-bold text-base lg:text-lg">Add Private Feed</h3>
        {% include "account/_private_feed_form.html" %}
        <hr />
        {% include pagination_template %}
    </div>
{% endblock settings_content %}
