<c-layout title="Sign Up">
    <c-header title="Sign Up" />
    <div class="space-y-3">
        <c-socialaccount.buttons process="login">
            <c-slot name="extra">
                Sign up with
            </c-slot>
        </c-socialaccount.buttons>
        <p class="mb-3">
            Already have an account? Then please
            <a class="underline link" href="{{ login_url }}">sign in</a>.
        </p>
        <c-form hx-disable>
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="grid-cols-2 gap-3 space-y-3 sm:grid sm:space-y-0">
                {{ form.username.as_field_group }}
                {{ form.email.as_field_group }}
                {{ form.password1.as_field_group }}
                {{ form.password2.as_field_group }}
            </div>
            <c-form.buttons>
                <c-button variant="primary" icon="plus">
                    Sign Up
                </c-button>
            </c-form.buttons>
        </c-form>
    </div>
</c-layout>
