{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="mb-3 text-lg font-bold">{% trans "Sign Up" %}</h1>

<p class="mb-3">{% blocktranslate %}Already have an account? Then please
  <a class="underline hover:text-gray-300"
     href="{{ login_url }}">sign in</a>.{% endblocktranslate %}</p>

<div id="{{ view.turbo_stream_target }}">
  {% include "account/_signup.html" %}
</div>

{% include "account/_social_logins.html" with css_class="mt-3 flex items-center" %}

{% endblock %}
