{% extends "account/base.html" %}

{% block title %}
    {{ block.super }} | Sign Up
{% endblock title %}

{% block content %}
    <c-header title="Sign Up" />
    <div class="space-y-3">
        {% include "socialaccount/_social_logins.html" %}
        <p class="mb-3">
            Already have an account? Then please
            <a class="underline link" href="{{ login_url }}">sign in</a>.
        </p>
        <c-form hx-disable="true">
            <c-slot name="fields">
                {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="grid-cols-2 gap-3 space-y-3 sm:grid sm:space-y-0">
                    {{ form.username.as_field_group }}
                    {{ form.email.as_field_group }}
                    {{ form.password1.as_field_group }}
                    {{ form.password2.as_field_group }}
                </div>
            </c-slot>
            <c-button icon="plus" variant="primary">
                Sign Up
            </c-button>
        </c-form>
    </div>
{% endblock content %}
