{% extends "account/base.html" %}
{% load heroicons %}
{% block title %}
    | Sign Up
{% endblock title %}
{% block content %}
    <h1 class="flex items-center justify-center pb-3 mb-3 text-lg font-bold border-b sm:justify-start md:text-xl xl:text-2xl">
        Sign Up
    </h1>
    <p class="mb-3">
        Already have an account? Then please
        <a class="underline link" href="{{ login_url }}">sign in</a>.
    </p>
    <div class="space-y-6">
        <form method="post"
              action="{{ request.path }}"
              class="space-y-6"
              hx-disable="true">
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            {{ form }}
            <div>
                <button class="inline-flex items-center btn btn-primary">
                    {% heroicon_mini "plus" class="mr-2" %}
                    Sign Up
                </button>
            </div>
        </form>
        {% include "account/_social_logins.html" %}
    </div>
{% endblock content %}
