{% extends "account/settings_base.html" %}
{% load i18n %}
{% block title %}
    {{ block.super }} | {% translate "Statistics" %}
{% endblock title %}
{% block settings_content %}
    <div class="w-full divide-y mb-6 space-y-3">
        <h2 class="mb-3 text-base lg:text-lg font-semibold">{% translate "Activity" %}</h2>
        <div class="flex justify-between pt-4">
            <div class="w-1/2">{% translate "Joined" %}</div>
            <div class="w-1/2 font-bold text-right">{% include "includes/date.html" with value=user.date_joined %}</div>
        </div>
        {% with subscribed=user.subscriptions.count %}
            {% if subscribed %}
                <div class="flex justify-between pt-4">
                    <div class="w-1/2">{% translate "Subscribed" %}</div>
                    <div class="w-1/2 font-bold text-right">
                        <a href="{% url 'podcasts:index' %}" class="link font-bold underline">
                            {% blocktranslate count counter=subscribed %}
                                1 podcast
                            {% plural %}
                                {{ counter }} podcasts
                            {% endblocktranslate %}
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        {% with bookmarks=user.bookmarks.count %}
            {% if bookmarks %}
                <div class="flex justify-between pt-4">
                    <div class="w-1/2">{% translate "Bookmarks" %}</div>
                    <div class="w-1/2 font-bold text-right">
                        <a href="{% url 'episodes:bookmarks' %}"
                            class="link font-bold underline">
                            {% blocktranslate count counter=bookmarks %}
                                1 episode
                            {% plural %}
                                {{ counter }} episodes
                            {% endblocktranslate %}
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        {% with listened=user.audio_logs.count %}
            {% if listened %}
                <div class="flex justify-between pt-4">
                    <div class="w-1/2">{% translate "Listened" %}</div>
                    <div class="w-1/2 font-bold text-right">
                        <a href="{% url 'episodes:history' %}" class="link font-bold underline">
                            {% blocktranslate count counter=listened %}
                                1 episode
                            {% plural %}
                                {{ counter }} episodes
                            {% endblocktranslate %}
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
    </div>

    {% if top_podcasts %}
        <h2 class="mb-3 text-base lg:text-lg font-semibold">{% translate "Most Listened Podcasts" %}</h2>
        <ol class="w-full divide-y list-decimal list-inside">
            {% for podcast in top_podcasts %}
                <li class="py-2">
                    <a href="{{ podcast.get_absolute_url }}" class="link">
                        {{ podcast.cleaned_title }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock settings_content %}
