{% extends "account/settings_base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% translate "Statistics" %}{% endblock %}

{% block settings_content %}

    <div class="w-full divide-y mb-3 space-y-3 dark:divide-gray-500">

        <div class="flex justify-between pt-4">
            <div class="w-1/2">{% translate "Joined" %}</div>
            <div class="w-1/2 font-bold text-right">{% include "includes/date.html" with value=user.date_joined %}</div>
        </div>

        {% if stats.subscribed %}
            <div class="flex justify-between pt-4">
                <div class="w-1/2">{% translate "Subscribed" %}</div>
                <div class="w-1/2 font-bold text-right">
                    <a href="{% url 'podcasts:index' %}"
                        class="link font-bold underline">
                        {% blocktranslate count counter=stats.subscribed %}
                            1 podcast
                        {% plural %}
                            {{ counter }} podcasts
                        {% endblocktranslate %}
                    </a>
                </div>
            </div>
        {% endif %}

        {% if stats.bookmarks %}
            <div class="flex justify-between pt-4">
                <div class="w-1/2">{% translate "Bookmarks" %}</div>
                <div class="w-1/2 font-bold text-right">
                    <a href="{% url 'episodes:bookmarks' %}"
                        class="link font-bold underline">
                        {% blocktranslate count counter=stats.bookmarks %}
                            1 episode
                        {% plural %}
                            {{ counter }} episodes
                        {% endblocktranslate %}
                    </a>
                </div>
            </div>
        {% endif %}


        {% url 'episodes:history' as history_url %}

        {% if stats.listened %}
            <div class="flex justify-between pt-4">
                <div class="w-1/2">{% translate "Listened" %}</div>
                <div class="w-1/2 font-bold text-right">
                    <a href="{{ history_url }}"
                        class="link font-bold underline">
                        {% blocktranslate count counter=stats.listened %}
                            1 episode
                        {% plural %}
                            {{ counter }} episodes
                        {% endblocktranslate %}
                    </a>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock settings_content %}
