{% extends "account/base.html" %}

{% block title %}
    | Verify Your E-mail Address
{% endblock title %}

{% block content %}
    <h1 class="flex justify-center items-center pb-3 mb-3 text-xl font-bold border-b sm:justify-start lg:text-2xl xl:text-3xl">
        Verify Your E-mail Address
    </h1>
    <p>
        We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.
    </p>
{% endblock content %}
