{% extends "account/base.html" %}
{% block title %}
    | Verify Your E-mail Address
{% endblock title %}
{% block content %}
    <h1 class="flex items-center justify-center mb-3 text-lg font-bold sm:justify-start lg:text-xl xl:text-2xl pb-3 border-b">
        Verify Your E-mail Address
    </h1>
    <p>
        We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.
    </p>
{% endblock content %}
