{% extends "base.html" %}

{% block title %}
    {{ block.super }}| Verify Your E-mail Address
{% endblock title %}

{% block content %}
    {% include "header.html" with title="Verify Your E-Mail Address" %}
    <p class="mb-3">
        This part of the site requires us to verify that
        you are who you claim to be. For this purpose, we require that you
        verify ownership of your e-mail address.
    </p>
    <p class="mb-3">
        We have sent an e-mail to you for
        verification. Please click on the link inside this e-mail. Please
        contact us if you do not receive it within a few minutes.
    </p>
    <p>
        <strong>Note:</strong> you can still <a href="{% url 'account_email' %}">change your e-mail address</a>.
    </p>
{% endblock content %}
