{% load heroicons socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    <div class="flex items-center space-x-3">
        {% for provider in socialaccount_providers %}
            <form method="post"
                  action="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
                  hx-disable="true">
                {% csrf_token %}
                <button class="flex items-center btn btn-default">
                    {% heroicon_mini "check-badge" class="mr-2" %}
                    {{ provider.name }}
                </button>
            </form>
        {% endfor %}
    </div>
{% endif %}
