{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div class="space-y-3 form-control{% if field.errors %} has-errors{% endif %}">
        {% if field.field.widget.input_type == "checkbox" %}
            <label class="flex items-center w-full font-semibold{% if field.errors %} text-red-800 dark:text-red-500{% endif %}">
                {{ field }}
                {{ field.label }}
            </label>
        {% else %}
            <label class="block font-semibold{% if field.errors %} text-red-800 dark:text-red-500{% endif %}"
                   for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
            {{ field }}
        {% endif %}
        {% include "includes/forms/errors.html" with errors=field.errors %}
        {% if field.help_text %}<p class="text-gray-600 dark:text-gray-300">{{ field.help_text }}</p>{% endif %}
    </div>
{% endif %}
