{% load heroicons %}
{% with target=episode.get_bookmark_target %}
    <div class="flex items-center"
         id="{{ target }}"
         hx-push-url="false"
         hx-target="this"
         hx-swap="outerHTML"
         hx-disinherit="hx-indicator">
        {% if is_bookmarked %}
            <button title="Remove Bookmark"
                    class="inline-flex items-center btn btn-default btn-outline group"
                    hx-post="{% url 'episodes:remove_bookmark' episode.id %}"
                    hx-trigger="click once">
                {% heroicon_mini "bookmark-slash" class="mr-2 group-focus:hidden" %}
                Bookmark
            </button>
        {% else %}
            <button title="Bookmark"
                    class="inline-flex items-center btn btn-default group"
                    hx-post="{% url 'episodes:add_bookmark' episode.id %}"
                    hx-trigger="click once">
                {% heroicon_mini "bookmark" class="mr-2 group-focus:hidden" %}
                Bookmark
            </button>
        {% endif %}
    </div>
    {% if request.htmx.target == target %}
        {% include "includes/messages.html" with hx_oob=True %}
    {% endif %}
{% endwith %}
