{% load heroicons %}
{% url is_bookmarked|yesno:"episodes:remove_bookmark,episodes:add_bookmark" episode.id as action_url %}
<form id="{{ target }}"
      action="{{ action_url }}"
      method="post"
      hx-push-url="false"
      hx-target="this"
      hx-swap="outerHTML"
      x-data="{isLoading: false}">
    {% csrf_token %}
    {% with target=episode.get_bookmark_target %}
        {% if is_bookmarked %}
            <button title="Remove Bookmark"
                    class="inline-flex items-center btn btn-default btn-outline"
                    @click="isLoading=true"
                    hx-post="{{ action_url }}"
                    hx-trigger="click once">
                {% heroicon_mini "bookmark-slash" class="mr-2" x_show="!isLoading" %}
                {% heroicon_mini "arrow-path" class="mr-2" x_show="isLoading" %}
                Bookmark
            </button>
        {% else %}
            <button title="Bookmark"
                    class="inline-flex items-center btn btn-default"
                    @click="isLoading=true"
                    hx-post="{{ action_url }}"
                    hx-trigger="click once">
                {% heroicon_mini "bookmark" class="mr-2" x_show="!isLoading" %}
                {% heroicon_mini "arrow-path" class="mr-2" x_show="isLoading" %}
                Bookmark
            </button>
        {% endif %}
    {% endwith %}
</form>
{% if request.htmx.target == target %}
    {% include "includes/messages.html" with hx_oob=True %}
{% endif %}
