{% if episode %}
    {% if is_playing %}
        {% with podcast=episode.podcast episode_url=episode.get_absolute_url %}
            <div x-data="{# fmt:off #}
            player(
                autoplay={{ start_player|yesno:'true,false' }},
                mediaUrl='{{ episode.media_url }}',
                currentTime={{ current_time|default:0 }},
                csrfToken='{{ csrf_token }}',
                timeUpdateUrl='{% url 'episodes:player_time_update' %}',
            ){# fmt:on #}"
                @keydown.window="shortcuts"
                class="pt-12 sm:pt-0 md:pt-6">
                {{ episode.get_media_metadata|json_script:"player-metadata" }}
                <audio x-ref="audio"
                    preload="metadata"
                    :src="mediaSrc"
                    @ended="ended"
                    @error="error"
                    @loadedmetadata="loaded"
                    @pause="paused"
                    @play="resumed"
                    @timeupdate="timeUpdate"
                    @waiting="buffering"
                    @stalled="buffering"
                    @suspend="buffering">
                </audio>
                <div class="fixed bottom-0 z-10 bg-black text-white w-full p-2 font-semibold space-y-1 sm:space-y-0"
                    x-ref="controls"
                    x-show="mediaSrc">

                    <div class="sm:hidden">
                        <a class="w-84 truncate block text-center"
                            :class="{'hover:text-blue-500': isPlaying, 'animate-pulse text-gray-300': !isPlaying}"
                            href="{{ episode_url }}"
                            hx-swap="outerHTML show:window:top"
                            title="{{ episode.cleaned_title }}">{{ episode.cleaned_title }}

                        </a>
                        <div class="text-xs md:text-sm text-center sm:hidden"
                            :class="{'animate-pulse text-gray-300': !isPlaying}">
                            <span x-text="counters.current"></span> /
                            <span x-text="counters.total"></span>
                        </div>
                    </div>

                    <div class="flex items-center space-x-2 sm:space-x-0">

                        {% with cover_url=podcast.cover_url %}
                            <div class="w-20 md:w-24">
                                {% include "includes/cover_image.html" with size=24 css_class="h-16 w-16 md:h-20 md:w-20" alt=podcast.cleaned_title url=podcast.get_absolute_url hx_swap="outerHTML show:window:top" %}
                            </div>
                        {% endwith %}

                        <div class="w-full flex flex-col place-content-between h-16 md:h-20">

                            <div class="flex justify-between items-center">

                                <div class="flex items-center">
                                    {% with BUTTON_CSS="focus:outline-none hover:text-blue-500 inline-block" ICON_CSS="h-8 w-8 md:h-9 md:w-9"  %}

                                        <button title="Pause"
                                            @click="togglePlayPause"
                                            x-show="!isPaused"
                                            class="{{ BUTTON_CSS }} mr-1 md:mr-2"
                                            :disabled="!isLoaded"
                                            :class="{'text-gray-300 cursor-events-none': !isLoaded}">
                                            {% include "icons/pause.svg" with css_class=ICON_CSS %}
                                        </button>

                                        <button title="Play"
                                            @click="togglePlayPause"
                                            x-show="isPaused"
                                            class="{{ BUTTON_CSS }} mr-1 md:mr-2"
                                            :class="{'text-gray-300 cursor-events-none': !isLoaded}">
                                            {% include "icons/play.svg" with css_class=ICON_CSS %}
                                        </button>

                                        <button title="Close Player"
                                            accesskey="x"
                                            class="{{ BUTTON_CSS }}"
                                            hx-post="{% url "episodes:close_player" %}"
                                            hx-target="#player"
                                            hx-swap="innerHTML">
                                            {% include "icons/stop.svg" with css_class=ICON_CSS %}
                                        </button>

                                    {% endwith %}

                                </div>

                                <div class="hidden sm:block">
                                    <div>
                                        <a class="truncate text-center block sm:w-80 md:w-96 md:w-auto md:max-w-xl xl:max-w-3xl"
                                            :class="{'hover:text-blue-500': isPlaying, 'animate-pulse text-gray-300': !isPlaying}"
                                            href="{{ episode_url }}"
                                            hx-swap="outerHTML show:window:top morpdom"
                                            title="{{ episode.cleaned_title }}">{{ episode.cleaned_title }}</a>
                                    </div>
                                    <div class="text-xs md:text-sm text-center"
                                        :class="{'animate-pulse text-gray-300': !isPlaying}">
                                        <span x-text="counters.current"
                                            title="Current Time"></span> /
                                        <span x-text="counters.total"
                                            title="Time Remaining"></span>
                                    </div>
                                </div>

                                {% with BUTTON_CSS="focus:outline-none hover:text-blue-500" INACTIVE_CSS="opacity-75 cursor-not-allowed pointer-events-none" ICON_CSS="h-6 w-6 md:h-7 md:w-7" %}

                                    <div class="flex items-center sm:hidden space-x-1">

                                        <button title="Skip back 10 seconds"
                                            @click="skipBack"
                                            :class="{'{{ INACTIVE_CSS }}': !isPlaying}"
                                            class="{{ BUTTON_CSS }} inline-block">
                                            {% include "icons/skip_back_10.svg" with css_class=ICON_CSS %}
                                        </button>

                                        <button title="Skip forward 10 seconds"
                                            @click="skipForward"
                                            :class="{'{{ INACTIVE_CSS }}': !isPlaying}"
                                            class="{{ BUTTON_CSS }} inline-block">
                                            {% include "icons/skip_forward_10.svg" with css_class=ICON_CSS %}
                                        </button>

                                    </div>

                                    <div class="flex items-center space-x-2 md:space-x-3">

                                        <div class="flex items-center space-x-1 md:space-x-2">

                                            <button title="Skip back 10 seconds"
                                                @click="skipBack"
                                                :class="{'{{ INACTIVE_CSS }}': !isPlaying}"
                                                class="{{ BUTTON_CSS }} hidden sm:inline-block">
                                                {% include "icons/skip_back_10.svg" with css_class=ICON_CSS %}
                                            </button>

                                            <button title="Skip forward 10 seconds"
                                                @click="skipForward"
                                                :class="{'{{ INACTIVE_CSS }}': !isPlaying}"
                                                class="{{ BUTTON_CSS }} hidden sm:inline-block">
                                                {% include "icons/skip_forward_10.svg" with css_class=ICON_CSS %}
                                            </button>

                                        </div>

                                        <div class="flex items-center space-x-2 mr-2 md:mr-3">
                                            <button :class="{'{{ INACTIVE_CSS }}': !isPlaying}"
                                                class="{{ BUTTON_CSS }} inline-block"
                                                @click="decrementPlaybackRate"
                                                title="Decrease Playback Rate">-</button>
                                            <div class="mr-1 md:mr-2 tracking-tight player--interactive"
                                                title="Playback Rate">
                                                x<span x-text="playbackRate.toFixed(1)"></span>
                                            </div>

                                            <button class="{{ BUTTON_CSS }} inline-block"
                                                :class="{'{{ INACTIVE_CSS }}': !isPlaying}"
                                                @click="incrementPlaybackRate"
                                                title="Increase Playback Rate">+</button>
                                        </div>
                                        <div class="flex items-center">
                                            <button title="Reload Player"
                                                class="{{ BUTTON_CSS }} inline-block"
                                                accesskey="r"
                                                @click="window.location.reload()">
                                                {% include "icons/refresh.svg" with css_class=ICON_CSS %}
                                            </button>
                                        </div>

                                    </div>

                                {% endwith %}
                            </div>
                            <div class="w-full h-3">
                                <input type="range"
                                    x-ref="range"
                                    x-model="currentTime"
                                    :max="duration"
                                    :disabled="isPaused || !isLoaded"
                                    @change="skip"
                                    aria-label="Progress"
                                    min="0"
                                    :class="{# fmt:off #}{
                                            'bg-gradient-to-r from-blue-900 to-blue-600 cursor-pointer':isPlaying,
                                            'bg-gray-800 dark:bg-gray-600 cursor-not-allowed': !isPlaying
                                        }{# fmt:on #}"
                                    class="h-2 mx-auto rounded-full w-full flex items-center focus:outline-none">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endif %}
    {% if request.htmx.target == "player" %}
        {% include "episodes/includes/audio_log_toggle.html" with hx_oob=True %}
        {% include "episodes/includes/player_toggle.html" with hx_oob=True %}
        {% include "episodes/includes/timestamps.html" with hx_oob=True %}
    {% endif %}
{% endif %}
