#!/usr/bin/env bash

set -o errexit

export KUBECONFIG="{{ kubeconfig }}"

kubectl exec -it "$(kubectl get pods -l app=django-scheduler -n default -o jsonpath='{.items[0].metadata.name}')" -n default -- python manage.py "$@"
