#!/usr/bin/env bash

set -o errexit

echo "Deploying image $IMAGE to Kubernetes..."

export KUBECONFIG="{{ kubeconfig }}"

echo "Running pre-deployment tasks..."

kubectl set image deployment/django-manager django=${IMAGE} -n default
kubectl rollout status deployment/django-manager -n default

POD_NAME=$(kubectl get pods -n default -l app=django-manager -o jsonpath='{.items[0].metadata.name}')
kubectl exec -n default $POD_NAME -- ./release.sh

echo "Starting deployment..."

kubectl set image deployment/django-app django=${IMAGE} -n default
kubectl rollout status deployment/django-app -n default

echo "Updating cron jobs..."

{% for cronjob in cronjobs %}
kubectl set image cronjob/{{ cronjob.name }} django=${IMAGE} -n default
{% endfor %}
