apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: django-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
        maxSurge: 1  # Only one extra pod can be created at a time
        maxUnavailable: 0  # Only one pod can be replaced at a time
  template:
    metadata:
      labels:
        app: django-app
    spec:
      nodeSelector:
        role: django
      containers:
        - name: django
          image: {{ image }}
          resources:
            requests:
                memory: "512Mi"  # Minimum memory the container will get
                cpu: "250m"
            limits:
                memory: "1Gi"  # Maximum memory the container can use before it gets OOM killed
                cpu: "500m"
          command: ["/bin/sh", "-c"]
          args: ["./entrypoint.sh"]
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: configmap
            - secretRef:
                name: secrets
          livenessProbe:
            httpGet:
              path: /ht/
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ht/
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
