apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-manager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-manager
  template:
    metadata:
      labels:
        app: django-manager
    spec:
      containers:
        - name: django
          image: {{ image }}
          command: ["sleep", "infinity"]
          envFrom:
            - configMapRef:
                name: configmap
            - secretRef:
                name: secrets
          stdin: true
      restartPolicy: Always
      nodeSelector:
        role: jobrunner
