.:53 {
  errors
  health
  ready
  kubernetes cluster.local in-addr.arpa ip6.arpa {
    pods insecure
    fallthrough in-addr.arpa ip6.arpa
  }
  hosts /etc/coredns/NodeHosts {
    ttl 60
    reload 15s
    fallthrough
  }
  prometheus :9153
  forward . 8.8.8.8 1.1.1.1
  cache 30
  loop
  reload
  loadbalance
  import /etc/coredns/custom/*.override
}
import /etc/coredns/custom/*.server
