!.coverage
!.coveragerc
!.editorconfig
!.env
!.env.example
!.eslintrc
!.flake8
!.pre-commit-config.yaml
!.prettierrc
!.pylintrc
!.sonarcloud.properties
!.tern-project
.*
.git
.github
.idea
.mypy_cache
.pytest_cache
.ruff_cache
.vim
.vscode
LICENSE
Makefile
Procfile
README.md
__pycache__
app.json
conftest.py
docker-compose.yaml
node_modules
npm-debug.log
poetry.lock
pyproject.toml
requirements-ci.txt
screenshots
