!.coverage
!.coveragerc
!.editorconfig
!.env
!.env.example
!.eslintrc
!.flake8
!.pre-commit-config.yaml
!.prettierrc
!.pylintrc
!.sonarcloud.properties
!.tern-project
!.woodpecker.yml
**/__pycache__
**/tests
ansible
ansible-example
.*
.git
.github
.idea
.mypy_cache
.pytest_cache
.ruff_cache
.vim
.vscode
LICENSE
Makefile
Procfile
README.md
conftest.py
docker-compose.yml
node_modules
npm-debug.log
podman-kube.yml
poetry.lock
pyproject.toml
requirements-ci.txt
screenshots
