.*
.git
.github
.idea
.mypy_cache
.pytest_cache
.vim
.vscode
!.coverage
!.coveragerc
!.eslintrc
!.editorconfig
!.env
!.flake8
!.pylintrc
!.prettierrc
!.sonarcloud.properties
!.tern-project
!.vaultpass
!.pre-commit-config.yaml
__pycache__
ansible.cfg
bin
node_modules
npm-debug.log
roles
screenshots
LICENSE
README.md

