.gitattributes export-ignore
.gitignore export-ignore
.gitmodules export-ignore
.github export-ignore
.pre-commit-config.yaml export-ignore

static/dist/bundle.css -diff
static/dist/bundle.js -diff
static/dist/bundle.js.map -diff

* text=auto eol=lf
