'
*.DS_Store
*.bak
*.db
*.egg
*.lock
*.pot
*.pyc
*.sqlite3
*.swp
*log
.coverage
.coverage*
.data
.disk_cache
.env
.envrc
.idea/
.ipython/
.mypy_cache/
.pdm-python
.pytest_cache/
.python-version
.ruff_cache
.terraform*
.tsvars
.vault_pass
.venv
.vim/
.vscode/
:
:w
__pycache__
celerybeat-schedule
celerybeat.pid
codealike.json
db
deployments/
dist/
hosts
locust/users.json
logs
media/
node_modules/
npm-debug.log*
requirements-ci.txt
static/tailwind.css
staticfiles
terraform.tfstate*
venv
ansible/.vault_pass
ansible/hosts
ansible/manage.sh
ansible/vars/*.yml
