'
*.DS_Store
*.bak
*.db
*.egg
*.lock
*.pot
*.pyc
*.sqlite3
*.swp
*log
.coverage
.coverage*
.data
.disk_cache
.django_tailwind_cli
.env
.envrc
.idea/
.ipython/
.mypy_cache/
.pdm-python
.pytest_cache/
.python-version
.ruff_cache
.tsvars
.vault_pass
.venv
.vim/
.vscode/
:
:w
__pycache__
celerybeat-schedule
celerybeat.pid
codealike.json
db
deployments/
dist/
hosts
hosts.yml
locust/users.json
logs
media/
node_modules/
npm-debug.log*
static/app.css
staticfiles
terraform/.terraform/
terraform/terraform.tfstate*
terraform/.terraform.lock.hcl
terraform/.terraform.lock.info
terraform/.tfplan
terraform/*.tfvars
terraform/*.tfvars.json
venv
ansible/.vault_pass
ansible/hosts.yml
ansible/certs
ansible/scripts
