repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-builtin-literals
          - id: check-json
          - id: check-merge-conflict
          - id: check-shebang-scripts-are-executable
            exclude: ^ansible/roles
          - id: check-toml
          - id: check-yaml
          - id: debug-statements
          - id: destroyed-symlinks
          - id: detect-private-key
    - repo: local
      hooks:
          - id: rustywind
            name: rustywind Tailwind CSS class linter
            language: node
            additional_dependencies:
                - rustywind@0.21.0
            entry: rustywind
            args: [--write]
            files: ^templates
            types_or: [html]
    - repo: https://github.com/koalaman/shellcheck-precommit
      rev: v0.10.0
      hooks:
          - id: shellcheck
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: "v0.9.5"
      hooks:
          - id: ruff
            args: ["--fix"]
          - id: ruff-format
    - repo: https://github.com/MarcoGorelli/absolufy-imports
      rev: v0.3.1
      hooks:
          - id: absolufy-imports
    - repo: https://github.com/rtts/djhtml
      rev: 3.0.7
      hooks:
          - id: djhtml
          - id: djcss
          - id: djjs
            exclude: ^static/vendor
    - repo: https://github.com/adamchainz/djade-pre-commit
      rev: 1.3.2
      hooks:
          - id: djade
            args: [--target-version, "5.1"]
    - repo: https://github.com/Riverside-Healthcare/djLint
      rev: v1.36.4
      hooks:
          - id: djlint-django
            args: ["--lint"]
            exclude: ^static/vendor
    - repo: https://github.com/hadolint/hadolint
      rev: v2.13.1-beta
      hooks:
          - id: hadolint-docker
    - repo: https://github.com/asottile/pyupgrade
      rev: v3.19.1
      hooks:
          - id: pyupgrade
            args: [--py313]
    - repo: https://github.com/adamchainz/django-upgrade
      rev: "1.23.0"
      hooks:
          - id: django-upgrade
            args: [--target-version, "5.1"]
    - repo: https://github.com/abravalheri/validate-pyproject
      rev: v0.23
      hooks:
          - id: validate-pyproject
    - repo: https://github.com/owenlamont/uv-secure
      rev: 0.8.0
      hooks:
          - id: uv-secure
