repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-builtin-literals
          - id: check-merge-conflict
          - id: check-shebang-scripts-are-executable
            exclude: '.*\.j2$'
          - id: check-toml
          - id: check-yaml
          - id: debug-statements
          - id: destroyed-symlinks
          - id: detect-private-key
    - repo: local
      hooks:
          - id: rustywind
            name: rustywind Tailwind CSS class linter
            language: node
            additional_dependencies:
                - rustywind@0.21.0
            entry: rustywind
            args: [--write]
            files: ^templates
            types_or: [html]
    - repo: https://github.com/opensource-nepal/commitlint
      rev: v1.3.1
      hooks:
          - id: commitlint
    - repo: https://github.com/koalaman/shellcheck-precommit
      rev: v0.11.0
      hooks:
          - id: shellcheck
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: "v0.14.7"
      hooks:
          - id: ruff-check
            args: ["--fix"]
          - id: ruff-format
    - repo: https://github.com/MarcoGorelli/absolufy-imports
      rev: v0.3.1
      hooks:
          - id: absolufy-imports
    - repo: https://github.com/rtts/djhtml
      rev: 3.0.10
      hooks:
          - id: djhtml
            exclude: (^static/build/vendor|(^|.*/)mocks/.*)
          - id: djcss
            exclude: (^static/build/vendor|(^|.*/)mocks/.*)
          - id: djjs
            exclude: (^static/build/vendor|(^|.*/)mocks/.*)
    - repo: https://github.com/adamchainz/djade-pre-commit
      rev: 1.6.0
      hooks:
          - id: djade
            args: [--target-version, "5.1"]
    - repo: https://github.com/Riverside-Healthcare/djLint
      rev: v1.36.4
      hooks:
          - id: djlint-django
            args: ["--lint"]
            exclude: (^static/build/vendor|(^|.*/)mocks/.*)
    - repo: https://github.com/hadolint/hadolint
      rev: v2.14.0
      hooks:
          - id: hadolint-docker
    - repo: https://github.com/asottile/pyupgrade
      rev: v3.21.2
      hooks:
          - id: pyupgrade
            args: [--py313]
    - repo: https://github.com/adamchainz/django-upgrade
      rev: "1.29.1"
      hooks:
          - id: django-upgrade
            args: [--target-version, "5.1"]
    - repo: https://github.com/abravalheri/validate-pyproject
      rev: v0.24.1
      hooks:
          - id: validate-pyproject
