Brotli
Django
Faker
Markdown
Werkzeug
attrs
bleach
celery
coverage
dj-database-url
django-allauth
django-anymail
django-cachalot
django-debug-toolbar
django-environ
django-extensions
django-health-check
django-htmx
django-model-utils
django-object-actions
django-permissions-policy
django-postgres-metrics
django-ratelimit
django-redis
django-split-settings
django-widget-tweaks
huey
factory-boy
gunicorn
hiredis
ipython
lxml
nltk
numpy
pandas
psutil
psycopg2-binary
pytest
pytest-cov
pytest-django
pytest-forked
pytest-mock
pytest-randomly
pytest-xdist
python-dateutil
redis
requests
scikit-learn
scipy
sentry-sdk
whitenoise
