Brotli
Django
Faker
Markdown
Werkzeug
attrs
bleach
coverage
cryptography
decorator
dj-database-url
django-allauth
django-anymail
django-environ
django-extensions
django-htmx
django-model-utils
django-object-actions
django-permissions-policy
django-postgres-metrics
django-ratelimit
django-redis
django-rq
django-split-settings
django-widget-tweaks
factory-boy
gunicorn
honcho
html5lib
ipython
lxml
nltk
numpy
pandas
psycopg2-binary
pytest
pytest-cov
pytest-django
pytest-forked
pytest-mock
pytest-randomly
pytest-xdist
python-dateutil
redis
requests
rq
scikit-learn
scipy
sentry-sdk
whitenoise
