Pillow
beautifulsoup4
bleach
boto3
celery
channels
channels-redis
cryptography>=3.2
dj-database-url
django
django-allauth
django-anymail[mailgun]
django-celery-beat
django-celery-email
django-environ
django-extensions
django-model-utils
django-redis
django-silk
django-storages
django-turbo-allauth
django-turbo-response
django-widget-tweaks
factory-boy
feedparser==6.0.2
future
gunicorn
html5lib
httptools
icecream
ipython
# https://github.com/ipython/ipython/issues/12740
jedi==0.17.2
lxml
nltk
pandas
psycopg2-binary
pydantic
pyopenssl
pytest
pytest-asyncio
pytest-cov
pytest-django
pytest-mock
pytest-randomly
pytest-xdist
python-dateutil
pytz
redis
sentry_sdk
sklearn
sorl-thumbnail
unidecode
uvicorn
uvloop
websockets
werkzeug
