asgiref
async-timeout
attrs
brotli
certifi
cffi
charset-normalizer
click
cryptography
defusedxml
dj-database-url
django
django-allauth
django-anymail
django-extensions
django-fast-update
django-htmx
django-model-utils
django-object-actions
django-permissions-policy
django-redis
django-widget-tweaks
gunicorn
hiredis
idna
joblib
lxml
nltk
numpy
oauthlib
pillow
psutil
psycopg2-binary
pycparser
pyjwt[crypto]
python-dateutil
python-decouple
python3-openid
redis
regex
requests
requests-oauthlib
scikit-learn
scipy
sentry-sdk
six
sqlparse
threadpoolctl
tqdm
urllib3
whitenoise
