{% load heroicons %}
<c-vars id context is-left=False />
<nav x-data="{showDropdown: false}"
     class="relative"
     id="{{ id }}" {{ attrs }}>
    <button id="{{ id }}-btn"
            tabindex="0"
            @click="showDropdown = !showDropdown"
            @click.outside="showDropdown=false"
            @keyup.escape.window="showDropdown=false"
            class="flex items-center py-1 px-2 rounded-lg border sm:justify-end link md:hover:bg-transparent focus:ring-3 focus:outline-hidden">
        {% with current=context.current %}
            {% if current %}
                <span class="inline-flex items-center">
                    {% if current.icon %}
                        {% heroicon_mini current.icon class="mr-2" %}
                    {% endif %}
                    {{ current.label }}
                </span>
            {% endif %}
        {% endwith %}
        {% heroicon_mini "chevron-down" class="ml-3" %}
    </button>
    <div class="overflow-y-auto absolute z-20 my-2 w-56 bg-white rounded-lg border shadow-lg sm:w-60 dark:bg-gray-800 dark:border max-h-[50dvh]"
         :class="{'right-0': isLeft, 'left-0': isRight}"
         x-cloak
         x-show="showDropdown"
         x-transition.scale.origin.top
         x-ref="dropdown"
         x-init="$watch('showDropdown', () => $nextTick(() => checkSize()))"
        {# fmt:off #}
         x-data="{
             isLeft: false,
             isRight: false,
             checkSize() {
                 const windowWidth = document.body.getBoundingClientRect().width;
                 const boxRight = this.$refs.dropdown.getBoundingClientRect().right;
                 this.isLeft = windowWidth < boxRight;
                 this.isRight = !this.isLeft;
             }
        }"
        {# fmt:on #}
         @resize.window="checkSize()"
         @click.away="showDropdown = false"
         @keydown.escape.window="showDropdown = false"
         @keydown.tab.prevent="showDropdown = false"
         @keydown.shift.tab.prevent="showDropdown = false"
         @keydown.arrow-up.prevent="$refs.dropdown.focus()"
         @keydown.arrow-down.prevent="$refs.dropdown.focus()"
    >
        <ul class="py-1 list-none" aria-labelledby="{{ id }}-btn">
            {% for item in context %}
                <li>
                    <a href="{{ item.url }}"
                       tabindex="{{ forloop.counter }}"
                       class="flex items-center py-2 px-4 font-semibold text-gray-700 dark:text-gray-100 hover:bg-gray-300 dark:hover:bg-gray-700">
                        {% if item.icon %}
                            {% heroicon_mini item.icon class="mr-2" %}
                        {% endif %}
                        {{ item.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
