{% load widget_tweaks %}
<fieldset class="space-y-3 form-control">
    {% with widget_type=field|widget_type %}
        {% if widget_type == "checkboxinput" %}
            <div class="flex items-center space-x-3 w-full">
                {% render_field field class="form-checkbox" %}
                {% include "forms/label.html" %}
            </div>
        {% else %}
            {% include "forms/label.html" %}
            {% render_field field class="form-input" %}
        {% endif %}
    {% endwith %}
    {% include "forms/errors.html" with errors=field.errors %}
    {% include "forms/help_text.html" with help_text=field.help_text %}
</fieldset>
