apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: ingress
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ domain }}`)
      kind: Rule
      services:
        - name: django
          port: 8000
  tls:
    secretName: cloudflare-origin-cert
