{% extends "pagination/_object_list.html" %}

{% block results %}
<div id="history">
  {% for log in page_obj %}
  {% url 'episodes:remove_history' log.episode.id as remove_url %}
  {% component_block "episode" log.episode dom_id=log.episode.get_history_dom_id %}
  {% slot mobile_extra_buttons %}
  <div class="flex items-center md:hidden">
    {% include "episodes/_remove.html" with css_class="mr-3" remove_title="Remove from History" %}
  </div>
  {% endslot %}
  {% slot extra_buttons %}
  <div class="md:flex items-center hidden">
    {% include "episodes/_remove.html" with css_class="mr-3" remove_title="Remove from History" %}
  </div>
  {% endslot %}
  {% endcomponent_block %}

  {% empty %}
  {% if search %}
  <p class="text-center sm:text-left">No results found for <span class="font-bold">{{ search }}</span>.</p>
  {% else %}
  Your History is currently empty.
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
