{% if user.is_authenticated %}
<form method="post"
      id="{{ podcast.dom.follow_toggle }}"
      action="{% if is_following %}{% url 'podcasts:unfollow' podcast.id %}{% else %}{% url 'podcasts:follow' podcast.id %}{% endif %}">
  {% csrf_token %}
  {% if is_following %}
  {% button "Unfollow" icon="eye_slash" type="secondary" title="Stop following this podcast" %}
  {% else %}
  {% button "Follow" icon="eye" title="Follow this podcast" %}
  {% endif %}
</form>
{% else %}
<div class="flex items-center">
  {% button "Follow" icon="eye_slash" href=podcast.get_absolute_url|login_url title="Login or signup to follow this podcast" data_turbo_frame="_top" %}
</div>
{% endif %}
