{% extends "base.html" %}
{% load cache i18n %}

{% block title %} | {% translate "Categories" %} | {{ category.name }} {% translate "Podcasts" %}{% endblock %}

{% block content %}

    {% with search_placeholder=_("Search: ")|add:category.name %}

        <div class="sm:flex items-center justify-between mb-3 space-y-3 sm:space-y-0">
            <h1 class="font-bold flex items-center justify-center sm:justify-start text-lg md:text-xl xl:text-2xl">
                {% blocktranslate with category_name=category.name %}{{ category_name }} Podcasts{% endblocktranslate %}
            </h1>
            {% if not request.search %}
                <div class="flex items-center justify-center sm:justify-end">
                    {% include "includes/search_form.html" with placeholder=search_placeholder %}
                </div>
            {% endif %}
        </div>


        {% if request.search %}
            <div class="mb-3 sm:flex items-center justify-center sm:justify-between">

                <div class="mb-3 sm:mb-0 flex items-center justify-center sm:justify-start">
                    <a href="{% url 'podcasts:search_podcasts' %}?{{ request.search.qs }}"
                        title="Search Podcasts"
                        class="link">{% translate "Search All Categories" %}</a>
                </div>

                <div class="flex items-center justify-center sm:justify-end">
                    {% include "includes/search_form.html" with placeholder=search_placeholder %}
                </div>
            </div>
        {% endif %}
    {% endwith %}

    {% block pagination %}
        {% get_current_language as language_code %}
        {% cache 600 category-podcasts request.get_full_path language_code %}
            <section role="list" class="space-y-3" id="{{ pagination_target }}">
                {% include "includes/pagination_links.html" %}
                {% for podcast in page_obj.object_list %}
                    {% include "podcasts/includes/podcast.html" %}
                {% empty %}
                    {% include "includes/empty.html" %}
                {% endfor %}
                {% include "includes/pagination_links.html" %}
            </section>
        {% endcache %}
    {% endblock pagination %}

{% endblock content %}
