{% extends "podcasts/detail_base.html" %}
{% load cache i18n %}

{% block title %}{{ block.super }} | {% translate "About" %}{% endblock %}

{% block podcast_content %}
    {% with link=podcast.link|normalize_url funding_url=podcast.funding_url|normalize_url %}
        <article class="space-y-3 border-t dark:border-gray-500 pt-3">
            {% if podcast.owner %}
                <h2 class="font-semibold flex-wrap md:text-lg">
                    {% if link %}
                        <a href="{{ link }}"
                            target="_blank"
                            rel="noopener"
                            title="Podcast Owner"
                            class="link">
                            {{ podcast.owner }}
                        </a>
                    {% else %}
                        {{ podcast.owner }}
                    {% endif %}
                </h2>
            {% endif %}

            <div class="flex items-center space-x-3 sm:space-x-6">
                {% with COVER_IMAGE_CSS="h-28 w-28 md:h-40 md:w-40" %}
                    <div class="{{ COVER_IMAGE_CSS}}">
                        {% include "includes/cover_image.html" with cover_url=podcast.cover_url alt=podcast.cleaned_title size=42 css_class=COVER_IMAGE_CSS|add:" border dark:border-gray-500" %}
                    </div>
                {% endwith %}

                <div class="flex flex-col place-content-between h-24 md:h-28">

                    {% if user.is_authenticated %}
                        {% block subscribe %}
                            {% with target=podcast.get_subscribe_target %}
                                <div id="{{ target }}"
                                    hx-target="this"
                                    hx-push-url="false"
                                    hx-swap="outerHTML"
                                    hx-indicator="none">
                                    {% if is_subscribed %}
                                        <button class="btn btn-primary btn-outline inline-flex items-center"
                                            title="{% translate "Unsubscribe from this Podcast" %}"
                                            hx-post="{% url 'podcasts:unsubscribe' podcast.id %}">
                                            {% icon "eye-slash" css_class="mr-2" %}
                                            {% translate "Unsubscribe" %}
                                        </button>
                                    {% else %}
                                        <button class="btn btn-primary inline-flex items-center"
                                            title="{% translate "Subscribe to this Podcast" %}"
                                            hx-post="{% url 'podcasts:subscribe' podcast.id %}">
                                            {% icon "eye" css_class="mr-2" %}
                                            {% translate "Subscribe" %}
                                        </button>
                                    {% endif %}
                                </div>
                                {% if request.htmx.target == target %}
                                    {% include "includes/messages.html" with hx_oob=True %}
                                {% endif %}
                            {% endwith %}
                        {% endblock subscribe %}
                    {% else %}
                        <div class="flex items-center">
                            <a class="btn btn-primary inline-flex items-center"
                                href="{{ podcast.get_absolute_url|login_url }}"
                                hx-disable="true"
                                title="{% translate "Log in or sign up to subscribe to this podcast" %}">
                                {% icon "eye" css_class="mr-2" %}
                                {% translate "Subscribe" %}
                            </a>
                        </div>
                    {% endif %}
                    <nav class="flex items-center space-x-3">
                        {% if link and link != podcast.rss %}
                            <div>
                                <a href="{{ link }}"
                                    class="link"
                                    target="_blank"
                                    rel="noopener">{% translate "Website" %}</a>
                            </div>
                        {% endif %}
                        <div>
                            <a href="{{ podcast.rss }}"
                                class="link"
                                download>{% translate "RSS" %}</a>
                        </div>
                        {% if user.is_staff %}
                            <div>
                                <a href="{% url 'admin:podcasts_podcast_change' podcast.id %}"
                                    hx-disable="true"
                                    class="link">{% translate "Admin" %}</a>
                            </div>
                        {% endif %}

                    </nav>
                    {% share_buttons podcast.get_absolute_url podcast.cleaned_title %}
                </div>
            </div>
            {% if funding_url %}
                <div class="font-semibold flex-wrap">
                    <a href="{{ funding_url }}"
                        target="_blank"
                        rel="noopener">
                        {{ podcast.funding_text|default:'Support this podcast' }}
                    </a>
                </div>
            {% endif %}

            <div>
                <a href="{{ podcast.get_latest_episode_url }}"
                    class="link"
                    title="Latest Episode">
                    {% translate "Latest episode released" %}
                    {% include "includes/date.html" with value=podcast.pub_date %}
                </a>
            </div>

            {% cache 600 podcast-categories podcast.id %}
                {% with categories=podcast.categories.all %}
                    {% if categories %}
                        <div class="flex flex-wrap items-center max-w-prose space-x-2 sm:space-x-3 leading-loose">
                            {% for category in categories %}
                                <a class="inline-flex items-center link"
                                    title="{{ category.name }} {% translate "Podcasts" %}"
                                    href="{{ category.get_absolute_url }}">
                                    {% icon "tag" css_class="mr-2" %}
                                    {{ category.name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endcache %}
            {% markdown podcast.description %}
        </article>
    {% endwith %}
{% endblock podcast_content %}
