{% extends "podcasts/detail_base.html" %}
{% load cache i18n %}

{% block title %}{{ block.super }} | {% translate "Episodes" %} {% endblock %}

{% block podcast_content %}
    {% if request.search or page_obj.has_other_pages %}
        <div class="sm:flex items-center mb-3 justify-between">

            <nav class="flex justify-center sm:justify-start items-center mb-3 sm:mb-0">
                {% if request.search %}
                    <a href="{% url 'episodes:search_episodes' %}?{{ request.search.qs }}"
                        class="link">{% translate "Search All Podcasts" %}</a>
                {% else %}
                    <a href="{{ request.path }}?{{ request.sorter.qs }}" class="link">
                        {% if request.sorter.is_asc %}{% translate "Newest First" %}{% else %}{% translate "Oldest First" %}{% endif %}
                    </a>
                {% endif %}
            </nav>

            <div class="flex items-center justify-center sm:justify-end">
                {% include "includes/search_form.html" with placeholder=_("Search: Episodes") %}
            </div>

        </div>
    {% endif %}
    {% get_current_language as language_code %}
    {% cache 600 podcast-episodes request.get_full_path language_code %}
        <div role="list" class="grid grid-cols-1 dark:divide-gray-500 divide-y divide-solid">
            {% include "includes/pagination_links.html" %}
            {% for episode in page_obj.object_list %}
                {% include "episodes/includes/episode.html" %}
            {% empty %}
                {% include "includes/empty.html" %}
            {% endfor %}
            {% include "includes/pagination_links.html" %}
        </div>
    {% endcache %}
{% endblock %}
