{% extends "search_base.html" %}
{% load i18n %}

{% block title %} | {% translate "Search" %} | iTunes{% endblock %}

{% block search_content %}
    <div role="list" class="grid grid-cols-1 dark:divide-gray-500 divide-y divide-solid">
        {% for feed in feeds %}
            {% if feed.podcast and feed.podcast.pub_date %}
                {% include "podcasts/includes/podcast.html" with podcast=feed.podcast %}
            {% else %}
                {% include "podcasts/includes/itunes_feed.html" %}
            {% endif %}
        {% empty %}
            {% include "includes/empty.html" %}
        {% endfor %}
    </div>
{% endblock %}
