{% extends "search_base.html" %}
{% load cache i18n %}

{% block title %} | {% translate "Search" %} | {% translate "Podcasts" %} {% endblock %}

{% block search_content %}
    {% get_current_language as language_code %}
    {% cache 600 podcasts-search request.get_full_path language_code %}
        <section role="list" class="space-y-3">
            {% include "includes/pagination_links.html" %}
            {% for podcast in page_obj.object_list %}
                {% include "podcasts/includes/podcast.html" %}
            {% empty %}
                {% include "includes/empty.html" %}
            {% endfor %}
            {% include "includes/pagination_links.html" %}
        </section>
    {% endcache %}
{% endblock search_content %}
