apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: django-app
  strategy:
    type: RollingUpdate
    rollingUpdate:
        maxSurge: 1  # Only one extra pod can be created at a time
        maxUnavailable: 1  # Only one pod can be unavailable during the update
  template:
    metadata:
      labels:
        app: django-app
    spec:
      hostNetwork: true
      terminationGracePeriodSeconds: 30
      nodeSelector:
        role: agent
      containers:
        - name: django
          image: {{ current_image }}
          command: ["/bin/sh", "-c"]
          args: ["./release.sh && ./entrypoint.sh"]
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: django-config
            - secretRef:
                name: django-secret
