apiVersion: batch/v1
kind: Job
metadata:
  name: django-release-job
spec:
  template:
    spec:
      containers:
        - name: django
          image: {{ current_image }}
          command: ["/bin/sh", "-c"]
          args: ["./release.sh"]
          envFrom:
            - configMapRef:
                name: django-config
            - secretRef:
                name: django-secret
      restartPolicy: OnFailure
