apiVersion: v1
kind: Secret
metadata:
  name: django-secret
type: Opaque
data:
  DATABASE_URL: "{{ database_url|b64encode }}"
  MAILGUN_API_KEY: "{{ mailgun_api_key|b64encode }}"
  PWA_SHA256_FINGERPRINTS: "{{ pwa_sha256_fingerprints|b64encode }}"
  REDIS_URL: "{{ redis_url|b64encode }}"
  SECRET_KEY: "{{ secret_key|b64encode }}"
  SECRET_KEY_FALLBACKS: "{{ secret_key_fallbacks|b64encode }}"
  SENTRY_URL: "{{ sentry_url|b64encode }}"
