{% load heroicons %}
{% load get_account_settings from users %}
{% get_account_settings active as settings %}
<c-header title="Settings for {{ user.username }}">
    <c-header.nav>
        <c-header.nav.item>
            <c-header.nav.dropdown
                id="settings-dropdown"
                :icon="settings.active.icon"
                :label="settings.active.label"
            >
                {% for item in settings.items %}
                    <c-header.nav.dropdown.item
                        :url="item.url"
                        :icon="item.icon"
                    >
                        {{ item.label }}
                    </c-header>
                {% endfor %}
            </c-header.nav.dropdown>
        </c-header.nav.item>
    </c-header.nav>
</c-header>
