{% load account_settings heroicons %}
<c-vars current />
{% get_account_settings current as settings %}
<c-header>
    <c-header.title> Settings for {{ user.username }} </c-header.title>
    <c-header.nav>
        <c-header.nav.item>
            <c-header.nav.dropdown id="settings-dropdown"
                                   :items="settings.items"
                                   :current="settings.current_item"
            />
        </c-header.nav.item>
    </c-header.nav>
</c-header>
{{ slot }}
