<c-vars providers process=None />
{% if providers %}
    <div class="flex items-center space-x-3">
        {% for provider in providers %}
            <form method="post"
                  action="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
                  hx-disable="true">
                {% csrf_token %}
                <button class="flex items-center btn btn-default btn-outline">
                    {% include "socialaccount/icons/"|add:provider.id|add:".svg" with class="mr-2" %}
                    {{ provider.name }}
                </button>
            </form>
        {% endfor %}
    </div>
{% endif %}
