[Unit]
Description=Mount Hetzner volume for Postgres
After=network-online.target
Wants=network-online.target
RequiresMountsFor={{ data_volume }}

[Mount]
What={{ data_volume }}
Where={{ postgres_volume }}
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
