apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-ingress
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ k3s_observability_grafana_subdomain }}.{{ domain }}`)
      kind: Rule
      services:
        - name: grafana
          port: 3000
  tls:
    secretName: cloudflare-origin-cert
