apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-pv
spec:
  capacity:
    storage: {{ k3s_observability_grafana_storage }}
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  claimRef:
    name: grafana-pvc
    namespace: default
  hostPath:
    path: "{{ k3s_observability_data_dir }}/grafana"
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: role
              operator: In
              values:
                - server
