apiVersion: v1
kind: PersistentVolume
metadata:
  name: loki-pv
spec:
  capacity:
    storage: {{ k3s_observability_loki_storage }}
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  claimRef:
    name: loki-pvc
    namespace: default
  hostPath:
    path: "{{ k3s_observability_data_dir }}/loki"
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: role
              operator: In
              values:
                - server
