apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: default
data:
  loki.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100
      grpc_listen_port: 9095
      grpc_server_max_recv_msg_size: 104857600
      grpc_server_max_send_msg_size: 104857600

    common:
      path_prefix: /data/loki
      replication_factor: 1
      ring:
        kvstore:
          store: inmemory

    schema_config:
      configs:
        - from: 2024-01-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h

    storage_config:
      filesystem:
        directory: /data/loki/chunks

    limits_config:
      allow_structured_metadata: true
      volume_enabled: true
      ingestion_rate_mb: 64
      ingestion_burst_size_mb: 128
      per_stream_rate_limit: 32MB
      per_stream_rate_limit_burst: 64MB
      otlp_config:
        resource_attributes:
          ignore_defaults: false
          attributes_config:
            - action: index_label
              attributes:
                - k8s.namespace.name
                - k8s.deployment.name
                - k8s.container.name
                - k8s.pod.name

    compactor:
      working_directory: /data/loki/compactor
      retention_enabled: true
      delete_request_store: filesystem

    ruler:
      storage:
        type: local
        local:
          directory: /data/loki/rules
