apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: otel-agent
  namespace: default
spec:
  selector:
    matchLabels:
      app: otel-agent
  template:
    metadata:
      labels:
        app: otel-agent
    spec:
      serviceAccountName: otel-collector
      tolerations:
        - operator: Exists
      containers:
        - name: otel-agent
          image: {{ k3s_observability_otel_image }}
          args:
            - --config=/conf/config.yaml
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 256Mi
              cpu: 200m
          securityContext:
            runAsUser: 0
          env:
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: K8S_POD_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
          volumeMounts:
            - name: config
              mountPath: /conf
            - name: varlogpods
              mountPath: /var/log/pods
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: otel-agent-config
        - name: varlogpods
          hostPath:
            path: /var/log/pods
