apiVersion: v1
kind: Service
metadata:
  name: otel-gateway
  namespace: default
spec:
  selector:
    app: otel-gateway
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
    - name: otlp-http
      port: 4318
      targetPort: 4318
