apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-gateway
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: otel-gateway
  template:
    metadata:
      labels:
        app: otel-gateway
    spec:
      serviceAccountName: otel-collector
      nodeSelector:
        role: server
      containers:
        - name: otel-gateway
          image: {{ k3s_observability_otel_image }}
          args:
            - --config=/conf/config.yaml
          resources:
            requests:
              memory: 128Mi
              cpu: 100m
            limits:
              memory: 512Mi
              cpu: 500m
          ports:
            - containerPort: 4317
              name: otlp-grpc
            - containerPort: 4318
              name: otlp-http
          volumeMounts:
            - name: config
              mountPath: /conf
      volumes:
        - name: config
          configMap:
            name: otel-gateway-config
