apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prometheus-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  volumeName: prometheus-pv
  resources:
    requests:
      storage: {{ k3s_observability_prometheus_storage }}
