apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tempo-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  volumeName: tempo-pv
  resources:
    requests:
      storage: {{ k3s_observability_tempo_storage }}
