apiVersion: apps/v1
kind: Deployment
metadata:
  name: fluent-bit-server
  namespace: default
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: fluent-bit-server
  template:
    metadata:
      labels:
        app: fluent-bit-server
    spec:
      hostNetwork: true  # Use host network
      nodeSelector:
         role: server
      containers:
        - name: fluent-bit
          image: fluent/fluent-bit:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 24224
              hostPort: 24224  # Expose port on the node's network
          volumeMounts:
            - name: config-volume
              mountPath: /fluent-bit/etc
              readOnly: true
            - name: var-log
              mountPath: /var/log
      volumes:
        - name: config-volume
          configMap:
            name: fluent-bit-server-config  # This ConfigMap will be created next
        - name: var-log
          hostPath:
            path: /var/log
            type: Directory
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-server-config
  namespace: default
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush         1
        Log_Level     info
        Daemon        Off
        Parsers_File  /fluent-bit/etc/parsers.conf
        HTTP_Server   On
        HTTP_Listen   0.0.0.0
        HTTP_Port     2020

    [INPUT]
        Name   forward
        Tag    kube.*
        Listen 0.0.0.0
        Port   24224

    [OUTPUT]
        Name   stdout
        Match  *
  parsers.conf: |
    [PARSER]
        Name        docker
        Format      json
        Time_Key    time
        Time_Format %Y-%m-%dT%H:%M:%S
        Types       container_name:string,namespace:string,pod_name:string,pod_id:string,container_id:string
