apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc-{{ k3s_postgres_major_version }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: {{ k3s_postgres.storage }}
