apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv-{{ postgres_major_version }}
spec:
  capacity:
    storage: {{ postgres.storage }}
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  hostPath:
    path: "{{ postgres.volume }}"
