{% load heroicons %}
<ul class="grid grid-cols-1 gap-3 text-lg sm:grid-cols-2 lg:text-xl xl:grid-cols-1 xl:gap-6 grid-flow-cols">
    <c-navbar.menu.item href="{% url "podcasts:subscriptions" %}"
                        accesskey="p"
                        icon="rss"
                        label="Subscriptions" />

    <c-navbar.menu.item href="{% url "episodes:index" %}"
                        accesskey="n"
                        icon="sparkles"
                        label="New Releases" />

    <c-navbar.menu.item href="{% url "podcasts:discover" %}"
                        accesskey="d"
                        icon="magnifying-glass"
                        label="Discover" />

    <c-navbar.menu.item href="{% url "podcasts:category_list" %}"
                        accesskey="c"
                        icon="tag"
                        label="Categories" />

    <c-navbar.menu.item href="{% url "episodes:bookmarks" %}"
                        accesskey="b"
                        icon="bookmark"
                        label="Bookmarks" />

    <c-navbar.menu.item href="{% url "episodes:history" %}"
                        accesskey="h"
                        icon="clock"
                        label="History" />

    <c-navbar.menu.item href="{% url "podcasts:private_feeds" %}"
                        accesskey="v"
                        icon="lock-closed"
                        label="Private Feeds" />

    <c-navbar.menu.item href="{% url "about" %}"
                        accesskey="a"
                        icon="information-circle"
                        label="About" />

</ul>
