{% load heroicons static %}
<nav class="flex justify-between items-center p-2">
    {% with site_name=request.site.name %}
        <div class="flex items-center shrink-0">
            <a class="inline-flex items-center text-xl font-bold lg:text-2xl"
               {% if user.is_authenticated %} href="{% url 'podcasts:subscriptions' %}" {% else %} href="{% url 'index' %}" hx-disable="true" {% endif %}
               title="{{ site_name }}">
                <img src="{% static 'img/wave-white-36.webp' %}"
                     height="32"
                     width="32"
                     alt="{{ site_name }}"
                     class="mr-3 w-6 h-6 lg:w-8 lg:h-8"
                     title="{{ site_name }}"
                     aria-hidden="true">
                {{ site_name }}
            </a>
        </div>
    {% endwith %}
    <ul class="flex items-center space-x-3 xl:space-x-0">
        {% if user.is_authenticated %}
            <li>
                <nav class="relative" id="user-dropdown">
                    <button id="user-dropdown-btn"
                            tabindex="0"
                            accesskey="u"
                            title="You are logged in as {{ user.username }}"
                            x-cloak
                            @click="showUserDropdown = !showUserDropdown"
                            @click.outside="showUserDropdown=false"
                            @keyup.escape.window="showUserDropdown=false"
                            class="flex items-center rounded-lg sm:justify-end hover:text-gray-300 hover:cursor-pointer md:hover:bg-transparent">
                        {% heroicon_outline "user-circle" size=30 x_show="!showUserDropdown" %}
                        {% heroicon_solid "user-circle" size=30 x_show="showUserDropdown" %}
                    </button>
                    <div class="absolute right-1 z-20 w-64 bg-white rounded-lg border shadow-lg dark:bg-gray-800 dark:border"
                         x-cloak
                         x-show="showUserDropdown"
                         x-transition.scale.origin.top>
                        <ul class="py-3 list-none" aria-labelledby="user-dropdown-btn">
                            <li class="flex flex-wrap items-center py-2 px-4 pb-3 mb-3 text-gray-700 break-words border-b dark:text-gray-100">
                                Logged in as &nbsp; <strong>{{ user.username }}</strong>
                            </li>
                            <li>
                                <a href="{% url "users:preferences" %}"
                                   accesskey="s"
                                   class="flex items-center py-2 px-4 font-semibold text-gray-700 dark:text-gray-100 hover:bg-gray-300 dark:hover:bg-gray-700">
                                    {% heroicon_mini "cog" class="mr-2" %}
                                    Settings
                                </a>
                            </li>
                            <li>
                                <form class="items-center py-2 px-4 w-full hover:bg-gray-300 flex-inline dark:hover:bg-gray-700"
                                      hx-disable="true"
                                      action="{% url "account_logout" %}"
                                      method="post">
                                    {% csrf_token %}
                                    <button accesskey="l"
                                            class="flex items-center w-full font-semibold text-gray-700 dark:text-gray-100 hover:cursor-pointer">
                                        {% heroicon_mini "arrow-left-start-on-rectangle" class="mr-2" %}
                                        Logout
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </li>
            <li class="flex items-center xl:hidden">
                <button class="transition transform hover:cursor-pointer focus:outline-hidden"
                        aria-label="Show Site Navigation"
                        title="Show Site Navigation"
                        accesskey="m"
                        tabindex="0"
                        x-cloak
                        x-show.transition="!showSidebar"
                        x-transition:enter-start="rotate-45"
                        x-transition:enter-end="rotate-0"
                        @click="showSidebar=true">
                    {% heroicon_outline "bars-3" size=30 title="Toggle Menu" %}
                </button>
                <button class="transition transform hover:cursor-pointer focus:outline-hidden"
                        aria-label="Hide Site Navigation"
                        title="Hide Site Navigation"
                        accesskey="m"
                        tabindex="0"
                        x-cloak
                        x-show.transition="showSidebar"
                        x-transition:enter-start="-rotate-45"
                        x-transition:enter-end="rotate-0"
                        @click="showSidebar=false"
                        @keyup.escape.window="showSidebar=false">
                    {% heroicon_outline "x-mark" size=30 title="Toggle Menu" %}
                </button>
            </li>
        {% else %}
            <li>
                <a href="{% url 'about' %}"
                   aria-label="About this Site"
                   title="About this Site"
                   class="flex items-center space-x-2 font-bold hover:text-blue-300">
                    {% heroicon_outline "information-circle" size=30 %}
                    <span class="hidden md:inline-block">About</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
