{% load i18n %}
{% if episode %}
    {% if is_playing %}
        {% translate "Current Time" as t_current_time %}
        {% translate "Time Remaining" as t_time_remaining %}
        {% translate "Play" as t_play %}
        {% translate "Pause" as t_pause %}
        {% translate "Close Player" as t_close_player %}
        {% translate "Skip Back 10 Seconds" as t_skip_back %}
        {% translate "Skip Forward 10 Seconds" as t_skip_forward %}
        {% translate "Decrease Playback Rate" as t_decrease_playback_rate %}
        {% translate "Increase Playback Rate" as t_increase_playback_rate %}
        {% translate "Playback Rate" as t_playback_rate %}
        {% translate "Reload Player" as t_reload_player %}
        {% with podcast=episode.podcast episode_url=episode.get_absolute_url media_url=episode.media_url %}
            <div x-data="
                {# fmt:off #}
            player(
                autoplay={{ start_player|yesno:'true,false' }},
                currentTime={{ current_time|default:0 }},
                csrfToken='{{ csrf_token }}',
                timeUpdateUrl='{% url 'episodes:player_time_update' %}',
            ){# fmt:on #}"
                @keydown.window="shortcuts"
                class="pt-12 sm:pt-0 md:pt-6">
                {{ episode.get_media_metadata|json_script:"player-metadata" }}
                <audio x-ref="audio"
                    preload="metadata"
                    src="{{ media_url }}"
                    @loadedmetadata="loaded"
                    @play="play"
                    @pause="pause"
                    @ended="ended"
                    @timeupdate="timeUpdate"
                    @waiting="buffering"
                    @stalled="buffering"
                    @suspend="buffering"
                    @error.prevent="error">
                    <source src="{{ media_url }}" type="{{ episode.media_type }}" />
                </audio>
                <div class="fixed bottom-0 z-10 w-full p-2 font-semibold text-white bg-black opacity-100 space-y-1 transform ease-in-out duration-1000 translate-y-0 htmx-added:opacity-0 htmx-added:translate-y-24">
                    <a class="block truncate sm:hidden text-center"
                        :class="isPlaying ? 'hover:text-blue-500' : 'animate-pulse text-gray-300'"
                        href="{{ episode_url }}"
                        hx-swap="innerHTML show:window:top"
                        title="{{ episode.cleaned_title }}">{{ episode.cleaned_title }}
                    </a>
                    <div class="flex items-center space-x-3">
                        {% include "includes/cover_image.html" with css_class="w-16 w-16" cover_url=podcast.cover_url alt=podcast.cleaned_title url=podcast.get_absolute_url hx_swap="innerHTML show:window:top" %}
                        <div class="w-full h-16 flex flex-col place-content-between">
                            <div class="sm:flex items-center justify-between">
                                <a class="hidden sm:block tracking-tight leading-tight w-80 lg:w-auto lg:max-w-xl xl:max-w-5xl font-bold truncate"
                                    :class="isPlaying ? 'hover:text-blue-500' : 'animate-pulse text-gray-300'"
                                    href="{{ episode_url }}"
                                    hx-swap="innerHTML show:window:top"
                                    title="{{ episode.cleaned_title }}">{{ episode.cleaned_title }}
                                </a>
                                {% with BUTTON_CSS="focus:outline-none hover:text-blue-500" INACTIVE_CSS="opacity-75 cursor-not-allowed pointer-events-none" %}
                                    <div class="flex items-center space-x-6">
                                        <button title="{{ t_play }}"
                                            @click="togglePlayPause"
                                            class="{{ BUTTON_CSS }}"
                                            :class="{'text-gray-300 cursor-events-none': !isLoaded}">
                                            <span x-show="isPaused">
                                                {% icon "play-circle" "regular" size="xl" title=t_play %}
                                            </span>
                                            <span x-show="!isPaused">
                                                {% icon "pause-circle" "regular" size="xl" title=t_pause %}
                                            </span>
                                        </button>
                                        <button title="{{ t_close_player }}"
                                            accesskey="x"
                                            class="{{ BUTTON_CSS }}"
                                            hx-post="{% url "episodes:close_player" %}"
                                            hx-target="#audio-player"
                                            hx-swap="innerHTML"
                                            hx-disinherit="hx-indicator">
                                            {% icon "stop-circle" "regular" size="lg" title=t_close_player %}
                                        </button>
                                        <button title="{{ t_reload_player }}"
                                            class="{{ BUTTON_CSS }}"
                                            accesskey="r"
                                            @click="window.location.reload()">
                                            {% icon "arrows-rotate" size="lg" title=t_reload_player %}
                                        </button>
                                        <div class="flex items-center space-x-2"
                                            :class="isPlaying || '{{ INACTIVE_CSS }}'">
                                            <button title="{{ t_skip_back }}"
                                                @click="skipBack"
                                                class="{{ BUTTON_CSS }} inline-block">
                                                {% icon "backward-step" "solid" size="lg" title=t_skip_back %}
                                            </button>
                                            <button title="{{ t_skip_forward }}"
                                                @click="skipForward"
                                                class="{{ BUTTON_CSS }} inline-block">
                                                {% icon "forward-step" "solid" size="lg" title=t_skip_forward %}
                                            </button>
                                        </div>
                                        <div class="flex items-center space-x-1"
                                            :class="isPlaying || '{{ INACTIVE_CSS }}'">
                                            <button class="{{ BUTTON_CSS }}"
                                                @click="decrementRate"
                                                title="{{ t_decrease_playback_rate }}">
                                                {% icon "minus" "solid" title=t_decrease_playback_rate %}
                                            </button>
                                            <div class="tracking-tight player--interactive text-xs lg:text-sm"
                                                title="{{ t_playback_rate }}"
                                                x-text="rate.toFixed(1)">
                                            </div>
                                            <button class="{{ BUTTON_CSS }}"
                                                @click="incrementRate"
                                                title="{{ t_increase_playback_rate }}">
                                                {% icon "plus" "solid" title=t_increase_playback_rate %}
                                            </button>
                                        </div>
                                    </div>
                                {% endwith %}
                            </div>
                            <div class="space-y-2">

                                <div class="flex text-xs justify-between lg:text-sm tracking-tight"
                                    :class="isPlaying || 'animate-pulse text-gray-300'">
                                    <span x-text="counters.current" title="{{ t_current_time }}">00:00:00</span>
                                    <span x-text="counters.total" title="{{ t_time_remaining }}">00:00:00</span>
                                </div>

                                <div class="w-full">
                                    <input type="range"
                                        aria-label="Progress"
                                        class="flex items-center w-full h-2 mx-auto rounded-full focus:outline-none appearance-none"
                                        x-ref="range"
                                        x-model="runtime"
                                        @change="skip"
                                        min="0"
                                        :max="duration"
                                        :disabled="!isPlaying"
                                        :class="isPlaying ? 'bg-gradient-to-r from-blue-900 to-blue-600 cursor-pointer': 'bg-gray-800 dark:bg-gray-600 cursor-not-allowed'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endif %}
    {% if request.htmx.target == "audio-player" %}
        {% include "episodes/includes/audio_controls.html" with hx_oob=True %}
        {% include "episodes/includes/history.html" with hx_oob=True %}
    {% endif %}
{% endif %}
