{% load i18n %}
{% if episode %}
    {% if is_playing %}
        {% translate "Current Time" as t_current_time %}
        {% translate "Time Remaining" as t_time_remaining %}
        {% translate "Loading..." as t_loading %}
        {% translate "Error" as t_error %}
        {% translate "Play" as t_play %}
        {% translate "Pause" as t_pause %}
        {% translate "Close Player" as t_close_player %}
        {% translate "Skip Back 10 Seconds" as t_skip_back %}
        {% translate "Skip Forward 10 Seconds" as t_skip_forward %}
        {% translate "Reload Player" as t_reload_player %}
        {% with podcast=episode.podcast episode_url=episode.get_absolute_url media_url=episode.media_url %}
            <div x-data="{# fmt:off #}
            player(
                autoplay={{ start_player|yesno:'true,false' }},
                currentTime={{ current_time|default:0 }},
                csrfToken='{{ csrf_token }}',
                timeUpdateUrl='{% url 'episodes:player_time_update' %}',
            ){# fmt:on #}"
                @keydown.window="shortcuts"
                class="pt-12 sm:pt-0 md:pt-6">
                {{ episode.get_media_metadata|json_script:"player-metadata" }}
                <audio x-ref="audio"
                    preload="metadata"
                    src="{{ media_url }}"
                    @loadedmetadata="loaded"
                    @play="play"
                    @pause="pause"
                    @ended="ended"
                    @timeupdate="timeUpdate"
                    @waiting="buffering"
                    @stalled="buffering"
                    @suspend="buffering"
                    @error.prevent="error">
                    <source src="{{ media_url }}" type="{{ episode.media_type }}" />
                </audio>

                <div class="fixed bottom-0 z-10 w-full p-2 font-semibold text-white bg-black opacity-100 space-y-1 sm:space-y-0 transform ease-in-out duration-1000 translate-y-0 htmx-added:opacity-0 htmx-added:translate-y-24">
                    <div class="sm:hidden">

                        <a class="block text-center truncate w-84"
                            :class="isPlaying ? 'hover:text-blue-500' : 'animate-pulse text-gray-300'"
                            href="{{ episode_url }}"
                            hx-swap="innerHTML show:window:top"
                            title="{{ episode.cleaned_title }}">{{ episode.cleaned_title }}
                        </a>

                        <div class="text-xs text-center"
                            x-cloak
                            x-show="!isError && isLoaded"
                            :class="isPlaying || 'animate-pulse text-gray-300'">
                            <span x-text="counters.current"
                                title="{{ t_current_time }}"
                            ></span> /
                            <span x-text="counters.total"
                                title="{{ t_time_remaining }}"
                            ></span>
                        </div>

                        <div class="text-xs text-center text-gray-300 animate-pulse"
                            x-cloak
                            x-show="!isError && !isLoaded">
                            {{ t_loading }}
                        </div>

                        <div class="text-xs text-center text-gray-300 animate-pulse"
                            x-cloak
                            x-show="isError">
                            {{ t_error }}
                        </div>

                    </div>

                    <div class="flex items-center space-x-2 sm:space-x-0">

                        {% with cover_url=podcast.cover_url %}
                            <div class="w-20 md:w-24">
                                {% include "includes/cover_image.html" with size=24 css_class="h-16 w-16 md:h-20 md:w-20" alt=podcast.cleaned_title url=podcast.get_absolute_url hx_swap="innerHTML show:window:top" %}
                            </div>
                        {% endwith %}

                        <div class="flex flex-col w-full h-16 place-content-between md:h-20">

                            <div class="flex items-center justify-between pt-2 sm:pt-0">

                                <div class="flex items-center">
                                    {% with BUTTON_CSS="focus:outline-none hover:text-blue-500 inline-block" %}

                                        <button title="{{ t_pause }}"
                                            @click="togglePlayPause"
                                            x-show="!isPaused"
                                            class="{{ BUTTON_CSS }} mr-3"
                                            :disabled="!isLoaded"
                                            :class="isLoaded || 'text-gray-300 cursor-events-none'">
                                            {% icon "pause-circle" "regular" size="2xl" title=t_pause %}
                                        </button>

                                        <button title="{{ t_play }}"
                                            @click="togglePlayPause"
                                            x-show="isPaused"
                                            class="{{ BUTTON_CSS }} mr-3"
                                            :class="isLoaded || 'text-gray-300 cursor-events-none'">
                                            {% icon "play-circle" "regular" size="2xl" title=t_play %}
                                        </button>

                                        <button title="{{ t_close_player }}"
                                            accesskey="x"
                                            class="{{ BUTTON_CSS }}"
                                            hx-post="{% url "episodes:close_player" %}"
                                            hx-target="#player"
                                            hx-swap="innerHTML"
                                            hx-disinherit="hx-indicator">
                                            {% icon "stop-circle" "regular" size="xl" title=t_close_player %}
                                        </button>

                                    {% endwith %}

                                </div>

                                <div class="hidden sm:block">

                                    <div>
                                        <a class="block text-center truncate sm:w-80 md:w-96 md:w-auto md:max-w-xl xl:max-w-3xl"
                                            :class="isPlaying ? 'hover:text-blue-500': 'animate-pulse text-gray-300'"
                                            href="{{ episode_url }}"
                                            hx-swap="innerHTML show:window:top"
                                            title="{{ episode.cleaned_title }}">{{ episode.cleaned_title }}</a>
                                    </div>

                                    <div class="text-xs text-center md:text-sm"
                                        x-cloak
                                        x-show="!isError && isLoaded"
                                        :class="isPlaying || 'animate-pulse text-gray-300'">
                                        <span x-text="counters.current"
                                            title="{{ t_current_time }}"
                                        ></span> /
                                        <span x-text="counters.total"
                                            title="{{ t_time_remaining }}"
                                        ></span>
                                    </div>

                                    <div class="text-xs text-center text-gray-300 md:text-sm animate-pulse"
                                        x-cloak
                                        x-show="!isError && !isLoaded">
                                        {{ t_loading }}
                                    </div>

                                    <div class="text-xs text-center text-gray-300 md:text-sm animate-pulse"
                                        x-cloak
                                        x-show="isError">
                                        {{ t_error }}
                                    </div>

                                </div>

                                {% with BUTTON_CSS="focus:outline-none hover:text-blue-500" INACTIVE_CSS="opacity-75 cursor-not-allowed pointer-events-none" %}
                                    <div class="flex items-center sm:hidden space-x-3">

                                        <button title="{{ t_skip_back }}"
                                            @click="skipBack"
                                            :class="isPlaying || '{{ INACTIVE_CSS }}'"
                                            class="{{ BUTTON_CSS }} inline-block">
                                            {% icon "backward-step" "solid" size="lg" title=t_skip_back %}
                                        </button>

                                        <button title="{{ t_skip_forward }}"
                                            @click="skipForward"
                                            :class="isPlaying || '{{ INACTIVE_CSS }}'"
                                            class="{{ BUTTON_CSS }} inline-block">
                                            {% icon "forward-step" "solid" size="lg" title=t_skip_forward %}
                                        </button>

                                    </div>

                                    <div class="flex items-center space-x-2 md:space-x-3">

                                        <div class="flex items-center space-x-3">

                                            <button title="{{ t_skip_back }}"
                                                @click="skipBack"
                                                :class="isPlaying || '{{ INACTIVE_CSS }}'"
                                                class="{{ BUTTON_CSS }} hidden sm:inline-block">
                                                {% icon "backward-step" "solid" size="lg" title=t_skip_back %}
                                            </button>

                                            <button title="{{ t_skip_forward }}"
                                                @click="skipForward"
                                                :class="isPlaying || '{{ INACTIVE_CSS }}'"
                                                class="{{ BUTTON_CSS }} hidden sm:inline-block">
                                                {% icon "forward-step" "solid" size="lg" title=t_skip_forward %}
                                            </button>

                                        </div>

                                        <div class="flex items-center mr-2 space-x-2 md:mr-3">

                                            <button class="{{ BUTTON_CSS }} inline-block"
                                                :class="isPlaying || '{{ INACTIVE_CSS }}'"
                                                @click="decrementRate"
                                                title="{% translate "Decrease Playback Rate" %}">-</button>

                                            <div class="mr-1 tracking-tight md:mr-2 player--interactive"
                                                title="Playback Rate">
                                                x<span x-text="rate.toFixed(1)"></span>
                                            </div>

                                            <button class="{{ BUTTON_CSS }} inline-block"
                                                :class="isPlaying || '{{ INACTIVE_CSS }}'"
                                                @click="incrementRate"
                                                title="{% translate "Increase Playback Rate" %}">+</button>
                                        </div>

                                        <div class="flex items-center">

                                            <button title="{{ t_reload_player }}"
                                                class="{{ BUTTON_CSS }} inline-block"
                                                accesskey="r"
                                                @click="window.location.reload()">
                                                {% icon "arrows-rotate" size="lg" title=t_reload_player %}
                                            </button>
                                        </div>

                                    </div>

                                {% endwith %}
                            </div>
                            <div class="w-full h-3">
                                <input type="range"
                                    aria-label="Progress"
                                    class="flex items-center w-full h-2 mx-auto rounded-full focus:outline-none"
                                    x-ref="range"
                                    x-model="runtime"
                                    @change="skip"
                                    min="0"
                                    :max="duration"
                                    :disabled="!isPlaying"
                                    :class="isPlaying ? 'bg-gradient-to-r from-blue-900 to-blue-600 cursor-pointer': 'bg-gray-800 dark:bg-gray-600 cursor-not-allowed'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endif %}
    {% if request.htmx.target == "player" %}
        {% include "episodes/includes/audio_controls.html" with hx_oob=True %}
        {% include "episodes/includes/history.html" with hx_oob=True %}
    {% endif %}
{% endif %}
