{% load i18n %}
{% with podcast=episode.podcast episode_url=episode.get_absolute_url %}
    <article class="flex items-center space-x-3 px-1 py-2 cursor-pointer hover:bg-gray-100 hover:dark:bg-gray-800" role="link" hx-get="{{ episode_url }}" hx-push-url="true">
        <div>
            {% with css_class="h-16 w-16" %}
                {% if is_podcast_detail %}
                    {% include "includes/cover_image.html" with cover_url=episode.get_cover_url alt=episode.cleaned_title %}
                {% else %}
                    {% include "includes/cover_image.html" with cover_url=podcast.cover_url alt=podcast.cleaned_title url=podcast.get_absolute_url %}
                {% endif %}
            {% endwith %}
        </div>

        <div class="flex flex-col place-content-between h-14 md:h-16">
            <h2 class="w-60 tracking-tight leading-tight break-words sm:w-auto sm:max-w-lg md:max-w-4xl xl:max-w-5xl font-bold line-clamp-2"
                title="{{ episode.cleaned_title }}">
                <a href="{{ episode_url }}" class="link">
                    {{ episode.cleaned_title|truncatechars:180 }}
                </a>
            </h2>

            <h3 class="truncate w-60 sm:w-auto sm:max-w-lg md:max-w-4xl xl:max-w-5xl font-semibold text-gray-600 dark:text-gray-300 text-xs md:text-sm">
                {% if is_podcast_detail %}
                    {% include "includes/date.html" with value=episode.pub_date title=_("Release Date") %}
                {% else %}
                    <a href="{{ podcast.get_episodes_url }}"
                        class="link text-gray-600 dark:text-gray-300"
                        title="{{ podcast.cleaned_title }}"
                        hx-trigger="click consume">
                        {{ podcast.cleaned_title }}
                    </a>
                {% endif %}
            </h3>
        </div>
    </article>
{% endwith %}
