{% load episodes %}
{% with formatted_duration=duration|format_duration %}

{% if completed %}
<span class="line-through"
      title="Completed">
  {{ formatted_duration }}
</span>
{% else %}

{% with current_time|percent:duration as pc_complete %}
{% if pc_complete %}
{% with formatted_pc_complete=pc_complete|floatformat:'0' %}
<span title="{{ formatted_pc_complete }}% Completed">
  {{ formatted_duration }}
  ({{ formatted_pc_complete }}%)

</span>
{% endwith %}
{% else %}
<span>
  {{ formatted_duration }}
</span>
{% endif %}
{% endwith %}
{% endif %}

{% endwith %}
