{% extends "podcasts/detail/base.html" %}

{% block podcast_content %}

<div class="sm:flex justify-between items-center mb-3">
  <div class="flex justify-center sm:justify-start mb-2 sm:mr-3 sm:mb-0 items-center text-sm">
    {% if ordering == 'asc' %}
    <a href="{{ request.path }}"
       class="font-semibold hover:text-blue-500">Newest First</a>
    {% else %}
    <a href="{{ request.path }}?ordering=asc"
       class="font-semibold hover:text-blue-500">Oldest First</a>
    {% endif %}
  </div>
  <div class="flex items-center justify-center sm:justify-start">
    {% if search %}
    <div class="hidden md:inline-block mr-2 text-sm">
      <a class="font-semibold hover:text-blue-500 mr-1"
         href="{% url 'episodes:episode_list' %}?q={{ search }}">Search All Episodes</a>
      <span class="mr-1 text-sm">|</span>
      <a class="font-semibold hover:text-blue-500 text-sm"
         href="{{ request.path }}">Clear</a>
    </div>
    {% endif %}
    {% include "_search_form.html" with placeholder="Search episodes" %}
  </div>
</div>
{% if search %}
<div class="mb-3 flex items-center justify-center md:hidden text-sm">
  <a class="font-semibold hover:text-blue-500 mr-2"
     href="{% url 'episodes:episode_list' %}?q={{ search }}">Search All Episodes</a>
  <span class="mr-1">|</span>
  <a class="font-semibold hover:text-blue-500 mr-1 text-sm"
     href="{{ request.path }}">Clear</a>
</div>
{% endif %}
{% include "episodes/_episode_list.html" %}
{% endblock %}
