{% extends "base.html" %}
{% load i18n %}

{% block title %} | {% translate "Bookmarks" %}{% endblock %}

{% block content %}
    <h1 class="font-bold flex justify-center sm:justify-start text-lg md:text-xl xl:text-2xl mb-3">{% translate "Bookmarks" %}</h1>
    {% if request.search or page_obj.has_other_pages %}
        <div class="sm:flex justify-between items-center space-y-2 sm:space-y-0 mb-3">
            <nav class="flex justify-center sm:justify-start items-center mb-3 sm:mb-0">
                {% if request.search %}
                    <a href="{% url 'episodes:search_episodes' %}?{{ request.search.qs }}"
                        class="link">{% translate "Search All Podcasts" %}</a>
                {% elif ordering == "asc" %}
                    <a href="{{ request.path|add:'?ordering=desc' }}"
                        class="link">{% translate "Newest First" %}</a>
                {% else %}
                    <a href="{{ request.path|add:'?ordering=asc' }}"
                        class="link">{% translate "Oldest First" %}</a>
                {% endif %}
            </nav>

            <div class="flex items-center justify-center sm:justify-end">
                {% include "includes/search_form.html" with placeholder=_("Search: Bookmarks") %}
            </div>
        </div>
    {% endif %}
    {% include pagination_template %}
{% endblock content %}
