{% extends "base.html" %}
{% load i18n %}

{% block title %} | {% translate "History" %}{% endblock %}

{% block content %}
    <h1 class="flex justify-center sm:justify-start mb-3 text-lg md:text-xl xl:text-2xl font-bold">
        {% translate "History" %}
    </h1>
    {% if request.search or page_obj.has_other_pages %}
        <div class="sm:flex justify-between items-center space-y-2 sm:space-y-0 mb-3">

            <nav class="flex justify-center sm:justify-start items-center mb-3 sm:mb-0">

                {% if request.search %}
                    <a href="{% url 'episodes:search_episodes' %}?{{ request.search.qs }}"
                        class="link">{% translate "Search All Podcasts" %}</a>
                {% else %}
                    <a href="{{ request.sorter.reorder_url }}" class="link">
                        {% if request.sorter.is_asc %}{% translate "Newest First" %}{% else %}{% translate "Oldest First" %}{% endif %}
                    </a>
                {% endif %}
            </nav>

            <div class="flex items-center justify-center sm:justify-end">
                {% include "includes/search_form.html" with placeholder=_("Search: History") %}
            </div>
        </div>
    {% endif %}
    {% include pagination_template %}
{% endblock content %}
