{% extends "base.html" %}
{% load i18n %}

{% block title %} | {% translate "History" %}{% endblock %}

{% block content %}
    {% translate "History" as t_history %}
    {% if request.search or page_obj.has_other_pages %}
        <h1 class="flex justify-center sm:justify-start mb-3 text-lg md:text-xl xl:text-2xl font-bold">
            {{ t_history }}
        </h1>
        <div class="sm:flex justify-between items-center space-y-2 sm:space-y-0 mb-3">

            <nav class="flex justify-center sm:justify-start items-center mb-3 sm:mb-0">

                {% if request.search %}
                    <a href="{% url 'episodes:search_episodes' %}?{{ request.search.qs }}"
                        class="link">{% translate "Search All Podcasts" %}</a>
                {% else %}
                    <a href="{{ request.path }}?{{ request.sorter.qs }}" class="link">
                        {% if request.sorter.is_asc %}{% translate "Newest First" %}{% else %}{% translate "Oldest First" %}{% endif %}
                    </a>
                {% endif %}
            </nav>

            <div class="flex items-center justify-center sm:justify-end">
                {% include "includes/search_form.html" with placeholder=_("Search: History") %}
            </div>
        </div>
    {% else %}
        <h1 class="flex justify-center sm:justify-start text-lg md:text-xl xl:text-2xl font-bold border-b pb-3 dark:border-gray-500">
            {{ t_history }}
        </h1>
    {% endif %}

    <div role="list" class="dark:divide-gray-500 divide-y divide-solid">
        {% include "includes/pagination_links.html" %}
        {% for log in page_obj.object_list %}
            {% include "episodes/includes/episode.html" with episode=log.episode %}
        {% empty %}
            {% include "includes/empty.html" %}
        {% endfor %}
        {% include "includes/pagination_links.html" %}
    </div>
{% endblock content %}
