{% with ICON_CSS="h-5 w-5 lg:h-6 lg:w-6" %}
    <div class="flex items-center"
        id="bookmark-toggle"
        hx-push-url="false"
        hx-target="this"
        hx-swap="outerHTML">

        {% if is_bookmarked %}
            <button title="Remove from Bookmarks"
                class="link"
                hx-delete="{% url 'episodes:remove_bookmark' episode.id %}">
                {% icon "star_solid" css_class=ICON_CSS %}
            </button>
        {% else %}
            <button title="Add to Bookmarks"
                class="link"
                hx-post="{% url 'episodes:add_bookmark' episode.id %}">
                {% icon "star" css_class=ICON_CSS %}
            </button>
        {% endif %}
    </div>
{% endwith %}

{% if action %}
    {% include "includes/_messages.html" with hx_oob=True %}
{% endif %}
