@tailwind base;

@tailwind components;

.message {
  @apply text-white;
}

.message-debug {
  @apply bg-gray-600;
}

.message-info {
  @apply bg-blue-600;
}
.message-success {
  @apply bg-green-600;
}
.message-warning {
  @apply bg-orange-600;
}
.message-error {
  @apply bg-red-600;
}

.markdown {
  @apply break-words;
}

.markdown a {
  @apply font-semibold underline break-words;
}

.markdown p {
  @apply py-3;
}

.markdown ol {
  @apply list-decimal list-inside;
}

.markdown ul {
  @apply list-disc list-inside;
}

.markdown a:hover,
.markdown a:visited {
  @apply text-gray-300;
}

.active-tab {
  @apply border-indigo-800 border-b-2 font-bold;
}
/* hack to handle mobile scrolling issues
  with URL bar causing resize */

html {
  overflow: hidden;
}
body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@tailwind utilities;
