@tailwind base;

@tailwind components;

.message {
  @apply text-white;
}

.message-debug {
  @apply bg-gray-600;
}

.message-info {
  @apply bg-blue-600;
}
.message-success {
  @apply bg-green-600;
}
.message-warning {
  @apply bg-orange-600;
}
.message-error {
  @apply bg-red-600;
}

.markdown {
  @apply break-words;
}

.markdown a {
  @apply font-semibold underline break-words;
}

.markdown p {
  @apply py-3;
}

.markdown ol {
  @apply list-decimal list-inside;
}

.markdown ul {
  @apply list-disc list-inside;
}

.markdown a:hover,
.markdown a:visited {
  @apply text-gray-300;
}

.sidebar--active {
  @apply border-l-2 border-blue-500 pl-3 font-bold;
}

.tab--active {
  @apply border-blue-500 border-b-2 font-bold;
}

.player--active .player--interactive {
  @apply cursor-pointer;
}

.player--active .player--progress,
.player--active .player--indicator {
  @apply bg-blue-800;
}

.player--active .player--buffer {
  @apply bg-blue-600;
}

.player--inactive .player--interactive {
  @apply opacity-75 cursor-not-allowed;
}

.player--inactive .player--counter {
  @apply opacity-75;
}

.player--inactive .player--progress,
.player--inactive .player--buffer,
.player--inactive .player--indicator {
  @apply bg-gray-800;
}

/* hack to handle mobile scrolling issues
  with URL bar causing resize */

html {
  overflow: hidden;
}
body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@tailwind utilities;
