.message {
  @apply text-white;
}

.message-debug {
  @apply bg-gray-600;
}

.message-info {
  @apply bg-blue-600;
}
.message-success {
  @apply bg-green-600;
}
.message-warning {
  @apply bg-orange-600;
}
.message-error {
  @apply bg-red-600;
}
