{% spaceless %}
{% if form_id %}id="{{ form_id }}"{% endif %}
class="p-3 border dark:border-gray-500 w-full sm:w-3/4 lg:w-1/2 {% if form.errors %}border-red-800 dark:border-red-500{% endif %}{% if css_class %} {{ css_class }}{% endif %}"
method="post"
novalidate
{% with action_url=action_url|default:request.get_full_path %}
{% if hx_post %}
{% block hx_attrs %}
hx-post="{{ action_url }}"
{% endblock %}
{% else %}
action="{{ action_url }}"
hx-disable="true"
{% endif %}
{% endwith %}
{{ attrs|htmlattrs }}
{% endspaceless %}
