{% load widget_tweaks %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div class="space-y-3">
        {% with WIDGET_ERROR_CLASS="border-red-800 dark:border-red-500" LABEL_CSS_CLASS=label_css_class|default:"flex items-center w-full font-semibold" widget_type=field|widget_type %}
            {% if widget_type == "checkboxinput" %}
                {% with css_class=css_class|default:'mr-3 dark:bg-gray-900' %}
                    <label class="{{ LABEL_CSS_CLASS }}">
                        {% render_field field class=css_class %}
                        {{ field.label }}
                    </label>
                {% endwith %}
            {% else %}
                <label class="{{ LABEL_CSS_CLASS }}"
                    for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                {% with css_class=css_class|default:'p-1 dark:bg-gray-900 dark:text-white text-sm md:text-base w-64' %}
                    {% render_field field aria-label=field.label class=css_class %}
                {% endwith %}
            {% endif %}
        {% endwith %}
        {% include "forms/errors.html" with errors=field.errors %}
        {% if field.help_text %}
            <p class="text-gray-600 dark:text-gray-300">
                {{ field.help_text }}
            </p>
        {% endif %}
    </div>
{% endif %}
