{% url 'confirm_new_user_cta' as confirm_url %}
<h1 class="text-xl flex justify-center mb-3 font-bold">Welcome to Audiotrails!</h1>
<div class="mb-3 flex justify-center text-lg">
  <p>

  <form class="inline-block mr-1"
        action="{{ confirm_url }}"
        method="POST"
        data-turbo="false">
    {% csrf_token %}
    <input type="hidden"
           name="redirect_url"
           value="{% url 'account_login' %}">
    <button class="font-semibold underline">Login</button> or
  </form>
  <form class="inline-block"
        action="{{ confirm_url }}"
        method="POST"
        data-turbo="false">
    {% csrf_token %}
    <input type="hidden"
           name="redirect_url"
           value="{% url 'account_signup' %}">
    <button class="font-semibold underline">Signup</button> to:
  </form>
  </p>
</div>
<ul class="list-disc list-inside mb-3 md:mb-6">
  <li>Subscribe to podcasts</li>
  <li>Play episodes in the integrated player</li>
  <li>Keep track of episodes you've listened to</li>
  <li>Add episodes to your Play Queue to listen to later</li>
  <li>Add episodes to your Favorites</li>
</ul>
<form class="flex justify-center"
      method="POST"
      action="{{ confirm_url }}">
  <input type="hidden"
         name="redirect_url"
         value="{{ request.get_full_path }}">
  {% csrf_token %}
  <button class="bg-blue-800 hover:bg-blue-600 text-white px-4 p-1 border border-white w-full sm:w-auto">
    Got it! </button>
</form>
