@import 'buttons';
@import 'links';
@import 'markdown';
@import 'messages';
@import 'player';
@import 'sidebar';
@import 'tabs';

@tailwind base;

@tailwind components;

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
@tailwind utilities;
