.btn {
  @apply text-sm px-2 py-1 rounded font-semibold;
}

.btn[disabled] {
  @apply cursor-not-allowed font-normal opacity-75;
}

.btn:focus {
  @apply outline-none;
}

.btn-default {
  @apply text-white bg-blue-800;
}

.btn-default[disabled] {
  @apply text-white bg-blue-600;
}

.btn-default:hover {
  @apply hover:bg-blue-600;
}

.btn-secondary {
  @apply border border-blue-800 text-blue-800 dark:text-white dark:border-white;
}

.btn-secondary[disabled] {
  @apply border-blue-600 text-blue-600 bg-gray-100;
}

.btn-secondary:hover {
  @apply border-blue-600 text-blue-600 bg-gray-100 dark:bg-gray-800;
}

.btn-danger {
  @apply text-white bg-red-800;
}

.btn-danger:hover {
  @apply bg-red-600;
}

.btn-icon {
  @apply h-4 w-4;
}
