{% extends "base.html" %}
{% load cache head_tags %}

{% block title %}
    {% title_tag "Categories" category.name %}
{% endblock title %}

{% block content %}
    {% fragment "header.html" %}
        {% fragment "header.html#title" %}
            {{ category.name }} Podcasts
        {% endfragment %}
        {% if request.search or page.has_other_pages %}
            {% fragment "header/nav.html" %}
                {% if request.search %}
                    {% fragment "header/nav.html#item" %}
                        {% url "search:podcasts" as search_button_url %}
                        {% include "header/nav/search.html#button" with label="Search Podcasts" %}
                    {% endfragment %}
                {% endif %}
                {% fragment "header/nav.html#item" %}
                    {% include "header/nav/search.html#form" with clearable=True %}
                {% endfragment %}
            {% endfragment %}
        {% endif %}
    {% endfragment %}
    {% partialdef pagination inline %}
        {% cache cache_timeout category-podcasts request.get_full_path %}
            {% fragment "paginate.html" %}
                {% for podcast in page %}
                    {% fragment "browse.html#item" %}
                        {% include "cards.html#podcast" %}
                    {% endfragment %}
                {% empty %}
                    {% fragment "browse.html#empty" %}
                        {% if request.search %}
                            No {{ category.name }} podcasts found for &quot;<strong>{{ request.search.value }}</strong>&quot;.
                        {% else %}
                            Category {{ category.name }} does not have any podcasts.
                        {% endif %}
                    {% endfragment %}
                {% endfor %}
            {% endfragment %}
        {% endcache %}
    {% endpartialdef pagination %}
{% endblock content %}
