{% extends "episodes/_episode_list.html" %}

{% block episodes %}
{% for bookmark in page_obj %}
{% url 'episodes:bookmark_actions' bookmark.episode.id as action_url %}
{% include "episodes/_episode.html" with episode=bookmark.episode remove_url=bookmark.get_remove_url %}
{% empty %}
{% block empty %}
{% if search %}
<p class="text-center sm:text-left">No results found for <span class="font-bold">{{ search }}</span>.</p>
{% else %}
You do not have any bookmarks at the moment.
{% endif %}
{% endblock empty %}
{% endfor %}
{% endblock %}
