{% if user.is_authenticated %}
{% svg "trash" css_class="btn-icon mr-2" as bookmark_icon %}
<form method="post"
      action="{% if is_bookmarked %}{% url 'episodes:remove_bookmark' episode.id %}{% else %}{% url 'episodes:add_bookmark' episode.id %}{% endif %}">
  {% csrf_token %}
  {% if is_bookmarked %}
  <button title="Remove episode from Bookmarks"
          class="btn btn-secondary flex items-center">
    {{ bookmark_icon }}
    Bookmark
  </button>
  {% else %}
  <button title="Add episode to Bookmarks"
          class="btn btn-default flex items-center">
    {{ bookmark_icon }}
    Bookmark
  </button>
  {% endif %}
</form>
{% else %}
<a title="Log in or sign up to add this episode to Bookmarks"
   href="{% url 'account_login' %}?next={{ request.path|urlencode }}"
   data-turbo-frame="_top"
   class="btn btn-default flex items-center">
  {{ bookmark_icon }}
  Bookmark
</a>
{% endif %}
