<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{ site.name }}</title>
    </head>

    <body>
        <p>Hi {{ recipient.username }}

            <p>Greetings from {{ site.name }}!</p>

            <p>Here are some podcasts you might find interesting:</p>

            {% for podcast in podcasts %}
                <p>
                    <a href="{% absolute_uri podcast %}">{{ podcast.cleaned_title }}</a>
                </p>

                <p>
                    {{ podcast.cleaned_description|urlize|truncatewords:60 }}
                </p>
                <hr />
            {% endfor %}

            <p>If you do not want to receive any more recommendations, you can just uncheck the "Send email notifications"
                option
                on your <a href="{% absolute_uri 'users:preferences' %}">settings</a> page.</p>
        </body>

    </html>
