apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-upgrade-pv
spec:
  capacity:
    storage: {{ k3s_pg_upgrade_storage }}
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  hostPath:
    path: "{{ k3s_pg_upgrade_new_volume }}"
