apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-upgrade-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  resources:
    requests:
      storage: {{ k3s_pg_upgrade_storage }}
