{% load heroicons %}
<ul class="grid grid-cols-1 gap-3 text-lg sm:grid-cols-2 lg:text-xl xl:grid-cols-1 xl:gap-6 grid-flow-cols">
    {% include "navbar/menu/item.html" with title="Subscriptions" url_name="podcasts:subscriptions" icon="rss" %}
    {% include "navbar/menu/item.html" with title="New Releases" url_name="episodes:index" icon="sparkles" %}
    {% include "navbar/menu/item.html" with title="Discover" url_name="podcasts:discover" icon="magnifying-glass" %}
    {% include "navbar/menu/item.html" with title="Categories" url_name="podcasts:category_list" icon="tag" %}
    {% include "navbar/menu/item.html" with title="Bookmarks" url_name="episodes:bookmarks" icon="bookmark" %}
    {% include "navbar/menu/item.html" with title="History" url_name="episodes:history" icon="clock" %}
    {% include "navbar/menu/item.html" with title="Private Feeds" url_name="podcasts:private_feeds" icon="lock-closed" %}
    {% include "navbar/menu/item.html" with title="About" url_name="about" icon="information-circle" %}
</ul>
