{% load static %}
{% spaceless %}
{% if lazy %}
<turbo-frame id="podcast-cover-image-{{ podcast.id }}"
             loading="lazy"
             src="{% url 'podcasts:podcast_cover_image' podcast.id %}">
  {% endif %}
  <img class="object-cover border dark:border-gray-500 bg-transparent {{ css_class|default:"h-16 w-16 hover:opacity-75 mr-2" }}"
       title="{{ podcast.title }}"
       alt="{{ podcast.title }}"
       {% if cover_image %}
       src="{{ cover_image.url }}"
       width="{{ cover_image.width }}"
       height="{{ cover_image.height }}"
       {% else %}
       src="{% static 'img/podcast-icon.png' %}"
       width="200"
       height="200"
       {% endif %} />
  {% endspaceless %}
  {% if lazy %}
</turbo-frame>
{% endif %}
