<div class="p-2 border mb-3 hover:bg-gray-100 dark:hover:bg-gray-800 dark:border-gray-500 {{ css_class|default:'' }}"
     {{ attrs|htmlattrs }}>
  <div class="flex items-center justify-between">
    <div class="font-bold flex items-center sm:mb-0">

      <div class="mr-2">
        <a href="{{ podcast_url }}"
           data-turbo-frame="_top">
          {% component "cover_image" podcast=podcast lazy=True %}
        </a>
      </div>

      <div>
        <div class="mb-2 text-sm md:text-base tracking-tight leading-tight w-56 sm:w-96 truncate md:w-full">
          <a href="{{ podcast_url }}"
             title="{{ podcast.title|stripentities }}"
             data-turbo-frame="_top"
             class="link">{{ podcast.title|stripentities|truncatechars:80 }}</a>

        </div>
        <div class="font-semibold text-sm flex flex-wrap items-center">
          {% if user.is_authenticated %}
          <a class="mr-2 link"
             href="{% url 'podcasts:actions' podcast.id %}"
             title="Actions"
             data-turbo-frame="modal">
            {% component "icon" "ellipsis" css_class="w-6 h-6" %}
          </a>
          {% endif %}

          <div class="inline-block text-gray-500 dark:text-gray-100">{{ podcast.pub_date|date }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
