{% load heroicons %}
<c-vars url label title />
<button class="inline-flex items-center btn btn-default"
        tabindex="0"
        role="link"
        title="{{ title|default:label }}"
        {# fmt:off #}
        x-data="{
            url: '{{ url|escapejs }}',
            search: '{{ request.search.value|escapejs }}',
            process () {
              window.htmx?.process($el);
            },
            get searchUrl() {
                const params = new URLSearchParams();
                params.append('{{ request.search.param }}', this.search);
                return `${this.url}?${params.toString()}`;
            },
        }"{# fmt:on #}
        x-init="process()"
        hx-push-url="true"
        :hx-get="searchUrl"
        :disabled="!search"
        @search.window="search=$event.detail; $nextTick(process);" {{ attrs }}>
    {% heroicon_mini "magnifying-glass" class="mr-2" %}
    {% if label %}{{ label }}{% else %}{{ slot }}{% endif %}
</button>
