{% load heroicons %}
<c-vars url=request.path clearable=False placeholder="Search..." />
<div class="flex items-center">
    <form class="relative bg-transparent"
          method="get"
          action="{{ url }}"
          x-init="$watch('search', value => $dispatch('search', value))"
          x-data="{search: '{{ request.search.value|escapejs }}'}"
          {{ attrs }}>
        <input type="search"
               name="{{ request.search.param }}"
               class="form-input"
               autocomplete="off"
               placeholder="{{ placeholder }}"
               aria-label="{{ placeholder }}"
               hx-validate="true"
               x-model="search"
               x-ref="input"
               @keydown.ctrl.k.window.prevent="$el.focus()"
               :class="{ 'w-72 xl:w-80': !search, 'w-80 xl:w-96': search }">
        <div class="flex absolute inset-y-0 right-0 items-center pr-2">
            {% if clearable and request.search %}
                <a href="{{ url }}"
                   title="Clear Search"
                   aria-label="Clear Search"
                   class="mr-2 text-gray-900 dark:text-gray-100 focus:outline-none focus:shadow-outline">{% heroicon_mini "backspace" title="Clear Search" %}</a>
            {% else %}
                <button title="Clear Search"
                        aria-label="Clear Search"
                        type="button"
                        class="mr-2 text-gray-900 dark:text-gray-100 focus:outline-none focus:shadow-outline"
                        x-show="search"
                        @click.prevent="search=''; $refs.input.focus()">{% heroicon_mini "backspace" title="Clear Search" %}</button>
            {% endif %}
            <button type="submit"
                    title="Search"
                    aria-label="Search"
                    :disabled="!search"
                    class="text-gray-900 dark:text-gray-100 focus:outline-none focus:shadow-outline">
                {% heroicon_mini "magnifying-glass" title="Search" %}
            </button>
        </div>
    </form>
</div>
