<div id="messages" class="fixed inset-x-0 z-50 mx-auto w-60 lg:w-72 top-1.5" {% if hx_oob %}hx-swap-oob="true"{% endif %}>
    {% if messages %}
        <div class="space-y-3">
            {% for message in messages %}
                <div class="flex flex-wrap items-center justify-center max-w-sm px-2 py-1 font-bold text-center text-white bg-blue-600 rounded shadow-xl"
                    role="alert"
                    x-data="{show: true}"
                    x-show="show"
                    x-init="setTimeout(() => show = false, 1500)"
                    x-transition:enter="transition ease-in duration-200"
                    x-transition:enter-start="transform opacity-0"
                    x-transition:enter-end="transform opacity-100"
                    x-transition:leave="transition ease-out duration-500"
                    x-transition:leave-start="transform opacity-100"
                    x-transition:leave-end="transform opacity-0">
                    {{ message.message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
