<div class="fixed inset-x-0 z-50 mx-auto top-5"
    id="messages"
    x-data="{messages: []}"
    {% if messages %}
        {# fmt:off #}
        x-init="
        {% for message in messages %}
            messages.push({
            message: '{{ message|escapejs }}',
            tags: '{{ message.tags|escapejs }}'
            });
        {% endfor %}"
        {# fmt:on #}
    {% endif %}
    {% if hx_oob %}hx-swap-oob="true"{% endif %}>
    <div class="space-y-3 flex justify-center">
        <template x-for="message in messages">
            <div class="flex flex-wrap items-center px-2 py-1 text-center text-white rounded shadow-xl max-w-sm"
                role="alert"
                {# fmt:off #}
                :class="{
                debug: 'bg-gray-600',
                error: 'bg-red-600',
                info: 'bg-blue-600',
                success: 'bg-green-600',
                warning: 'bg-violet-600',
                }[message.tags]"
                {# fmt:on #}
                x-data="{show: true}"
                x-show="show"
                x-init="setTimeout(() => show = false, 1500)"
                x-transition:enter="transition ease-in duration-200"
                x-transition:enter-start="transform opacity-0"
                x-transition:enter-end="transform opacity-100"
                x-transition:leave="transition ease-out duration-500"
                x-transition:leave-start="transform opacity-100"
                x-transition:leave-end="transform opacity-0">
                <div class="flex flex-wrap mx-auto font-semibold" x-text="message.message"></div>
            </div>
        </template>
    </div>
</div>
