{% load i18n static %}

{% url 'podcasts:index' as home_url %}
{% url 'podcasts:search_podcasts' as search_url %}

{% translate "Search" as t_search %}
{% translate "Toggle Menu" as t_toggle_menu %}

{% with site_name=request.site.name %}
    <header class="bg-black text-white sticky top-0 w-full z-20 shadow"
        x-data="{sidebar: false}"
        @htmx:before-request.window="sidebar=false">
        <nav class="flex items-center justify-between p-2">

            <div class="flex items-center flex-shrink-0 space-x-3">
                <a class="font-bold text-lg md:text-xl xl:text-2xl hover:text-blue-300 inline-flex items-center"
                    href="{{ home_url }}"
                    title="{{ site_name }}: {% translate "Home Page" %}">
                    <img src="{% static 'img/wave.png' %}" class="h-6 w-6 lg:h-8 lg:w-8 mr-2" title="{{ site_name }}" aria-hidden="true">
                    {{ site_name }}
                </a>
            </div>

            <form action="{{ search_url }}"
                method="get"
                class="relative bg-transparent hidden sm:block"
                x-data="{search: ''}"
                @submit="$refs.search.blur();"
                @htmx:before-request.window="search=''">
                <input type="search"
                    x-ref="search"
                    x-model="search"
                    @click="$el.select()"
                    name="{{ request.search.param }}"
                    accesskey="k"
                    autocomplete="off"
                    aria-label="{{ t_search }}"
                    placeholder="{{ t_search }}"
                    class="px-4 py-1 w-64 md:w-72 focus:outline-none rounded focus:ring placeholder-opacity-100 text-gray-900 dark:text-white dark:bg-gray-900  text-sm md:text-base">
                <div class="absolute inset-y-0 right-0 flex items-center pr-2">

                    <button type="submit"
                        title="{{ t_search }}}"
                        class="focus:outline-none focus:shadow-outline text-gray-900 dark:text-gray-100">
                        {% icon "search" title=t_search %}
                    </button>
                </div>
            </form>

            <ul class="flex items-center space-x-3">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'users:preferences' %}"
                            title="{% blocktranslate with username=user.username %}Settings for {{ username }}{% endblocktranslate %}"
                            class="flex items-center font-bold hover:text-blue-300">
                            {{ user.username|slice:12 }}
                        </a>
                    </li>
                    <li class="xl:hidden flex items-center">
                        <button class="focus:outline-none transform transition"
                            title="{{ t_toggle_menu }}"
                            x-cloak
                            x-show.transition="!sidebar"
                            @click="sidebar=true">
                            {% icon "bars" size="xl" title=t_toggle_menu %}
                        </button>
                        <button class="focus:outline-none transform transition"
                            title="{{ t_toggle_menu }}"
                            x-cloak
                            x-show.transition="sidebar"
                            @click="sidebar=false">
                            {% icon "chevron-down" size="xl" title=t_toggle_menu %}
                        </button>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'about' %}"
                            title="{% translate "About this Site" %}"
                            class="flex items-center font-bold hover:text-blue-300 space-x-2">
                            {% icon "info-circle" size="xl" %}
                            <span class="hidden md:inline-block">
                                {% translate "About" %}
                            </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <div class="xl:hidden absolute py-6 bg-white dark:bg-black top-15 left-0 w-full shadow-xl z-50"
            x-cloak
            x-show.transition="sidebar"
            x-transition:enter="transition ease-out duration-100"
            x-transition:enter-start="transform opacity-0 scale-95"
            x-transition:enter-end="transform opacity-100 scale-100"
            x-transition:leave="transition ease-in duration-75"
            x-transition:leave-start="transform opacity-100 scale-100"
            x-transition:leave-end="transform opacity-0 scale-95">
            <div class="flex justify-center sm:justify-start sm:hidden mb-6"
                @click.away="sidebar=false">

                <form action="{{ search_url }}"
                    method="get"
                    class="relative bg-transparent"
                    x-data="{search: ''}"
                    @htmx:before-request.window="search=''">
                    <input type="search"
                        x-model="search"
                        @click="$el.select()"
                        name="{{ request.search.param }}"
                        autocomplete="off"
                        aria-label="{{ t_search }}"
                        placeholder="{{ t_search }}"
                        class="px-4 py-1 focus:outline-none focus:ring rounded w-64 placeholder-opacity-100 text-gray-900 dark:bg-gray-900 dark:text-white text-sm">
                    <div class="absolute inset-y-0 right-0 flex items-center pr-2">
                        <button type="submit"
                            title="{{ t_search }}"
                            class="focus:outline-none focus:shadow-outline text-gray-900 dark:text-gray-100">
                            {% icon "search" title=t_search %}
                        </button>
                    </div>
                </form>
            </div>
            {% if user.is_authenticated %}
                {% include "includes/sidebar.html" %}
            {% endif %}
        </div>
        {% include "includes/signup_cta.html" %}
    </header>

{% endwith %}
