{% load i18n %}
{% translate "Share with Email" as t_share_email %}
{% translate "Share on Facebook" as t_share_facebook %}
{% translate "Share on Twitter" as t_share_twitter %}
{% translate "Share on Linkedin" as t_share_linkedin %}
{% translate "Copy link to Clipboard" as t_copy_link %}
{% with LINK_CSS="link focus:outline-none" %}
    <div class="flex items-center space-x-3 {{ css_class|default:'' }}"
        x-data>
        <a href="{{ share_urls.email }}"
            target="_blank"
            rel="noopener"
            title="{{ t_share_email }}"
            class="{{ LINK_CSS }}">
            {% icon "envelope" title=t_share_email %}
        </a>

        <a href="{{ share_urls.facebook }}"
            target="_blank"
            rel="noopener"
            title="{{ t_share_facebook }}"
            class="{{ LINK_CSS }}">
            {% icon "facebook" "brands" title=t_share_facebook %}
        </a>

        <a href="{{ share_urls.twitter }}"
            target="_blank"
            rel="noopener"
            title="{{ t_share_twitter }}"
            class="{{ LINK_CSS }}">
            {% icon "twitter" "brands" title=t_share_twitter %}
        </a>
        <a href="{{ share_urls.linkedin }}"
            target="_blank"
            rel="noopener"
            title="{{ t_share_linkedin }}"
            class="{{ LINK_CSS }}">
            {% icon "linkedin" "brands" title=t_share_linkedin %}
        </a>
        <button title="{{ t_copy_link }}"
            class="{{ LINK_CSS }}"
            @click="{# fmt:off #}
                input = document.createElement('input');
                input.style = 'position: absolute; left: -1000px; top: -1000px';
                input.value = window.location.href;
                document.body.appendChild(input);
                input.select();
                document.execCommand('copy');
                document.body.removeChild(input);
                $dispatch('add-message', {
                message: '{{  _("Copied link to Clipboard")|escapejs }}',
                    tags: 'success'
                });
                "{# fmt:on #}>
                {% icon "link" title=t_copy_link %}
            </button>
        </div>
{% endwith %}
