{% load i18n %}
{% with ICON_CSS="h-4 w-4 md:h-5 md:w-5" LINK_CSS="link focus:outline-none" %}
    <div class="flex items-center space-x-3 {{ css_class|default:'' }}"
        x-data>
        <a href="{{ share_urls.email }}"
            target="_blank"
            rel="noopener"
            title="{% translate "Share with Email" %}"
            class="{{ LINK_CSS }}">
            {% include "icons/mail.svg.html" with css_class=ICON_CSS %}
        </a>

        <a href="{{ share_urls.facebook }}"
            target="_blank"
            rel="noopener"
            title="{% translate "Share on Facebook" %}"
            class="{{ LINK_CSS }}">
            {% include "icons/facebook.svg.html" with css_class=ICON_CSS %}
        </a>

        <a href="{{ share_urls.twitter }}"
            target="_blank"
            rel="noopener"
            title="{% translate "Share on Twitter" %}"
            class="{{ LINK_CSS }}">
            {% include "icons/twitter.svg.html" with css_class=ICON_CSS %}
        </a>
        <a href="{{ share_urls.linkedin }}"
            target="_blank"
            rel="noopener"
            title="{% translate "Share on Linkedin" %}"
            class="{{ LINK_CSS }}">
            {% include "icons/linkedin.svg.html" with css_class=ICON_CSS %}
        </a>
        <button title="{% translate "Copy link to Clipboard" %}"
            class="{{ LINK_CSS }}"
            @click="{# fmt:off #}
                input = document.createElement('input');
                input.style = 'position: absolute; left: -1000px; top: -1000px';
                input.value = window.location.href;
                document.body.appendChild(input);
                input.select();
                document.execCommand('copy');
                document.body.removeChild(input);
                $dispatch('add-message', {
                message: '{{  _("Copied link to Clipboard")|escapejs }}',
                    tags: 'success'
                });
                "{# fmt:on #}>
                {% include "icons/link.svg.html" with css_class=ICON_CSS %}
                </button>
                </div>
{% endwith %}
