{% load i18n %}
{% with SIDEBAR_CSS="inline-flex items-center link w-full sm:w-auto" SIDEBAR_ACTIVE_CSS="xl:text-blue-600 xl:font-bold xl:dark:text-blue-300" ICON_CSS="h-5 w-5 md:h-6 md:w-6 mr-3"%}
    <nav class="pl-3 xl:pl-0 text-base md:text-lg xl:pt-12">
        <ul class="space-y-3 sm:space-y-0 xl:space-y-5 sm:grid sm:gap-3 sm:grid-flow-cols sm:grid-cols-2 xl:grid-cols-none xl:grid-rows-none xl:gap-0">
            <li>
                {% active_link 'podcasts:index' as link %}
                <a href="{{ link.url }}"
                    accesskey="p"
                    title="{% translate "Podcasts" %}"
                    class="{{ SIDEBAR_CSS }}{% if link.exact %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
                    {% include "icons/rss.svg" with css_class=ICON_CSS %}
                    {% translate "Podcasts" %}
                </a>
            </li>
            <li>
                {% active_link 'episodes:index' as link %}
                <a href="{{ link.url }}"
                    accesskey="n"
                    title="{% translate "New Releases" %}"
                    class="{{ SIDEBAR_CSS }}{% if link.exact %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
                    {% include "icons/sparkles.svg" with css_class=ICON_CSS %}
                    {% translate "New Releases" %}
                </a>
            </li>
            <li>
                {% active_link 'podcasts:category_list' as link %}
                <a href="{{ link.url }}"
                    accesskey="c"
                    title="{% translate "Categories" %}"
                    class="{{ SIDEBAR_CSS }}{% if link.exact %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
                    {% include "icons/tag.svg" with css_class=ICON_CSS %}
                    {% translate "Categories" %}
                </a>
            </li>
            <li>
                {% active_link 'episodes:bookmarks' as link %}
                <a href="{{ link.url }}"
                    accesskey="f"
                    title="{% translate "Bookmarks" %}"
                    class="{{ SIDEBAR_CSS }}{% if link.exact %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
                    {% include "icons/star.svg" with css_class=ICON_CSS %}
                    {% translate "Bookmarks" %}
                </a>
            </li>

            <li>
                {% active_link 'episodes:history' as link %}
                <a href="{{ link.url }}"
                    accesskey="h"
                    title="{% translate "History" %}"
                    class="{{ SIDEBAR_CSS }}{% if link.exact %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
                    {% include "icons/database.svg" with css_class=ICON_CSS %}
                    {% translate "History" %}
                </a>
            </li>

            <li>
                {% re_active_link 'users:preferences' '/account/*' as link %}
                <a href="{{ link.url }}"
                    accesskey="s"
                    title="{% translate "Settings" %}"
                    class="{{ SIDEBAR_CSS }}{% if link.match %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
                    {% include "icons/adjustments.svg" with css_class=ICON_CSS %}
                    {% translate "Settings" %}
                </a>
            </li>

            <li>
                {% active_link 'about' as link %}
                <a href="{{ link.url }}"
                    accesskey="a"
                    title="{% translate "About" %}"
                    class="{{ SIDEBAR_CSS }}{% if link.match %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
                    {% include "icons/info.svg" with css_class=ICON_CSS %}
                    {% translate "About" %}
                </a>
            </li>

            <li>
                <form class="inline-block"
                    hx-disable="true"
                    action="{% url 'account_logout' %}"
                    method="post">
                    {% csrf_token %}
                    <button accesskey="l"
                        title="{% translate "Logout" %}"
                        class="{{ SIDEBAR_CSS }}">
                        {% include "icons/logout.svg" with css_class=ICON_CSS %}
                        {% translate "Logout" %}
                    </button>
                </form>
            </li>

        </ul>
    </nav>
{% endwith %}
