{% load i18n %}
{% if user.is_anonymous %}
    {% with path=request.get_full_path %}
        <div id="signup-cta"
            {% if hx_oob %}
                hx-swap-oob="true"
            {% endif %}
            class="text-center p-3 bg-blue-700 text-white font-bold">
            {% blocktranslate with signup_url=path|signup_url login_url=path|login_url css_class="underline text-white hover:text-gray-300" %}
                <a class="{{ css_class }}"
                    hx-disable="true"
                    href="{{ signup_url }}">Sign up</a>
                {% translate "or" %}
                <a class="{{ css_class }}"
                    hx-disable="true"
                    href="{{ login_url }}">log in</a>
                to follow your favorite podcasts and listen to episodes!
            {% endblocktranslate %}
        </div>
    {% endwith %}
{% endif %}
