<c-vars field class />
{% load widget_tweaks %}
<div class="space-y-3 form-control {{ class }}" {{ attrs }}>
    {% if slot %}
        {{ slot }}
    {% else %}
        {% with widget_type=field|widget_type %}
            {% if widget_type == "checkboxinput" %}
                <c-form.checkbox :field=field />
            {% else %}
                <c-form.label :field=field />
                {% render_field field class="form-input" %}
            {% endif %}
        {% endwith %}
    {% endif %}
    <c-form.errors :errors="field.errors" />
    <c-form.hint :hint="field.help_text" />
</div>
