{% load widget_tweaks %}
<c-vars field class />
{% with widget_type=field|widget_type %}
    <fieldset class="space-y-3 form-control {{ class }}" {{ attrs }}>
        {% if slot %}
            {{ slot }}
        {% else %}
            {% if widget_type == "checkboxinput" %}
                <c-form.checkbox :field="field" />
            {% else %}
                <c-form.label :field="field" />
                {% if widget_type == "select" %}
                    {% render_field field|add_class:"form-select" %}
                {% elif widget_type == "textarea" %}
                    {% render_field field|add_class:"form-textarea" %}
                {% else %}
                    {% render_field field|add_class:"form-input" %}
                {% endif %}
            {% endif %}
        {% endif %}
        <c-form.errors :errors="field.errors" />
        <c-form.hint :hint="field.help_text" />
    </fieldset>
{% endwith %}
