<c-vars :action="request.path"
        method="post"
        class="space-y-3"
        htmx
        multipart
        hx-swap="outerHTML"
        hx-target="this"
/>

<form action="{{ action }}"
      method="{{ method }}"
      class="{{ class }}"
      {% if htmx %}
        hx-{{ method }}="{{ action }}"
        hx-disabled-elt="this"
        hx-swap="{{ hx_swap }}"
        hx-target="{{ hx_target }}"
        hx-validate="true"
      {% endif %}
      {% if multipart %}
        enctype="multipart/form-data"
        {% if htmx %}
          hx-encoding="multipart/form-data"
        {% endif %}
      {% endif %}
      {{ attrs }}
>
  {% csrf_token %}
  {{ slot }}
</form>
