{% load i18n %}
<article class="flex items-center space-x-3 py-2">

    {% include "includes/cover_image.html" with cover_url=feed.image alt=feed.title css_class="h-16 w-16" %}

    <div class="flex flex-col place-content-between h-16 py-1 lg:py-0">
        <h2 class="w-60 tracking-tight leading-tight break-words sm:w-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl font-bold line-clamp-2">
            <a title="{{ feed.title }}"
                class="link font-bold"
                rel="noopener"
                target="_blank"
                href="{{ feed.url }}">
                {{ feed.title|truncatechars:180 }}
            </a>

        </h2>

        <h3 class="truncate w-60 sm:w-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl font-semibold text-gray-600 dark:text-gray-300 text-xs lg:text-sm">
            <span class="animate-pulse">
                {% translate "Adding podcast to database..." %}
            </span>
        </h3>
    </div>
</article>
