{% load i18n %}
{% with target=podcast.get_subscribe_target %}
    <div id="{{ target }}"
        hx-target="this"
        hx-push-url="false"
        hx-swap="outerHTML"
        hx-indicator="none">
        {% if is_subscribed %}
            <button class="inline-flex items-center btn btn-primary btn-outline"
                title="{% translate "Unsubscribe from this Podcast" %}"
                hx-post="{% url 'podcasts:unsubscribe' podcast.id %}">
                {% icon "eye-slash" css_class="mr-2" %}
                {% translate "Unsubscribe" %}
            </button>
        {% else %}
            <button class="inline-flex items-center btn btn-primary"
                title="{% translate "Subscribe to this Podcast" %}"
                hx-post="{% url 'podcasts:subscribe' podcast.id %}">
                {% icon "eye" css_class="mr-2" %}
                {% translate "Subscribe" %}
            </button>
        {% endif %}
    </div>
    {% if request.htmx.target == target %}
        {% include "includes/messages.html" with hx_oob=True %}
    {% endif %}
{% endwith %}
