- name: Read all public SSH keys from directory
  ansible.builtin.find:
    paths: "{{ playbook_dir }}/ssh-keys"
    patterns: "*.pub"
    use_regex: false
    file_type: file
  register: user_ssh_key_files
  delegate_to: localhost
  run_once: true
- name: Load SSH key contents
  ansible.builtin.set_fact:
    user_ssh_public_keys: "{{ user_ssh_public_keys | default([]) + [lookup('file', item)] }}"
  with_items: "{{ user_ssh_key_files.files | map(attribute='path') | list }}"
  delegate_to: localhost
  run_once: true
- name: Abort if no SSH public keys found
  ansible.builtin.fail:
    msg: >
      No SSH public keys found in {{ playbook_dir }}/ssh-keys. Ensure at least one *.pub file exists before running this playbook.

  when: user_ssh_public_keys | length == 0
- name: Set deploy user
  ansible.builtin.set_fact:
    user_deploy_user: "{{ hostvars[inventory_hostname]['ansible_user'] }}"
- name: Create deploy user
  ansible.builtin.user:
    name: "{{ user_deploy_user }}"
    createhome: true
    shell: /bin/bash
    state: present
    groups: sudo
    append: true
- name: Deploy all authorized SSH keys for "deploy" user
  ansible.posix.authorized_key:
    user: "{{ user_deploy_user }}"
    key: "{{ item }}"
    state: present
    exclusive: true
  loop: "{{ user_ssh_public_keys }}"
- name: Allow user to run sudo without password
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/{{ user_deploy_user }}
    line: "{{ user_deploy_user }} ALL=(ALL) NOPASSWD: ALL" # pragma: allowlist secret
    create: true
    mode: "0440"
    validate: "visudo -cf %s"
  become: true
