admin_site_header: "Radiofeed Admin [Production]"
admin_url: "my-admin/"
admins: "danjac2018@gmail.com"
allowed_hosts: "*"
contact_email: "danjac2018@gmail.com"
database_url: "postgresql://postgres:password:5432/postgres"
redis_url: "redis://10.0.0.2:6379/0"
mailgun_api_key: ""
mailgun_api_url: "https://api.eu.mailgun.net/v3"
mailgun_sender_domain: "mg.radiofeed.app"
pwa_sha256_fingerprints: ""
static_url: "/static/"
secret_key: ""
secret_key_fallbacks: ""
sentry_url: ""
