admin_url: "my-admin/"
admins: "my-user@gmail.com"
mailgun_api_key: ""
mailgun_api_url: "https://api.eu.mailgun.net/v3"
mailgun_sender_domain: "mg.radiofeed.app"
postgres_password: ""
pwa_sha256_fingerprints: ""
secret_key: ""
secret_key_fallbacks: ""
sentry_url: ""
