@import 'buttons.css';
@import 'links.css';
@import 'markdown.css';
@import 'messages.css';
@import 'player.css';
@import 'sidebar.css';
@import 'tabs.css';

@tailwind base;

@tailwind components;

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
[x-cloak] {
  display: none !important;
}
body {
  scroll-behavior: smooth;
}
#content {
  scroll-margin-top: 175px;
}

.hx-indicator {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 9999;
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}

.htmx-request {
  display: block !important;
}

img.lazy {
  @apply filter blur-sm;
}

@tailwind utilities;
