.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  @apply font-bold mb-3;
}

.markdown hr {
  @apply border-gray-300 dark:border-gray-600 mb-3;
}

.markdown pre {
  @apply whitespace-pre-wrap text-sm;
}

.markdown a {
  @apply break-words underline;
}

.markdown a:hover {
  @apply text-blue-600 dark:text-blue-400;
}

.markdown p {
  @apply py-1 mb-3;
}

.markdown ol {
  @apply list-decimal list-inside mb-3;
}

.markdown ul {
  @apply list-disc list-inside mb-3;
}

.markdown li ul {
  @apply mt-3;
}

.markdown li {
  @apply mb-3;
}

.markdown li div,
.markdown li p {
  @apply inline-block;
}

/* img might have src stripped out if unsafe */
.markdown img:not([src]) {
  @apply hidden;
}

.markdown table {
  @apply table-auto w-full;
}

.markdown td,
.markdown th {
  @apply border p-1 dark:border-gray-500;
}

.markdown th {
  @apply text-left bg-gray-100 dark:bg-gray-800 font-semibold;
}
