{% extends "account/settings_base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% translate "Export" %}{% endblock %}

{% block settings_content %}
    <div class="space-y-3">
        <p>
            {% translate "Export your podcast feeds to an OPML file." %}
        </p>
        <form method="POST"
            action="{% url 'users:export_podcast_feeds' %}"
            class="pb-3"
            hx-disable="true">
            {% csrf_token %}
            <div class="sm:flex items-center space-y-2 sm:space-y-0 sm:space-x-2 md:space-x-6">
                <button class="flex sm:inline-flex items-center justify-center btn btn-default">
                    {% icon "download" css_class="mr-2" %}
                    {% translate "Download OPML" %}
                </button>
            </div>
        </form>
        <p>
            {% translate "Import feeds from an OPML file into your collection." %}
        </p>

        {% with target="import-feeds-form" %}
            {% url 'users:import_podcast_feeds' as action_url %}
            <form method="post"
                action="{{ action_url }}"
                class="space-y-3"
                novalidate
                enctype="multipart/form-data"
                id="{{ target }}"
                hx-encoding="multipart/form-data"
                hx-target="this"
                hx-select="#{{ target }}"
                hx-swap="outerHTML"
                hx-post="{{ action_url }}">
                {% csrf_token %}
                {{ form }}
                <div>
                    <button class="inline-flex items-center btn btn-default">
                        {% icon "upload" css_class="mr-2" %}
                        {% translate "Upload OPML" %}
                    </button>
                </div>
            </form>

            {% if request.htmx.target == target %}
                {% include "includes/messages.html" with hx_oob=True %}
            {% endif %}

        {% endwith %}

    </div>

{% endblock %}
