{% extends "account/settings_base.html" %}
{% load i18n %}

{% block title %} | {% translate "Set Password" %}{% endblock %}

{% block settings_content %}
    <form method="post"
        action="{{ request.path }}"
        class="w-3/4 sm:w-1/3 space-y-3"
        hx-disable="true"
        novalidate>
        {% csrf_token %}
        {{ form }}
        <div class="flex items-center">
            <button class="inline-flex items-center btn btn-primary"
                name="action_add"
                value="true">
                {% icon "check" css_class="mr-2" %}
                {% translate "Set Password" %}
            </button>
        </div>
    </form>
{% endblock %}
