{% extends "account/base.html" %}

{% load i18n account %}

{% block title %} | {% translate "Password Reset" %}{% endblock %}

{% block account_content %}
    <div class="flex items-center justify-center">
        <div>
            <h1 class="font-bold flex items-center justify-center sm:justify-start text-lg md:text-xl xl:text-2xl mb-6">
                Password Reset
            </h1>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <form method="post"
                action="{{ request.path }}"
                class="space-y-3"
                hx-disable="true"
                novalidate>
                {% csrf_token %}
                {{ form }}
                <div class="flex items-center">
                    <button class="inline-flex items-center btn btn-primary"
                        name="action_add"
                        value="true">
                        {% icon "envelope" css_class="mr-2" %}
                        {% translate "Reset Password" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock account_content %}
