{% extends "account/settings_base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} | {% translate "Statistics" %}{% endblock %}

{% block settings_content %}

    <table class="w-full">
        <tbody class="w-full divide-y space-y-3 dark:divide-gray-500">

            <tr class="flex justify-between pt-4">
                <th class="w-1/2">{% translate "Joined" %}</th>
                <td class="w-1/2 font-bold text-right">{% include "includes/date.html" with value=user.date_joined %}</td>
            </tr>

            {% with subscribed=user.subscriptions.count %}
                {% if subscribed %}
                    <tr class="flex justify-between pt-4">
                        <th class="w-1/2">{% translate "Subscribed" %}</th>
                        <td class="w-1/2 font-bold text-right">
                            <a href="{% url 'podcasts:index' %}"
                                class="link font-bold underline">
                                {% blocktranslate count counter=subscribed %}
                                    1 podcast
                                {% plural %}
                                    {{ counter }} podcasts
                                {% endblocktranslate %}
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endwith %}

            {% with bookmarks=user.bookmarks.count %}
                {% if bookmarks %}
                    <tr class="flex justify-between pt-4">
                        <th class="w-1/2">{% translate "Bookmarks" %}</th>
                        <td class="w-1/2 font-bold text-right">
                            <a href="{% url 'episodes:bookmarks' %}"
                                class="link font-bold underline">
                                {% blocktranslate count counter=bookmarks %}
                                    1 episode
                                {% plural %}
                                    {{ counter }} episodes
                                {% endblocktranslate %}
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endwith %}

            {% with listened=user.audio_logs.count %}
                {% if listened %}
                    <tr class="flex justify-between pt-4">
                        <th class="w-1/2">{% translate "Listened" %}</th>
                        <td class="w-1/2 font-bold text-right">
                            <a href="{% url 'episodes:history' %}"
                                class="link font-bold underline">
                                {% blocktranslate count counter=listened %}
                                    1 episode
                                {% plural %}
                                    {{ counter }} episodes
                                {% endblocktranslate %}
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endwith %}

        </tbody>
    </table>

{% endblock settings_content %}
