{% load cache %}
<c-vars podcast current />
{% cache cache_timeout podcast-detail-header request.get_full_path %}
    <header class="pb-3 mb-3 space-y-6 border-b">
        <c-header.title :title="podcast.cleaned_title" />
        <div class="space-y-3 md:flex md:justify-between md:space-y-0">
            <nav class="flex justify-center items-center sm:justify-start">
                <ul class="flex items-center space-x-4 lg:space-x-6">
                    <c-podcasts.header.item name="detail"
                                            :current="current"
                                            :url="podcast.get_detail_url"
                                            title="About" />
                    <c-podcasts.header.item name="episodes"
                                            :current="current"
                                            :url="podcast.get_episodes_url"
                                            title="Episodes ({{ podcast.num_episodes }})" />
                    {% if podcast.has_similar %}
                        <c-podcasts.header.item name="similar"
                                                :current="current"
                                                :url="podcast.get_similar_url"
                                                title="Similar" />
                    {% endif %}
                </ul>
            </nav>
            {{ nav }}
        </div>
    </header>
{% endcache %}
