# Deployment settings

docker_image: "{{ docker_image }}"

# Cron job schedules


cron_schedules_default:
  clear_sessions: "20 5 * * *" # 5:20 AM every day
  create_recommendations: "20 4 * * *" # 4:20 AM every day
  fetch_top_itunes: "15 3 * * *" # 3:15 AM every day
  parse_feeds: "*/6 * * * *" # Every 6 minutes
  send_notifications: "0 13 * * 1" # 1:00 PM every Monday
  send_recommendations: "0 13 * * 5" # 1:00 PM every Friday
