- name: Deploy Kubernetes
  environment:
      KUBECONFIG: "{{ kubeconfig }}"
  vars:
      memory_request_percent: 0.4
      memory_limit_percent: 0.75
      cpu_request_percent: 0.35
      cpu_limit_percent: 0.8
  block:
      - name: Calculate total resources
        ansible.builtin.set_fact:
            total_memory_mb: "{{ ansible_memtotal_mb }}"
            total_cpu_millicores: "{{ ansible_processor_vcpus * 1000 }}"

      - name: Calculate resource requests/limits
        ansible.builtin.set_fact:
            mem_request: "{{ (total_memory_mb | int * memory_request_percent) | int }}Mi"
            mem_limit: "{{ (total_memory_mb | int  * memory_limit_percent) | int }}Mi"
            cpu_request: "{{ (total_cpu_millicores | int  * cpu_request_percent) | int }}m"
            cpu_limit: "{{ (total_cpu_millicores | int  * cpu_limit_percent) | int }}m"

      - name: Render Kubernetes manifests
        ansible.builtin.template:
            src: "{{ item }}.yaml.j2"
            dest: "{{ manifests_dir.path + '/' + item + '.yaml' }}"
        loop:
            - postgres_upgrade_pv
            - postgres_upgrade_pvc
            - postgres_upgrade_statefulset
            - postgres_upgrade_service

      - name: Apply Kubernetes manifests using ApplySet
        ansible.builtin.shell: |
            kubectl apply -f {{ manifests_dir.path }} --prune --applyset=app-deployment --namespace=default
        environment:
            KUBECTL_APPLYSET: "true"

      - name: Delete manifests dir
        ansible.builtin.file:
            path: "{{ manifests_dir.path }}"
            state: absent

      - name: Restart statefulsets
        ansible.builtin.shell: |
            for statefulset in $(kubectl get statefulsets -n default -o jsonpath='{.items[*].metadata.name}'); do
              kubectl rollout restart statefulset/$statefulset -n default
            done
