{% load heroicons %}
<button class="inline-flex items-center btn btn-default"
        tabindex="0"
        role="link"
        {# fmt:off #}
        x-data="{
            url: '{{ search_url|escapejs }}',
            search: '{{ request.search.value|escapejs }}',
            process () {
              window.htmx?.process($el);
            },
            get searchUrl() {
                const params = new URLSearchParams();
                params.append('{{ request.search.param }}', this.search);
                console.log('searchUrl', this.url, params.toString());
                return `${this.url}?${params.toString()}`;
            },
        }"{# fmt:on #}
        x-init="process()"
        hx-push-url="true"
        :hx-get="searchUrl"
        :disabled="!search"
        @search.window="search=$event.detail; $nextTick(process);">
    {% heroicon_mini "magnifying-glass" %}
    {{ label }}
</button>
