configmap:
   - name: "admins"
     value: "{{ admins }}"

   - name: "admin_url"
     value: "{{ admin_url }}"

   - name: "allowed_hosts"
     value: "{{ allowed_hosts }}"

   - name: "conn_pool_max_idle"
     value: "{{ conn_pool_max_idle }}"

   - name: "conn_pool_max_lifetime"
     value: "{{ conn_pool_max_lifetime }}"

   - name: "conn_pool_max_waiting"
     value: "{{ conn_pool_max_waiting }}"

   - name: "conn_pool_max_size"
     value: "{{ conn_pool_max_size }}"

   - name: "conn_pool_min_size"
     value: "{{ conn_pool_min_size }}"

   - name: "contact_email"
     value: "{{ contact_email }}"

   - name: "csp_script_whitelist"
     value: "{{ csp_script_whitelist }}"

   - name: "mailgun_api_url"
     value: "{{ mailgun_api_url }}"

   - name: "mailgun_sender_domain"
     value: "{{ mailgun_sender_domain }}"

   - name: "meta_author"
     value: "{{ meta_author }}"

   - name: "meta_description"
     value: "{{ meta_description }}"

   - name: "meta_keywords"
     value: "{{ meta_keywords }}"

   - name: "secure_ssl_redirect"
     value: "{{ secure_ssl_redirect }}"


secrets:
  - name: "database_url"
    value: "{{ database_url }}"

  - name: "mailgun_api_key"
    value: "{{ mailgun_api_key }}"

  - name: "open_telemetry_url"
    value: "{{ open_telemetry_url }}"

  - name: "postgres_password"
    value: "{{ postgres.password }}"

  - name: "pwa_sha256_fingerprints"
    value: "{{ pwa_sha256_fingerprints }}"

  - name: "redis_url"
    value: "{{ redis_url }}"

  - name: "secret_key"
    value: "{{ secret_key }}"

  - name: "secret_key_fallbacks"
    value: "{{ secret_key_fallbacks }}"

  - name: "sentry_url"
    value: "{{ sentry_url }}"
