{% for cronjob in k3s_crons_cronjobs %}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ cronjob.name }}
  labels:
    app: django-cronjob
spec:
  schedule: "{{ cronjob.schedule }}"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      backoffLimit: 1
      template:
        spec:
          restartPolicy: Never
          nodeSelector:
             role: jobrunner
          containers:
          - name: django
            image: {{ k3s_crons_image }}
            command: ["/bin/bash", "-c", "{{ cronjob.command }}"]
            envFrom:
              - configMapRef:
                  name: configmap
              - secretRef:
                  name: secrets
{% if not loop.last %}
---
{% endif %}
{% endfor %}
