{% extends "modal_base.html" %}

{% block modal_header %}
<a href="{{ episode.get_absolute_url }}"
   class="link text-sm">
  {{ episode.title }}
</a>
{% endblock %}

{% block modal_content %}
<div class="flex items-center text-sm font-semibold text-gray-600 dark:text-gray-300 space-x-3 mb-3">
  <div title="Date Published">
    {% include "_pub_date.html" with pub_date=episode.pub_date %}
  </div>
  <div title="Duration">
    {{ duration|format_duration }}
  </div>
</div>

<div class="flex items-center space-x-3 mb-3">
  {% with podcast=episode.podcast %}
  <div>
    <a href="{{ podcast.get_absolute_url }}">
      {% include "podcasts/_cover_image.html" with size=20 %}
    </a>
  </div>
  {% endwith %}
  <div class="space-y-3">
    <div>
      {% if user.is_authenticated %}
      <button @click="$dispatch('close-modal')"
              class="btn btn-primary flex items-center"
              {% if is_playing %}
              hx-post="{% url 'episodes:close_player' %}"
              {% else %}
              hx-post="{% url 'episodes:start_player' episode.id %}"
              {% endif %}
              hx-target="#player"
              hx-select="#player"
              hx-swap="outerHTML">
        {% icon is_playing|yesno:'stop,play' css_class="btn-icon mr-2" %}
        {% if is_playing %}Close Player{% else %}Play Episode{% endif %}
      </button>
      {% else %}
      <a href="{{ episode.get_absolute_url|login_url }}"
         hx-disable="true"
         title="Login or sign up to play this episode"
         class="btn btn-primary flex items-center">
        {% icon 'play' css_class="btn-icon mr-2" %}
        Play Episode
      </a>
      {% endif %}
    </div>
    <div>
      {% include "episodes/_download.html" %}
    </div>
  </div>
</div>

{% if episode.explicit or podcast.explicit %}
<div class="text-sm font-semibold mb-3">
  This episode may contain explicit content.
</div>
{% endif %}

<div class="markdown text-muted text-sm mb-3">
  {{ episode.description|keepspaces|striptags|stripentities|truncatechars:600 }}
</div>

{% endblock modal_content %}
