<div class="fixed z-20 inset-0 overflow-y-auto"
  role="dialog"
  aria-modal="true"
  x-show="show"
  x-data="{
  show: true,
  close() {
  this.show = false;
  this.$dispatch('actions-close', { id: {{ episode.id }} });
  }
  }"
  @click.away="close()"
  @keydown.escape.window="close()">
  <div class="min-h-screen pt-32 px-4 pb-20 sm:pt-0 text-center block sm:p-0 lg:pt-32 lg:pb-20">

    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"></div>

    <div class="inline-block align-bottom bg-white rounded text-left overflow-hidden shadow-xl transform transition-all my-8 align-middle sm:max-w-lg sm:w-full"
      x-show="show">

      {% with BUTTON_CSS="w-full font-semibold hover:bg-gray-300 inline-flex items-center p-3 lg:p-4 dark:hover:bg-gray-900 dark:border-gray-500 focus:outline-none" ICON_CSS="h-4 w-4 mr-2 lg:h-5 lg:w-5 lg:mr-3" episode_url=episode.get_absolute_url %}
        {% if not is_detail %}
          <a class="{{ BUTTON_CSS }} border-b cursor-pointer flex items-center"
            title="{{ episode.cleaned_title }}"
            href="{{ episode.get_absolute_url }}"
            @click="close()">
            {% include "_cover_image.html" with cover_url=episode.get_cover_url alt=episode.podcast.cleaned_title size=16 css_class="h-10 w-10 lg:h-16 lg:w-16 mr-2 lg:mr-5" %}
            <div class="max-h-10 flex items-center font-semibold">
              <span class="sm:hidden">
                {{ episode.cleaned_title|truncatechars:60 }}
              </span>
              <span class="hidden sm:inline-block">
                {{ episode.cleaned_title|truncatechars:100 }}
              </span>
            </div>
          </a>

          {% with time_remaining=episode.time_remaining|format_duration %}
            {% if is_playing %}
              <button class="{{ BUTTON_CSS }} border-b"
                hx-post="{% url 'episodes:close_player' %}"
                hx-push-url="false"
                hx-target="#player"
                hx-swap="innerHTML"
                @click="close()">
                {% icon "stop" css_class=ICON_CSS %}
                Close Player
              </button>

            {% else %}

              <button class="{{ BUTTON_CSS }} border-b"
                hx-post="{% url 'episodes:start_player' episode.id %}"
                hx-push-url="false"
                hx-target="#player"
                hx-swap="innerHTML"
                @click="close();">
                {% icon "play" css_class=ICON_CSS %}
                {% if episode.completed %}Re-Play{% elif episode.listened %}Resume{% else %}Play{% endif %}
                {% if time_remaining %}(~{{ time_remaining }}){% endif %}
              </button>
            {% endif %}
          {% endwith %}
        {% endif %}
        {% if not is_playing %}
          {% if is_detail %}
            {% if episode.listened and not episode.completed %}
              <button class="{{ BUTTON_CSS }} border-b"
                hx-post="{% url 'episodes:mark_complete' episode.id %}"
                hx-push-url="false"
                @click="close();">
                {% icon "check" css_class=ICON_CSS %}
                Mark Complete
              </button>
            {% endif %}
          {% endif %}

          {% if is_queued %}
            <button class="{{ BUTTON_CSS }} border-b"
              hx-delete="{% url 'episodes:remove_from_queue' episode.id %}"
              hx-push-url="false"
              @click="close()">
              {% icon "collection" css_class=ICON_CSS %}
              Remove from Queue
            </button>
          {% else %}
            <button class="{{ BUTTON_CSS }} border-b"
              hx-post="{% url 'episodes:add_to_queue' episode.id %}"
              hx-push-url="false"
              @click="close()">
              {% icon "collection" css_class=ICON_CSS %}
              Add to Play Queue
            </button>
          {% endif %}
        {% endif %}

        {% if is_favorited %}
          <button class="{{ BUTTON_CSS }} border-b"
            hx-delete="{% url 'episodes:remove_favorite' episode.id %}"
            hx-push-url="false"
            @click="close()">
            {% icon "star_solid" css_class=ICON_CSS %}
            Remove from Favorites
          </button>
        {% else %}
          <button class="{{ BUTTON_CSS }} border-b"
            hx-post="{% url 'episodes:add_favorite' episode.id %}"
            hx-push-url="false"
            @click="close()">
            {% icon "star" css_class=ICON_CSS %}
            Add to Favorites
          </button>
        {% endif %}

        {% if episode.listened and not is_playing %}
          <button class="{{ BUTTON_CSS }} border-b"
            hx-delete="{% url 'episodes:remove_audio_log' episode.id %}"
            hx-push-url="false"
            @click="close()">
            {% icon "database" css_class=ICON_CSS %}
            Remove from History
          </button>
        {% endif %}
        {% if is_detail %}
          <a class="{{ BUTTON_CSS }} border-b"
            download
            title="Download episode to your device"
            href="{{ episode.media_url }}">
            {% icon "download" css_class=ICON_CSS %}
            Download {{ episode.get_media_url_ext|upper }}</a>
        {% endif %}

        <button class="{{ BUTTON_CSS }}"
          @click="close()">
          {% icon "x" css_class=ICON_CSS %}
          Close
        </button>

      {% endwith %}
    </div>
  </div>
</div>
