{% with ICON_NAME='dots_vertical' ICON_CSS="w-4 h-4 lg:w-5 lg:h-5" %}
<div x-data="{active: false}"
     x-cloak
     class="flex items-center"
     @actions-close.window="if ($event.detail.tag==='{{ actions_tag }}') active=false">
    <button title="{{ actions_title|default:'Actions' }}"
            class="focus:outline-none"
            x-show="!active"
            hx-get="{{ actions_url }}"
            hx-target="#actions-{{ actions_tag }}"
            hx-swap="innerHTML"
            hx-push-url="false"
            @click="active=true">
        {% icon ICON_NAME css_class=ICON_CSS %}
    </button>
    <button title="Actions"
            class="focus:outline-none"
            x-show="active"
            @click="active=false">
        {% icon ICON_NAME css_class=ICON_CSS %}
    </button>
</div>
<div id="actions-{{ actions_tag }}"></div>
{% endwith %}
