{% if user.is_authenticated %}
<div class="flex items-center relative"
     x-data="{show: false}">
  <button title="Actions for {{ episode.title }}"
          class="focus:outline-none"
          @click.debounce="
            if (show) {
              show=false;
            } else {
              htmx.ajax('GET', '{% url 'episodes:actions' episode.id %}', {
                  swap: 'outerHTML',
                  target: '#actions-{{ episode.id }}'
              });
              show=true;
            }
            ">
    {% icon "ellipsis" css_class="w-6 h-6" %}
  </button>
  <div id="actions-{{ episode.id }}"
       class="absolute left-0 top-0 mt-2"></div>
</div>
{% endif %}
