{# vim: set filetype=htmldjango #}
{% load heroicons %}
{% with target="audio-player-button" %}
    <div id="{{ target }}"
         hx-push-url="false"
         hx-target="this"
         hx-indicator="this"
         hx-swap="outerHTML"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% if is_playing %}
            <button aria-label="Close Player"
                    title="Close Player"
                    class="inline-flex items-center btn btn-primary btn-outline btn-lg"
                    hx-disabled-elt="this"
                    hx-post="{% url 'episodes:close_player' %}"
                    hx-trigger="click once">
                {% heroicon_mini "stop-circle" class="mr-2" %}
                Close
            </button>
        {% else %}
            <button aria-label="Open Episode in Player"
                    title="Open Episode in Player"
                    class="inline-flex items-center btn btn-primary btn-lg"
                    hx-disabled-elt="this"
                    hx-post="{% url 'episodes:start_player' episode.pk %}"
                    hx-trigger="click once">
                {% heroicon_mini "play-circle" class="mr-2" %}
                Play
            </button>
        {% endif %}
        {% if request.htmx.target == target %}
            {% with hx_oob=True %}
                {% include "episodes/_audio_log.html" %}
                {% include "episodes/_audio_player.html" %}
            {% endwith %}
        {% endif %}
    </div>
{% endwith %}
