{# vim: set filetype=htmldjango #}
{% load heroicons %}
<div id="audio-log"{% if hx_oob %} hx-swap-oob="true"{% endif %}>
    {% if audio_log and not is_playing %}
        <div class="flex-wrap items-center space-y-3 font-semibold text-gray-600 sm:flex sm:space-y-0 sm:space-x-3 dark:text-gray-300">
            <div class="flex flex-wrap items-center space-x-2">
                {% with percent_complete=audio_log.current_time|percentage:episode.duration_in_seconds %}
                    <span>
                        {% if audio_log.current_time == 0 or percent_complete == 100 %}
                            Completed
                        {% else %}
                            Listened
                        {% endif %}
                    </span>
                    {% include "_date.html" with value=audio_log.listened title="Listened" css_class="ml-2" %}
                    {% if percent_complete > 0 and percent_complete < 100 %}
                        <span>{{ percent_complete }}% Complete</span>
                    {% elif percent_complete == 0 and audio_log.current_time %}
                        <span>{{ audio_log.current_time|format_duration }}</span>
                    {% endif %}
                {% endwith %}
            </div>
            <button class="inline-flex items-center text-sm btn btn-danger"
                    title="Remove episode from your History"
                    hx-disabled-elt="this"
                    hx-target="#audio-log"
                    hx-delete="{% url "episodes:remove_audio_log" episode.pk %}"
                    hx-indicator="this"
                    hx-push-url="false"
                    hx-swap="outerHTML"
                    hx-confirm="Are you sure you want to remove this episode from your History?"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                {% heroicon_mini "trash" class="mr-2" %}
                Remove
            </button>
        </div>
    {% endif %}
</div>
