 <div class="{{ css_class|default:'' }}" data-controller="toggle">
  <button data-controller="ajax"
          data-toggle-target="item"
          data-ajax-url-value="{% url 'episodes:remove_bookmark' episode.id %}"
          data-ajax-redirect-value="none"
          data-ajax-throttle-value="500"
          data-action="toggle#toggle ajax#post"
          title="Remove episode from bookmarks"
          class="focus:outline-none rounded border hover:bg-gray-600 font-semibold px-2 py-1 text-sm flex items-center{% if not is_bookmarked %} hidden{% endif %}">
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor"
         class="h-5 w-5 mr-3">
      <path stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
    </svg>
    Remove
  </button>
  <button data-controller="ajax"
          data-toggle-target="item"
          data-ajax-url-value="{% url 'episodes:add_bookmark' episode.id %}"
          data-ajax-redirect-value="none"
          data-ajax-throttle-value="500"
          data-action="toggle#toggle ajax#post"
          title="Add Bookmark"
          class="focus:outline-none rounded border bg-blue-800 font-semibold hover:bg-blue-600 px-2 py-1 text-sm flex items-center{% if is_bookmarked %} hidden{% endif %}">
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor"
         class="h-5 w-5 mr-3">
      <path stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
    </svg>
    Bookmark
  </button>
</div>
