{% load heroicons %}
<div id="bookmark-button"
     hx-push-url="false"
     hx-target="this"
     hx-swap="outerHTML"
     hx-indicator="this"
     hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% if is_bookmarked %}
        <button aria-label="Remove Episode from your Bookmarks"
                title="Remove Episode from your Bookmarks"
                class="inline-flex items-center btn btn-default btn-outline"
                hx-disabled-elt="this"
                hx-delete="{% url 'episodes:remove_bookmark' episode.pk %}"
                hx-trigger="click once">
            {% heroicon_mini "bookmark-slash" class="mr-2" %}
            Bookmark
        </button>
    {% else %}
        <button aria-label="Add Episode to your Bookmarks"
                title="Add Episode to your Bookmarks"
                class="inline-flex items-center btn btn-default"
                hx-disabled-elt="this"
                hx-post="{% url 'episodes:add_bookmark' episode.pk %}"
                hx-trigger="click once">
            {% heroicon_mini "bookmark" class="mr-2" %}
            Bookmark
        </button>
    {% endif %}
</div>
