{% extends "episodes/_episodes.html" %}

{% block episodes %}
{% for bookmark in page_obj %}
{% include "episodes/_bookmark_episode.html" with episode=bookmark.episode current_time=bookmark.current_time completed=bookmark.completed %}

{% empty %}

{% block empty %}
{% if search %}
<p class="text-center sm:text-left">No results found for <span class="font-bold">{{ search }}</span>.</p>
{% else %}
You do not have any bookmarks at the moment.
{% endif %}
{% endblock empty %}

{% endfor %}
{% endblock %}
