<div class="flex items-center space-x-3 lg:space-x-4"
     {% if user.is_authenticated %}
     hx-push-url="false"
     x-data="{
        isPlaying: {{ is_playing|yesno:'true,false' }},
        isQueued: {{ is_queued|yesno:'true,false' }},
        isFavorite: {{ is_favorited|yesno:'true,false' }},
        isComplete: {{ episode.completed|yesno:'true,false' }},
        isListened: {{ episode.listened|yesno:'true,false' }}
     }"
     @close-player.window="isPlaying=false"
     @play-episode.window="
        if ($event.detail.value==={{ episode.id }}) {
            isPlaying = true;
            isQueued = false;
            isListened = true;
            isComplete = false;
        }"
     {% endif %}>
    {% with ICON_CSS="h-4 w-4 lg:h-6 lg:w-6" %}

    {% if user.is_authenticated %}
    
    <div class="flex items-center">

    <button title="Add to Favorites"
            x-show="!isFavorite"
            x-cloak
            hx-post="{% url 'episodes:add_favorite' episode.id %}"
            @click="isFavorite=true">
        {% icon "star" css_class=ICON_CSS %}
    </button>

    <button title="Remove from Favorites"
            x-show="isFavorite"
            x-cloak
            hx-delete="{% url 'episodes:remove_favorite' episode.id %}"
            @click="isFavorite=false">
        {% icon "star_solid" css_class=ICON_CSS %}
    </button>
    </div>

    <div class="flex items-center">
    <button title="Add to Play Queue"
            x-show="!isPlaying && !isQueued"
            x-cloak
            hx-post="{% url 'episodes:add_to_queue' episode.id %}"
            @click="isQueued=true">
        {% icon "collection" css_class=ICON_CSS %}
    </button>

    <button title="Remove from Play Queue"
            x-show="!isPlaying && isQueued"
            x-cloak
            hx-delete="{% url 'episodes:remove_from_queue' episode.id %}"
            @click="isQueued=false">
        {% icon "collection_solid" css_class=ICON_CSS %}
    </button>
    </div>

    <button title="Mark Complete"
            x-show="!isPlaying && !isComplete && isListened"
            x-cloak
            hx-post="{% url 'episodes:mark_complete' episode.id %}"
            @click="isComplete=true">
        {% icon "check" css_class=ICON_CSS %}
    </button>

    <button title="Remove from History"
            x-show="!isPlaying && isListened"
            x-cloak
            hx-delete="{% url 'episodes:remove_audio_log' episode.id %}"
            @click="isListened=false">
        {% icon "database_solid" css_class=ICON_CSS %}
    </button>

    {% endif %}
    <a download
       title="Download {{ episode.get_media_url_ext|upper }} File"
       href="{{ episode.media_url }}"
       class="link">
        {% if user.is_anonymous %}
        Download
        {% else %}
        {% icon "download" css_class=ICON_CSS %}
        {% endif %}
    </a>

    {% endwith %}
</div>
