{# vim: set filetype=htmldjango #}
{% with podcast=episode.podcast episode_url=episode.get_absolute_url %}
    <article class="flex items-center cursor-pointer group space-x-3"
             role="link"
             hx-get="{{ episode_url }}"
             hx-push-url="true">
        {% with size=100 css_class="h-16 w-16 group-hover:grayscale" %}
            {% if is_podcast_detail %}
                {% cover_image episode.get_cover_url size episode.cleaned_title css_class=css_class %}
            {% else %}
                {% cover_image podcast.cover_url size podcast.cleaned_title css_class=css_class %}
            {% endif %}
        {% endwith %}
        <div class="flex flex-col h-16 place-content-between">
            <h2 class="font-bold leading-tight tracking-tight break-words line-clamp-2"
                aria-label="{{ episode.cleaned_title }}"
                title="{{ episode.cleaned_title }}">
                <a class="link group-hover:text-blue-600 dark:group-hover:text-blue-300"
                   href="{{ episode_url }}">{{ episode.cleaned_title }}</a>
            </h2>
            <h3 class="text-xs font-semibold leading-tight tracking-tight text-gray-600 truncate w-60 sm:w-128 md:text-sm dark:text-gray-300"
                aria-label="{{ podcast.cleaned_title }}"
                title="{{ podcast.cleaned_title }}">
                {% if is_podcast_detail %}
                    {% include "_date.html" with value=episode.pub_date title="Release Date" %}
                {% else %}
                    {{ podcast.cleaned_title|truncatechars:180 }}
                {% endif %}
            </h3>
        </div>
    </article>
{% endwith %}
