{% load partials %}

{% with pagination_target="pagination" has_other_pages=page_obj.has_other_pages %}
    <ul class="divide-y divide-solid" id="{{ pagination_target }}">
        {% if has_other_pages %}
            <li class="pb-3">{% include "_pagination_links.html" %}</li>
        {% endif %}
        {% for item in page_obj %}
            <li class="py-3 first:pt-0 last:pb-0">
                {% if is_fk %}
                    {% with episode=item.episode %}
                        {% partial episode %}
                    {% endwith %}
                {% else %}
                    {% with episode=item %}
                        {% partial episode %}
                    {% endwith %}
                {% endif %}
            </li>
        {% endfor %}
        {% if has_other_pages %}
            <li class="pt-3">{% include "_pagination_links.html" %}</li>
        {% endif %}
    </ul>
{% endwith %}

{% partialdef episode %}
    {% with podcast=episode.podcast %}
        <a class="flex items-center space-x-3 cursor-pointer group"
           tabindex="0"
           href="{{ episode.get_absolute_url }}"
           title="{{ episode.cleaned_title }}">
            {% with COVER_IMAGE_CSS="group-hover:opacity-75" %}
                {% if is_podcast_detail %}
                    {% cover_image "card" episode.get_cover_url episode.cleaned_title css_class=COVER_IMAGE_CSS %}
                {% else %}
                    {% cover_image "card" podcast.cover_url podcast.cleaned_title css_class=COVER_IMAGE_CSS %}
                {% endif %}
            {% endwith %}

            <div class="flex flex-col place-content-between h-16 leading-tight">
                <h2 class="font-bold leading-tight break-words group-hover:text-blue-600 line-clamp-2 dark:group-hover:text-blue-300">
                    {{ episode.cleaned_title }}
                </h2>
                <h3 class="text-sm font-semibold leading-tight group-hover:text-blue-600 line-clamp-1 dark:group-hover:text-blue-300">
                    {% if is_podcast_detail %}
                        {{ episode.pub_date|date:"DATE_FORMAT" }}
                    {% else %}
                        {{ podcast.cleaned_title }}
                    {% endif %}
                </h3>
            </div>
        </a>
    {% endwith %}
{% endpartialdef %}
