{% load episodes %}
{% with podcast=episode.podcast duration=episode.get_duration_in_seconds episode_url=episode.get_absolute_url %}
{% is_playing episode as is_episode_playing %}
<div class="flex justify-between items-center mb-3 p-2 border  border-gray-500 hover:border-blue-500"
     id="episode-{{ episode.id }}">
  <div class="w-full">
    <div class="flex items-center w-full">
      <div class="mr-2 w-20">
        <a href="{{ podcast_url|default:podcast.get_absolute_url }}"
           data-turbo-frame="_top">
          {% if podcast.cover_image and not podcast_image %}
          <turbo-frame id="podcast-cover-image-{{ podcast.id }}"
                       src="{% url 'podcasts:podcast_cover_image' podcast.id %}">
            {% include "podcasts/_cover_image.html" with lazy=True %}
          </turbo-frame>
          {% else %}
          {% include "podcasts/_cover_image.html" %}
          {% endif %}
        </a>
      </div>
      <div class="leading-tight w-full">

        <div class="mb-1 w-56 truncate sm:w-96 lg:w-full text-sm">
          <a href="{{ episode_url }}"
             class="font-semibold hover:text-blue-500"
             data-turbo-frame="_top"
             title="{{ episode.title|stripentities }}">
            {{ episode.title|stripentities|truncatechars:120 }}
          </a>
        </div>

        <div class="flex items-center">
          <div class="mr-2">
            {% include "episodes/player/_toggle.html" %}
          </div>
          <div class="w-full">

            <div class="flex items-center justify-between lg:justify-start text-sm">
              <div class="font-semibold text-gray-100 mr-2 flex items-center">
                {{ episode.pub_date|date }}
                {% if episode.explicit %}
                {% include "_explicit.html" with css_class="ml-2" %}
                {% endif %}
              </div>
              {% block extra_info %}{% endblock %}
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  {% block extra_buttons %}{% endblock %}
</div>
{% endwith %}
