{% with podcast=episode.podcast %}
    <a class="flex items-center space-x-3 cursor-pointer group"
       tabindex="0"
       href="{{ episode.get_absolute_url }}"
       aria-label="{{ episode.cleaned_title }}"
       title="{{ episode.cleaned_title }}">
        {% cover_image "card" podcast.cover_url podcast.cleaned_title css_class="group-hover:opacity-75" %}
        <div class="flex flex-col place-content-between h-16 leading-tight">
            <h2 class="font-bold leading-tight break-words group-hover:text-blue-600 line-clamp-2 dark:group-hover:text-blue-300">
                {{ episode.cleaned_title }}
            </h2>
            <h3 class="text-sm font-semibold leading-tight group-hover:text-blue-600 line-clamp-1 dark:group-hover:text-blue-300">
                {{ podcast.cleaned_title }}
            </h3>
        </div>
    </a>
{% endwith %}
