{% load player %}
{% with podcast=episode.podcast episode_url=episode.get_absolute_url %}
<div class="py-3 border-t dark:border-gray-500 episode"
     {% if hx_remove %}
     x-data="{show: true}"
     x-show="show"
     x-transition:leave="transition ease-out duration-500"
     x-transition:leave-start="transform opacity-100"
     x-transition:leave-end="transform opacity-0"
     @{{ hx_remove }}.window="if ($event.detail.value === {{ episode.id }}) show=false"
     {% endif %}>

  <h2 class="flex flex-wrap font-semibold break-words mb-3">
    <a href="{{ episode_url }}"
       class="link"
       title="{{ episode.cleaned_title }}">
      {{ episode.cleaned_title|truncatechars:120 }}
    </a>
  </h2>

  <div class="flex items-center w-full space-x-3">

    <div>

      {% if is_podcast_detail %}
      <a href="{{ episode_url }}">
        {% include "_cover_image.html" with cover_url=episode.get_cover_url alt=episode.cleaned_title size=16 %}
      </a>
      {% else %}
      <a href="{{ podcast.get_absolute_url }}">
        {% include "_cover_image.html" with cover_url=podcast.cover_url alt=podcast.cleaned_title size=16 %}
      </a>
      {% endif %}
    </div>

    <div>

      <h3 class="font-semibold break-words mb-3 w-56 sm:w-96 lg:w-full truncate">
        <a href="{{ podcast.get_episodes_url }}"
           class="link text-xs"
           title="{{ podcast.cleaned_title }}">
          {{ podcast.cleaned_title|truncatechars:120 }}
        </a>
      </h3>

      <div class="flex items-center space-x-2">

        {% if user.is_authenticated %}
        <div>
          {% play_toggle episode %}
        </div>
        <div>
          {% include "episodes/_actions_toggle.html" %}
        </div>
        {% endif %}

        <div class="font-semibold text-gray-600 dark:text-gray-300 text-xs">
          {% include "episodes/_pub_date.html" with pub_date=episode.pub_date %}
        </div>

      </div>

    </div>
  </div>
</div>
{% endwith %}
