{% extends "pagination/_object_list.html" %}

{% block results %}
{% with count=page_obj.paginator.count %}
<div {% if count %}
     x-data="{ counter: {{ page_obj.paginator.count }} }"
     @remove-favorite.window="counter = counter-1"
     {% endif %}>
  {% for favorite in page_obj %}
  {% with episode=favorite.episode %}
  {% include "episodes/_favorite.html" %}
  {% endwith %}
  {% empty %}
  <p class="text-center sm:text-left">
    {% if search %}
    No results found for <span class="font-bold">{{ search }}</span>.
    {% else %}
    You do not have any Favorites at the moment.
    {% endif %}
  </p>
  {% endfor %}
  {% if count %}
  <p x-show="counter === 0">
    All done!
  </p>
  {% endif %}
</div>
{% endwith %}
{% endblock %}
