{% if user.is_authenticated %}
<form method="post"
      id="{{ episode.dom.favorite_toggle }}"
      data-turbo-frame="_top"
      action="{% url is_favorited|yesno:'episodes:remove_favorite,episodes:add_favorite' episode.id %}">
  {% csrf_token %}
  {% if is_favorited %}
  {% button "Favorites" icon="trash" type="secondary" title="Remove episode from your Favorites" %}
  {% else %}
  {% button "Favorites" icon="star" title="Add episode to your Favorites" %}
  {% endif %}
</form>
{% else %}
<div>
  {% button "Favorites" icon="star" title="Login or signup to add episode to your Favorites" href=episode.get_absolute_url|login_url data_turbo_frame="_top" %}
</div>
{% endif %}
