{% if user.is_authenticated %}
<form method="post"
      id="{{ episode.dom.favorite_toggle }}"
      action="{% url is_favorited|yesno:'episodes:remove_favorite,episodes:add_favorite' episode.id %}">
  {% csrf_token %}
  {% if is_favorited %}
  {% button "Favorites" icon="trash" type="secondary" title="Remove episode from your Favorites" %}
  {% else %}
  {% button "Favorites" icon="star" title="Add episode to your Favorites" %}
  {% endif %}
</form>
{% else %}
{% button "Favorites" icon="star" href=episode.get_absolute_url|login_url title="Login or sign up to add episode to your Favorites" data_turbo_frame="_top" %}
{% endif %}
