  {% if user.is_authenticated %}
  <div id="favorite-toggle"
       hx-target="this">
    {% if is_favorited %}
    <button class="btn btn-secondary flex items-center"
            hx-post="{% url 'episodes:remove_favorite' episode.id %}"
            @click.once="
          $dispatch('close-modal');
          $dispatch('message', {
              tag: 'info',
              message: 'Episode has been removed from your Favorites' }
          );
          $dispatch('remove-favorite', { id: {{ episode.id }} });"
            title="Remove from Favorites">
      {% icon "trash" css_class="btn-icon mr-2" %}
      Favorites
    </button>
    {% else %}
    <button class="btn btn-default flex items-center"
            hx-post="{% url 'episodes:add_favorite' episode.id %}"
            @click.once="
            $dispatch('close-modal');
            $dispatch('message', {
                tag: 'success',
                message: 'Episode has been added to your Favorites' }
            );
            "
            title="Add to Favorites">
      {% icon "star" css_class="btn-icon mr-2" %}
      Favorites
    </button>
    {% endif %}
  </div>
  {% else %}
  <div>
    <a class="btn btn-default flex items-center"
       href="{{ episode.get_absolute_url|login_url }}"
       title="Log in">
      {% icon "star" css_class="btn-icon mr-2" %}
      Favorites
    </a>
  </div>
  {% endif %}
