{% extends "pagination/_object_list.html" %}

{% block results %}
<div id="favorites">
  {% for favorite in page_obj %}
  {% with episode=favorite.episode %}
  {% include "episodes/_favorite.html" with dom_id=episode.dom.favorite %}
  {% endwith %}
  {% empty %}
  <p class="text-center sm:text-left">
    {% if search %}
    No results found for <span class="font-bold">{{ search }}</span>.
    {% else %}
    You do not have any Favorites at the moment.
    {% endif %}
  </p>
  {% endfor %}
</div>
{% endblock %}
