{% extends "pagination/_object_list.html" %}

{% block results %}
<!-- tbd: move this surrounding code to parent template -->
{% with count=page_obj.paginator.count %}
<div {% if count and not is_paginated %}
     x-data="{ counter: {{ count }} }"
     @remove-audio-log.window="counter = counter-1"
     {% endif %}>
  {% for log in page_obj %}
  <div x-data="{show:true}"
            x-show="show"
            @remove-audio-log.window="if ($event.detail.episode === {{ log.episode.id }}) show=false">
    {% include "episodes/_audio_log.html" with episode=log.episode %}
  </div>
  {% empty %}
  <p class="text-center sm:text-left">
    {% if search %}
    No results found for <span class="font-bold">{{ search }}</span>.
    {% else %}
    Your History is currently empty.
    {% endif %}
  </p>
  {% endfor %}
  {% if count and not is_paginated %}
  <p x-show="counter === 0">
    All done!
  </p>
  {% endif %}
</div>
{% endwith %}
{% endblock %}
