{% load episodes %}
{% if user.is_authenticated %}
{% get_player as player %}
{% with episode=player.episode %}
<div id="player"
     data-turbo-permanent
     data-controller="player"
     data-action="keydown@window->player#shortcuts turbo:submit-end@window->player#submit"
     data-player-active-class="player--active"
     data-player-inactive-class="player--inactive"
     data-player-csrf-token-value="{{ csrf_token }}"
     data-player-timeupdate-url-value="{% url 'episodes:player_update_current_time' %}"
     data-player-playback-rate-url-value="{% url 'episodes:player_update_playback_rate' %}"
     {% if episode %}
     data-player-media-url-value="{{ episode.media_url }}"
     data-player-playback-rate-value="{{ player.playback_rate|default:1.0 }}"
     data-player-current-time-value="{{ player.current_time|default:0 }}"
     data-player-metadata-value='{{ episode.get_media_metadata|jsonify }}'
     {% endif %}>
  <audio data-player-target="audio"
         preload="metadata"
         data-action="canplaythrough->player#canPlay ended->player#ended loadedmetadata->player#loadedMetaData play->player#resumed playing->player#canPlay pause->player#paused suspend->player#wait stalled->player#wait waiting->player#wait error->player#wait timeupdate->player#timeUpdate">
  </audio>
  {% include "episodes/_player_controls.html" with has_next=player.has_next %}
  {% endwith %}
</div>
{% endif %}
