{% if user.is_authenticated %}
<form method="POST"
      data-turbo-frame="_top"
      id="{% if is_modal %}{{ episode.dom.player_modal_toggle }}{% else %}{{ episode.dom.player_toggle }}{% endif %}"
      action="{% if is_playing %}{% url 'episodes:stop_player' %}{% else %}{% url 'episodes:start_player' episode.id %}{% endif %}">
  {% csrf_token %}
  <div class="flex items-center">
    {% if is_playing %}
    <button title="Close Player"
            value="stop"
            class="text-gray-800 hover:text-blue-600 dark:text-gray-100 dark:hover:text-blue-400 focus:outline-none">
      {% icon "stop" css_class="h-12 w-12" %}
    </button>
    {% else %}
    <button title="Open in Player"
            value="start"
            class="text-gray-800 hover:text-blue-600 dark:text-gray-100 dark:hover:text-blue-400 focus:outline-none">
      {% icon "play" css_class="h-12 w-12" %}
    </button>
    {% endif %}
  </div>
</form>
{% else %}
<div>
  <a title="Login or sign up to play this episode"
     href="{{ episode.get_absolute_url|login_url }}"
     data-turbo-target="_top"
     class="text-gray-800 hover:text-blue-600 dark:text-gray-100 dark:hover:text-blue-400 focus:outline-none">
    {% icon "play" css_class="h-12 w-12" %}
  </a>
</div>
{% endif %}
