{% load episodes %}
{% if user.is_authenticated %}
{% get_player as player %}
{% with episode=player.episode %}
<div id="player"
     data-turbo-permanent
     data-controller="player"
     data-action="turbo:submit-end@window->player#togglePlayer keydown@window->player#shortcuts"
     data-player-active-class="player--active"
     data-player-inactive-class="player--inactive"
     data-player-csrf-token-value="{{ csrf_token }}"
     data-player-timeupdate-url-value="{% url 'episodes:player_timeupdate' %}"
     {% if episode %}
     data-player-media-url-value="{{ episode.media_url }}"
     data-player-playback-rate-value="{{ player.playback_rate|default:1.0 }}"
     data-player-current-time-value="{{ player.current_time|default:0 }}"
     data-player-metadata-value='{{ episode.get_media_metadata|jsonify }}'
     {% endif %}>
  {% if episode %}
  {% include "episodes/_player_controls.html" with has_next=player.has_next %}
  {% endif %}
</div>
{% endwith %}
{% endif %}
