<div x-data="{isPlaying:{{ is_playing|yesno:'true,false' }}, csrfToken: '{{ csrf_token }}'}"
     @close-player="isPlaying = false"
     @open-player="isPlaying = $event.detail.episode.id === {{ episode.id }}">
  <button class="btn btn-secondary flex items-center"
          title="Close Player"
          x-show="isPlaying"
          @click="
            fetch('{% url 'episodes:close_player' %}', {
                  method: 'POST',
                  headers: {'X-CSRFToken': csrfToken}
            })
            $dispatch('close-player');
            $dispatch('close-modal');">
    {% icon "stop" css_class="btn-icon mr-2" %}
    Close Player
  </button>
  <button class="btn btn-primary flex items-center"
          title="Open Player"
          x-show="!isPlaying"
          @click="
                fetch('{% url 'episodes:start_player' episode.id %}', {
                    method: 'POST',
                    headers: {'X-CSRFToken': csrfToken}
                })
               .then(response => response.json())
               .then(data => {
                  $dispatch('open-player', data);
                  $dispatch('close-modal')
               });">
    {% icon "play" css_class="btn-icon mr-2" %}
    Play Episode
  </button>
</div>
