{% load podcasts %}
{% with podcast=episode.podcast podcast_url=episode.podcast.get_absolute_url cover_image=episode.podcast.get_cover_image_thumbnail episode_title=episode.title|stripentities %}
<div class="fixed bottom-0 z-10 bg-black dark:bg-gray-800 text-white w-full p-1 font-semibold"
     data-controller="toggle"
     data-player-target="controls"
     id="player-controls">

  <div data-toggle-target="item"
       class="hidden">
    <div class="flex items-center justify-between relative">
      <div class="flex items-center">
        {% cover_image podcast lazy=False cover_image=cover_image data_controller="link" data_link_url_value=podcast_url data_action="click->link#visit" role="link" size="8" css_class="bg-transparent border-white mr-2 cursor-pointer" %}
        <a href="{{ episode.get_absolute_url }}"
           title="{{ episode_title }}"
           class="player--title w-64 sm:w-96 md:w-full truncate text-sm">{{ episode_title|truncatechars:80 }}</a>
      </div>
      <button data-action="toggle#toggle"
              class="focus:outline-none float-right hover:text-blue-500"
              title="Maximize Player">
        {% icon "chevron_up" css_class="h-6 w-6" %}
      </button>
    </div>
  </div>

  <div data-toggle-target="item"
       class="relative">
    <button data-action="toggle#toggle"
            class="absolute right-0 top-0 focus-outline-none hover:text-blue-500 md:hidden"
            title="Mimimize Player">
      {% icon "chevron_down" css_class="h-6 w-6" %}
    </button>

    <div class="mb-1 md:hidden pr-1 text-sm w-64 sm:w-96 truncate">
      <a href="{{ episode.get_absolute_url }}"
         class="player--title"
         title="{{ episode_title }}">{{ episode_title|truncatechars:100 }}</a>

    </div>
    <div class="flex items-center">

      {% cover_image podcast lazy=False cover_image=cover_image data_controller="link" data_link_url_value=podcast_url data_action="click->link#visit" role="link" size="14" css_class="mr-2 lg:h-18 lg:w-18 self-center hover:opacity-75 border-white cursor-pointer" %}

      <div class="w-full">

        <div class="flex justify-between items-center w-full mb-1">

          <div class="flex items-center">

            <button title="Pause"
                    data-toggle-target="item"
                    data-action="player#pause"
                    data-player-target="pauseButton"
                    class="focus:outline-none hover:text-blue-500 mr-1">
              {% icon "pause" css_class="h-8 w-8" %}
            </button>

            <button title="Play"
                    data-action="player#play"
                    data-toggle-target="item"
                    data-player-target="playButton"
                    class="focus:outline-none mr-1 hidden hover:text-blue-600">
              {% icon "play" css_class="h-8 w-8" %}
            </button>

            <form class="flex items-center"
                  method="POST"
                  action="{% url 'episodes:stop_player' %}">
              {% csrf_token %}
              <button title="Stop"
                      class="focus:outline-none hover:text-blue-500">
                {% icon "stop" css_class="h-8 w-8" %}
              </button>
            </form>

            <form method="POST"
                  class="hidden"
                  data-player-target="playNext"
                  action="{% url 'episodes:play_next_episode' %}">
              {% csrf_token %}
            </form>
            <div class="hidden md:inline-block text-sm ml-2 w-96 lg:w-full truncate">
              <a href="{{ episode.get_absolute_url }}"
                 class="player--title"
                 title="{{ episode_title }}">{{ episode_title|truncatechars:100 }}</a>
            </div>

          </div>

          <div class="flex items-center">
            <button class="focus:outline-none mr-1 md:mr-2 p-1 hover:text-blue-500 player--interactive"
                    data-action="player#decrementPlaybackRate"
                    title="Decrease Playback Rate">-</button>
            <span class="mr-1 md:mr-2 tracking-tight leading-tight player--interactive text-sm"
                  data-player-target="playbackRate"
                  title="Playback Rate">
              1.0x
            </span>
            <button class="focus:outline-none p-1 hover:text-blue-500 mr-3 player--interactive"
                    data-action="player#incrementPlaybackRate"
                    title="Increase Playback Rate">+</button>

            <button title="Skip back 10 seconds"
                    data-action="player#skipBack"
                    class="focus:outline-none hover:text-blue-500 player--interactive mr-2">
              {% icon "skip_back_10" css_class="h-6 w-6" %}
            </button>
            <button title="Skip forward 10 seconds"
                    data-action="player#skipForward"
                    class="player--interactive focus:outline-none hover:text-blue-500 player--interactive">
              {% icon "skip_forward_10" css_class="h-6 w-6" %}
            </button>
            <button data-action="toggle#toggle"
                    class="focus-outline-none hover:text-blue-500 hidden md:inline-block ml-3"
                    title="Mimimize Player">
              {% icon "chevron_down" css_class="h-6 w-6" %}
            </button>
          </div>

        </div>

        <div class="flex items-center w-full mx-1">
          <div class="h-2 mx-auto rounded-full w-full flex items-center player--interactive player--progress"
               data-player-target="progressBar"
               data-action="click->player#skip mouseover->player#showPosition">
            <div class="w-4 h-4 rounded-full absolute border shadow-xl player--indicator"
                 data-player-target="indicator"
                 style="z-index: 12;"></div>
          </div>
          <div class="w-20 mr-2 text-right tracking-tighter text-sm md:text-base player--counter"
               data-player-target="counter">-00.00.00</div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endwith %}
