{% extends "modal_base.html" %}
{% load podcasts %}
{% block modal_header %}
<a href="{{ episode.get_absolute_url }}"
   title="{{ episode.title }}"
   class="link">
  {{ episode.title|stripentities|truncatechars:100 }}
</a>
{% endblock %}
{% block modal_content %}

{% with podcast=episode.podcast episode_url=episode.get_absolute_url podcast_url=episode.podcast.get_absolute_url duration=episode.get_duration_in_seconds %}
<div class="flex items-center text-sm space-x-2 font-semibold text-gray-600 dark:text-gray-300 mb-3">
  <div title="Date Published">
    {% include "_pub_date.html" with pub_date=episode.pub_date %}
  </div>
  <div class="Duration">
    {{ duration|format_duration }}
  </div>
</div>


<div class="flex items-center mb-3 space-x-3">
  <div>
    <a href="{{ podcast_url }}">
      {% cover_image podcast lazy=False size="20" %}
    </a>
  </div>
  <div class="space-y-2">
    {% include "episodes/_player_toggle.html" with is_modal=True %}
    {% include "episodes/_download.html" %}
  </div>

</div>

{% if episode.listened %}
{% include "episodes/_listened.html" with css_class="mb-3" %}
{% endif %}

{% if episode.explicit or podcast.explicit %}
<div class="text-sm font-semibold mb-3">
  This episode may contain explicit content.
</div>
{% endif %}

<blockquote class="text-sm markdown">
  {{ episode.description|keepspaces|stripentities|truncatewords:60 }}
</blockquote>

{% endwith %}
{% endblock %}
