{% extends "modal_base.html" %}
{% load episodes podcasts %}
{% block modal_header %}
<a href="{{ episode.get_absolute_url }}"
   title="{{ episode.title }}"
   class="link"
   data-turbo-frame="_top">
  {{ episode.title|truncatechars:100 }}
</a>
{% endblock %}
{% block modal_content %}

{% with podcast=episode.podcast duration=episode.get_duration_in_seconds episode_url=episode.get_absolute_url podcast_url=episode.podcast.get_absolute_url %}
<h2 class="text-sm mb-3">
  <a href="{{ podcast_url }}"
     title="{{ podcast.title }}"
     data-turbo-frame="_top"
     class="link">
    {{ podcast.title|truncatechars:100 }}
  </a>
</h2>

<div class="flex items-center mb-3 space-x-2">
  <div class="w-20">
    <a href="{{ podcast_url }}"
       data-turbo-frame="_top">
      {% cover_image podcast lazy=False size="20" %}
    </a>
  </div>

  <div class="text-sm space-y-1">
    <div title="Date Published"
         class="font-semibold text-gray-500 dark:text-gray-300 text-sm">{{ episode.pub_date|date }}</div>
    <div class="font-semibold text-gray-500 dark:text-gray-300">
      {{ duration|format_duration }} long
    </div>
    <div>
      {% include "episodes/_download.html" %}
    </div>
  </div>

</div>
{% if episode.listened %}
<div class="font-semibold text-gray-500 dark:text-gray-300 text-sm mb-3">
  Listened {{ episode.listened|date }}
  {% with episode.current_time|percent:duration as pc_complete %}
  {% if pc_complete %}
  {% if pc_complete >= 100 or episode.completed %}
  (100% done)
  {% else %}
  ({{ pc_complete|floatformat:'0' }}% done)
  {% endif %}
  {% endif %}
  {% endwith %}
</div>
{% endif %}

<div class="flex items-center space-x-2 mb-3">
  {% if "queue" in actions %}
  {% include "episodes/_queue_toggle.html" %}
  {% endif %}
  {% if "favorite" in actions %}
  {% include "episodes/_favorite_toggle.html" %}
  {% endif %}
</div>


{% if episode.explicit %}
<div class="text-sm font-semibold mb-3">
  This episode may contain explicit content.
</div>
{% endif %}

<div class="text-sm markdown">
  {{ episode.description|keepspaces|stripentities|truncatewords:60 }}
</div>

{% endwith %}
{% endblock %}
