<div data-controller="drag"
     data-drag-handle-class="handle"
     data-drag-group-value="queue-items"
     data-drag-url-value="{% url 'episodes:move_queue_items'%}"
     data-drag-csrf-token-value="{{ csrf_token }}"
     id="queue">
  {% for item in queue_items %}
  {% component_block "episode" item.episode dom_id=item.episode.dom.queue_list_item data_drag_target="draggable" data_id=item.id %}
  {% slot mobile_extra_buttons %}
  <div class="flex items-center md:hidden">
    <button class="btn btn-secondary flex items-center p-2 handle border-none"
            title="Move">
      {% component "icon" "view_list" css_class="btn-icon h-6 w-6" %}
    </button>
  </div>
  {% endslot %}
  {% slot extra_buttons %}
  <div class="md:flex items-center hidden">
    <button class="btn btn-secondary flex items-center p-2 handle border-none"
            title="Move">
      {% component "icon" "view_list" css_class="btn-icon h-6 w-6" %}
    </button>
  </div>
  {% endslot %}
  {% endcomponent_block %}
  {% empty %}
  You do not have any items in your Play Queue.
  {% endfor %}
</div>
