{% extends "episodes/_episode.html" %}
{% block extra_attrs %}data_drag-target="draggable" data-id=item.id{% endblock %}
{% block mobile_extra_buttons %}
<div class="flex items-center md:hidden">
  {% include "forms/_remove_button.html" css_class="mr-3" title="Remove from Play Queue" %}
  <button class="btn btn-secondary flex items-center p-2 handle border-none"
          title="Move">
    {% icon "view_list" css_class="btn-icon h-6 w-6" %}
  </button>
</div>
{% endblock %}
{% block extra_buttons %}
<div class="md:flex items-center hidden">
  {% include "forms/_remove_button.html" css_class="mr-3" title="Remove from Play Queue" %}
  <button class="btn btn-secondary flex items-center p-2 handle border-none"
          title="Move">
    {% icon "view_list" css_class="btn-icon h-6 w-6" %}
  </button>
</div>
{% endblock %}
