{% with podcast=episode.podcast episode_url=episode.get_absolute_url episode_title=episode.title|striptags podcast_title=episode.podcast.title|striptags %}
<div class="py-2 border-t dark:border-gray-500 text-sm episode"
     x-data="{show: true}"
     x-show="show"
     x-transition:leave="transition ease-out duration-500"
     x-transition:leave-start="transform opacity-100"
     x-transition:leave-end="transform opacity-0"
     @remove-queue-item.window="if ($event.detail.value === {{ episode.id }}) show=false">
  <div class="flex justify-between items-center">

    <div class="flex items-center w-full space-x-3">

      <div>
        <a href="{{ podcast.get_absolute_url }}">
          {% include "_cover_image.html" with cover_url=podcast.cover_url alt=podcast_title size=14 %}
        </a>
      </div>

      <div class="flex flex-col place-content-between h-14">
        <h2 class="w-60 sm:w-96 lg:w-full truncate">
          <a href="{{ episode_url }}"
             class="link"
             title="{{ episode_title }}">
            {{ episode_title|truncatechars:120 }}
          </a>
        </h2>
        <div class="space-x-2 flex items-center">
          {% include "episodes/_actions_toggle.html" %}
          <div class="w-48 sm:w-96 lg:w-full truncate">
            <a href="{{ podcast.get_episodes_url }}"
               class="link font-semibold text-gray-600 dark:text-gray-300 text-xs">
              {{ podcast_title|truncatechars:100 }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="inline-flex items-center handle"
              title="Move">
        {% icon "view_list" css_class="btn-icon h-6 w-6" %}
      </button>
    </div>
  </div>
</div>
{% endwith %}
