  {% if user.is_authenticated %}
  <div id="queue-toggle"
       hx-target="this"
       hx-swap="outerHTML"
       hx-select="#queue-toggle"
       x-data="{isQueued: {{ is_queued|yesno:'true,false' }}}"
       @remove-queue-item.window="if ($event.detail.episode === {{ episode.id }}) isQueued=false">
    <button class="btn btn-secondary flex items-center"
            x-show="isQueued"
            hx-post="{% url 'episodes:remove_from_queue' episode.id %}"
            @click.once="
            $dispatch('message', {
                tag: 'info',
                message: 'Episode has been removed from your Play Queue' }
            );
            $dispatch('remove-queue-item', { episode: {{ episode.id }} });
            $dispatch('close-modal');"
            title="Remove from Play Queue">
      {% icon "trash" css_class="btn-icon mr-2" %}
      Play Queue
    </button>
    <button class="btn btn-default flex items-center"
            x-show="!isQueued"
            hx-post="{% url 'episodes:add_to_queue' episode.id %}"
            @click.once="
            $dispatch('message', {
                tag: 'success',
                message: 'Episode has been added to your Play Queue' }
            );
            $dispatch('close-modal');
            "
            title="Add to Play Queue">
      {% icon "collection" css_class="btn-icon mr-2" %}
      Play Queue
    </button>
  </div>
  {% else %}
  <div>
    <a class="btn btn-default flex items-center"
       @click="
       $dispatch('close-modal');
       $dispatch('message', {tag: 'info', message: 'You must log in or sign up to add episodes to your Play Queue'});
       "
       {% hx_link episode.get_absolute_url|login_url %}
       title="Log in">
      {% icon "collection" css_class="btn-icon mr-2" %}
      Play Queue
    </a>
  </div>
  {% endif %}
