{% with count=queue_items|length %}
<div {% if count %}x-data="{
      counter: {{ count }}
     }"
     x-init="dragDrop($el)"
     @remove-queue-item.window="counter = counter-1"
     {% endif %}>
  {% for item in queue_items %}
  {% with episode=item.episode %}
  <div x-data="{show: true}"
       x-show="show"
       @remove-queue-item.window="if ($event.detail.episode === {{ episode.id }}) show=false">
    {% include "episodes/_queue_item.html" %}
  </div>
  {% endwith %}
  {% empty %}
  You do not have any items in your Play Queue.
  {% endfor %}
  {% if count %}
  <p x-show="counter === 0">
    All done!
  </p>
  {% endif %}
</div>
{% if count %}
<script>
  const dragDrop = (elt) => {
    const update = () => {
      const items = Array.from(elt.querySelectorAll('[data-draggable]')).map(
        (target) => target.dataset.id
      );
      if (items.length > 0) {
        sendJSON('/queue/~move/', {
          items,
        });
      }
    };

    Sortable.create(elt, {
      handle: '.handle',
      animation: 150,
      group: 'shared',
      onAdd: update,
      onRemove: update,
      onUpdate: update,
    });
  };
</script>
{% endif %}
{% endwith %}
