<div id="queue-toggle"
     hx-target="this"
     hx-swap="outerHTML"
     class="flex-shrink-0 h-8"
     x-data="{loading: false}">
  {% if is_queued %}
  <button class="btn btn-secondary flex items-center"
          title="Remove this episode from your Play Queue"
          :disabled="loading"
          @click="loading=true"
          hx-trigger="click delay:200ms"
          hx-post="{% url 'episodes:remove_from_queue' episode.id %}">
    {% icon 'trash' css_class="btn-icon mr-2" %}
    Play Queue
  </button>
  {% else %}
  <button class="btn btn-default flex items-center"
          title="Add this episode to your Play Queue"
          :disabled="loading"
          @click="loading=true"
          hx-trigger="click delay:200ms"
          hx-post="{% url 'episodes:add_to_queue' episode.id %}">
    {% icon 'collection' css_class="btn-icon mr-2" %}
    Play Queue
  </button>
  {% endif %}
</div>
