{% with target=episode.dom.remove_audio_log %}
{% if is_playing %}
<div id="{{ target }}">
  <button class="btn btn-secondary flex items-center p-2 border-none cursor-not-allowed opacity-50"
          title="Episode currently playing">
    {% icon "trash" css_class="btn-icon h-6 w-6" %}
  </button>
</div>
{% else %}
<form method="post"
      id="{{ target }}"
      action="{% url 'episodes:remove_audio_log' episode.id %}">
  {% csrf_token %}
  <button class="btn btn-secondary flex items-center p-2 border-none"
          name="remove"
          value="true"
          title="Remove episode from your History">
    {% icon "trash" css_class="btn-icon h-6 w-6" %}
  </button>
</form>
{% endif %}
{% endwith %}
