{% load heroicons %}
{% with target=episode.get_history_target %}
    <div id="{{ target }}"{% if hx_oob %} hx-swap-oob="true"{% endif %}>
        {% if listened %}
            <div class="flex flex-wrap items-center font-semibold text-gray-600 space-x-3 dark:text-gray-300">
                <div class="flex items-center space-x-1">
                    <span>Listened</span>
                    {% include "date.html" with value=listened title="Listened" %}
                </div>
                {% if current_time and current_time > 60 %}<div title="Timestamp">{{ current_time|format_duration }}</div>{% endif %}
                {% if not is_playing %}
                    {% url "episodes:remove_audio_log" episode.id as action_url %}
                    <form class="inline-flex items-center"
                          action="{{ action_url }}"
                          method="post"
                          x-data="{isLoading: false}">
                        {% csrf_token %}
                        <button class="inline-flex items-center text-xs btn btn-danger lg:text-sm"
                                title="Remove episode from your History"
                                hx-target="#{{ target }}"
                                hx-post="{{ action_url }}"
                                hx-indicator="this"
                                hx-push-url="false"
                                hx-swap="outerHTML"
                                hx-confirm="Are you sure you want to remove this episode from your History?"
                                @click="isLoading=true">
                            {% heroicon_mini "trash" class="mr-2" x_show="!isLoading" %}
                            {% heroicon_mini "arrow-path" class="mr-2" x_show="isLoading" x_cloak="true" %}
                            Remove
                        </button>
                    </form>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if request.htmx.target == target %}
        {% include "messages.html" with hx_oob=True %}
    {% endif %}
{% endwith %}
