{% extends "base.html" %}
{% block title %}
    | Bookmarks
{% endblock title %}
{% block content %}
    {% paginate bookmarks as page_obj %}
    <header class="pb-3 mb-6 space-y-3 border-b sm:space-y-6">
        <h1 class="flex justify-center text-lg font-bold sm:justify-start md:text-xl xl:text-2xl">Bookmarks</h1>
        {% if request.search or page_obj.has_other_pages %}
            <nav>
                <ul class="justify-between items-center space-y-3 sm:flex sm:space-y-0">
                    {% if not request.search %}
                        <li class="flex justify-center items-center sm:justify-start">
                            {% if ordering_asc %}
                                <a href="{{ request.path }}?order=desc" class="link">Oldest First</a>
                            {% else %}
                                <a href="{{ request.path }}?order=asc" class="link">Newest First</a>
                            {% endif %}
                        </li>
                    {% endif %}
                    <li class="flex justify-center items-center sm:justify-end">{% search_form "Search: Bookmarks" %}</li>
                </ul>
            </nav>
        {% endif %}
    </header>
    {% include "episodes/_episodes.html" with is_fk=True %}
{% endblock content %}
