{% extends "base.html" %}

{% block title %}
    {{ block.super }} | Bookmarks
{% endblock title %}

{% block content %}
    {% fragment "header.html" title="Bookmarks" %}
        {% if request.search or page.has_other_pages %}
            {% fragment "header/nav.html" %}
                {% if request.search %}
                    {% fragment "header/nav.html#item" %}
                        {% url "episodes:search_episodes" as search_button_url %}
                        {% include "header/nav/search.html#button" with label="Search Episodes" %}
                    {% endfragment %}
                {% else %}
                    {% fragment "header/nav.html#item" %}
                        {% if ordering == "asc" %}
                            <a class="link" href="{{ request.path }}{% querystring order='desc' page=None %}">
                                Newest First</a>
                        {% else %}
                            <a class="link" href="{{ request.path }}{% querystring order='asc' page=None %}">
                                Oldest First</a>
                        {% endif %}
                    {% endfragment %}
                {% endif %}
                {% fragment "header/nav.html#item" %}
                    {% include "header/nav/search.html#form" with placeholder="Search: Bookmarks" clearable=True %}
                {% endfragment %}
            {% endfragment %}
        {% endif %}
    {% endfragment %}
    {% partialdef pagination inline %}
        {% fragment "paginate.html" %}
            {% for bookmark in page %}
                {% fragment "browse.html#item" %}
                    {% include "episodes/cards.html#episode" with episode=bookmark.episode %}
                {% endfragment %}
            {% empty %}
                {% fragment "browse.html#empty" %}
                    {% if request.search %}
                        No episodes for &quot;<strong>{{ request.search.value }}</strong>&quot; found in your bookmarks.
                    {% else %}
                        <p>You don't have any Bookmarks at the moment.</p>
                        <p>This is where you can save all your favorites or any episodes you want to listen to later.</p>
                        <p>
                            To add an episode, just click the <strong>Bookmark</strong> button in the episode description.
                        </p>
                    {% endif %}
                {% endfragment %}
            {% endfor %}
        {% endfragment %}
    {% endpartialdef pagination %}
{% endblock content %}
