{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
{% with podcast=episode.podcast %}
<div class="p-2 border border-gray-400 mb-3">

  <h2 class="font-bold mb-3 text-lg">{{ episode.title }}</h2>
  <h3 class="font-semibold mb-3">
    <a href="{{ podcast.get_absolute_url }}"
       class="text-blue-800 hover:text-blue-600">
      {{ podcast.title }}
    </a>
  </h3>

  <div class="flex items-center w-full mb-3">

    {% thumbnail podcast.cover_image "200" format="PNG" crop="center" as img %}
    <img src="{{ img.url }}"
         alt="{{ podcast.title }}"
         class="object-cover mr-4 h-24 w-24 sm:h-32 sm:w-32"
         width="32"
         height="32">
    {% endthumbnail %}
    <div>

      <div class="font-semibold text-gray-700 flex flex-wrap items-center mb-3">
        <div class="inline-block mr-2">{{ episode.pub_date|date }}</div>
      </div>

      <div class="flex items-center">
        <button title="Open in Player"
                class="h-9 w-9 rounded-full border border-gray-400 focus:outline-none mr-2 btn-default rounded transition duration-500 ease-out transition hover:scale-125">
          <i class="fa fa-play text-kl"></i>
        </button>
      </div>

    </div>

  </div>

  <div class="markdown my-3">
    {{ episode.description|linebreaksbr }}
  </div>
</div>
{% endwith %}
{% endblock %}
