{% extends "base.html" %}

{% block title %}
    {{ block.super }} | History
{% endblock title %}

{% block content %}
    {% blockinclude "header.html" title="History" %}
        {% if request.search or page.has_other_pages %}
            {% blockinclude "header/nav.html" %}
                {% if request.search %}
                    {% blockinclude "header/nav.html#item" %}
                        {% url "episodes:search_episodes" as search_button_url %}
                        {% include "search.html#button" with label="Search Episodes" %}
                    {% endblockinclude %}
                {% else %}
                    {% blockinclude "header/nav.html#item" %}
                        {% if ordering == "asc" %}
                            <a class="link" href="{{ request.path }}{% querystring order='desc' page=None %}">
                                Newest First</a>
                        {% else %}
                            <a class="link" href="{{ request.path }}{% querystring order='asc' page=None %}">
                                Oldest First</a>
                        {% endif %}
                    {% endblockinclude %}
                {% endif %}
                {% blockinclude "header/nav.html#item" %}
                    {% include "search.html#form" with placeholder="Search: History" clearable=True %}
                {% endblockinclude %}
            {% endblockinclude %}
        {% endif %}
    {% endblockinclude %}
    {% partialdef pagination inline %}
        {% blockinclude "paginate.html" %}
            {% for audio_log in page %}
                {% blockinclude "browse.html#item" %}
                    {% include "episodes/cards.html#episode" with episode=audio_log.episode %}
                {% endblockinclude %}
            {% empty %}
                {% blockinclude "browse.html#empty" %}
                    {% if request.search %}
                        No episodes for &quot;<strong>{{ request.search.value }}</strong>&quot; found in your history.
                    {% else %}
                        <p>Your listening history is empty right now.</p>
                        <p>
                            To start enjoying some podcasts, just click the <strong>Play</strong> button on any episode page. Once you begin listening, episodes will show up here.
                        </p>
                    {% endif %}

                {% endblockinclude %}
            {% endfor %}
        {% endblockinclude %}
    {% endpartialdef pagination %}
{% endblock content %}
