{% extends "base.html" %}
{% load partials %}
{% block title %}
    | History
{% endblock title %}
{% block content %}
    <header class="pb-3 mb-6 border-b space-y-3 sm:space-y-6">
        <h1 class="flex justify-center text-lg font-bold sm:justify-start md:text-xl xl:text-2xl">History</h1>
        {% if request.search or page_obj.has_other_pages %}
            <nav>
                <ul class="items-center justify-between sm:flex space-y-3 sm:space-y-0">
                    <li class="flex items-center justify-center sm:justify-start">
                        {% if request.search %}
                            <a href="{% url 'episodes:search_episodes' %}?{{ request.search.qs }}"
                               class="link">Search All Podcasts</a>
                        {% else %}
                            <a href="{{ request.path }}?{{ request.ordering.qs_reversed }}"
                               class="link">{{ request.ordering.is_asc|yesno:"Newest First,Oldest First" }}</a>
                        {% endif %}
                    </li>
                    <li class="flex items-center justify-center sm:justify-end">
                        {% include "_search_form.html" with placeholder="Search: History" %}
                    </li>
                </ul>
            </nav>
        {% endif %}
    </header>
    {% partialdef pagination inline=True %}
    {% include "episodes/_episodes.html" with is_fk=True %}
{% endpartialdef pagination %}
{% endblock content %}
