{% extends "base.html" %}
{% block title %}
    | History
{% endblock title %}
{% block content %}
    {% paginate audio_logs as page_obj %}
    <header class="pb-3 mb-6 space-y-3 border-b sm:space-y-6">
        <h1 class="flex justify-center text-lg font-bold sm:justify-start md:text-xl xl:text-2xl">History</h1>
        {% if request.search or page_obj.has_other_pages %}
            <nav>
                <ul class="justify-between items-center space-y-3 sm:flex sm:space-y-0">
                    <li class="flex justify-center items-center sm:justify-start">
                        {% if request.search %}
                            <a href="{% url 'episodes:search_episodes' %}?{{ request.search.qs }}"
                               class="link">Search All Podcasts</a>
                        {% else %}
                            <a href="{{ request.path }}?order={{ ordering_asc|yesno:"desc,asc" }}"
                               class="link">{{ ordering_asc|yesno:"Newest First,Oldest First" }}</a>
                        {% endif %}
                    </li>
                    <li class="flex justify-center items-center sm:justify-end">{% search_form "Search: History" %}</li>
                </ul>
            </nav>
        {% endif %}
    </header>
    {% include "episodes/_episodes.html" with is_fk=True %}
{% endblock content %}
