{% extends "base.html" %}
{% load cache head_tags %}

{% block title %}
    {% title_tag "New Releases" %}
{% endblock title %}

{% block content %}
    {% fragment "header.html" title="New Releases" %}
        {% fragment "header/nav.html" %}
            {% fragment "header/nav.html#item" %}
                {% url "episodes:search_episodes" as search_url %}
                {% include "header/nav/search.html#form" %}
            {% endfragment %}
        {% endfragment %}
    {% endfragment %}
    {% fragment "browse.html" %}
        {% for episode in episodes %}
            {% fragment "browse.html#item" %}
                {% include "cards.html#episode" %}
            {% endfragment %}
        {% empty %}
            {% fragment "browse.html#empty" %}
                <p>You're not following any podcasts yet.</p>
                <p>
                    Head over to the <a href="{% url 'podcasts:discover' %}" class="link">Discover</a> page to find any podcasts you like, and hit the <strong>Subscribe</strong> button in the podcast description to add it to your list.
                </p>
                <p>Once you're subscribed to some podcasts, new episodes will show up here automatically.</p>
                <p>You can also use the search box above to explore and find episodes that catch your interest.</p>
            {% endfragment %}
        {% endfor %}
    {% endfragment %}
{% endblock content %}
