{% extends "base.html" %}

{% block subtitle %} | {{ search|yesno:"Search Episodes,New Releases" }}{% endblock %}

{% block content %}
<div class="sm:flex justify-between items-center mb-3">
  <h1 class="text-lg font-bold mb-2 sm:mb-0 flex items-center justify-center sm:justify-start">
    {% if search %}
    Search Episodes
    {% else %}
    New Releases
    {% endif %}
  </h1>
  <div class="flex items-center justify-center sm:justify-end">
    {% if search and has_subscriptions %}
    <div class="hidden sm:inline-block mr-2 text-sm">
      <a class="font-semibold hover:text-blue-500 mr-1"
         href="{% url 'podcasts:podcast_list' %}?q={{ search }}">Podcasts</a>
      <span class="mr-1">|</span>
      <a class="font-semibold hover:text-blue-500"
         href="{{ request.path }}">Clear</a>
    </div>
    {% endif %}
    {% include "_search_form.html" with placeholder="Search episodes..." %}
  </div>
</div>
{% if search and has_subscriptions %}
<div class="mb-3 flex justify-center items-center sm:hidden text-sm">
  <a class="font-semibold hover:text-blue-500 mr-2"
     href="{% url 'podcasts:podcast_list' %}?q={{ search }}">Podcasts</a>
  <span class="mr-2">|</span>
  <a class="font-semibold hover:text-blue-500"
     href="{{ request.path }}">Clear</a>
</div>
{% endif %}

{% if not search and not has_subscriptions and user.is_authenticated %}
<p class="text-center sm:text-left mb-3">You haven't subscribed to any podcasts yet. Search for new podcasts here or on the <a class="font-semibold underline"
     href="{% url 'podcasts:category_list' %}">Discover</a> page and click the "Subscribe" button to add them to your collection.</p>
{% endif %}

{% include "episodes/_episode_list.html" %}
{% endblock content %}
