{% extends "base.html" %}
{% load partials %}
{% block title %}
    | New Releases
    {% if has_subscriptions %}| {{ promoted|yesno:"Promotions,Subscriptions" }}{% endif %}
{% endblock title %}
{% block content %}
    <header class="pb-3 mb-6 border-b space-y-3 sm:space-y-6">
        {% if has_subscriptions %}
            <h1 class="flex items-center justify-center text-lg font-bold sm:justify-start md:text-xl xl:text-2xl">
                New Releases: {{ promoted|yesno:"Promotions,Subscriptions" }}
            </h1>
            <nav>
                <ul class="items-center justify-between sm:flex space-y-3 sm:space-y-0">
                    <li class="flex items-center justify-center sm:justify-start">
                        {% url 'episodes:index' as index_url %}
                        {% if promoted %}
                            <a href="{{ index_url }}" class="link">Subscriptions</a>
                        {% else %}
                            <a href="{{ index_url }}?promoted=true" class="link">Promotions</a>
                        {% endif %}
                    </li>
                    <li class="flex items-center justify-center sm:justify-end space-x-3">
                        {% include "_search_form.html" with placeholder="Search: Episodes" %}
                    </li>
                </ul>
            </nav>
        {% else %}
            <div class="items-center justify-between sm:flex space-y-6 sm:space-y-0">
                <h1 class="flex items-center justify-center text-lg font-bold sm:justify-start md:text-xl xl:text-2xl">
                    New Releases
                </h1>
                <nav class="flex items-center justify-center sm:justify-end space-x-3">
                    <ul>
                        <li>{% include "_search_form.html" with placeholder="Search: Episodes" %}</li>
                    </ul>
                </nav>
            </div>
        {% endif %}
    </header>
    {% partialdef pagination inline=True %}
    {% include "episodes/_episodes.html" %}
{% endpartialdef pagination %}
{% endblock content %}
