{% extends "base.html" %}
{% block title %}
    | New Releases
    {% if has_subscriptions %}
        |
        {% if promoted %}
            Promotions
        {% else %}
            Subscriptions
        {% endif %}
    {% endif %}
{% endblock title %}
{% block content %}
    <header class="mb-3 pb-3 border-b">
        {% url 'episodes:index' as index_url %}
        {% if has_subscriptions %}
            <h1 class="font-bold flex items-center justify-center sm:justify-start text-lg lg:text-xl xl:text-2xl mb-3">
                New Releases:
                {% if promoted %}
                    Promotions
                {% else %}
                    Subscriptions
                {% endif %}
            </h1>
            <nav>
                <ul class="sm:flex items-center justify-between space-y-2 sm:space-y-0">
                    <li class="flex items-center justify-center sm:justify-start">
                        {% if promoted %}
                            <a href="{{ index_url }}" class="link">Subscriptions</a>
                        {% else %}
                            <a href="{{ index_url }}?promoted=true" class="link">Promotions</a>
                        {% endif %}
                    </li>
                    <li class="flex items-center justify-center sm:justify-end space-x-3">
                        {% include "includes/search_form.html" with placeholder="Search: Episodes" %}
                    </li>
                </ul>
            </nav>
        {% else %}
            <div class="sm:flex justify-between items-center space-y-2 sm:space-y-0">
                <h1 class="font-bold flex items-center justify-center sm:justify-start text-lg md:text-xl xl:text-2xl">
                    New Releases
                </h1>
                <div class="flex items-center justify-center sm:justify-end space-x-3">
                    {% include "includes/search_form.html" with placeholder="Search: Episodes" %}
                </div>
            </div>
        {% endif %}
    </header>
    {% include pagination_template %}
{% endblock content %}
