{% extends "episodes/base.html" %}

{% block subtitle %} | Play Queue{% endblock %}

{% block robots %}
<meta name="robots"
      content="noindex" />
{% endblock %}

{% block content %}
<div id="queue"
     hx-get="{% url 'episodes:queue' %}"
     hx-trigger="reload-queue from:body">
  <div class="sm:flex justify-between items-center space-y-2 sm:space-y-0 mb-3">
    <h1 class="font-bold flex justify-center sm:justify-start">Play Queue</h1>
  </div>
  <div x-data="{}"
       x-init="dragDrop($el)">
    {% for item in queue_items %}
    {% with episode=item.episode %}
    <div data-draggable="true"
         data-id={{ item.id }}>
      {% include "episodes/_queue_item.html" %}
    </div>

    {% endwith %}
    {% empty %}
    You do not have any items in your Play Queue.
    {% endfor %}
  </div>
</div>

{% endblock content %}
