{% extends "episodes/base.html" %}

{% block subtitle %} | Play Queue{% endblock %}

{% block robots %}
<meta name="robots"
      content="noindex" />
{% endblock %}

{% block content %}
<div id="queue"
     x-data="{count: {{ queue_items|length }}}"
     @remove-queue-item.window="count-=1">
    <div class="flex justify-between items-center mb-4">
        <h1 class="font-bold flex text-lg lg:text-xl">Play Queue</h1>
        <label class="font-semibold flex items-center inline-block space-x-3"
               title="Automatically play next episode when current episode ends">
            <span>Auto Play</span>
            <input type="checkbox"
                   class="focus:outline-none"
                   name="autoplay"
                   {% if user.autoplay %}
                   checked{% endif %}
                   hx-post="{% url 'users:toggle_autoplay' %}">
        </label>
    </div>
    <div x-data="jCasts.DragDrop({
            csrfToken: '{{ csrf_token }}',
            url: '{% url "episodes:move_queue_items" %}',
            })">
        {% for item in queue_items %}
        {% with episode=item.episode %}
        <div data-draggable="true"
             data-id={{ item.id }}>
            {% include "episodes/_queue_item.html" with hx_remove="remove-queue-item" %}
        </div>

        {% endwith %}
        {% endfor %}
    </div>
    <p class="text-center sm:text-left pt-4 border-t dark:border-gray-500"
       x-show="count===0"
       x-cloak>
        You do not have any items in your Play Queue.
    </p>
</div>

{% endblock content %}
