{% extends "search_base.html" %}
{% load cache %}
{% block title %}
    | Search | Episodes
{% endblock title %}
{% block search_content %}
    {% block pagination %}
        {% cache 600 search-episodes request.get_full_path %}
        <div class="divide-y divide-solid" id="pagination">
            {% include "_pagination_links.html" %}
            {% for episode in page_obj.object_list %}
                {% include "episodes/_episode.html" %}
            {% empty %}
                {% include "_empty.html" %}
            {% endfor %}
            {% include "_pagination_links.html" %}
        </div>
    {% endcache %}
{% endblock pagination %}
{% endblock search_content %}
