{% extends "base.html" %}

{% block subtitle %} | Search Episodes{% endblock %}

{% block content %}
<div class="sm:flex justify-between items-center mb-3">
  <h1 class="text-lg font-bold mb-2 sm:mb-0 flex items-center justify-center sm:justify-start">
    Search Episodes
  </h1>
  <div class="flex items-center justify-center sm:justify-end">
    {% if search %}
    <div class="hidden sm:inline-block mr-2 text-sm">
      <a class="font-semibold hover:text-blue-500 mr-1"
         href="{% url 'podcasts:search_podcasts' %}?q={{ search }}">Podcasts</a>
      {% if user.is_authenticated %}
      <span class="mr-1">|</span>
      <a class="font-semibold hover:text-blue-500"
         href="{% url 'episodes:episode_list' %}">Clear</a>
      {% endif %}
    </div>
    {% endif %}
    {% include "_search_form.html" with placeholder="Search episodes..." %}
  </div>
</div>
{% if search %}
<div class="mb-3 flex justify-center items-center sm:hidden text-sm">
  <a class="font-semibold hover:text-blue-500 mr-2"
     href="{% url 'podcasts:search_podcasts' %}?q={{ search }}">Podcasts</a>
  {% if user.is_authenticated %}
  <span class="mr-2">|</span>
  <a class="font-semibold hover:text-blue-500"
     href="{% url 'episodes:episode_list' %}">Clear</a>
  {% endif %}
</div>
{% endif %}
{% include "episodes/_episode_list.html" %}
{% endblock content %}
