{% load i18n %}
{% with podcast_url=podcast.get_absolute_url %}
    <article class="group flex items-center space-x-3 py-2 cursor-pointer"
        role="link"
        hx-get="{{ podcast_url }}"
        hx-push-url="true">
        <div>
            {% include "includes/cover_image.html" with cover_url=podcast.cover_url alt=podcast.cleaned_title css_class="h-16 w-16 group-hover:grayscale" %}
        </div>
        <div class="flex flex-col place-content-between h-14">
            <h2 class="w-60 tracking-tight leading-tight break-words sm:w-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl font-bold line-clamp-2 lg:line-clamp-1"
                title="{{ podcast.cleaned_title }}">
                <a class="link group-hover:text-blue-600 dark:group-hover:text-blue-400"
                    href="{{ podcast_url }}">
                    {{ podcast.cleaned_title|truncatechars:180 }}
                </a>
            </h2>
            <h3 class="truncate w-60 sm:w-auto sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-5xl font-semibold text-gray-600 dark:text-gray-300 text-xs lg:text-sm">
                {% include "includes/date.html" with value=podcast.pub_date title=_("Latest Episode") %}
            </h3>
        </div>
    </article>
{% endwith %}
