{% load heroicons %}
{% with target=podcast.get_subscribe_target %}
    {% url is_subscribed|yesno:'podcasts:unsubscribe,podcasts:subscribe' podcast.id as action_url %}
    <form id="{{ target }}"
          action="{{ action_url }}"
          method="post"
          hx-target="this"
          hx-push-url="false"
          hx-indicator="this"
          hx-swap="outerHTML"
          x-data="{isLoading: false}">
        {% csrf_token %}
        {% if is_subscribed %}
            <button class="inline-flex items-center btn btn-primary btn-outline btn-lg"
                    title="Unsubscribe from this Podcast"
                    @click="isLoading=true"
                    hx-post="{{ action_url }}"
                    hx-trigger="click once">
                {% heroicon_mini "eye-slash" class="mr-2" x_show="!isLoading" %}
                {% heroicon_mini "arrow-path" class="mr-2" x_show="isLoading" %}
                Unsubscribe
            </button>
        {% else %}
            <button class="inline-flex items-center btn btn-primary btn-lg"
                    title="Subscribe to this Podcast"
                    @click="isLoading=true"
                    hx-post="{{ action_url }}"
                    hx-trigger="click once">
                {% heroicon_mini "eye" class="mr-2" x_show="!isLoading" %}
                {% heroicon_mini "arrow-path" class="mr-2" x_show="isLoading" %}
                Subscribe
            </button>
        {% endif %}
    </form>
    {% if request.htmx.target == target %}
        {% include "includes/messages.html" with hx_oob=True %}
    {% endif %}
{% endwith %}
