{% spaceless %}

    {% load static django_htmx audio_player %}

    {% if not request.htmx %}
        <!DOCTYPE html>
        <html lang="en">
            <!--
__________             .___.__        _____                 .___
\______   \_____     __| _/|__| _____/ ____\____   ____   __| _/
 |       _/\__  \   / __ | |  |/  _ \   __\/ __ \_/ __ \ / __ |
 |    |   \ / __ \_/ /_/ | |  (  <_> )  | \  ___/\  ___// /_/ |
 |____|_  /(____  /\____ | |__|\____/|__|  \___  >\___  >____ |
        \/      \/      \/                     \/     \/     \/
    -->
            <head>
    {% endif %}

    <title>
        {{ request.site.name }}{% block title %}{% endblock %}
    </title>

    {% if not request.htmx %}
        <link rel="icon" type="image/png" href="{% static 'img/wave-ico.png' %}">
        <link rel="apple-touch-icon image_src" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="stylesheet" text="text/css" href="{% static 'css/fontawesome.min.css' %}">
        <link rel="stylesheet" text="text/css" href="{% static 'css/bundle.css' %}{% if debug %}?{% now 'U' %}{% endif %}">

        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="copyright" content="Dan Jacob {% now "Y" %}">
        <meta name="htmx-config" content='{"historyCacheSize": 0, "refreshOnHistoryMiss": false}'>
        <meta name="Cache-Control" content="no-cache">
        <meta name="robots" content="index,follow">

        {% block content_metadata %}
            {% with site_name=request.site.name site_description="Podcast aggregator site" %}
                {% absolute_uri as site_uri %}

                <meta name="description" content="{{ site_description }}" />
                <meta name="keywords" content="podcasts, rss, feeds" />
                <meta name="og:type" content="website" />
                <meta name="og:title" content="{{ site_name }}" />
                <meta name="og:description" content="{{ site_description }}" />
                <meta name="og:url" content="{{ site_uri }}" />
                <meta name="twitter:description" content="{{ site_description }}">
                <meta name="twitter:title" content="{{ site_name }}">

                <script type="application/ld+json">
                    {
                        "@context": "https://schema.org",
                        "@type": "WebSite",
                        "url": "{{ site_uri }}",
                        "potentialAction": {
                            "@type": "SearchAction",
                            "target": {
                                "@type": "EntryPoint",
                                "urlTemplate": "{% absolute_uri 'podcasts:search_podcasts' %}?{{ request.search.param }}={search_term_string}"
                            },
                            "query-input": "required name=search_term_string"
                        }
                    }
                </script>
            {% endwith %}
        {% endblock content_metadata %}
        </head>

        <body class="container-xl mx-auto antialiased scroll-smooth font-sans dark:bg-zinc-900 dark:text-white text-sm md:text-base"
            hx-boost="true"
            hx-target="#content"
            hx-swap="outerHTML show:window:top"
            hx-indicator="#loader"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            {% include "includes/hx_indicator.html" %}

            <div class="flex flex-col h-screen">
                <div class="flex-grow">
                    {% include "includes/navbar.html" %}
                    {% include "includes/messages.html" %}
                    <div class="flex relative p-2 pt-6 mx-auto min-h-screen xl:w-11/12">
                        {% if user.is_authenticated %}
                            <aside class="w-full hidden xl:block xl:w-1/5 xl:sticky xl:h-full xl:top-24">
                                {% include "includes/sidebar.html" %}
                            </aside>
                        {% endif %}
    {% else %}
        {% include "includes/signup_cta.html" with hx_oob=True %}
    {% endif %}

    <main class="w-full xl:block md:mx-auto xl:w-4/5" id="content" hx-history-elt>
        {% block content %}{% endblock %}
    </main>

    {% if not request.htmx %}
        </div>
        </div>
        {% cookie_notice %}

        {% if user.is_authenticated %}
            <div id="player">
                {% audio_player %}
            </div>
        {% endif %}

        {% include "includes/footer.html" %}
        </div>

        {% django_htmx_script %}

        <script defer src="{% static 'js/bundle.js' %}{% if debug %}?{% now 'U' %}{% endif %}"></script>

        </body>

        </html>
    {% endif %}

{% endspaceless %}
