<c-vars page target />
<nav role="navigation"
     aria-label="Pagination"
     hx-swap="outerHTML show:window:top"
     hx-target="#{{ target }}">
    <ul class="flex justify-between items-center">
        <li>
            {% if page.has_previous %}
                <a class="link"
                   href="{{ request.path }}{% querystring page=page.previous_page_number %}"
                   aria-label="Previous Page"
                   title="Previous Page">Previous</a>
            {% else %}
                <span class="text-gray-600 cursor-not-allowed dark:text-gray-300"
                      title="First Page"
                      aria-label="First Page">Previous</span>
            {% endif %}
        </li>
        <li>
            {% if page.has_next %}
                <a class="link"
                   aria-label="Next Page"
                   href="{{ request.path }}{% querystring page=page.next_page_number %}"
                   title="Next Page">Next</a>
            {% else %}
                <span class="text-gray-600 cursor-not-allowed dark:text-gray-300"
                      title="Last Page"
                      aria-label="Last Page">Next</span>
            {% endif %}
        </li>
    </ul>
</nav>
