- name: Deploy Kubernetes
  environment:
      KUBECONFIG: "{{ kubeconfig }}"
  block:
      - name: Assert postgres.new_image and postgres.new_volume are defined
        ansible.builtin.assert:
            that:
                - postgres.new_image is defined
                - postgres.new_image|length > 0
                - postgres.new_volume is defined
                - postgres.new_volume|length > 0
            fail_msg: "Both 'postgres.new_image' and 'postgres.new_volume' must be defined for the upgrade."

      - name: Get current Postgres StatefulSet image
        ansible.builtin.shell: |
            kubectl get statefulset postgres -o jsonpath='{.spec.template.spec.containers[0].image}'
        register: current_postgres_image

      - name: Get the MAJOR version of the current Postgres image
        ansible.builtin.set_fact:
            postgres_current_version: "{{ current_postgres_image.stdout.split(':')[1].split('.')[0] }}"

      - name: Get the MAJOR version of the new Postgres image
        ansible.builtin.set_fact:
            postgres_new_version: "{{ postgres.new_image.split(':')[1].split('.')[0] }}"

      - name: Debug current and new Postgres versions
        ansible.builtin.debug:
            msg: "Current Postgres version: {{ postgres_current_version }}, New Postgres version: {{ postgres_new_version }}"

      - name: Debug current and new Postgres volumes
        ansible.builtin.debug:
            msg: "Current Postgres volume: {{ postgres.current_volume }}, New Postgres volume: {{ postgres.new_volume }}"

      - name: Assert volume + image are different than current
        ansible.builtin.assert:
            that:
                - postgres_new_version != postgres_current_version
                - postgres.new_volume != postgres.current_volume
            fail_msg: "The new image and volume must differ from the current ones."

      - name: Create a temporary directory
        ansible.builtin.tempfile:
            state: directory
        register: manifests_dir

      - name: Render Kubernetes manifests
        ansible.builtin.template:
            src: "{{ item }}.yaml.j2"
            dest: "{{ manifests_dir.path + '/' + item + '.yaml' }}"
        loop:
            - postgres_upgrade_pv
            - postgres_upgrade_pvc
            - postgres_upgrade_statefulset
            - postgres_upgrade_service

      - name: Apply Kubernetes manifests using ApplySet
        ansible.builtin.shell: |
            kubectl apply -f {{ manifests_dir.path }} --applyset=app-deployment --namespace=default
        environment:
            KUBECTL_APPLYSET: "true"

      - name: Delete manifests dir
        ansible.builtin.file:
            path: "{{ manifests_dir.path }}"
            state: absent
