<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{ site.name }}</title>
    </head>

    <body>
        <p>Hi {{ recipient.username }}

            <p>Greetings from {{ site.name }}!

                <p>Here are some new episodes from your collection:</p>

                {% for episode in episodes %}

                    <p>
                        <a href="{% absolute_uri episode %}">{{ episode.podcast.cleaned_title }} - {{ episode.cleaned_title }}</a>
                    </p>

                    <p>
                        {{ episode.cleaned_description|urlize|truncatewords:60 }}
                    </p>

                    <hr />
                {% endfor %}


                <p>If you do not want to receive any more notifications, you can just uncheck the "Send email notifications"
                    option
                    on your <a href="{% absolute_uri 'users:preferences' %}">settings</a> page.</p>
            </body>

        </html>
