{% extends "account/emails/base.html" %}
{% block content %}
    <p class="mb-3">Here are some new episodes from your collection:</p>

    {% for episode in episodes %}
        <div class="mb-3 pb-3 border-b">
            <h2 class="mb-3 text-lg">
                <a class="link underline" href="{% absolute_uri episode %}">{{ episode.podcast.cleaned_title }} - {{ episode.cleaned_title }}</a>
            </h2>

            <p class="markdown">
                {{ episode.cleaned_description|urlize|truncatewords:60 }}
            </p>
        </div>
    {% endfor %}
{% endblock content %}
