<div class="flex items-center space-x-3 lg:space-x-4">
    <a download
        title="Download {{ episode.get_media_url_ext|upper }} File"
        href="{{ episode.media_url }}"
        class="link">
        {% if user.is_anonymous %}
            Download
        {% else %}
            {% icon "download" css_class="h-5 w-5 lg:h-6 lg:w-6" %}
        {% endif %}
    </a>

    {% if user.is_authenticated %}
        {% include "episodes/actions/bookmark_toggle.html" %}
        {% include "episodes/actions/history_toggle.html" %}
    {% endif %}
</div>
