{% extends "episodes/_episode.html" %}
{% block attrs %}id="queue-item-{{ episode.id }}" data-drag-target="draggable" data-id="{{ item.id }}"{% endblock %}

{% block mobile_extra_buttons %}
<div class="flex items-center md:hidden">
  {% include "episodes/_remove.html" with css_class="mr-3" btn_title="Remove from Play Queue" %}
  <button class="btn btn-secondary flex items-center p-2 mr-2 handle"
          title="Move">
    {% svg "view_list" css_class="btn-icon" %}
  </button>
</div>
{% endblock %}

{% block extra_buttons %}
<div class="md:flex items-center hidden">
  {% include "episodes/_remove.html" with css_class="mr-3" btn_title="Remove from Play Queue" %}
  <button class="btn btn-secondary flex items-center p-2 mr-3 handle"
          title="Move">
    {% svg "view_list" css_class="btn-icon" %}
  </button>
</div>
{% endblock %}
