{% extends "base.html" %}

{% block subtitle %} | Play Queue{% endblock %}

{% block content %}
<h1 class="text-lg font-bold mb-3 flex justify-center sm:justify-start">
  Play Queue
</h1>
<div data-controller="drag"
     data-drag-handle-class="handle"
     data-drag-group-value="queue-items"
     data-drag-url-value="{% url 'episodes:move_queue_items'%}"
     data-drag-csrf-token-value="{{ csrf_token }}"
     id="queue">
  {% for item in queue_items %}
  {% url 'episodes:queue_actions' item.episode.id as action_url %}
  {% url 'episodes:remove_from_queue' item.episode.id as remove_url %}
  {% include "episodes/queue/_episode.html" with episode=item.episode %}
  {% empty %}
  You do not have any items in your Play Queue.
  {% endfor %}
</div>
{% endblock content %}
