{% load heroicons %}
{# fmt:off #}
<c-vars variant="default"
    icon
    class
    size="md"
    tag="button"
    outline
    :icon_sizes="{
        "lg": 24,
        "md": 20,
        "sm": 16,
    }"
/>
<{{ tag }}
    class="
    btn
    btn-{{ variant }}
    {% if outline %}btn-outline{% endif %}
    {% if size == "lg" %}text-lg{% elif size == "sm" %}text-sm{% endif %}
    {{ class }}
"
{{ attrs }}
>
    {% heroicon_mini icon size=icon_sizes|get_item:size %}
    {{ slot }}
</{{ tag }}>
{# fmt:on #}
