{% extends "forms/_form.html" %}
{% load i18n %}
{% block hidden_fields %}
{% if redirect_field_value %}
<input type="hidden"
       name="{{ redirect_field_name }}"
       value="{{ redirect_field_value }}" />
{% endif %}
{% endblock %}

{% block form_buttons %}
<a class="link text-sm mr-3"
   href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
<button class="flex items-center btn btn-default">
  {% icon "login" css_class="btn-icon mr-2" %}
  Sign In
</button>
{% endblock %}
