{% extends "forms/_form.html" %}
{% load i18n %}

{% block form_header %}
<p class="mb-3">
  {% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
</p>
{% endblock %}

{% block form_buttons %}
{% button _("Reset Password") icon="mail" %}
{% endblock %}

{% block form_footer %}
<p class="text-gray-500 dark:text-gray-300 text-sm mt-3">{% blocktranslate %}Please contact us if you have any trouble resetting your
  password.{% endblocktranslate %}</p>
{% endblock %}
