# Terraform state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash log files
crash.log
crash.*.log

# Variable files (may contain secrets)
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json

mailgun_dkim.txt

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform directories
.terraform/
.terraform.lock.hcl
