{% load static %}
{% static 'img/podcast-icon.webp' as placeholder %}
<img class="
    object-cover
    bg-transparent
    {% if url %}
        hover:grayscale
        hover:opacity-75
        cursor-pointer
    {% endif %}
    {{ css_class|default:'' }}"
    alt="{{ alt }}"
    title="{{ alt }}"
    aria-hidden="true"
    loading="lazy"
    width="{{ size }}"
    height="{{ size }}"
    src="{{ placeholder }}"
    {% if url %}
        role="link"
        hx-get="{{ url }}"
        hx-push-url="true"
        {% if hx_swap %}
            hx-swap="{{ hx_swap }}"
        {% endif %}
    {% endif %}
    {% if cover_url %}
        x-data="{# fmt:off #}{
            isLoaded: false,
            src: '{{ cover_url|escapejs }}',
            placeholder: '{{ placeholder|escapejs }}',
        }{# fmt:on #}"
        @load.once="isLoaded=true;"
        @error.once="src=placeholder;isLoaded=true;"
        :class="{'blur-sm': !isLoaded}"
        :src="src"
    {% endif %}>
