<article class="flex items-center border dark:border-gray-500 space-x-3" role="listitem">

    {% with css_class="h-16 w-16 md:h-20 md:w-20" %}
        <div class="{{ css_class }}">
            {% block cover_image %}{% endblock %}
        </div>
    {% endwith %}

    <div class="flex flex-col place-content-between h-14 md:h-16">
        <h2 class="w-60 tracking-tight leading-tight break-words sm:w-auto sm:max-w-lg md:max-w-4xl xl:max-w-5xl font-bold line-clamp-2">
            {% block card_title %}{% endblock %}
        </h2>

        <h3 class="truncate w-60 sm:w-auto sm:max-w-lg md:max-w-4xl xl:max-w-5xl font-semibold text-gray-600 dark:text-gray-300 text-xs md:text-sm">
            {% block card_subtitle %}{% endblock %}
        </h3>
    </div>

</article>
