{% load cache i18n %}
{% with SIDEBAR_CSS="inline-flex items-center w-full sm:w-auto link" ICON_CSS="mr-3 lg:mr-6" %}
    <nav class="pl-3 xl:pl-0 text-base md:text-lg lg:text-xl xl:pt-12"
        x-data="{active: null}"
        x-init="active=location.pathname;"
        @htmx:after-request.window="active=new URL($event.detail.xhr.responseURL).pathname;">
        <ul class="space-y-3 sm:space-y-0 xl:space-y-6 sm:grid sm:gap-3 sm:grid-flow-cols sm:grid-cols-2 xl:grid-cols-none xl:grid-rows-none xl:gap-0">
            <li>
                {% url 'podcasts:index' as podcasts_url %}
                <a href="{{ podcasts_url }}"
                    accesskey="p"
                    class="{{ SIDEBAR_CSS }}"
                    :class="{active: active === '{{ podcasts_url }}'}">
                    {% icon "rss" css_class=ICON_CSS %}
                    {% translate "Podcasts" %}
                </a>
            </li>
            <li>
                {% url 'episodes:index' as episodes_url %}
                <a href="{{ episodes_url }}"
                    accesskey="n"
                    class="{{ SIDEBAR_CSS }}"
                    :class="{active: active === '{{ episodes_url }}'}">
                    {% icon "satellite-dish" css_class=ICON_CSS %}
                    {% translate "New Releases" %}
                </a>
            </li>
            <li>
                {% url 'podcasts:category_list' as categories_url %}
                <a href="{{ categories_url }}"
                    accesskey="c"
                    class="{{ SIDEBAR_CSS }}"
                    :class="{active: active === '{{ categories_url }}'}">
                    {% icon "tag" css_class=ICON_CSS %}
                    {% translate "Categories" %}
                </a>
            </li>
            <li>
                {% url 'episodes:bookmarks' as bookmarks_url %}
                <a href="{{ bookmarks_url }}"
                    accesskey="b"
                    class="{{ SIDEBAR_CSS }}"
                    :class="{active: active === '{{ bookmarks_url }}'}">
                    {% icon "star" css_class=ICON_CSS %}
                    {% translate "Bookmarks" %}
                </a>
            </li>

            <li>
                {% url 'episodes:history' as history_url %}
                <a href="{{ history_url }}"
                    accesskey="h"
                    class="{{ SIDEBAR_CSS }}"
                    :class="{active: active === '{{ history_url }}'}">
                    {% icon "history" css_class=ICON_CSS %}
                    {% translate "History" %}
                </a>
            </li>

            <li>
                <a href="{% url 'users:preferences' %}"
                    accesskey="s"
                    class="{{ SIDEBAR_CSS }}"
                    :class="{active: active.startsWith('/account/')}">
                    {% icon "cog" css_class=ICON_CSS %}
                    {% translate "Settings" %}
                </a>
            </li>

            <li>
                {% url 'about' as about_url %}
                <a href="{{ about_url }}"
                    accesskey="a"
                    class="{{ SIDEBAR_CSS }}"
                    :class="{active: active === '{{ about_url }}'}">
                    {% icon "info-circle" css_class=ICON_CSS %}
                    {% translate "About" %}
                </a>
            </li>

            <li>
                <form class="inline-block"
                    hx-disable="true"
                    action="{% url 'account_logout' %}"
                    method="post">
                    {% csrf_token %}
                    <button accesskey="l"
                        class="{{ SIDEBAR_CSS }}">
                        {% icon "sign-out" css_class=ICON_CSS %}
                        {% translate "Logout" %}
                    </button>
                </form>
            </li>

        </ul>
    </nav>
{% endwith %}
