{% extends "emails/base.html" %}
{% load templatetags %}

{% block title %}
    Episode notifications for {{ site.name }}
{% endblock title %}

{% block style %}
    {{ block.super }}

    .episode {
    background-color: #512DA8;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    }

    .episode h3,
    .episode h4 {
    margin: 0 0 20px;
    text-align: center;
    }

    .episode img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    flex-shrink: 0;
    }

    .episode-content {
    display: flex;
    align-items: center;
    gap: 15px;
    }

    @media only screen and (max-width:479px) {
    .episode-content {
    display: block;
    text-align: center;
    }

    .episode img {
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto;
    }
    }

    @media only screen and (min-width:480px) {
    .episode img {
    margin-right: 15px !important;
    }
    }
{% endblock style %}

{% block preview %}
    Latest episodes from your favorite podcasts!
{% endblock preview %}

{% block content %}
    <h1 style="color: white;">Hi {{ recipient.username }}, greetings from {{ site.name }}!</h1>
    <h2 style="color: white;">Here are some episodes you might have missed:</h2>

    {% for episode in episodes %}
        {% with podcast=episode.podcast %}
            <div class="episode">
                <h3><a href="{% absolute_uri site episode.get_absolute_url %}">{{ episode.cleaned_title }}</a></h3>
                <h4>{{ podcast.cleaned_title }}</h4>
                <div class="episode-content">
                    {% get_cover_image_attrs "detail" podcast.cover_url podcast.cleaned_title as cover_attrs %}
                    <img src="{% absolute_uri site cover_attrs.src %}" width="{{ cover_attrs.width }}"
                         height="{{ cover_attrs.height }}" alt="{{ cover_attrs.alt }}">
                    <p class="description">
                        {{ episode.cleaned_description|urlize|truncatewords:60 }}
                    </p>
                </div>
            </div>
        {% endwith %}
    {% endfor %}
{% endblock content %}
