{% extends "emails/base.html" %}
{% load covers %}

{% block title %}
    Podcast Recommendations for {{ site.name }}
{% endblock title %}

{% block style %}
    {{ block.super }}
    .podcast {
    background-color: #512DA8;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    }

    .podcast h3 {
    margin: 0 0 20px;
    text-align: center;
    }

    .podcast img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    flex-shrink: 0;
    }

    .podcast-content {
    display: flex;
    align-items: center;
    gap: 15px;
    }

    @media only screen and (max-width:479px) {
    .podcast-content {
    display: block;
    text-align: center;
    }

    .podcast img {
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto;
    }
    }

    @media only screen and (min-width:480px) {
    .podcast img {
    margin-right: 15px !important;
    }
    }
{% endblock style %}

{% block preview %}
    Podcast recommendations just for you!
{% endblock preview %}

{% block content %}
    <h1 style="color: white;">Hi {{ recipient.username }}, greetings from {{ site.name }}!</h1>
    <h2 style="color: white;">Here are some podcasts you might find interesting:</h2>

    {% for podcast in podcasts %}
        <div class="podcast">
            <h3><a href="{% absolute_uri site podcast.get_absolute_url %}">{{ podcast.cleaned_title }}</a></h3>
            <div class="podcast-content">
                {% get_cover_image_attrs "detail" podcast.cover_url podcast.cleaned_title as cover_attrs %}
                <img src="{% absolute_uri site cover_attrs.src %}" width="{{ cover_attrs.width }}"
                     height="{{ cover_attrs.height }}" alt="{{ cover_attrs.alt }}">
                <p class="description">
                    {{ podcast.cleaned_description|urlize|truncatewords:60 }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
