#!/usr/bin/env bash

set -o errexit

export IMAGE="{{ docker_image.split(":")[0] }}:$TAG"
export KUBECONFIG="$HOME/.kube/config"

echo "DEPLOYING IMAGE $IMAGE"

kubectl set image deployment/django-app django=$IMAGE -n default

{% for cronjob in cronjobs %}
kubectl set image cronjob/{{ cronjob }} {{ cronjob }}=${IMAGE} -n default
{% endfor %}
