{% load i18n %}
{% with target=episode.get_player_target %}
    <div hx-push-url="false"
        hx-target="this"
        hx-disinherit="hx-indicator"
        hx-swap="outerHTML"
        id="{{ target }}">
        {% if is_playing %}
            <button class="inline-flex items-center btn btn-primary btn-outline btn-lg"
                hx-post="{% url 'episodes:close_player' %}"
                title="{% translate "Close Player" %}">
                {% icon "stop-circle" "regular" css_class="mr-2" %}
                {% translate "Close" %}
            </button>
        {% else %}
            <button class="inline-flex items-center btn btn-primary btn-lg"
                hx-post="{% url 'episodes:start_player' episode.id %}"
                title="{% translate "Open episode in Player" %}">
                {% icon "play-circle" "regular" css_class="mr-2" %}
                {% translate "Play" %}
            </button>
        {% endif %}
    </div>
    {% if request.htmx.target == target %}
        {% include "episodes/includes/audio_player.html" with hx_oob=True %}
        {% include "episodes/includes/history.html" with hx_oob=True %}
    {% endif %}
{% endwith %}
