{% load i18n %}
{% if not accept_cookies %}
<form class="text-white bg-gray-800 w-full py-3 flex justify-center" id="accept-cookies"
  method="post"
  action="{% url 'accept_cookies' %}">
  {% csrf_token %}
  <div class="px-2">
    <div class="md:flex items-center">
      <p class="mb-3 md:mb-0 md:mr-4">
        {% blocktranslate %}This site uses cookies to ensure you get the best experience.{% endblocktranslate %}
        <a href="https://www.internetcookies.org/"
           target="_blank"
           rel="noopener noreferrer"
           class="font-semibold text-white">{% translate "Learn more" %}</a>
      </p>
      <div class="text-center md:text-start">
        <button class="bg-blue-800 hover:bg-blue-600 text-white px-4 p-1 border border-white w-full sm:w-auto">
          {% translate "Got it!" %}
        </button>
      </div>
    </div>
  </div>
</form>
{% endif %}
