{# vim: set filetype=htmldjango #}
{# djlint:off #}
{% spaceless %}
    <img class="object-cover border bg-transparent bg-gray-100 dark:bg-gray-900 text-transparent {{ css_class }}"
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        title="{{ title }}"
        alt="{{ title }}"
        {% get_cover_image_attrs cover_url size as attrs %}
        {% for name, value in attrs.items %}{{ name }}="{{ value|stringformat:"s" }}"{% endfor %}>
    {% endspaceless %}
{# djlint:on #}
