{# vim: set filetype=htmldjango #}
{% spaceless %}
    <img class="object-cover border bg-transparent{% if url %} hover:grayscale cursor-pointer{% endif %} {{ css_class }}"
        title="{{ title }}"
        alt="{{ title }}"
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        width="{{ size }}"
        height="{{ size }}"
        src="{{ placeholder_url }}"
        {# djlint:off #}
        {% if url %}
            role="link"
            hx-get="{{ url }}"
            hx-push-url="true"
            hx-trigger="click consume"
        {% endif %}
        {% if cover_url %}
            x-data="{
                isLoaded: false,
                image: '{{ cover_url|escapejs }}',
                placeholder: '{{ placeholder_url|escapejs }}',
            }"
            @load.once="isLoaded=true;"
            @error.once="image=placeholder;isLoaded=true;"
            :src="isLoaded ? image : placeholder"
        {% endif %}{# djlint:on #}>
    {% endspaceless %}
