{% load static %}
{% static 'img/podcast-icon.png' as placeholder %}
{% spaceless %}
<img class="object-cover aspect-square bg-transparent hover:opacity-75 {% if css_class %}{{ css_class }}{% else %}h-{{ size }} w-{{ size }}{% endif %}"
     alt="{{ alt }}"
     title="{{ alt }}"
     loading="lazy"
     width="{{ size }}"
     height="{{ size }}"
     src="{{ placeholder }}"
     {% if cover_url %}
     x-data="{
            isLoaded: false,
            src: '{{ cover_url|escapejs }}',
            placeholder: '{{ placeholder|escapejs }}',
            coverUrl: '{{ cover_url|escapejs }}'
            }"
     x-init="src=placeholder;"
     @load.once="src=coverUrl;isLoaded=true;"
     @error.once="src=placeholder;isLoaded=true;"
     :class="{'filter blur-sm': !isLoaded}"
     :src="src"
     {% endif %}>
{% endspaceless %}
