    <form method="POST"
          id="dark-mode-toggle"
          action="{% url 'toggle_dark_mode' %}">
      {% csrf_token %}
      <input type="hidden"
             name="redirect_url"
             value="{{ request.get_full_path }}">
      <button class="flex items-center link w-full focus:outline-none"
              data-controller="theme"
              data-action="theme#toggle toggle#toggle">
        {% if dark_mode %}
        {% icon "sun" css_class="h-5 w-5 mr-3" %}
        Day Mode
        {% else %}
        {% icon "moon" css_class="h-5 w-5 mr-3" %}
        Night Mode
        {% endif %}
      </button>
    </form>
