<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"
        integrity="sha384-CCf0vTCDm45/tVeHI5nxBIecwPpI+/bKsypvBl0YSYKqgePxYt0lGzfHFp5o2uVp"
        crossorigin="anonymous"></script>
<script>
  (function() {
    window.dragDrop = (elt) => {
      const update = () => {
        const items = Array.from(elt.querySelectorAll('[data-draggable]')).map(
          (target) => target.dataset.id
        );
        if (items.length > 0) {
          sendJSON("{% url 'episodes:move_queue_items' %}", {
            items
          })
        }
      };

      Sortable.create(elt, {
        handle: '.handle',
        animation: 150,
        group: 'shared',
        onAdd: update,
        onRemove: update,
        onUpdate: update,
      });
    };
  })();
</script>
