<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>
  (function() {
    window.dragDrop = (elt) => {
      const update = () => {
        const items = Array.from(elt.querySelectorAll('[data-draggable]')).map(
          (target) => target.dataset.id
        );
        if (items.length > 0) {
          htmx.ajax('POST', "{% url 'episodes:move_queue_items' %}", {
            values: {
              items
            }
          });
        }
      };

      Sortable.create(elt, {
        handle: '.handle',
        animation: 150,
        group: 'shared',
        onAdd: update,
        onRemove: update,
        onUpdate: update,
      });
    };
  })();
</script>
