<footer class="p-2 mt-4 justify-center bg-black text-gray-100 text-sm sm:flex items-center leading-tight tracking-tight">
  <div class="mb-1 sm:mb-0 sm:mr-2 text-center sm:block">
    <span class="mr-1">&copy; Dan Jacob {% now 'Y' %}</span>
    <a class="underline hover:text-gray-300"
       target="_blank"
       rel="noopener"
       href="https://github.com/danjac/radiofeed/">Source</a>
  </div>
  <div class="text-center">Photo by <a class="underline hover:text-gray-300"
       target="_blank"
       rel="noopener"
       href="https://www.pexels.com/photo/abstract-painting-with-red-and-blue-colors-3435249/">Anni Roenkae from Pexels</a></div>
</footer>
