
<div class="relative pt-20">
    <div class="space-y-1 bg-zinc-900 dark:bg-zinc-800 text-white p-1 w-full text-xs lg:text-sm absolute bottom-0">
        <div class="flex items-center flex-wrap justify-center space-x-3 font-semibold">
            <div>
                &copy; {% now 'Y' %} <a class="underline hover:text-blue-500"
                    href="mailto:danjac2018@gmail.com">Dan Jacob</a>
            </div>
            <div>
                <a class="underline hover:text-blue-500"
                    target="_blank"
                    rel="noopener"
                    href="https://github.com/danjac/jcasts/">Source Code</a>

            </div>
            <div>
                <a class="underline hover:text-blue-500"
                    target="_blank"
                    rel="noopener"
                    href="https://github.com/danjac/jcasts/issues/">Report an Issue</a>

            </div>

        </div>
        <div class="flex items-center flex-wrap justify-center space-x-3">
            <p class="text-center font-semibold">
                Podcast audio recordings, show notes and artwork are the property of the individual owners
                and are neither affiliated with nor endorsed by {{ request.site.name }}.
            </p>
        </div>

    </div>
</div>
