  {% if google_tracking_id %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async
          src="https://www.googletagmanager.com/gtag/js?id={{ google_tracking_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '{{ google_tracking_id }}');
  </script>
  {% endif %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://{{ request.site.domain }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://{{ request.site.domain }}/podcasts/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
