<article class="border dark:border-gray-500 flex items-center space-x-3"
    role="listitem">

    <div class="w-20 h-20">
        {% block cover_image %}{% endblock %}
    </div>

    <div class="flex flex-col place-content-between h-16">
        <h2 class="w-56 max-h-10 tracking-tight lg:leading-tight flex flex-wrap break-words overflow-y-hidden sm:block sm:w-auto sm:max-w-lg md:max-w-2xl 2xl:max-w-3xl font-bold">
            {% block title %}{% endblock %}
        </h2>

        <h3 class="truncate w-56 sm:w-auto sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl 2xl:max-w-3xl font-semibold text-gray-600 dark:text-gray-300 text-xs lg:text-sm">
            {% block subtitle %}{% endblock %}
        </h3>
    </div>
</article>
