{# vim: set filetype=htmldjango #}
{% if content %}
    <div class="break-words prose prose-zinc prose-ul:list-inside prose-ol:list-inside prose-p:my-3 prose-hr:my-3 prose-ul:p-0 prose-ol:p-0 prose-headings:mb-3 prose-p:mb-3 dark:prose-invert"
        {# djlint:off #}
        x-init="$el.querySelectorAll('p,div,ul,ol,li,pre,table,tr,td,code,blockquote').forEach(child => {
            if (child.textContent.trim() === '') {
                child.remove();
            }
        });"
        {# djlint:on #}
        hx-disable="true">{{ content }}</div>
{% endif %}
