<div x-data="{messages: []}"
     @message.window="
            messages = messages.concat({
                tag: $event.detail.tag,
                message: $event.detail.message
            });
            setTimeout(() => { messages.shift() }, 3000);
            ">
  <div class="fixed z-50 top-20 w-full space-y-3"
       x-show="messages.length > 0">
    <template x-for="(message, index) in messages"
              :key="index">
      <div class="flex justify-center">
        <div class="flex justify-between rounded items-center py-2 px-3 shadow-xl message"
             :class="`message-${message.tag}`">
          <div class="mx-auto text-sm md:text-base font-semibold"
               x-text="message.message"></div>
        </div>
      </div>
    </template>
  </div>
</div>
