{% if messages %}
<div class="relative">
  <div class="absolute z-50 top-0 shadow-xl w-full">
    {% for message in messages %}
    <div data-controller="notification"
         data-notification-timeout-value="3000"
         class="flex justify-between items-center p-2 message {{ message.tags }}">
      <div class="mx-auto text-sm md:text-base font-semibold">{{ message }}</div>
      <button data-action="notification#remove"
              class="float-right focus:outline-none">
        {% icon "x_circle" css_class="h-6 w-6" %}
      </button>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
