{% load static heroicons %}
<header class="sticky top-0 z-20 w-full text-white bg-violet-900"
        :class="scrolling ? 'drop-shadow-xl': ''"
        x-data="{showMenu: false, scrolling: false}"
        @scroll.window="scrolling = window.pageYOffset > 0"
        @htmx:before-request.window="showMenu=false">
    <nav class="flex items-center justify-between p-2">
        {% with site_name=request.site.name %}
            <div class="flex items-center flex-shrink-0">
                <a class="inline-flex items-center text-lg font-bold md:text-xl xl:text-2xl"
                   href="{% if user.is_authenticated %}{% url 'podcasts:index' %}{% else %}{% url 'podcasts:landing_page' %}{% endif %}"
                   title="{{ site_name }}: Home Page">
                    <img src="{% static 'img/wave-white.png' %}"
                         height="100"
                         width="100"
                         alt="{{ site_name }}"
                         class="w-6 h-6 mr-3 lg:h-8 lg:w-8"
                         title="{{ site_name }}"
                         aria-hidden="true">
                    {{ site_name }}
                </a>
            </div>
        {% endwith %}
        <ul class="flex items-center space-x-3">
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'users:preferences' %}"
                       aria-label="Settings for {{ user.username }}"
                       title="Settings for {{ user.username }}"
                       class="flex items-center font-bold">{{ user.username|slice:12 }}</a>
                </li>
                <li class="flex items-center xl:hidden">
                    <button class="focus:outline-none transform transition"
                            aria-label="Show Menu"
                            title="Show Menu"
                            x-cloak
                            x-show.transition="!showMenu"
                            @click="showMenu=true">{% heroicon_outline "bars-3" size=30 title="Toggle Menu" %}</button>
                    <button class="focus:outline-none transform transition"
                            aria-label="Hide Menu"
                            title="Hide Menu"
                            x-cloak
                            x-show.transition="showMenu"
                            @click="showMenu=false"
                            @keyup.escape.window="showMenu=false">
                        {% heroicon_outline "x-mark" size=30 title="Toggle Menu" %}
                    </button>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'about' %}"
                       aria-label="About this Site"
                       title="About this Site"
                       class="flex items-center font-bold space-x-2 hover:text-blue-300">
                        {% heroicon_outline "information-circle" size=30 title="Toggle Menu" %}
                        <span class="hidden md:inline-block">About</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% if user.is_authenticated %}
        <div class="absolute left-0 z-50 w-full py-6 bg-white shadow-xl xl:hidden dark:bg-black"
             x-cloak
             x-show.transition="showMenu"
             x-transition:enter="transition ease-out duration-75"
             x-transition:enter-start="transform opacity-0 scale-95"
             x-transition:enter-end="transform opacity-100 scale-100"
             x-transition:leave="transition ease-in duration-75"
             x-transition:leave-start="transform opacity-100 scale-100"
             x-transition:leave-end="transform opacity-0 scale-95">{% include "_sidebar.html" %}</div>
    {% endif %}
    {% include "_signup_cta.html" %}
</header>
