{% load i18n static %}
<header class="bg-gray-900 text-white sticky top-0 w-full z-10 opacity-90 shadow-lg">
  <div class="flex items-center justify-between p-3 lg:px-5">

    <div class="flex items-center flex-shrink-0 mr-6 text-lg">
      <button class="lg:hidden mr-3"
              title="Toggle Menu"
              data-action="toggle#toggle"
              data-toggle-target="item">
        {% icon "menu" css_class="h-6 w-6" %}
      </button>
      <button class="hidden lg:hidden mr-3"
              data-action="toggle#toggle"
              title="Toggle Menu"
              data-toggle-target="item">
        {% icon "chevron_down" css_class="h-6 w-6" %}
      </button>
      <img src="{% static 'img/wave.png' %}"
           height="32"
           width="32"
           alt="{{ request.site.name }}"
           class="mr-4 hidden lg:inline-block">

      <a class="md:text-lg font-bold"
         href="{% url 'episodes:index' %}">{{ request.site.name }}</a>
    </div>

    <form method="get"
          action="{% url 'podcasts:search_podcasts' %}"
          class="relative bg-transparent hidden md:block">
      <input type="search"
             name="q"
             autocomplete="off"
             aria-label="{{ placeholder|default:'Search' }}"
             placeholder="Find a podcast..."
             class="px-4 py-1 focus:outline-none rounded focus:ring w-72 placeholder-opacity-100 text-gray-900 dark:text-white dark:bg-gray-900">
      <span class="absolute inset-y-0 right-0 flex items-center pr-3">
        <button type="submit"
                title="Search"
                class="focus:outline-none focus:shadow-outline text-gray-900 dark:text-gray-100">
          {% icon "search" css_class="h-4 w-4" %}
        </button>
      </span>
    </form>

    {% if user.is_authenticated %}
    <div class="text-sm md:text-base flex items-center">
      <a href="{% url 'user_preferences' %}"
         class="inline-block text-white hover:text-blue-500 md:mr-3">
        {{ user.username }}
      </a>
      <form method="post"
            action="{% url 'account_logout' %}"
            class="hidden md:inline-block"
            data-turbo="false">
        {% csrf_token %}
        <button class="text-white hover:text-blue-500">{% translate "logout" %}</button>
      </form>
    </div>
    {% else %}
    <div class="text-sm md:text-base flex items-center">
      <a href="{{ request.get_full_path|login_url }}"
         class="inline-block text-white hover:text-blue-500 mr-3">{% translate "login" %}</a>
      <a href="{% url 'account_signup' %}"
         class="inline-block text-white hover:text-blue-500">{% translate "signup" %}</a>
    </div>
    {% endif %}
  </div>

</header>
