{% load static %}
{% url 'podcasts:index' as home_url %}
<header class="bg-black dark:bg-gray-800 text-white sticky top-0 w-full z-10 shadow">
  <div class="flex items-center justify-between p-2">

    <div class="flex items-center flex-shrink-0 mr-6">

      <a href="{{ home_url }}"
         @click="$dispatch('close-sidebar')"
         title="{{ request.site.name }}"
         class="mr-2 lg:mr-4 inline-block">
        <img src="{% static 'img/wave.png' %}"
             height="32"
             width="32"
             class="h-6 w-6 lg:h-8 lg:w-8"
             alt="{{ request.site.name }}">
      </a>

      <a class="font-bold lg:text-lg"
         title="{{ request.site.name }}"
         @click="$dispatch('close-sidebar')"
         href="{{ home_url }}">{{ request.site.name }}</a>
    </div>

    <form action="{% url 'podcasts:search_podcasts' %}"
          method="get"
          class="relative bg-transparent hidden sm:block"
          hx-push-url="true"
          x-data="{search: ''}"
          @submit="$refs.input.blur(); search='';$dispatch('close-sidebar');">
      <input type="search"
             x-ref="input"
             x-model="search"
             name="q"
             accesskey="k"
             autocomplete="off"
             @enter="$refs.input.select()"
             aria-label="Search"
             placeholder="Search"
             class="px-4 py-1 focus:outline-none rounded focus:ring w-64 placeholder-opacity-100 text-gray-900 dark:text-white dark:bg-gray-900">
      <div class="absolute inset-y-0 right-0 flex items-center pr-2">
        <button type="submit"
                title="Search"
                class="focus:outline-none focus:shadow-outline text-gray-900 dark:text-gray-100">
          {% icon "search" css_class="h-4 w-4" %}
        </button>
      </div>
    </form>


    <div class="flex items-center space-x-3">
      {% if user.is_authenticated %}
      <a href="{% url 'users:preferences' %}"
         @click="$dispatch('close-sidebar')"
         title="Settings for {{ user.username }}">
        <div
             class="h-4 w-4 rounded-full p-3 flex items-center justify-center bold {{ user.username|colorpicker:"bg-indigo-500,bg-green-500,bg-red-500,bg-blue-500,bg-purple-500" }}">
          <span class="align-middle text-white font-bold ">
            {{ user.username.0|capfirst }}
          </span>
        </div>
      </a>
      {% endif %}
      <button class="lg:hidden mr-3 focus:outline-none"
              title="Toggle Menu"
              x-show="!sidebar"
              @click="$dispatch('toggle-sidebar')">
        {% icon "menu" css_class="h-6 w-6" %}
      </button>
      <button class="lg:hidden mr-3 focus:outline-none"
              title="Toggle Menu"
              x-show="sidebar"
              @click="$dispatch('toggle-sidebar')">
        {% icon "chevron_down" css_class="h-6 w-6" %}
      </button>
    </div>
  </div>
  {% block signup_cta %}
  {% include "_signup_cta.html" %}
  {% endblock %}


</header>
