{# vim: set filetype=htmldjango #}
<nav role="navigation"
     aria-label="Pagination"
     hx-swap="outerHTML show:window:top"
     hx-target="#{{ pagination_target }}">
    <ul class="flex items-center justify-between">
        <li>
            {% if page_obj.has_previous %}
                <a class="link"
                   href="{% pagination_url page_obj.previous_page_number %}"
                   aria-label="Previous Page"
                   title="Previous Page">Previous</a>
            {% else %}
                <span class="text-gray-600 cursor-not-allowed dark:text-gray-300"
                      title="First Page"
                      aria-label="First Page">Previous</span>
            {% endif %}
        </li>
        <li>
            {% if page_obj.has_next %}
                <a class="link"
                   aria-label="Next Page"
                   href="{% pagination_url page_obj.next_page_number %}"
                   title="Next Page">Next</a>
            {% else %}
                <span class="text-gray-600 cursor-not-allowed dark:text-gray-300"
                      title="Last Page"
                      aria-label="Last Page">Next</span>
            {% endif %}
        </li>
    </ul>
</nav>
