{% with has_other_pages=page_obj.has_other_pages %}
    {% if page_obj.paginator.count %}
        {% render "_pagination_links.html" as pagination_links %}
        <ul class="divide-y divide-solid" id="{{ pagination_target }}">
            {% if has_other_pages %}<li class="pb-3">{{ pagination_links }}</li>{% endif %}
            {% for item in page_obj %}
                <li class="py-3 first:pt-0 first:pb-3 last:pt-3 last:pb-0">
                    {# djlint:off #}
                    {% block pagination_item %}{% endblock pagination_item %}
                    {# djlint:on #}
                </li>
            {% endfor %}
            {% if has_other_pages %}<li class="pt-3">{{ pagination_links }}</li>{% endif %}
        </ul>
    {% else %}
        {% include "_empty.html" %}
    {% endif %}
{% endwith %}
