{% if page_obj.has_other_pages %}
    <nav role="navigation"
         aria-label="Pagination"
         class="py-2"
         hx-swap="outerHTML show:window:top"
         hx-target="#{{ pagination_target }}">
        <ul class="flex items-center justify-between">
            <li>
                {% if page_obj.has_previous %}
                    {% with page_number=page_obj.previous_page_number %}
                        <a class="link"
                           href="{% pagination_url page_number %}"
                           aria-label="Page {{ page_number }}"
                           title="Page {{ page_number }}">Previous</a>
                    {% endwith %}
                {% else %}
                    <span class="text-gray-600 cursor-not-allowed dark:text-gray-300"
                          title="First Page"
                          aria-label="First Page">Previous</span>
                {% endif %}
            </li>
            <li>
                {% if page_obj.has_next %}
                    {% with page_number=page_obj.next_page_number %}
                        <a class="link"
                           href="{% pagination_url page_number %}"
                           aria-label="Page {{ page_number }}"
                           title="Page {{ page_number }}">Next</a>
                    {% endwith %}
                {% else %}
                    <span class="text-gray-600 cursor-not-allowed dark:text-gray-300"
                          title="Last Page"
                          aria-label="Last Page">Next</span>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endif %}
