<form data-controller="form"
      data-action="form#submit:once"
      method="get"
      action="{{ request.path }}"
      class="flex items-center{% if css_class %} {{ css_class }}{% endif %}">
  {% if search %}
  <a href="{{ request.path }}"
     class="font-semibold hover:text-gray-300 mr-3">Clear</a>
  {% endif %}

  <div class="w-64 relative ">
    <input type="search"
           name="q"
           value="{{ search|default:'' }}"
           {% if placeholder %}placeholder="{{ placeholder }}"
           {% endif %}
           class="px-4 py-1 pl-4 bg-gray-900 text-white focus:outline-none focus:ring rounded-full">
    <div class="absolute top-0 right-0 text-gray-500">
      <i class="fa fa-search p-0 mt-2 mr-6"></i>
    </div>
  </div>
</form>
