{# vim: set filetype=htmldjango #}
{% load heroicons %}
<button class="inline-flex items-center btn btn-default"
    tabindex="0"
    {# djlint: off #}
    x-data="{
        url: '{{ search_url|escapejs }}',
        search: '{{ request.search.value|escapejs }}',
        get searchUrl() {
            const params = new URLSearchParams();
            params.append('{{ request.search.param }}', this.search);
            return `${this.url}?${params.toString()}`;
        },
    }"
    hx-push-url="true"
    :hx-get="searchUrl"
    :disabled="!search"
    @search.window="search=$event.detail; $nextTick(() => htmx.process($el));"
    {# djlint: on #}
    >
    {% heroicon_mini "magnifying-glass" class="mr-2" %}
    {{ text }}
</button>
