{% load heroicons %}
<form action="{{ search_url|default:request.path }}"
      method="get"
      class="relative bg-transparent"
      x-data="{search: '{{ request.search.value|default:''|escapejs }}'}"
      hx-push-url="true">
    <input type="search"
           x-model="search"
           name="{{ request.search.param }}"
           autocomplete="off"
           aria-label="{{ placeholder|default:"Search" }}"
           {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
           class="w-64 px-2 py-1 text-gray-900 rounded focus:outline-none focus:ring placeholder-opacity-100 dark:bg-gray-900 dark:text-white text-sm md:text-base"
           :class="{ 'md:w-72 xl:w-84': !search, 'md:w-72 xl:w-96': search }">
    <div class="absolute inset-y-0 right-0 flex items-center pr-2">
        <a href="{{ clear_search_url|default:request.path }}"
           title="Clear Search"
           aria-label="Clear Search"
           class="mr-2 text-gray-900 focus:outline-none focus:shadow-outline dark:text-gray-100"
           x-show="search"
           x-cloak>{% heroicon_mini "x-mark" title="Clear Search" %}</a>
        <button type="submit"
                title="Search"
                aria-label="Search"
                class="text-gray-900 focus:outline-none focus:shadow-outline dark:text-gray-100">
            {% heroicon_mini "magnifying-glass" title="Search" %}
        </button>
    </div>
</form>
