{% with ICON_CLASS="h-4 w-4 lg:h-5 lg:w-5" %}
    <div class="flex items-center space-x-3 {{ css_class|default:'' }}"
        x-data>
        <a href="{{ share_urls.email }}"
            target="_blank"
            rel="noopener"
            class="link focus:outline-none"
            title="Share with Email">
            {% icon "mail" css_class=ICON_CLASS %}
        </a>

        <a href="{{ share_urls.facebook }}"
            title="Share on Facebook"
            target="_blank"
            rel="noopener"
            class="link focus:outline-none">
            {% icon "facebook" css_class=ICON_CLASS %}
        </a>

        <a href="{{ share_urls.twitter }}"
            target="_blank"
            rel="noopener"
            class="link focus:outline-none"
            title="Share on Twitter">
            {% icon "twitter" css_class=ICON_CLASS %}
        </a>
        <a href="{{ share_urls.linkedin }}"
            target="_blank"
            rel="noopener"
            title="Share on Linkedin"
            class="link focus:outline-none">
            {% icon "linkedin" css_class=ICON_CLASS %}
        </a>
        <button class="link focus:outline-none"
            title="Copy link to Clipboard"
            @click="{# fmt:off #}
                input = document.createElement('input');
                input.style = 'position: absolute; left: -1000px; top: -1000px';
                input.value = window.location.href;
                document.body.appendChild(input);
                input.select();
                document.execCommand('copy');
                document.body.removeChild(input);
                $dispatch('add-message', {
                    message: 'Copied link to Clipboard',
                    tags: 'success'
                });
                "{# fmt:on #}>
            {% icon "link" css_class=ICON_CLASS %}
        </button>
    </div>
{% endwith %}
