  <div class="flex justify-center sm:justify-start sm:hidden mb-3">
    <form action="{% url 'podcasts:search_podcasts' %}"
          method="get"
          class="relative bg-transparent"
          hx-push-url="true"
          x-data="{search: ''}"
          @submit="$dispatch('close-sidebar');">
      <input type="search"
             name="q"
             x-model="search"
             autocomplete="off"
             aria-label="Search"
             placeholder="Search"
             class="px-4 py-1 focus:outline-none focus:ring rounded w-64 placeholder-opacity-100 text-gray-900 dark:bg-gray-900 dark:text-white text-sm">
      <div class="absolute inset-y-0 right-0 flex items-center pr-2">
        <button type="submit"
                title="Search"
                class="focus:outline-none focus:shadow-outline text-gray-900 dark:text-gray-100">
          {% icon "search" css_class="h-4 w-4" %}
        </button>
      </div>
    </form>
  </div>

  <nav class="pt-3 pl-3 text-base lg:text-lg">
    {% with SIDEBAR_ACTIVE_CSS="text-blue-600 font-bold dark:text-blue-400" %}
    <ul class="sidebar space-y-4 lg:space-y-5">
      <li>
        {% active_link 'podcasts:index' as link %}
        <a href="{{ link.url }}"
           accesskey="p"
           title="Podcasts"
           @click="$dispatch('close-sidebar')"
           class="flex items-center link{% if link.exact %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
          {% icon "rss" css_class="h-5 w-5 mr-3" %}
          Podcasts
        </a>
      </li>
      <li>
        {% active_link 'episodes:index' as link %}
        <a href="{{ link.url }}"
           accesskey="n"
           title="New Releases"
           @click="$dispatch('close-sidebar')"
           class="flex items-center link{% if link.exact %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
          {% icon "sparkles" css_class="h-5 w-5 mr-3" %}
          New Releases
        </a>
      </li>

      {% if user.is_authenticated %}
      <li>
        {% active_link 'episodes:queue' as link %}
        <a href="{{ link.url }}"
           accesskey="q"
           title="Play Queue"
           @click="$dispatch('close-sidebar')"
           class="flex items-center link{% if link.exact %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
          {% icon "collection" css_class="h-5 w-5 mr-3" %}
          Play Queue
        </a>
      </li>

      <li>
        {% active_link 'episodes:favorites' as link %}
        <a href="{{ link.url }}"
           accesskey="f"
           title="Favorites"
           @click="$dispatch('close-sidebar')"
           class="flex items-center link{% if link.exact %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
          {% icon "star" css_class="h-5 w-5 mr-3" %}
          Favorites
        </a>
      </li>

      <li>
        {% active_link 'episodes:history' as link %}
        <a href="{{ link.url }}"
           accesskey="h"
           title="History"
           @click="$dispatch('close-sidebar')"
           class="flex items-center link{% if link.exact %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
          {% icon "database" css_class="h-5 w-5 mr-3" %}
          History
        </a>
      </li>
      <li>
        {% re_active_link 'users:preferences' '/account/*' as link %}
        <a href="{{ link.url }}"
           accesskey="s"
           title="Settings"
           @click="$dispatch('close-sidebar')"
           class="flex items-center link{% if link.match %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
          {% icon "adjustments" css_class="h-5 w-5 mr-3" %}
          Settings
        </a>
      </li>

      <li>
        <form class="inline-block"
              hx-disable="true"
              action="{% url 'account_logout' %}"
              method="post">
          {% csrf_token %}
          <button accesskey="l"
                  title="Logout"
                  @click="$dispatch('close-sidebar')"
                  class="flex items-center link">
            {% icon "logout" css_class="h-5 w-5 mr-3" %}
            Logout
          </button>
        </form>
      </li>
      {% endif %}

      <li>
        {% re_active_link 'about:credits' '/about/*' as link %}
        <a href="{{ link.url }}"
           accesskey="a"
           title="About"
           @click="$dispatch('close-sidebar')"
           class="flex items-center link{% if link.match %} {{ SIDEBAR_ACTIVE_CSS }}{% endif %}">
          {% icon "info" css_class="h-5 w-5 mr-3" %}
          About
        </a>
      </li>

      {% endwith %}
    </ul>
  </nav>
