{# vim: set filetype=htmldjango #}
{% if user.is_anonymous %}
    {% with path=request.get_full_path %}
        <div id="signup-cta"
             class="p-3 font-bold text-center text-white bg-blue-700">
            {% with css_class="underline text-white hover:text-gray-300" %}
                <a class="{{ css_class }}" href="{% url 'account_signup' %}">Sign up</a>
                or
                <a class="{{ css_class }}" href="{% url 'account_login' %}">log in</a>
                to follow your favorite podcasts and listen to episodes!
            {% endwith %}
        </div>
    {% endwith %}
{% endif %}
