{% if user.is_anonymous %}
  <div id="signup-cta"
    {% if hx_swap %}hx-swap-oob="true"
    {% endif %}
    class="text-center mb-4 p-3 bg-blue-700 text-white font-bold">
    <a class="underline link text-white"
      hx-disable="true"
      href="{{ request.get_full_path|signup_url }}">Sign up</a> or

    <a class="underline link text-white"
      hx-disable="true"
      href="{{ request.get_full_path|login_url }}">log in</a>
    to follow your favorite podcasts and listen to episodes!
  </div>
{% endif %}
