{% load static %}
<link rel="icon"
      type="image/png"
      href="{% static 'img/wave.png' %}">
<link rel="apple-touch-icon image_src"
      href="{% static 'apple-touch-icon.png' %}">

<link rel="stylesheet"
      data-turbo-track="reload"
      media="screen"
      {% if debug %}
      href="{% static 'dev/app.css' %}?{% now 'U' %}"
      {% else %}
      href="{% static 'dist/app.css' %}"
      {% endif %}>

<script defer
        data-turbo-track="reload"
        {% if debug %}
        src="{% static 'dev/app.js' %}?{% now 'U' %}"
        {% else %}
        src="{% static 'dist/app.js' %}"
        {% endif %}></script>
