{% extends "base.html" %}
{% block title %} | About
{% endblock title %}
{% block content %}
    {% with site_name=request.site.name %}
        <h1 class="flex flex-wrap mb-6 pb-3 justify-center sm:justify-start border-b text-lg lg:text-xl xl:text-2xl font-bold">
            About {{ site_name }}
        </h1>
        <div class="prose dark:prose-invert prose-sm md:prose-base break-words">
            <section>
                <h2 class="!text-base md:!text-lg xl:!text-xl">About Us</h2>
                <p>
                    <strong>{{ site_name }}</strong> is a <strong>free</strong> podcasting app for collecting your favorite shows and discovering new content.
                </p>
            </section>
            <section>
                <h2 class="!text-base md:!text-lg xl:!text-xl">Technology</h2>
                <p>
                    <strong>{{ site_name }}</strong> is an
                    <a target="_blank" rel="noopener" href="https://github.com/danjac/radiofeed-app">open source project</a>
                    under the <a href="https://mit-license.org/" target="_blank" rel="noopener">MIT license</a>.
                </p>
                <p>
                    Runs on <a href="https://www.djangoproject.com/" rel="noopener" target="_blank">Django</a> with the help of <a href="https://htmx.org" rel="noopener" target="_blank">HTMX</a>, <a href="https://alpinejs.dev/" rel="noopener" target="_blank">AlpineJS</a>
                    and <a href="https://tailwindcss.com/" rel="noopener" target="_blank">Tailwind</a>.
                </p>
            </section>
            <section>
                <h2 class="!text-base md:!text-lg xl:!text-xl">Additional Credits</h2>
                <ul>
                    <li>
                        Icons from <a target="_blank" href="https://fontawesome.com" rel="noopener">Font Awesome</a>
                    </li>

                    <li>
                        Podcast icon made by <a href="https://www.flaticon.com/authors/freepik" rel="noopener" title="Freepik">Freepik</a> from
                        <a href="https://www.flaticon.com/" rel="noopener" title="Flaticon">www.flaticon.com</a>
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="!text-base md:!text-lg xl:!text-xl">General Disclaimer</h2>
                <p>
                    All podcast artwork and content are the property of the individual podcast owners. Podcasts are not affiliated with
                    nor endorsed by {{ site_name }}. All audio files are played directly from the source.
                </p>
            </section>
            <section>
                <h2 class="!text-base md:!text-lg xl:!text-xl">Contact Us</h2>
                <p class="flex items-center space-x-3">
                    <a target="_blank" rel="noopener" href="mailto:{{ contact_email }}">Feedback</a>
                    <a target="_blank"
                        rel="noopener"
                        href="https://github.com/danjac/radiofeed/issues">Issues</a>
                </p>
            </section>
        </div>
    {% endwith %}
{% endblock content %}
