{% extends "base.html" %}
{% block title %}
    | About
{% endblock title %}
{% block content %}
    {% with site_name=request.site.name %}
        <h1 class="flex flex-wrap justify-center pb-3 mb-3 text-lg font-bold border-b sm:justify-start md:text-xl xl:text-2xl">
            About {{ site_name }}
        </h1>
        <div class="break-words prose dark:prose-invert prose-sm md:prose-base">
            <section>
                <h2 class="!text-base md:!text-lg xl:!text-xl">About Us</h2>
                <p>
                    <strong>{{ site_name }}</strong> is a <strong>free</strong> podcasting app for collecting your favorite shows and discovering new content.
                </p>
            </section>
            <section>
                <h2 class="!text-base md:!text-lg xl:!text-xl">Technology</h2>
                <p>
                    <strong>{{ site_name }}</strong> is an
                    <a rel="noopener noreferer nofollow"
                       href="https://github.com/danjac/radiofeed-app"
                       target="_blank">open source project</a>
                    under the <a href="https://mit-license.org/"
    rel="noopener noreferer nofollow"
    target="_blank">MIT license</a>.
                </p>
                <p>
                    Runs on <a href="https://www.djangoproject.com/"
    rel="noopener noreferer nofollow"
    target="_blank">Django</a>
                    with the help of <a href="https://htmx.org"
    rel="noopener noreferer nofollow"
    target="_blank">HTMX</a>,
                    <a href="https://alpinejs.dev/"
                       rel="noopener noreferer nofollow"
                       target="_blank">AlpineJS</a>
                    and <a href="https://tailwindcss.com/"
    rel="noopener noreferer nofollow"
    target="_blank">Tailwind</a>.
                </p>
            </section>
            <section>
                <h2 class="!text-base md:!text-lg xl:!text-xl">Additional Credits</h2>
                <ul>
                    <li>
                        Icons from <a href="https://heroicons.com"
    rel="noopener noreferer nofollow"
    target="_blank">Heroicons</a>
                    </li>
                    <li>
                        Podcast icon made by <a href="https://www.flaticon.com/authors/freepik"
    rel="noopener noreferer nofollow"
    target="_blank"
    title="Freepik">Freepik</a> from
                        <a href="https://www.flaticon.com/"
                           rel="noopener noreferer nofollow"
                           title="Flaticon"
                           target="_blank">www.flaticon.com</a>
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="!text-base md:!text-lg xl:!text-xl">General Disclaimer</h2>
                <p>
                    All podcast artwork and content are the property of the individual podcast owners. Podcasts are not affiliated with
                    nor endorsed by {{ site_name }}. All audio files are played directly from the source.
                </p>
            </section>
            <section>
                <h2 class="!text-base md:!text-lg xl:!text-xl">Contact Us</h2>
                <p class="flex items-center space-x-3">
                    <a rel="noopener noreferer nofollow" href="mailto:{{ contact_email }}">Feedback</a>
                    <a rel="noopener noreferer nofollow"
                       href="https://github.com/danjac/radiofeed/issues"
                       target="_blank">Issues</a>
                </p>
            </section>
        </div>
    {% endwith %}
{% endblock content %}
