{% extends "base.html" %}

{% block subtitle %} | About{% endblock %}

{% block content %}
<h1 class="font-bold text-lg mb-3">About This Site</h1>
<p class="leading-tight tracking-tight mb-3">
  This is a simple podcast app. You can listen to your favorite podcasts here!
</p>
<h2 class="font-semibold mb-3 pt-3 border-t border-gray-500">Additional Credits</h2>
<p class="leading-tight tracking-tight mb-3">
  Landing page photo by <a class="underline hover:text-blue-500"
     target="_blank"
     rel="noopener"
     href="https://unsplash.com/@richardworks?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"></a>Richard Burlton on <a target="_blank"
     rel="noopener"
     href="https://unsplash.com/s/photos/trail?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></p>

<p class="leading-tight tracking-tight mb-3">
  Share icons from <a target="_blank"
     href="https://fontawesome.com"
     class="underline hover:text-blue-500"
     rel="noopener">Font Awesome</a>
</p>

<p class="leading-tight tracking-tight">
  <a target="_blank"
     rel="noopener"
     class="underline hover:text-blue-500"
     href="https://icons8.com/icons/set/browse-podcasts">Browse Podcasts icon</a> by
  <a target="_blank"
     rel="noopener"
     class="underline hover:text-blue-500"
     href="https://icons8.com">Icons8</a>

</p>
{% endblock content %}
