{% extends "base.html" %}
{% load cache %}
{% block title %}
    {{ block.super }} | About
{% endblock title %}
{% block content %}
    {% with site_name=request.site.name %}
        <h1 class="flex flex-wrap justify-center pb-3 mb-3 text-xl font-bold border-b sm:justify-start lg:text-2xl">
            About {{ site_name }}
        </h1>
        <div class="break-words prose prose-sm md:prose-base dark:prose-invert">
            <section>
                <h2 class="text-lg lg:text-xl">About Us</h2>
                <p>
                    <strong>{{ site_name }}</strong> is a <strong>free</strong> podcasting app for collecting your favorite shows and discovering new content.
                </p>
            </section>
            <section>
                <h2 class="text-lg lg:text-xl">Technology</h2>
                <p>
                    <strong>{{ site_name }}</strong> runs on
                    <a rel="noopener noreferer nofollow"
                       href="https://github.com/danjac/radiofeed"
                       target="_blank">open source code</a>
                    under the <a href="https://mit-license.org/"
    rel="noopener noreferer nofollow"
    target="_blank">MIT license</a>.
                </p>
            </section>
            <section>
                <h2 class="text-lg lg:text-xl">Additional Credits</h2>
                <ul>
                    <li>
                        Icons from <a href="https://heroicons.com"
    rel="noopener noreferer nofollow"
    target="_blank">Heroicons</a>
                    </li>
                    <li>
                        Podcast icon made by <a href="https://www.flaticon.com/authors/freepik"
    rel="noopener noreferer nofollow"
    target="_blank"
    title="Freepik">Freepik</a> from
                        <a href="https://www.flaticon.com/"
                           rel="noopener noreferer nofollow"
                           title="Flaticon"
                           target="_blank">www.flaticon.com</a>
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="text-lg lg:text-xl">General Disclaimer</h2>
                <p>
                    All podcast artwork and content are the property of the individual podcast owners. Podcasts are not affiliated with
                    nor endorsed by {{ site_name }}. All audio files are played directly from the source.
                </p>
            </section>
            <section>
                <h2 class="text-lg lg:text-xl">Contact Us</h2>
                <ul>
                    <li>
                        <a rel="noopener noreferer nofollow" href="mailto:{{ contact_email }}">Feedback</a>
                    </li>
                    <li>
                        <a rel="noopener noreferer nofollow"
                           href="https://github.com/danjac/radiofeed/issues"
                           target="_blank">Issues</a>
                    </li>
                </ul>
            </section>
        </div>
    {% endwith %}
{% endblock content %}
