{% spaceless %}
    {% load player %}
    {% if not request.htmx %}
        <!DOCTYPE html>
        <html lang="en">

            <head>
    {% endif %}
    <title>
        {{ request.site.name }}{% block title %}{% endblock %}
    </title>
    {% if request.htmx %}
        {% include "_signup_cta.html" with hx_oob=True %}

    {%  else %}
        {% include "_meta.html" %}
        {% include "_stylesheets.html" %}
        {% include "_google_search.html" %}
        </head>

        <body class="container-xl mx-auto antialiased font-sans dark:bg-zinc-900 dark:text-white text-sm lg:text-base scroll-smooth"
            hx-ext="alpine-morph"
            hx-boost="true"
            hx-target="#layout"
            hx-swap="outerHTML show:window:top"
            hx-indicator="#loader"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

            {% include "_hx_indicator.html" %}

            <div class="flex flex-col h-screen">
                <div class="flex-grow">
                    {% include "_navbar.html" %}

    {% endif %}

    {% include "_messages.html" with hx_oob=request.htmx %}

    <div hx-history-elt
        id="layout"
        class="flex relative p-2 pt-6 mx-auto xl:w-5/6 min-h-screen">
        <aside class="w-full hidden xl:block xl:w-1/5 xl:sticky xl:h-full xl:top-16">
            {% include "_sidebar.html" %}
        </aside>

        <main class="w-full xl:block lg:w-4/5 lg:mx-auto">
            {% block content %}{% endblock %}
        </main>
    </div>

    {% if not request.htmx %}
        </div>

        {% cookie_notice %}

        {% if user.is_authenticated %}
            <div id="player">
                {% audio_player %}
            </div>
        {% endif %}

        {% include "_footer.html" %}
        </div>

        {% include "_javascripts.html" %}

        </body>

        </html>
    {% endif %}
{% endspaceless %}
