{% load static i18n %}
{% block header_tags %}
<!DOCTYPE html>
{% get_current_language as language_code %}
<html lang="{{ language_code }}">

<head>
  {% block head %}
  {% block title_tag %}
  <title>
    {% spaceless %}{% block title %}{{ request.site.name }}{% block subtitle %}{% endblock %}{% endblock %}{% endspaceless %}
  </title>
  {% endblock title_tag %}
  {% block meta_tags %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="copyright"
        content="Dan Jacob {% now "Y" %}">
  <meta name="htmx-config"
        content='{"historyCacheSize": 0 }'>
  <meta name="csrf-token"
        content="{{ csrf_token }}">
  {% block robots %}
  <meta name="robots"
        content="index,follow" />
  {% endblock robots %}
  {% include "_og_data.html" %}
  {% endblock meta_tags %}
  {% include "_static.html" %}
  {% endblock head %}
</head>

<body {% block bodyattrs %}
      class="container-lg mx-auto antialiased font-sans dark:bg-black dark:text-white"
      x-data="{sidebar: false}"
      hx-push-url="true"
      {% endblock %}>
  {% endblock header_tags %}
  {% block page_header %}
  {% block navbar %}{% include "_navbar.html" %}{% endblock %}
  {% block cookie_notice %} {% include "_cookie_notice.html" %}{% endblock %}
  {% endblock page_header %}

  {% block layout %}
  <div class="min-h-full mx-auto flex relative mt-2"
       id="layout"
       hx-target="#content"
       hx-swap="outerHTML">

    {% include "_messages.html" %}

    {% block sidebar %}
    <aside class="w-full lg-block lg:w-64 p-2 lg:sticky lg:top-20 lg:h-screen"
           :class="{'hidden lg:block': !sidebar}">
      {% include "_sidebar.html" %}
    </aside>
    {% endblock %}

    {% block main %}
    <main class="w-full p-2 lg:block"
          :class="{'hidden lg:block': sidebar}">
      <noscript>
        <p class="p-2 bg-gray-200 dark:bg-gray-800 rounded mb-3 text-center">
          This site works best with JavaScript enabled.
        </p>
      </noscript>

      {% block signup_cta %}
      {% if not user.is_authenticated %}
      {% include "_signup_cta.html" %}
      {% endif %}
      {% endblock %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </main>
    {% endblock %}
  </div>

  {% endblock layout %}
  {% block page_footer %}

  {% block player %}
  {% if user.is_authenticated %}
  {% include "_player.html" %}
  {% endif %}
  {% endblock player %}

  {% block modal %}
  {% include "_modal.html" %}
  {% endblock modal %}

  {% endblock page_footer %}
  {% block footer_tags %}
  <script>
  </script>
</body>

</html>
{% endblock footer_tags %}
