{% spaceless %}

{% load static i18n episodes %}

{% endspaceless %}

<!DOCTYPE html>
{% get_current_language as language_code %}
<html lang="{{ language_code }}">

<head>
  <title>
    {% spaceless %}{% block title %}RadioFeed{% endblock %}{% endspaceless %}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="turbolinks-cache-control"
        content="no-cache">
  <meta name="copyright"
        content="Dan Jacob {% now "Y" %}">
  <meta name="robots"
        content="index,follow">

  {% include "_static.html" %}
  {% include "_fontawesome.html" %}

</head>

<body class="h-screen container-lg mx-auto antialiased"
      data-controller="toggle">

  {% block header %}

  <header class="bg-gradient-to-b from-indigo-900 to-indigo-700 text-white">
    <div class="flex items-center justify-between p-3">

      <div class="flex items-center flex-shrink-0 mr-6 text-xl">
        <button class="lg:hidden mr-3"
                data-action="toggle#toggle"
                data-toggle-target="item">
          <i class="fa fa-bars"></i>
        </button>
        <button class="hidden lg:hidden mr-3"
                data-action="toggle#toggle"
                data-toggle-target="item">
          <i class="fa fa-chevron-up"></i>
        </button>
        <a href="{% url 'podcasts:podcast_list' %}">RadioFeed</a>
      </div>

      {% if user.is_authenticated %}
      <div>
        <a href="/"
           class="inline-block text-white hover:text-gray-100 mr-2">
          {{ user.username }}
        </a>
        <a href="{% url 'account_logout' %}"
           class="inline-block text-white hover:text-gray-100"
           role="button"
           data-turbolinks="false"
           data-controller="ajax"
           data-action="ajax#post"
           data-ajax-redirect-value="/">{% translate "Logout" %}</a>
      </div>
      {% else %}
      <div>
        <a href="{% url 'account_login' %}"
           class="inline-block text-white hover:text-gray-100 mr-2">{% translate "Login" %}</a>
        <a href="{% url 'account_signup' %}"
           class="inline-block text-white hover:text-gray-100">{% translate "Signup" %}</a>
      </div>
      {% endif %}
    </div>

  </header>
  {% endblock header %}

  {% include "_messages.html" %}
  {% include "_cookie_notice.html" %}

  <div class="min-h-full mx-auto flex relative lg:divide-x divide-gray-300 mt-2">
    <div class="hidden lg:block w-full lg:w-1/6 mr-4 p-3 absolute left-0 top-0 sm:static z-10 bg-white"
         data-toggle-target="item">
      <nav class="pt-3">
        <ul class="">
          <li class="pb-3">
            <a href="{% url 'podcasts:podcast_list' %}"
               data-controller="active-link"
               data-active-link-active-class="font-bold"
               data-active-link-exact-value
               class="flex items-center">
              <i class="fa fa-podcast mr-3"></i>
              Podcasts
            </a>
          </li>
          <li class="pb-3">
            <a href="{% url 'podcasts:category_list' %}"
               data-controller="active-link"
               data-active-link-active-class="font-bold"
               class="flex items-center">
              <i class="fa fa-search mr-3"></i>
              Discover
            </a>
          </li>
          <li class="pb-3">
            <a href="{% url 'episodes:episode_list' %}"
               data-controller="active-link"
               data-active-link-active-class="font-bold"
               data-active-link-exact-value
               class="flex items-center">
              <i class="fa fa-satellite-dish mr-3"></i>
              New Releases
            </a>
          </li>

          {% if user.is_authenticated %}
          <li class="pb-3">
            <a href="{% url 'episodes:bookmark_list' %}"
               data-controller="active-link"
               data-active-link-active-class="font-bold"
               class="flex items-center">
              <i class="fa fa-bookmark mr-3"></i>
              Bookmarks
            </a>
          </li>
          {% endif %}

          <li class="pb-3">
            <a href="{% url 'about' %}"
               data-controller="active-link"
               data-active-link-active-class="font-bold"
               class="flex items-center">
              <i class="fa fa-info-circle mr-3"></i>
              About
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="w-full lg:w-5/6 p-2 lg:pl-6 bg-white"
         data-toggle-target="item">
      {% block content %}{% endblock %}
    </div>
  </div>

  {% get_player as player %}
  <div id="player"
       data-turbolinks-permanent
       data-controller="player"
       data-action="episode:play@window->player#open episode:stop@window->player#close"
       data-player-progress-class="bg-blue-800"
       data-player-buffer-class="bg-blue-500"
       data-player-progress-paused-class="bg-gray-800"
       data-player-buffer-paused-class="bg-gray-500"
       data-player-progress-url-value="{% url 'episodes:update_player_time' %}"
       data-player-stop-url-value="{% url 'episodes:stop_player' %}"
       {% if player and player.episode %}
       data-player-duration-value="{{ player.episode.duration|duration_in_seconds }}"
       data-player-current-time-value="{{ player.current_time|default:0 }}"
       {% endif %}>
    {% include "episodes/_player.html" with episode=player.episode %}
  </div>

  {% include "_footer.html" %}

</body>

</html>
