{% block title_tag %}
<title>
  {% spaceless %}{% block title %}{{ request.site.name }}{% block subtitle %}{% endblock %}{% endblock %}{% endspaceless %}
</title>
{% endblock title_tag %}

<script>
  (function() {
    // workaround for browser reload from cache
    if (!window.preventPageReload) {
      location.reload();
    }
  })();
</script>

<div id="content">
  {% block signup_cta %}
  {% include "_signup_cta.html" %}
  {% endblock %}
  {% block content %}{% endblock %}
  {% include "_oob_messages_js.html" %}
</div>
