{% spaceless %}
    {% load audio_player django_htmx head_tags page_layout static tailwind_cli %}
    <!DOCTYPE html>
    <!-- djlint:off H016 -->
    <html lang="en">
        <head>
            {% block title %}
                {% title_tag %}
            {% endblock title %}
            {% partialdef head inline %}
                {% tailwind_css %}
                {% partialdef icons inline %}
                    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static "img/apple-touch-icon.png" %}">
                    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}">
                    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon-32x32.png" %}">
                    <link rel="icon" type="image/png" sizes="48x48" href="{% static "img/favicon-48x48.png" %}">
                {% endpartialdef %}
                <link rel="manifest" href="{% url "manifest" %}">
                <link rel="canonical" href="{{ request.build_absolute_uri }}">
                <meta name="charset" content="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="mobile-web-app-capable" content="yes">
                <meta name="apple-mobile-web-app-capable" content="yes">
                <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=no">
                {% meta_tags %}
                <script defer src="{% static "vendor/alpine-3.15.2.min.js" %}"></script>
                <script defer src="{% static "vendor/htmx-2.0.8.min.js" %}"></script>
            {% endpartialdef %}
        </head>
        <body class="overflow-x-hidden mx-auto font-sans antialiased container-xl scroll-smooth"
              hx-boost="true"
              hx-target="#content"
              hx-swap="innerHTML show:window:top"
              hx-indicator="#hx-indicator">
            <div id="hx-indicator"
                 x-data="{width: 0}"
             {# fmt:off #}
             x-init="
                setInterval(() => {
                    if ($el.classList.contains('htmx-request')) {
                        width = width + (Math.random() / 100) + 1;
                        width = width > 30 ? width = -30 : width;
                    } else {
                        width = 0;
                    }
                    $el.style.width = width > 0 ? `${10 + (width * 90)}%` : '0px';
                    }, 36);"{# fmt:on #}></div>
            {% include "messages.html" %}
            <div class="flex flex-col h-screen">
                <div class="grow">
                    {% include "navbar.html" %}
                    <div class="flex relative py-6 px-2 mx-auto min-h-screen">
                        {% partialdef sidebar inline %}
                            {% if user.is_authenticated %}
                                <aside class="hidden w-full xl:block xl:sticky xl:top-24 xl:w-1/6 xl:h-full">
                                    <nav>
                                        {% include "sidebar.html" %}
                                    </nav>
                                </aside>
                            {% endif %}
                        {% endpartialdef %}
                        <main class="mx-auto w-full xl:pt-3 xl:w-5/6" id="content" hx-history-elt>
                            {% block content %}
                            {% endblock content %}
                        </main>
                    </div>
                </div>
                {% audio_player %}
                {% cookie_banner %}
            </div>
            {% if user.is_authenticated %}
                <script src="{% static 'audio-player.js' %}"></script>
            {% endif %}
            {% partialdef scripts inline %}
                {% django_htmx_script %}
                <script>
                    if (typeof navigator.serviceWorker !== 'undefined') {
                        navigator.serviceWorker.register('{% static "service-worker.js" %}')
                    }
                </script>
            {% endpartialdef %}
        </body>
    </html>
{% endspaceless %}
