{# djlint:off H016 #}
{% extends "hx_base.html" %}
{% load static django_htmx audio_player %}
{% block page %}
    <!DOCTYPE html>
    <html lang="en">
        {% block page_header %}
            <head>
                {{ block.super }}
                <link rel="icon" type="image/png" href="{% static 'img/wave-ico.png' %}">
                <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
                <link rel="stylesheet" type="text/css" href="{% static "dist/app.css" %}{% if debug %}?{% now "U" %}{% endif %}">
                <link rel="manifest" href="{% url 'manifest' %}">
                <link rel="canonical" href="{{ request.build_absolute_uri }}">
                <meta charset="UTF-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport"
                      content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta name="copyright" content="Dan Jacob {% now " Y" %}">
                <meta name="cache-control" content="no-cache">
                <meta name="robots" content="index,follow">
                <meta name="description" content="Podcast aggregator site">
                <meta name="keywords" content="podcasts, rss, feeds">
                <meta name="theme-color" content="#041014">
            </head>
        {% endblock page_header %}
        {% block page_content %}
            <body class="mx-auto font-sans text-sm antialiased md:text-base container-xl scroll-smooth"
                  hx-boost="true"
                  hx-target="#content"
                  hx-swap="innerHTML show:window:top"
                  hx-indicator="#hx-indicator">
                {% include "_hx_indicator.html" %}
                {% include "_messages.html" %}
                <div class="flex flex-col h-screen">
                    <div class="grow">
                        {% include "_navbar.html" %}
                        <div id="content" hx-history-elt>{{ block.super }}</div>
                        {% audio_player %}
                        {% cookie_notice %}
                    </div>
                </div>
                {% django_htmx_script %}
                <script defer src="{% static "dist/app.js" %}{% if debug %}?{% now "U" %}{% endif %}"></script>
                <script>
                if (typeof navigator.serviceWorker !== 'undefined') {
                    navigator.serviceWorker.register('{% url "service_worker" %}')
                }
                </script>
            </body>
        {% endblock page_content %}
    </html>
{% endblock page %}
