{% with action=action|default:request.path method="post" %}
  <form action="{{ action }}"
        method="{{ method }}"
        class="{{ class|default:'space-y-6' }}"
        {% if htmx %}
          id="{{ target }}"
          hx-{{ method }}="{{ action }}"
          hx-disabled-elt="this"
          hx-swap="{{ hx_swap|default:'outerHTML' }}"
          hx-target="{{ hx_target|default:'this' }}"
          hx-validate="true"
        {% elif hx_disable %}
          hx-disable="true"
        {% endif %}
        {% if multipart %}
          enctype="multipart/form-data"
          {% if htmx %}
            hx-encoding="multipart/form-data"
          {% endif %}
        {% endif %}
  >
    {% csrf_token %}
    {{ content }}
  </form>
{% endwith %}

{% partialdef buttons %}
  <div class="flex flex-wrap items-center space-x-3">
    {{ content }}
  </div>
{% endpartialdef buttons %}
