{% spaceless %}
    {% block page %}
        {% block header %}
            <title>{{ request.site.name }}
                {% block title %}
                {% endblock title %}
            </title>
        {% endblock header %}
        {% block container %}
            {% include "_navbar.html" %}
            <div class="flex relative p-2 py-6 mx-auto min-h-screen xl:pt-12">
                {% if user.is_authenticated %}
                    <aside class="hidden w-full xl:block xl:sticky xl:top-28 xl:w-1/6 xl:h-full">
                        {% include "_sidebar.html" %}
                    </aside>
                {% endif %}
                <main class="mx-auto w-full xl:w-5/6">
                    {% block content %}
                    {% endblock content %}
                </main>
            </div>
        {% endblock container %}
    {% endblock page %}
{% endspaceless %}
