{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as language_code %}
<html lang="{{ language_code }}">

<head>
  <title>
    {{ request.site.name }} :: Discover and Organize Your Podcasts
  </title>
  {% include "_meta.html" %}
  {% include "_static.html" %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <div class="min-h-screen bg-gradient-to-b from-indigo-900 to-indigo-700 text-white py-6 flex flex-col justify-center lg:py-12">
    <div class="relative py-3 mx-auto px-6 lg:px-0">

      {% include "_messages.html" %}

      <div class="mb-6 sm:mb-12 text-3xl sm:text-5xl text-white flex items-center justify-center sm:justify-start space-x-6">
        <img src="{% static 'img/wave-white.png' %}"
             height="64"
             width="64"
             alt="{{ request.site.name }}"
             class="w-12 h-12 sm:w-16 sm:h-16">
        <h1 class="font-mono">
          {{ request.site.name }}
        </h1>
      </div>

      <div class="lg:flex w-full">

        <div class="mb-6 lg:mb-0 lg:w-1/2 lg:border-r border-white">

          <h2 class="text-3xl mb-6 flex items-center justify-center sm:justify-start">
            Discover and organize your favorite podcasts.
          </h2>

          <p class="flex-wrap lg:max-w-lg mb-6 flex items-center justify-center sm:justify-start">
            Search for interesting podcasts, follow and listen to your favorite feeds, and enjoy our AI-generated recommendations.
          </p>


          <div class="mb-3 flex items-center justify-center sm:justify-start">
            <form action="{% url 'podcasts:search_podcasts' %}"
                  method="get"
                  class="relative bg-transparent">
              <input type="search"
                     name="q"
                     accesskey="k"
                     autocomplete="off"
                     aria-label="Search"
                     placeholder="Find a podcast..."
                     class="px-4 py-1 focus:outline-none rounded focus:ring w-72 placeholder-opacity-100 text-gray-900 text-sm">
              <div class="absolute inset-y-0 right-0 flex items-center pr-3">
                <button type="submit"
                        title="Search"
                        class="focus:outline-none focus:shadow-outline text-gray-900">
                  {% icon "search" css_class="h-4 w-4" %}
                </button>
              </div>
            </form>
          </div>

          <div class="text-center sm:text-left">
            <a class="font-semibold underline"
               title="See latest"
               href="{% url 'podcasts:index' %}">
              Explore Popular Podcasts
            </a>
          </div>

        </div>


        <div class="lg:w-1/2 lg:pl-6">
          <div class="p-3 border border-white rounded mb-6">
            <p class="lg:text-lg mb-3">
              <a href="{% url 'account_signup' %}"
                 class="underline font-semibold">Join {{ request.site.name }}</a> and...
            </p>
            <ul class="mb-3 list-inside list-disc">
              <li><strong>Listen</strong> to episodes</li>
              <li><strong>Follow</strong> your favorite podcasts</li>
              <li><strong>Share</strong> podcasts and episodes with your friends</li>
              <li><strong>Discover</strong> new podcasts with our search and AI recommendations</li>
            </ul>
          </div>

          <div class="mb-6 flex items-center justify-center sm:justify-start">
            <a class="btn btn-default border-white lg:text-lg w-40 text-center"
               title="Sign Up"
               href="{% url 'account_signup' %}">
              Sign Up Today!
            </a>
          </div>

          <p class="text-sm flex items-center justify-center sm:justify-start">
            Already have an account? Then please <a class="ml-1 underline link text-white"
               href="{% url 'account_login' %}">sign in</a>.
          </p>

        </div>
      </div>
    </div>
    {% include "_cookie_notice.html" %}
</body>

</html>
