{% load static i18n socialaccount %}
<!DOCTYPE html>
{% get_current_language as language_code %}
<html lang="{{ language_code }}">

<head>
  <title>
    {{ request.site.name }} :: Discover and Organize Your Podcasts
  </title>
  {% include "_meta.html" %}
  {% include "_static.html" %}
  {% include "_google_search.html" %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <div
       class="min-h-screen bg-gradient-to-b from-indigo-900 to-indigo-700 text-white py-6 flex flex-col justify-center lg:py-12">
    <div class="relative py-3 mx-auto px-6 lg:px-0">

      {% include "_messages.html" %}

      <div class="mb-9 text-3xl sm:text-5xl text-white flex items-center justify-center space-x-6">
        <img src="{% static 'img/wave-white.png' %}"
             height="64"
             width="64"
             alt="{{ request.site.name }}"
             class="w-12 h-12 sm:w-16 sm:h-16">
        <h1 class="font-mono">
          {{ request.site.name }}
        </h1>
      </div>



      <h2 class="text-2xl sm:text-3xl mb-9 flex items-center justify-center text-center">
        Discover great podcasts.
      </h2>


      <div class="flex items-center justify-center mb-6">
        <form action="{% url 'podcasts:search_podcasts' %}"
              method="get"
              class="relative bg-transparent w-full text-center">
          <input type="search"
                 name="q"
                 accesskey="k"
                 autocomplete="off"
                 aria-label="Search"
                 placeholder="Find a podcast..."
                 class="p-3 focus:outline-none rounded focus:ring w-full sm:w-96 placeholder-opacity-100 text-gray-900 text-sm">
          <div class="absolute inset-y-0 right-0 flex items-center pr-3">
            <button type="submit"
                    title="Search"
                    class="focus:outline-none focus:shadow-outline text-gray-900 pr-3 sm:pr-6">
              {% icon "search" css_class="h-4 w-4" %}
            </button>
          </div>
        </form>
      </div>

      <div class="flex items-center justify-center mb-9">
        <a class="underline link"
           href="{% url 'podcasts:index' %}">Browse our recommended podcasts</a>
      </div>

      <div class="flex items-center justify-center mb-6">
        <a class="btn btn-default border-white lg:text-lg w-42 text-center"
           title="Sign Up"
           href="{% url 'account_signup' %}">
          Sign Up Today!
        </a>
      </div>


      <div class="text-sm flex justify-center mb-6">
        Already have an account? Then please <a class="ml-1 underline link text-white"
           href="{% url 'account_login' %}">sign in</a>.
      </div>


      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <div class="mt-6 space-y-3 sm:space-y-0 sm:space-x-3 sm:flex items-center justify-center">

        <div class="text-sm font-semibold text-center sm:text-left">Login or Sign up with</div>
        <div class="flex items-center space-x-3 justify-center sm:justify-start">
          {% for provider in socialaccount_providers %}
          <a class="inline-flex items-center btn btn-default border-white"
             hx-disable="true"
             href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
            {% icon provider.id css_class="btn-icon mr-2" %}
            {{ provider.name }}
          </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}


    </div>
    {% include "_cookie_notice.html" %}
</body>

</html>
