{% extends "base.html" %}
{% load cache static podcasts %}

{% block navbar %}{% endblock %}
{% block layout %}
<div class="flex items-center sm:h-full mx-auto justify-center">
  <div class="p-2 sm:p-6 sm:bg-gray-100 sm:dark:bg-gray-900 sm:rounded">
    <div class="mb-3 flex items-center justify-center p-3">
      <img src="{% static 'img/wave.png' %}"
           height="32"
           width="32"
           alt="{{ request.site.name }}"
           class="mr-4">
      <h1 class="text-xl md:text-2xl text-center font-bold">
        {{ request.site.name }}
      </h1>
    </div>
    <h2 class="italic mb-3 text-center">The best little podcast app on the web</h2>
    <div class="mb-6 flex items-center justify-center p-3">
      {% url 'podcasts:search_podcasts' as search_url %}
      {% include "forms/_search_form.html" with placeholder="Find a podcast..." %}
    </div>
    {% cache 3600 landing_page_promoted_podcasts %}
    {% get_promoted_podcasts limit=6 as podcasts %}
    {% include "podcasts/_podcast_carousel.html" %}
    {% endcache %}
    <div class="flex justify-center">
      <div class="p-3">

        <div class="flex justify-center text-center mb-3">
          <a href="{% url 'account_signup' %}"
             class="bg-blue-800 hover:bg-blue-600 text-white px-4 p-1 border border-white w-full">
            Sign up</a>
        </div>

        <div>
          <a href="{% url 'account_login' %}"
             class="underline link">
            Sign in to my account
          </a>
        </div>

      </div>
    </div>
  </div>
  {% endblock %}
