{% spaceless %}
    {% block header %}
        <title>
            {{ request.site.name }}{% block title %}{% endblock %}
        </title>
    {% endblock header %}
    {% block layout %}

        {% include "includes/messages.html" with hx_oob=request.htmx %}

        <div hx-history-elt
            id="layout"
            class="flex relative p-2 pt-6 mx-auto xl:w-5/6 min-h-screen">
            <aside class="w-full hidden xl:block xl:w-1/5 xl:sticky xl:h-full xl:top-16">
                {% include "includes/sidebar.html" %}

            </aside>

            <main class="w-full xl:block lg:w-4/5 lg:mx-auto">
                {% block content %}{% endblock %}
            </main>
        </div>
    {% endblock layout %}

    {% block footer %}{% endblock %}
{% endspaceless %}
