{% extends "layout_base.html" %}
{% load static django_htmx player %}
{% block header %}
    <!DOCTYPE html>
    <html lang="en">
        <!--
     __                           __
    |__|  ____  _____     _______/  |_   ______
    |  |_/ ___\ \__  \   /  ___/\   __\ /  ___/
    |  |\  \___  / __ \_ \___ \  |  |   \___ \
/\__|  | \___  >(____  //____  > |__|  /____  >
\______|     \/      \/      \/             \/

    -->
        <head>
            {{ block.super }}

            {% include "includes/meta.html" %}

            <link rel="icon"
                type="image/png"
                href="{% static 'img/wave-ico.png' %}">

            <link rel="apple-touch-icon image_src"
                href="{% static 'img/apple-touch-icon.png' %}">

            <link rel="stylesheet"
                media="screen"
                href="{% static 'dist/bundle.css' %}{% if debug %}?{% now 'U' %}{% endif %}">

            <script type="application/ld+json">
                {
                    "@context": "https://schema.org",
                    "@type": "WebSite",
                    "url": "{% absolute_uri 'podcasts:index' %}",
                    "potentialAction": {
                        "@type": "SearchAction",
                        "target": {
                            "@type": "EntryPoint",
                            "urlTemplate": "{% absolute_uri 'podcasts:search_podcasts' %}?q={search_term_string}"
                        },
                        "query-input": "required name=search_term_string"
                    }
                }
            </script>
        </head>

        <body class="container-xl mx-auto antialiased font-sans dark:bg-zinc-900 dark:text-white text-sm lg:text-base scroll-smooth"
            hx-boost="true"
            hx-target="#layout"
            hx-swap="outerHTML show:window:top"
            hx-indicator="#loader"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            {% include "includes/hx_indicator.html" %}

            <div class="flex flex-col h-screen">
                <div class="flex-grow">
                    {% include "includes/navbar.html" %}

{% endblock header %}
{% block footer %}

    </div>

    {% cookie_notice %}

    {% if user.is_authenticated %}
        <div id="player">
            {% audio_player %}
        </div>
    {% endif %}
    {% include "includes/footer.html" %}

    {% django_htmx_script %}

    <script defer src="{% static 'dist/bundle.js' %}{% if debug %}?{% now 'U' %}{% endif %}"></script>

    </body>

    </html>
{% endblock footer %}
