{# vim: set filetype=htmldjango #}
{% load heroicons %}
<div id="modal"
     class="overflow-y-auto fixed inset-0 z-20 modal"
     x-data="{show: true}"
     x-show="show"
     x-cloak
     :aria-hidden="!show"
     @modal-open.window="show=true; header=event.detail.header"
     @modal-close.window="show=false"
     @keyup.escape.window="show=false"
     @click.outside="show=false"
     @htmx:after-request.window="if($event.detail.requestConfig.boosted) show=false">
    <div class="flex justify-center items-center h-full min-h-screen text-center sm:px-4 sm:pt-4 sm:pb-20 sm:h-auto">
        <div class="fixed inset-0 bg-black bg-opacity-75 transition-opacity dark:bg-opacity-50"></div>
        <div class="inline-block overflow-hidden px-4 pt-5 pb-4 w-full h-full max-h-screen text-left align-bottom bg-white transition-all transform sm:p-6 sm:w-5/6 sm:h-auto sm:align-middle sm:rounded-lg sm:shadow-xl lg:w-2/3 dark:bg-gray-900 sm:max-h-[90svh]">
            <div>
                <button class="float-right pl-3 cursor-pointer"
                        aria-label="Close"
                        title="Close"
                        @click="show=false">{% heroicon_outline "x-mark" size=30 title="Close" %}</button>
                <div>
                    <h3 class="pb-3 mb-3 text-xl font-bold leading-6 text-gray-900 border-b lg:text-2xl">
                        {% block title %}
                        {% endblock title %}
                    </h3>
                    <div class="overflow-y-auto pb-3 mt-2 max-h-[90svh] sm:max-h-[60svh]">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
