{% load audio_player django_htmx partials static tailwind_cli %}

{% partialdef head %}
    {% tailwind_css %}
    <link rel="icon" type="image/png" href="{% static "img/wave-ico.png" %}">
    <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
    <link rel="manifest" href="{% url "manifest" %}">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    {% htmx_config %}
    {% theme_color %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, viewport-fit=no">
    <meta name="mobile-wep-app-capable" content="yes">
    <meta name="apple-mobile-wep-app-capable" content="yes">
    <meta name="copyright" content="Dan Jacob {% now "Y" %}">
    <meta name="cache-control" content="no-cache">
    <meta name="description" content="Podcast aggregator site">
    <meta name="keywords" content="podcasts, rss, feeds">
    <script defer src="{% static "vendor/alpine-3.14.1.min.js" %}"></script>
    <script defer src="{% static "vendor/htmx-2.0.3.min.js" %}"></script>
{% endpartialdef %}

{% partialdef messages %}
    <div id="messages"
         class="fixed inset-x-0 top-16 z-50 mx-auto max-w-fit"
         {% if request.htmx %}hx-swap-oob="true"{% endif %}>
        {% if messages %}
            <ul class="space-y-3">
                {% for message in messages %}
                    <li class="flex flex-wrap items-center justify-center px-3 py-2 font-bold text-center text-white rounded shadow-xl message-{{ message.tags }}"
                        role="alert"
                        x-data="{show: true}"
                        x-show="show"
                        x-init="setTimeout(() => show = false, 1500)"
                        x-transition:enter="transition ease-in duration-200"
                        x-transition:enter-start="transform opacity-0"
                        x-transition:enter-end="transform opacity-100"
                        x-transition:leave="transition ease-out duration-500"
                        x-transition:leave-start="transform opacity-100"
                        x-transition:leave-end="transform opacity-0">{{ message.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endpartialdef %}

{% partialdef cookie_banner %}
    {% get_accept_cookies as accept_cookies %}
    {% if not accept_cookies %}
        <div class="flex fixed bottom-0 z-50 justify-center py-3 w-full text-white bg-black opacity-90"
             id="accept-gdpr-cookies">
            <div class="px-2">
                <div class="items-center md:flex">
                    <p class="mb-3 font-bold text-center md:mr-4 md:mb-0 md:text-start">
                        This site uses <a href="https://www.internetcookies.com"
                                          target="_blank"
                                          rel="noopender"
                                          class="underline">cookies</a> to ensure you get the best experience.
                    </p>
                    <div class="text-center md:text-start">
                        <button class="py-1 px-4 text-base border border-white md:text-lg btn btn-primary"
                                aria-label="OK, I accept cookies"
                                title="OK, I accept cookies"
                                hx-disabled-elt="this"
                                hx-post="{% url "accept_gdpr_cookies" %}"
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                hx-target="#accept-gdpr-cookies"
                                hx-push-url="false"
                                hx-swap="delete"
                                hx-indicator="this">OK</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endpartialdef %}

{% partialdef scripts %}
    {% audio_player_script %}
    {% django_htmx_script %}
    <script>
        if (typeof navigator.serviceWorker !== 'undefined') {
            navigator.serviceWorker.register('{% url "service_worker" %}')
        }
    </script>
{% endpartialdef %}
