{% load django_htmx partials static tailwind_cli %}
{% partialdef head %}
    {% tailwind_css %}
    <link rel="icon" type="image/x-icon" href="{% static "img/favicon.ico" %}">
    <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
    <link rel="manifest" href="{% url "manifest" %}">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    {% htmx_config %}
    {% theme_color %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, viewport-fit=no">
    <meta name="mobile-wep-app-capable" content="yes">
    <meta name="apple-mobile-wep-app-capable" content="yes">
    <meta name="copyright" content="Dan Jacob {% now "Y" %}">
    <meta name="cache-control" content="no-cache">
    <meta name="description" content="Podcast aggregator site">
    <meta name="keywords" content="podcasts, rss, feeds">
    <script defer src="{% static "vendor/alpine-3.14.8.min.js" %}"></script>
    <script defer src="{% static "vendor/htmx-2.0.4.min.js" %}"></script>
{% endpartialdef %}

{% partialdef scripts %}
    {% if user.is_authenticated %}
        <script src="{% static "audio-player.js" %}"></script>
    {% endif %}
    {% django_htmx_script %}
    <script>
        if (typeof navigator.serviceWorker !== 'undefined') {
            navigator.serviceWorker.register('{% static "service-worker.js" %}')
        }
    </script>
{% endpartialdef %}
