{% extends request.htmx|yesno:"layout_base.html,base.html" %} {% block content %}
<h1 class="
    font-bold
    flex
    items-center
    justify-center
    sm:justify-start
    mb-4
    lg:mb-6
    text-base
    lg:text-lg
    xl:text-xl
  ">
    Search
</h1>

<div id="search-results">
    <nav class="mb-4 sm:flex justify-between">
        <ul class="
        flex
        items-center
        justify-center
        sm:justify-start
        overflow-x-auto
        lg:overflow-none
        whitespace-nowrap
        lg:whitespace-none
        space-x-6
        mb-4
        sm:mb-0
      ">
            {% with search_qs="?"|add:request.search.qs TAB_ACTIVE_CSS="text-blue-600
      font-bold dark:text-blue-300" %} {% active_link 'podcasts:search_podcasts' as link
      %}
            <li>
                <a class="link {% if link.match %}{{ TAB_ACTIVE_CSS }}{% endif %}"
                   title="Search Podcasts"
                   href="{{ link.url|add:search_qs }}">Podcasts</a>
            </li>
            {% active_link 'episodes:search_episodes' as link %}
            <li>
                <a class="link {% if link.match %}{{ TAB_ACTIVE_CSS }}{% endif %}"
                   title="Search Episodes"
                   href="{{ link.url|add:search_qs }}">Episodes</a>
            </li>
            {% active_link 'podcasts:search_itunes' as link %}
            <li>
                <a class="link {% if link.match %}{{ TAB_ACTIVE_CSS }}{% endif %}"
                   title="Search iTunes"
                   href="{{ link.url|add:search_qs }}">iTunes</a>
            </li>
            {% endwith %}
        </ul>
        <div class="flex items-center justify-center sm:justify-end">
            {% include "forms/_search_form.html" with placeholder="Search..." %}
        </div>
    </nav>

    {% block search_content %}{% endblock %}
</div>

{% endblock content %}