{% extends "base.html" %}
{% block content %}
    <header class="pb-3 mb-3 border-b space-y-6">
        <h1 class="flex items-center justify-center text-lg font-bold sm:justify-start lg:text-xl xl:text-2xl">
            Search {{ request.site.name }}
        </h1>
        <nav class="justify-between sm:flex space-y-3 sm:space-y-0">
            <ul class="flex items-center justify-center overflow-x-auto space-x-6 sm:justify-start md:overflow-none whitespace-nowrap md:whitespace-none">
                {% with search_qs="?"|add:request.search.qs %}
                    {% active_link 'podcasts:search_podcasts' as link %}
                    <li>
                        <a class="{{ link.css }}"
                           title="Search Podcasts"
                           href="{{ link.url|add:search_qs }}">Podcasts</a>
                    </li>
                    {% active_link 'episodes:search_episodes' as link %}
                    <li>
                        <a class="{{ link.css }}"
                           title="Search Episodes"
                           href="{{ link.url|add:search_qs }}">Episodes</a>
                    </li>
                    {% active_link 'podcasts:search_itunes' as link %}
                    <li>
                        <a class="{{ link.css }}"
                           title="Search iTunes"
                           href="{{ link.url|add:search_qs }}">iTunes</a>
                    </li>
                {% endwith %}
            </ul>
            <ul class="flex items-center justify-center sm:justify-end">
                <li>{% include "_search_form.html" with placeholder="Search..." %}</li>
            </ul>
        </nav>
    </header>
    {# djlint:off #}
    {% block search_content %}{% endblock search_content %}
    {# djlint:on #}
{% endblock content %}
