{% load heroicons %}
<ul class="grid grid-cols-1 gap-3 text-lg sm:grid-cols-2 lg:text-xl xl:grid-cols-1 xl:gap-6 grid-flow-cols">
    {% with icon="rss" label="Subscriptions" %}
        {% url "podcasts:subscriptions" as url %}
        {% partial item %}
    {% endwith %}

    {% with icon="sparkles" label="New Releases" %}
        {% url "episodes:index" as url %}
        {% partial item %}
    {% endwith %}

    {% with icon="magnifying-glass" label="Discover" %}
        {% url "podcasts:discover" as url %}
        {% partial item %}
    {% endwith %}

    {% with icon="tag" label="Categories" %}
        {% url "categories:index" as url %}
        {% partial item %}
    {% endwith %}

    {% with icon="bookmark" label="Bookmarks" %}
        {% url "episodes:bookmarks" as url %}
        {% partial item %}
    {% endwith %}

    {% with icon="clock" label="History" %}
        {% url "episodes:history" as url %}
        {% partial item %}
    {% endwith %}

    {% with icon="lock-closed" label="Private Feeds" %}
        {% url "podcasts:private_feeds" as url %}
        {% partial item %}
    {% endwith %}

    {% with icon="information-circle" label="About" %}
        {% url "about" as url %}
        {% partial item %}
    {% endwith %}
</ul>

{% partialdef item %}
    <li>
        <a href="{{ url }}"
           class="inline-flex items-center w-full sm:w-auto link">
            {% heroicon_outline icon class="mr-3" %}
            {{ label }}
        </a>
    </li>
{% endpartialdef %}
