<div>
  {% if is_added %}
  <button class="rounded cursor-default border border-white text-white text-sm p-1 flex items-center"
          data-controller="notification"
          data-notification-timeout-value="2000">
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor"
         title="Verified"
         class="h-4 w-4 mr-2 text-green-300">
      <path stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 13l4 4L19 7" />
    </svg>
    Added!
  </button>
  {% elif is_error %}
  <button class="rounded cursor-default border border-red-300 text-red-300 text-sm p-1 flex items-center"
          data-controller="notification"
          data-notification-timeout-value="2000">
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke="currentColor"
         class="h-4 w-4 mr-2 text-red-300">
      <path stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    Error
  </button>
  {% else %}
  <form method="post"
        action="{% url 'podcasts:add_podcast' %}">
    {% csrf_token %}
    <input type="hidden"
           name="rss"
           value="{{ result.rss }}">
    <input type="hidden"
           name="title"
           value="{{ result.title }}">
    <input type="hidden"
           name="itunes"
           value="{{ result.itunes }}">
    <button class="rounded bg-blue-800 hover:bg-blue-600 border border-white text-white text-sm p-1 flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg"
           fill="none"
           viewBox="0 0 24 24"
           stroke="currentColor"
           class="h-4 w-4 mr-2">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      Add Podcast
    </button>
  </form>
  {% endif %}
</div>
