*.bak
*.db
*.DS_Store
*.egg
*.lock
*.pot
*.pyc
*.sqlite3
*.swp
*log
.disk_cache
.python-version
.ruff_cache
.coverage
.coverage*
.data
.env
.idea/
.ipython/
.mypy_cache/
.pytest_cache/
.vault_pass
.venv
.vim/
.vscode/
'
:
:w
codealike.json
__pycache__
celerybeat-schedule
celerybeat.pid
db
dist/
hosts
logs
media/
deployments/
node_modules/
npm-debug.log*
staticfiles
venv
static/dist/
vars/*.yml
hosts
manage.sh
