- name: Setup PostgreSQL volume
  hosts: agents
  become: true
  gather_facts: false
  roles:
      - k3s_postgres_volume

- name: Deploy k3s application
  hosts: server
  become: false
  gather_facts: true
  roles:
      - k3s_deploy
      - k3s_crons
      - k3s_scripts
      - k3s_observability
