- name: Setup PostgreSQL volume
  hosts: agents
  become: true
  gather_facts: false
  roles:
      - k3s/postgres_volume

- name: Deploy k3s application
  hosts: server
  become: false
  gather_facts: true
  roles:
      - k3s/deploy
      - k3s/crons
      - k3s/scripts
