all:
  vars:
    ansible_user: ubuntu
  children:
    database:
      hosts:
        123.34.5.678:
          private_ip: 10.0.0.2
    server:
      hosts:
        123.34.5.678:
          private_ip: 10.0.0.3
    agents:
      hosts:
        123.34.5.678:
        678.76.5.432:
