all:
  children:
    server:
      hosts:
        123.456.78.910:
          private_ip: 10.0.0.1
          hostname: server
          role: server
    agents:
      hosts:
        123.456.78.911:
          hostname: database
          role: database
        123.456.78.912:
          hostname: jobrunner
          role: jobrunner
        123.456.78.913:
          hostname: webapp-1
          role: webapp
        123.456.78.914:
          hostname: webapp-2
          role: webapp
  vars:
    admin_url: "my-admin/"
    admins: "admin@gmail.com"
    contact_email: "contact@gmail.com"
    domain: "myapp.com"
    mailgun_api_key: ""
    mailgun_api_url: "https://api.eu.mailgun.net/v3"
    postgres_volume: ""
    postgres_password: dbpasswd
    pwa_sha256_fingerprints: ""
    secret_key: seekrit1
    secret_key_fallbacks: "seekrit2,seekrit3"
    sentry_url: "https://xxxx.ingest.us.sentry.io/xxxxx"
    # cron_schedules_override:
    #  send_notifications: "10 10 * * 3"
