---
- name: Create deployment user
  hosts: all
  remote_user: root
  become: false
  gather_facts: true
  vars:
    ansible_user: root
  roles:
    - user

- name: Pre-install requirements
  hosts: all
  become: true
  gather_facts: false
  roles:
    - k3s_prereqs

- name: Set up K3s cluster
  hosts: server
  become: true
  gather_facts: false
  roles:
    - k3s_cluster

- name: Cleanup tasks for k3s
  hosts: all
  become: true
  gather_facts: true
  roles:
    - k3s_cleanup

- name: Deploy k3s application
  hosts: server
  become: false
  gather_facts: true
  roles:
    - k3s_user
    - k3s_deploy
    - k3s_scripts
