- name: Create deployment user
  hosts: all
  remote_user: root
  become: false
  gather_facts: true
  vars:
      ansible_user: root
  roles:
      - user

- name: Pre-install requirements
  hosts: all
  become: true
  gather_facts: false
  roles:
      - k3s/prereqs

- name: Setup PostgreSQL volume
  hosts: agents
  become: true
  gather_facts: false
  roles:
      - k3s/postgres_volume

- name: Set up K3s cluster
  hosts: server
  become: true
  gather_facts: false
  roles:
      - k3s/cluster

- name: Cleanup tasks for k3s
  hosts: all
  become: true
  gather_facts: true
  roles:
    - k3s/cleanup

- name: Deploy k3s application
  hosts: server
  become: false
  gather_facts: true
  roles:
      - k3s/user
      - k3s/deploy
      - k3s/crons
      - k3s/scripts
