apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-upgrade-pv
spec:
  capacity:
    storage: {{ postgres.storage }}
  accessModes:
    - ReadWriteOnce
  storageClassName: manual
  hostPath:
    path: "{{ postgres.new_volume }}"
