{# djlint: off #}
<c-vars form=None
        action=request.path
        method="post"
        class="space-y-3"
        hx-post=None
        hx-encoding=None
/>
{# djlint: on #}
<form class="{{ class }}"
      method="{{ method }}"
      {% if hx_post %}
          action="{{ hx_post }}"
      {% else %}
          action="{{ action }}"
      {% endif %}
      {% if hx_encoding %}
          enctype="{{ hx_encoding }}"
      {% endif %}
      {{ attrs }}>
    {% csrf_token %}
    {% if form %}
        {{ form }}
    {% else %}
        {{ fields }}
    {% endif %}
    <div class="flex items-center space-x-3">
        {{ slot }}
    </div>
</form>
