{# djlint: off #}
<c-vars form=None
        class="space-y-3"
        hx-post=request.path
        hx-target="this"
        hx-swap="outerHTML"
        multipart=False
/>
{# djlint: on #}
<form class="{{ class }}"
      hx-post="{{ hx_post }}"
      hx-target="{{ hx_target }}"
      hx-swap="{{ hx_swap }}"
      action="{{ hx_post }}"
      method="post"
      {% if multipart %}
          enctype="multipart/form-data"
          hx-encoding="multipart/form-data"
      {% endif %}
      {{ attrs }}>
    {% csrf_token %}
    {% if form %}
        {{ form }}
    {% else %}
        {{ fields }}
    {% endif %}
    {{ buttons }}
</form>
