{% load heroicons %}
<header class="sticky top-0 z-10 w-full text-white bg-purple-900"
        :class="scrolling ? 'drop-shadow-xl': ''"
        x-data="{showSidebar: false, showUserDropdown: false, scrolling: false}"
        {# fmt:off #}
        x-init="
                $watch('showSidebar', value => { if (value) showUserDropdown = false; });
                $watch('showUserDropdown', value => { if (value) showSidebar = false; });"
        {# fmt:on #}
        @scroll.window="scrolling = window.pageYOffset > 0"
        @htmx:before-request.window="showSidebar=false; showUserDropdown=false">
    <c-navbar.nav />
    {% if user.is_authenticated %}
        <nav class="absolute left-0 py-6 px-2 w-full bg-white shadow-xl xl:hidden dark:bg-gray-800"
             x-cloak
             x-show.transition="showSidebar"
             x-transition:enter-start="transform opacity-0 scale-95 -translate-y-12 sm:-translate-y-6"
             x-transition:enter="transition ease-out duration-100"
             x-transition:enter-end="transform opacity-100 scale-100 translate-y-0"
             x-transition:leave="transition ease-in duration-100"
             x-transition:leave-start="transform opacity-100 scale-100 translate-y-0"
             x-transition:leave-end="transform opacity-0 scale-95 -translate-y-12 sm:-translate-y-6"
             @click.outside="showSidebar=false">
            <c-navbar.menu />
        </nav>
    {% else %}
        <c-navbar.cta id="signup-cta">
            <a href="{% url 'account_signup' %}">Sign up</a>
            or
            <a href="{% url 'account_login' %}">log in</a>
            to follow your favorite podcasts and episodes!
        </c-navbar.cta>
    {% endif %}
    <c-navbar.cta x-data="{show: false, content: '', dismissable: false}"
                  x-cloak
                  x-transition
                  x-show="show"
        {# fmt:off #}
                  @cta.window="
                  show = true;
                  content = $event.detail.content;
                  dismissable = $event.detail.dismissable;"
        {# fmt:on #}
    >
        <div class="relative">
            <button @click="show = false"
                    class="absolute top-0 right-0 pl-2 text-white cursor-pointer hover:opacity-75"
                    x-show="dismissable">
                {% heroicon_mini "x-mark" %}
            </button>
            <div class="pr-6" x-html="content"></div>
        </div>
    </c-navbar.cta>
</header>
