<header class="sticky top-0 z-10 w-full text-white bg-violet-900"
        :class="scrolling ? 'drop-shadow-xl': ''"
        x-data="{showSidebar: false, showUserDropdown: false, scrolling: false}"
        {# fmt:off #}
        x-init="
            $watch('showSidebar', value => { if (value) showUserDropdown = false; });
            $watch('showUserDropdown', value => { if (value) showSidebar = false; });"
        {# fmt:on #}
        @scroll.window="scrolling = window.pageYOffset > 0"
        @htmx:before-request.window="showSidebar=false; showUserDropdown=false">
    <c-navbar.nav />
    {% if user.is_authenticated %}
        <nav class="absolute left-0 py-6 px-2 w-full bg-white shadow-xl xl:hidden dark:bg-gray-800"
             x-cloak
             x-show.transition="showSidebar"
             x-transition:enter-start="transform opacity-0 scale-95 -translate-y-12 sm:-translate-y-6"
             x-transition:enter="transition ease-out duration-100"
             x-transition:enter-end="transform opacity-100 scale-100 translate-y-0"
             x-transition:leave="transition ease-in duration-100"
             x-transition:leave-start="transform opacity-100 scale-100 translate-y-0"
             x-transition:leave-end="transform opacity-0 scale-95 -translate-y-12 sm:-translate-y-6"
             @click.outside="showSidebar=false">
            <c-navbar.menu />
        </nav>
    {% else %}
        <c-navbar.signup-cta />
    {% endif %}
</header>
