{% url 'users:import_podcast_feeds' as action_url %}
<form method="post"
    action="{{ action_url }}"
    class="space-y-3"
    novalidate
    enctype="multipart/form-data"
    id="{{ target }}"
    hx-encoding="multipart/form-data"
    hx-target="this"
    hx-swap="outerHTML"
    hx-post="{{ action_url }}">
    {% csrf_token %}
    {{ form }}
    <div>
        <button class="inline-flex items-center btn btn-default">
            {% include "icons/upload.svg" with css_class="h-4 w-4 md:h-5 md:w-5 mr-2" %}
            Upload OPML
        </button>
    </div>
</form>

{% if request.htmx.target == target %}
    {% include "includes/messages.html" with hx_oob=True %}
{% endif %}
