{% extends "modal_base.html" %}
{% block modal_header %}
<a href="{{ podcast.get_absolute_url }}"
   class="font-semibold hover:text-blue-500"
   data-turbo-frame="_top">
  {{ podcast.title|truncatechars:120 }}
</a>
{% endblock %}

{% block modal_content %}

<div class="flex items-center w-full mb-3">

  <a href="{{ podcast.get_absolute_url }}"
     data-turbo-frame="_top">
    {% include "podcasts/_cover_image.html" with image_css_class="h-28 w-28 mr-2" %}
  </a>

  <div class="text-sm">
    {% if podcast.explicit %}
    <div class="text-red-500 font-semibold mb-3 flex items-center">
      {% include "_explicit.html" with css_class="mr-2" %}
      Explicit
    </div>
    {% endif %}

    <div class="mb-3">
      <turbo-frame id="{{ podcast.get_subscribe_toggle_id }}">
        {% include "podcasts/_subscribe.html" %}
      </turbo-frame>
    </div>

    {% share_buttons podcast.get_absolute_url podcast.title %}
  </div>
</div>

<div class="text-sm italic markdown">
  {{ podcast.description|keepspaces|stripentities|truncatewords:60 }}
</div>

{% endblock %}
