<div class="absolute left-0 bg-white dark:bg-gray-800 w-56 sm:w-64 border shadow-xl z-20 dark:border-gray-500 text-sm"
     :class="{'top-0': position === 'dropdown', 'bottom-0': position === 'dropup'}"
     x-data="{show: true, position: 'dropdown'}"
     x-show="show"
     @click.away="show=false"
     @keydown.escape.window="show=false"
     x-init="() => {
        const rect = $el.getBoundingClientRect();
        const vh = document.documentElement.clientHeight;
        position = (vh - rect.top - rect.height) > 0 ? 'dropdown' : 'dropup';
    }">
    {% with BUTTON_CSS_CLASS="w-full hover:bg-gray-300 flex items-center px-4 py-2 border-b dark:hover:bg-gray-900 dark:border-gray-500 focus:outline-none" podcast_url=podcast.get_absolute_url %}
  {% if user.is_authenticated %}
  {% if is_following %}
  <button class="{{ BUTTON_CSS_CLASS }}"
          hx-post="{% url 'podcasts:unfollow' podcast.id %}"
          hx-vals='{"action": true}'
          @click="show=false">
    {% icon "eye_slash" css_class="h-4 w-4 mr-2" %}
    Unfollow
  </button>
  {% else %}
  <button class="{{ BUTTON_CSS_CLASS }}"
          hx-post="{% url 'podcasts:follow' podcast.id %}"
          hx-vals='{"action": true}'
          @click="show=false;">
    {% icon "eye" css_class="h-4 w-4 mr-2" %}
    Follow
  </button>
  {% endif %}
  {% else %}
  <a class="{{ BUTTON_CSS_CLASS }}"
     hx-disable="true"
     title="Log in or sign up to play this episode"
     href="{{ podcast_url|login_url }}">
    <div class="mr-2">
      {% icon "login" css_class="h-4 w-4" %}
    </div>
    Log in or Sign up
  </a>
  {% endif %}

  <a class="{{ BUTTON_CSS_CLASS }}"
     title="View podcast details"
     href="{{ podcast_url }}">
    <div class="mr-2">
      {% icon "link" css_class="h-4 w-4" %}
    </div>
    View Details
  </a>

  <button class="{{ BUTTON_CSS_CLASS }}"
          @click="show=false">
    {% icon "x" css_class="h-4 w-4 mr-2" %}
    Close
  </button>
  {% endwith %}
</div>
