{% if podcasts %}
<div class="absolute bg-white dark:bg-gray-800 w-96 border shadow-xl z-20 dark:border-gray-500 rounded top-10 text-black dark:text-white"
     x-show="search"
     hx-target="#layout"
     hx-push-url="true"
     hx-swap="outerHTML show:window:top">
  {% for podcast in podcasts %}
  {% with podcast_url=podcast.get_absolute_url %}
  <div class="p-2 hover:bg-gray-300 dark:hover:bg-gray-900 flex items-center hover:cursor-pointer"
          tabindex="{{ forloop.counter0 }}"
          hx-get="{{ podcast_url }}">

    <div class="w-14">
      {% include "_cover_image.html" with cover_url=podcast.cover_url size=12 alt=podcast.cleaned_title %}
    </div>

    <div class="flex items-center text-sm w-80 break-words overflow-y-hidden max-w-xl no-wrap max-h-12 font-semibold"
         title="{{ podcast.cleaned_title }}">
      {{ podcast.cleaned_title|truncatechars:80 }}
    </div>

  </div>
  {% endwith %}
  {% endfor %}

  <div class="flex justify-between p-2">
    {% if total > 6 %}
    <a href="{% url 'podcasts:search_podcasts' %}?q={{ request.search }}"
       class="link text-sm">
      More Results
    </a>
    {% endif %}
    <a href="{% url 'episodes:search_episodes' %}?q={{ request.search }}"
       class="link text-sm">
      Search Episodes
    </a>

  </div>

</div>
{% endif %}
