{% load cache %}
{% cache 3600 podcast-categories podcast.id %}
{% with categories=podcast.categories.all %}
{% if categories %}
<div class="space-y-2 lg:space-y-3 space-x-2 lg:space-x-3">
  {% for category in categories %}
  <div class="inline-block">
    <a class="btn btn-link flex items-center text-xs lg:text-sm"
       title="{{ category.name }}"
       href="{{ category.get_absolute_url }}">
      {% icon "tag" css_class="btn-icon mr-2" %}
      {{ category.name }}
    </a>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
{% endcache %}
