{% load static %}
{% spaceless %}
{% if lazy %}
<div id="cover-image-{{ podcast.id }}"
     hx-trigger="revealed"
     hx-swap="outerHTML"
     hx-push-url="false"
     hx-select="img"
     hx-target="this"
     hx-get="{% url 'podcasts:podcast_cover_image' podcast.id %}?size={{ img_size }}">
  {% endif %}
  {% with podcast_title=podcast.title|stripentities %}
  <img class="object-cover border dark:border-gray-500 bg-transparent h-{{ img_size }} w-{{ img_size }} {{ css_class|default:"hover:opacity-75" }}{% if lazy %} filter blur-sm{% endif %}"
       title="{{ podcast_title }}"
       alt="{{ podcast_title }}"
       {% if cover_image %}
       src="{{ cover_image.url }}"
       width="{{ cover_image.width }}"
       height="{{ cover_image.height }}"
       {% else %}
       src="{% static 'img/podcast-icon.png' %}"
       width="200"
       height="200"
       {% endif %}
       {{ attrs|htmlattrs }} />
  {% endwith %}
  {% if lazy %}
</div>
{% endif %}
{% endspaceless %}
