{% load static %}
{% spaceless %}
{% with cover_image=podcast.get_cover_image_thumbnail %}
<img class="object-cover border dark:border-gray-500 bg-transparent h-{{ size|default:16 }} w-{{ size|default:16 }} {{ css_class|default:"hover:opacity-75" }}"
     title="{{ podcast.title|stripentities }}"
     alt="{{ podcast.title|stripentities }}"
     {% if cover_image %}
     loading="lazy"
     src="{{ cover_image.url }}"
     width="{{ cover_image.width }}"
     height="{{ cover_image.height }}"
     {% else %}
     src="{% static 'img/podcast-icon.png' %}"
     width="200"
     height="200"
     {% endif %}
     {{ attrs|htmlattrs }} />
{% endwith %}
{% endspaceless %}
