  {% if user.is_authenticated %}
  <div id="follow-toggle"
       hx-target="this"
       hx-swap="outerHTML"
       hx-select="#follow-toggle">
    {% if action %}
    {% include "_oob_messages.html" %}
    {% endif %}
    {% if is_following %}
    <button class="btn btn-secondary flex items-center"
            title="Stop following this podcast"
            hx-trigger="click delay:200ms"
            hx-post="{% url 'podcasts:unfollow' podcast.id %}">
      {% icon "eye_slash" css_class="btn-icon mr-2" %}
      Follow
    </button>
    {% else %}
    <button class="btn btn-default flex items-center"
            title="Follow this podcast"
            hx-trigger="click delay:200ms"
            hx-post="{% url 'podcasts:follow' podcast.id %}">
      {% icon "eye" css_class="btn-icon mr-2" %}
      Follow
    </button>
    {% endif %}
  </div>
  {% else %}
  <div class="flex items-center">
    <a class="btn btn-default flex items-center"
       href="{{ podcast.get_absolute_url|login_url }}"
       hx-disable="true"
       title="Log in">
      {% icon "eye" css_class="btn-icon mr-2" %}
      Follow
    </a>
  </div>
  {% endif %}
