<div class="flex items-center relative"
     x-data="{show: false}">
  <button title="About this episode"
          class="focus:outline-none"
          @click="show=!show">
    {% icon "info" css_class="w-6 h-6" %}
  </button>

  <div class="absolute top-0 w-64 sm:w-96 left-0 mt-3 w-96 bg-white dark:bg-black dark:text-white rounded-md overflow-hidden shadow-xl z-20 border dark:border-gray-500 text-sm text-gray-800 dark:text-white p-2"
       x-cloak
       @click.away="show=false"
       @keydown.escape.window="show=false"
       x-show.transition="show">
    <div class="space-y-2">
      <div>
        <div class="float-right">
          <button title="Close"
                  class="p-1 focus:outline-none"
                  @click="show=false">
            {% icon "x" css_class="h-4 w-4" %}
          </button>
        </div>
        <h3 class="font-semibold text-sm">
          <a href="{{ podcast.get_absolute_url }}"
             class="link text-sm">
            {{ podcast.title }}
          </a>
        </h3>
      </div>
      <div class="markdown text-muted text-sm">
        {{ podcast.description|keepspaces|striptags|stripentities|truncatechars:300 }}
      </div>
    </div>
  </div>

</div>
