{% with podcast=feed.podcast %}
{% if podcast and podcast.pub_date %}
{% include "podcasts/_podcast.html" %}
{% else %}

<article class="border dark:border-gray-500 mb-3 flex items-center space-x-3"
         role="article"
         aria-posinset="{{ forloop.counter }}"
         aria-setsize="-1">

    <div class="w-20">
        {% include "_cover_image.html" with cover_url=feed.image alt=feed.title size=20 %}
    </div>

    <div class="flex flex-col place-content-between h-16">
        <h2 class="font-semibold w-52 max-h-10 flex flex-wrap break-words overflow-y-hidden sm:block sm:w-auto sm:max-w-md md:max-w-lg lg:max-w-xl 2xl:max-w-3xl lg:truncate"
            title="{{ feed.title }}">
            {{ feed.title }}
        </h2>
        <div class="flex items-center animate-pulse text-xs lg:text-sm font-semibold text-gray-600 dark:text-gray-300">
            Adding podcast to database...
        </div>
    </div>

</article>
{% endif %}
{% endwith %}
