{% extends "_article.html" %}
{% block cover_image %}
    {% include "_cover_image.html" with cover_url=feed.image alt=feed.title size=20 css_class=COVER_IMAGE_CSS %}
{% endblock cover_image %}

{% block title %}
    <a title="{{ feed.title }}"
        class="link font-bold"
        rel="noopener"
        target="_blank"
        href="{{ feed.url }}">
        {{ feed.title|truncatechars:180 }}
    </a>
{% endblock title %}

{% block subtitle %}
    <span class="animate-pulse">
        Adding podcast to database...
    </span>
{% endblock subtitle %}
