{% with podcast_url=podcast.get_absolute_url %}
<div class="flex items-center space-x-3 py-3 border-t dark:border-gray-500">
  <div>
    <a href="{{ podcast_url }}">
      {% include "_cover_image.html" with cover_url=podcast.cover_url alt=podcast.cleaned_title size=14 %}
    </a>
  </div>

  <div class="flex flex-col place-content-between h-14">
    <h2 class="w-64 sm:w-96 lg:w-full truncate">
      <a href="{% if show_latest %}{{ podcast.get_latest_url }}{% else %}{{ podcast_url }}{% endif %}"
         title="{{ podcast.cleaned_title }}"
         class="link">
        {{ podcast.cleaned_title|truncatechars:120 }}</a>
    </h2>
    <div>
      <a href="{{ podcast.get_episodes_url }}"
         title="Last Published"
         class="link font-semibold text-gray-600 dark:text-gray-300 text-xs">
        {{ podcast.num_episodes }} episode{{ podcast.num_episodes|pluralize }}
      </a>
    </div>
  </div>
</div>
{% endwith %}
