{% with podcast=feed.podcast %}
{% if podcast and podcast.pub_date %}
{% include "podcasts/_podcast.html" %}
{% else %}

<div class="border dark:border-gray-500 mb-3 flex items-center space-x-3">

  <div class="w-16 sm:w-20">
    {% include "_cover_image.html" with cover_url=feed.image alt=feed.title size=24 css_class="h-16 w-16 sm:h-20 sm:w-20 border-r dark:border-gray-500" %}
  </div>

  <div class="space-y-2 sm:space-y-3 lg:space-y-5">

    <h2 class="truncate w-60 sm:w-96 lg:w-full font-semibold"
        title="{{ feed.title }}">
      {{ feed.title|truncatechars:100 }}
    </h2>
    <div class="flex items-center animate-pulse text-xs font-semibold text-gray-600 dark:text-gray-300">
      Adding podcast to database...
    </div>
  </div>

</div>
{% endif %}
{% endwith %}
