{# vim: set filetype=htmldjango #}
{% if page_obj.paginator.count %}
    {% with has_other_pages=page_obj.has_other_pages %}
        <ul class="divide-y divide-solid" id="{{ pagination_target }}">
            {% if has_other_pages %}
                <li class="pb-3">{% include "_pagination_links.html" %}</li>
            {% endif %}
            {% for podcast in page_obj %}
                <li class="py-3 first:pt-0 last:pb-0">{% include "podcasts/_podcast.html" %}</li>
            {% endfor %}
            {% if has_other_pages %}
                <li class="pt-3">{% include "_pagination_links.html" %}</li>
            {% endif %}
        </ul>
    {% endwith %}
{% else %}
    {% include "_empty.html" %}
{% endif %}
