{% load thumbnail static %}
{% spaceless %}
<img class="object-cover border border-white bg-transparent {{ image_css_class|default:"h-16 w-16 hover:opacity-75 mr-2" }}"
     title="{{ podcast.title }}"
     alt="{{ podcast.title }}"
     width="{{ size }}"
     height="{{ size }}"
     {% if is_turbo_frame or not lazy %}
     {% with size=image_size|default:"20" %}
     {% thumbnail podcast.cover_image "200" format="PNG" crop="center" as img %}
     src="{{ img.url }}"
     {% empty %}src="{% static 'img/podcast-icon.png' %}"
     {% endthumbnail %}
     {% endwith %}
     {% else %}
     src="{% static 'img/podcast-icon.png' %}"
     {% endif %} />
{% endspaceless %}
