{% with podcast_url=podcast.get_absolute_url podcast_title=podcast.title|unescape %}
<section class="flex items-center space-x-2 p-1 border mb-3 hover:bg-gray-100 dark:hover:bg-gray-900 dark:border-gray-500">
  <div>
    <a href="{{ podcast_url }}">
      {% include "podcasts/_cover_image.html" with cover_url=podcast.cover_url alt=podcast.title size=16 %}
    </a>
  </div>

  <div class="space-y-2">
    <h2 class="w-64 sm:w-96 md:w-full text-sm truncate">
      <a href="{{ podcast_url }}"
         title="{{ podcast_title }}"
         class="link">{{ podcast_title|truncatechars:120 }}</a>
    </h2>
    <div class="text-sm flex flex-wrap items-center space-x-2">

      <div class="flex items-center">
        {% include "podcasts/_preview_toggle.html" %}
      </div>
      <div title="Date last published"
           class="text-sm font-semibold inline-block text-gray-600 dark:text-gray-300">
        {% include "_pub_date.html" with pub_date=podcast.pub_date %}
      </div>
    </div>
  </div>
</section>
{% endwith %}
