{% extends "modal_base.html" %}

{% block modal_header %}
<a href="{{ podcast.get_absolute_url }}"
   @click="$dispatch('close-modal')"
   class="link">
  {{ podcast.cleaned_title }}
</a>
{% endblock %}

{% block modal_content %}
<div class="flex items-center space-x-3 mb-3">
  <div>
    <a href="{{ podcast.get_absolute_url }}"
       @click="$dispatch('close-modal')">
      {% include "podcasts/_cover_image.html" with cover_url=podcast.cover_url alt=podcast.cleaned_title size=20 %}
    </a>
  </div>
  <div class="space-y-2 text-sm">
    <div class="flex items-center font-semibold text-gray-600 dark:text-gray-300 space-x-3"
         title="Date Last Published">
      {% include "_pub_date.html" with pub_date=podcast.pub_date %}
    </div>
    {% with num_episodes=podcast.get_cached_episode_count %}
    {% if num_episodes %}
    <div class="font-semibold text-gray-600 dark:text-gray-300">
      <a href="{{ podcast.get_episodes_url }}" class="link" @click="$dispatch('close-modal')">
        {{ num_episodes }} episode{{ num_episodes|pluralize }}
      </a>
    </div>
    {% endif %}
    {% endwith %}
    {% share_buttons podcast.get_absolute_url podcast.cleaned_title %}
  </div>

</div>

{% if is_following %}
<div class="text-sm font-semibold mb-3 text-sm">
  You are following this podcast.
</div>
{% elif podcast.explicit %}
<div class="text-sm font-semibold mb-3 text-sm">
  This podcast may contain explicit content.
</div>
{% endif %}

{% with description=podcast.description|keepspaces|striptags|unescape %}
{% if description %}
<div class="markdown text-muted text-sm">
  {{ description|truncatechars:600 }}
</div>
{% endif %}
{% endwith %}

{% endblock modal_content %}
