{% extends "modal_base.html" %}

{% block modal_header %}
<a href="{{ podcast.get_absolute_url }}"
   class="font-semibold hover:text-blue-500">
  {{ podcast.title|stripentities|truncatechars:120 }}
</a>
{% endblock %}

{% block modal_content %}
{% with podcast_url=podcast.get_absolute_url %}

<div class="flex items-center w-full space-x-3 mb-2">
  <div>
    <a href="{{ podcast_url }}">
      {% include "podcasts/_cover_image.html" with size=20 %}
    </a>
  </div>

  <div class="space-y-2">
    {% include "podcasts/_follow_toggle.html" %}
    {% with num_episodes=podcast.get_cached_episode_count %}
    {% if num_episodes %}
    <div>
      <a href="{{ podcast_url }}"
         class="link text-sm">
        {{ num_episodes }} episode{{ num_episodes|pluralize }}
      </a>
    </div>
    {% endif %}
    {% endwith %}

  </div>

</div>
{% if podcast.explicit %}
<div class="text-sm font-semibold mb-2">
  This podcast may contain explicit content.
</div>
{% endif %}

<blockquote class="text-sm markdown">
  {{ podcast.description|keepspaces|stripentities|truncatewords:60 }}
</blockquote>
{% endwith %}
{% endblock %}
