{% extends "modal_base.html" %}
{% load cache podcasts %}

{% block modal_header %}
<a href="{{ podcast.get_absolute_url }}"
   class="font-semibold hover:text-blue-500"
   data-turbo-frame="_top">
  {{ podcast.title|truncatechars:120 }}
</a>
{% endblock %}

{% block modal_content %}
{% with podcast_url=podcast.get_absolute_url %}

<div class="flex items-center w-full space-x-3 mb-3">
  <div>
    <a href="{{ podcast_url }}"
       data-turbo-frame="_top">
      {% cover_image podcast lazy=False size="24" %}
    </a>
  </div>

  <div class="space-y-1">
    {% include "podcasts/_follow_toggle.html" %}
    {% cache 600 podcast_preview_epsiode_count podcast.id %}
    {% with num_episodes=podcast.episode_set.count %}
    {% if num_episodes %}
    <div>
      <a href="{{ podcast_url }}"
         class="text-sm link"
         data-turbo-frame="_top">
        {{ num_episodes }} episode{{ num_episodes|pluralize }}
      </a>
    </div>
    {% endif %}
    {% endwith %}
    {% endcache %}
    <div title="Date last published"
         class="font-semibold text-sm text-gray-600 dark:text-gray-300">{{ podcast.pub_date|date }}</div>
  </div>

</div>
{% if podcast.explicit %}
<div class="text-sm font-semibold mb-3">
  This podcast may contain explicit content.
</div>
{% endif %}

<div class="text-sm markdown">
  {{ podcast.description|keepspaces|stripentities|truncatewords:60 }}
</div>
{% endwith %}
{% endblock %}
