{% load podcasts %}
{% with num_podcasts=podcasts|length %}
{% if num_podcasts %}
<div class="z-50 w-full absolute bg-white dark:bg-gray-800 border dark:border-gray-500 p-3 mt-2">
  {% for podcast in podcasts %}
  {% with podcast_url=podcast.get_absolute_url %}
  <div class="flex items-center {% if not forloop.last %} mb-3{% endif %}"
       data-autocomplete-target="result">
    <div class="mr-2">
      {% cover_image podcast=podcast lazy=False size="8" %}
    </div>
    <div class="text-sm tracking-tight leading-tight w-40 truncate">
      <a href="{{ podcast_url }}"
         title="{{ podcast.title|stripentities }}"
         data-turbo-frame="_top"
         class="link">{{ podcast.title|stripentities|truncatechars:60 }}</a>
    </div>
  </div>
  {% endwith %}
  {% endfor %}
  {% if num_podcasts > 9 %}
  <div class="mt-3"
       data-autocomplete-target="result">
    <a href="{{ request.get_full_path }}"
       data-turbo-frame="_top"
       class="link text-sm">
      More results...
    </a>
  </div>
  {% endif %}
</div>
{% endif %}
{% endwith %}
