{% load cache podcasts %}
{% cache cache_timeout podcasts_autocomplete request.search %}
{% with num_podcasts=podcasts.count num_episodes=episodes.count %}
{% if num_podcasts or num_episodes %}
<div class="relative">
  <div class="z-50 w-full top-0 absolute rounded bg-white dark:bg-gray-800 border dark:border-gray-600 mt-2 shadow-xl">
    {% if num_podcasts %}
    <div class="font-bold p-1 text-center bg-gray-100 dark:bg-gray-600 text-sm text-black dark:text-white">Podcasts</div>
    {% with limit=num_episodes|yesno:"3,6" %}
    {% for podcast in podcasts|slice:limit %}
    <a class="flex items-center p-1 mb-1 hover:bg-gray-100 dark:hover:bg-gray-500 focus:outline-none"
       href="{{ podcast.get_absolute_url }}"
       title="{{ podcast.title|stripentities }}"
       data-turbo-frame="_top"
       data-autocomplete-target="result">
      <div class="mr-2">
        {% cover_image podcast=podcast lazy=True size="8" %}
      </div>
      <div class="text-sm tracking-tight leading-tight w-64 truncate link">
        {{ podcast.title|stripentities|truncatechars:60 }}
      </div>
    </a>
    {% endfor %}
    {% endwith %}
    {% endif %}
    {% if num_episodes %}
    <div class="font-bold p-1 text-center bg-gray-100 dark:bg-gray-600 text-sm text-black dark:text-white">Episodes</div>
    {% with limit=num_podcasts|yesno:"3,6" %}
    {% for episode in episodes|slice:limit %}
    <a class="flex items-center p-1 hover:bg-gray-100 dark:hover:bg-gray-600 focus:outline-none"
       href="{{ episode.get_absolute_url }}"
       title="{{ episode.title|stripentities }}"
       data-turbo-frame="_top"
       data-autocomplete-target="result">
      <div class="mr-2">
        {% cover_image podcast=episode.podcast lazy=True size="8" %}
      </div>
      <div class="text-sm tracking-tight leading-tight w-64 truncate link">
        {{ episode.title|stripentities|truncatechars:60 }}
      </div>
    </a>
    {% endfor %}
    {% endwith %}
    {% endif %}
    {% if num_podcasts > 3 or num_episodes > 3 %}
    <a class="p-1 border-t dark:border-gray-600 block text-center focus:outline-none text-black dark:text-white text-sm font-semibold more-results"
       data-autocomplete-target="result"
       href="{% if num_podcasts > 3 %}{{ search_url }}{% else %}{% url 'episodes:search_episodes' %}?q={{ request.search }}{% endif %}"
       data-turbo-frame="_top">
      More results...
    </a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endwith %}
{% endcache %}
