<form method="post"
      id="{{ turbo_stream_target|default:podcast.get_subscribe_toggle_id }}"
      action="{% if is_subscribed %}{% url 'podcasts:unsubscribe' podcast.id %}{% else %}{% url 'podcasts:subscribe' podcast.id %}{% endif %}">
  {% csrf_token %}
  {% if is_subscribed %}
  {% button "Unsubscribe" icon="trash" type="secondary" title="Remove podcast from your Subscriptions" %}
  {% else %}
  {% button "Subscribe" icon="eye" title="Add podcast to your Subscriptions" %}
  {% endif %}
</form>
