{% with ICON_CSS="h-4 w-4 lg:h-6 lg:w-6 mr-2" %}
{% if user.is_authenticated %}
<div id="subscribe-toggle"
     hx-target="this"
     hx-push-url="false"
     hx-swap="outerHTML">
    {% if subscribed %}
    <button class="btn btn-secondary inline-flex items-center"
            title="Unsubscribe from this podcast"
            hx-trigger="click delay:200ms"
            hx-post="{% url 'podcasts:unsubscribe' podcast.id %}">
        {% icon "eye_slash" css_class=ICON_CSS %}
        Unsubscribe
    </button>
    {% else %}
    <button class="btn btn-default inline-flex items-center"
            title="Subscribe to this podcast"
            hx-trigger="click delay:200ms"
            hx-post="{% url 'podcasts:subscribe' podcast.id %}">
        {% icon "eye" css_class=ICON_CSS %}
        Subscribe
    </button>
    {% endif %}
</div>
{% else %}
<div class="flex items-center">
    <a class="btn btn-default inline-flex items-center"
       href="{{ podcast.get_absolute_url|login_url }}"
       hx-disable="true"
       title="Log in or sign up to subscribe to this podcast">
        {% icon "eye" css_class=ICON_CSS %}
        Subscribe
    </a>
</div>
{% endif %}
{% endwith %}
{% include "_messages.html" with hx_oob=True %}
