{% if user.is_authenticated %}
<form method="post"
      action="{% if is_subscribed %}{% url 'podcasts:unsubscribe' podcast.id %}{% else %}{% url 'podcasts:subscribe' podcast.id %}{% endif %}">
  {% csrf_token %}
  {% if is_subscribed %}
  <button class="btn btn-secondary flex items-center" title="Unsubscribe">
    {% svg "eye_slash" css_class="btn-icon mr-2" %}
    Unsubscribe
  </button>
  {% else %}
  <button class="btn btn-default flex items-center" title="Subscribe">
    {% svg "eye" css_class="btn-icon mr-2" %}
    Subscribe
  </button>
  {% endif %}
</form>
{% else %}
<a class="btn btn-default flex items-center"
   data-turbo-frame="_top"
   title="Log in or sign up to subscribe to this podcast"
   href="{% url 'account_login' %}?next={{ request.path|urlencode }}">
  {% svg "eye" css_class="btn-icon mr-2" %}
  Subscribe
</a>
{% endif %}
