{% extends "base.html" %}
{% load thumbnail pagination %}

{% block content %}

<div class="mb-3 text-sm pb-3 border-b">
  <a href="{% url 'podcasts:category_list' %}"
     class="font-semibold hover:text-white-300 mr-1">Discover</a>
  {% if category.parent %}
  <span class="text-gray-300 mr-1">&gt;</span>
  <a href="{{ category.parent.get_absolute_url }}"
     class="font-semibold hover:text-white-300 mr-1">{{ category.parent.name }}</a>
  {% endif %}
  <span class="text-gray-300 mr-1">&gt;</span>
  <span class="text-gray-300">{{ category.name }}</span>
</div>

<div class="md:flex justify-between items-center mb-3">
  <h2 class="text-lg font-bold mb-3 md:mb-0">{{ category.name }}</h2>
  {% include "_search_form.html" with placeholder="Search "|add:category.name|add:" podcasts"  %}
</div>

{% if children %}
<div class="mb-3 text-sm flex flex-wrap">
  {% for child in children %}
  <a href="{{ child.get_absolute_url }}"
     class="font-semibold hover:text-white-300 mr-3">{{ child.name }}</a>
  {% endfor %}
</div>
{% endif %}

{% paginate podcasts as page_obj %}

{% if page_obj.number > 1 %}
{% include "_pagination.html" with css_class="mb-3"  %}
{% endif %}

{% for podcast in page_obj %}
{% include "podcasts/_podcast.html" %}
{% endfor %}
{% include "_pagination.html" %}
{% endblock content %}
