{% extends "base.html" %}
{% load thumbnail pagination %}

{% block subtitle %} | Discover {% if category.parent %} | {{ category.parent.name }} {% endif %} | {{ category.name }}{% endblock %}

{% block content %}

<div class="mb-3 text-sm flex justify-center sm:block">
  <a href="{% url 'podcasts:category_list' %}"
     class="font-semibold hover:text-gray-300 mr-1">Discover</a>
  {% if category.parent %}
  <span class="text-gray-300 mr-1">&gt;</span>
  <a href="{{ category.parent.get_absolute_url }}"
     class="font-semibold hover:text-gray-300 mr-1">{{ category.parent.name }}</a>
  {% endif %}
  <span class="text-gray-300 mr-1">&gt;</span>
  <span class="text-gray-300">{{ category.name }}</span>
</div>

<div class="sm:flex justify-between items-center mb-3">
  <h2 class="text-lg font-bold mb-2 sm:mb-0 flex justify-center sm:justify-start">{{ category.name }}</h2>
  <div class="flex items-center justify-center sm:justify-end">
    {% if search %}
    <div class="mr-2 flex items-center hidden md:inline-block text-sm">
      <a class="font-semibold hover:text-gray-300 mr-1"
         href="{% url 'podcasts:podcast_list' %}?q={{ search }}">Search Podcasts</a>
      <span class="mr-1">|</span>
      <a class="font-semibold hover:text-gray-300"
         href="{{ request.path }}">Clear</a>
    </div>
    {% endif %}
    {% include "_search_form.html" with placeholder="Search category..." %}
  </div>
</div>

{% if search %}
<div class="mb-3 flex items-center justify-center md:hidden text-sm">
  <a class="font-semibold hover:text-gray-300 mr-2"
     href="{% url 'podcasts:podcast_list' %}?q={{ search }}">Search Podcasts</a>
  <span class="mr-2">|</span>
  <a class="font-semibold hover:text-gray-300"
     href="{{ request.path }}">Clear</a>
</div>
{% endif %}

{% if children or category.itunes_genre_id %}
<div class="mb-3 text-sm flex flex-wrap justify-center sm:justify-start leading-tight tracking-tight">
  {% for child in children %}
  <a href="{{ child.get_absolute_url }}"
     class="font-semibold hover:text-gray-300 mr-2">{{ child.name }}</a>
  {% endfor %}
  {% if category.itunes_genre_id %}
  {% if children %}
  <span class="mr-2">|</span>
  {% endif %}
  <a href="{% url 'podcasts:itunes_category' category.id %}"
     class="font-bold hover:text-gray-300">iTunes</a>
  {% endif %}
</div>
{% endif %}

{% paginate podcasts as page_obj %}

{% if page_obj.number > 1 %}
{% include "_pagination.html" with css_class="mb-3"  %}
{% endif %}

{% for podcast in page_obj %}
{% include "podcasts/_podcast.html" %}
{% empty %}
<p class="text-center sm:text-left mb-3">
  {% if search %}
  No results found for this search.
  {% else %}
  No podcasts have been added to this category yet.
  {% endif %}
</p>
{% endfor %}
{% include "_pagination.html" %}
{% endblock content %}
