{% extends "base.html" %}

{% block title %} | {% translate "Categories" %}| {{ category.name }} {% translate "Podcasts" %}{% endblock %}

{% block content %}

    {% with search_placeholder=_("Search: ")|add:category.name %}

        <div class="sm:flex items-center justify-between mb-3 space-y-3 sm:space-y-0">
            <h1 class="font-bold flex items-center justify-center sm:justify-start text-lg md:text-xl xl:text-2xl">
                {{ category.name }} {% translate "Podcasts" %}
            </h1>
            {% if not request.search %}
                <div class="flex items-center justify-center sm:justify-end">
                    {% include "search/search_form.html" with placeholder=search_placeholder %}
                </div>
            {% endif %}
        </div>


        {% if request.search %}
            <div class="mb-3 sm:flex items-center justify-center sm:justify-between">

                <div class="mb-3 sm:mb-0 flex items-center justify-center sm:justify-start">
                    <a href="{% url 'podcasts:search_podcasts' %}?{{ request.search.qs }}"
                        title="Search Podcasts"
                        class="link">{% translate "Search All Categories" %}</a>
                </div>

                <div class="flex items-center justify-center sm:justify-end">
                    {% include "search/search_form.html" with placeholder=search_placeholder %}
                </div>
            </div>
        {% endif %}
    {% endwith %}

    {% include pagination_template %}
{% endblock content %}
