{% extends "podcasts/base.html" %}
{% load cache %}

{% block subtitle %} | Discover{% endblock %}

{% block content %}
<h1 class="font-bold flex justify-center sm:justify-start text-base lg:text-lg mb-3 pb-3 border-b dark:border-gray-500">Discover New Podcasts</h1>

{# cache 3600 categories request.search.value #}
<div class="grid grid-flow-row grid-cols-2 sm:grid-cols-3 gap-3">
  {% for category in categories %}
  <div>
    <a href="{{ category.get_absolute_url }}"
       title="{{ category.name }}"
       class="link font-bold">{{ category.name }}</a>
  </div>
  {% endfor %}
</div>

{# endcache #}
{% endblock %}
