{% extends "base.html" %}
{% load cache %}
{% block title %}
    {{ block.super }}| Categories
{% endblock title %}
{% block content %}
    {% cache 300 categories request.get_full_path %}
        <header class="justify-between items-center pb-3 mb-3 space-y-3 border-b sm:flex sm:space-y-0">
            <h1 class="flex justify-center items-center text-xl font-bold sm:justify-start lg:text-2xl xl:text-3xl">Categories</h1>
            <nav class="flex justify-center items-center space-x-3 sm:justify-end">
                {% search_form "Search: Categories" %}
            </nav>
        </header>
        {% if categories %}
            <ul class="divide-y divide-solid sm:grid sm:grid-cols-2 sm:gap-3 sm:space-y-0 sm:divide-none md:grid-cols-3 sm:grid-flow-cols">
                {% for category in categories %}
                    <li class="py-3 sm:py-1 first:pt-1 first:pb-3 sm:first:pb-0">
                        <a href="{{ category.get_absolute_url }}"
                           class="w-full font-semibold link">
                            <h2>{{ category.name }}</h2>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-center sm:text-start">
                {% if request.search %}
                    No categories found for &quot;<strong>{{ request.search.value }}</strong>&quot;.
                {% else %}
                    Nothing to see here.
                {% endif %}
            </p>
        {% endif %}
    {% endcache %}
{% endblock content %}
