{% extends "base.html" %}
{% load cache partials %}
{% block title %}
    | Categories | {{ category.name }} Podcasts
{% endblock title %}
{% block content %}
    {% with search_placeholder="Search: "|add:category.name %}
        {% if request.search %}
            <header class="pb-3 mb-3 border-b space-y-3">
                <h1 class="flex items-center justify-center text-lg font-bold sm:justify-start md:text-xl xl:text-2xl">
                    {{ category.name }} Podcasts
                </h1>
                <nav>
                    <ul class="items-center justify-center space-y-3 sm:space-y-0 sm:flex sm:justify-between">
                        <li class="flex items-center justify-center sm:mb-0 sm:justify-start">
                            <a href="{% url 'podcasts:search_podcasts' %}?{{ request.search.qs }}"
                               aria-label="Search Podcasts"
                               title="Search Podcasts"
                               class="link">Search All Categories</a>
                        </li>
                        <li class="flex items-center justify-center sm:justify-end">
                            {% include "_search_form.html" with placeholder=search_placeholder %}
                        </li>
                    </ul>
                </nav>
            </header>
        {% else %}
            <header class="items-center justify-between pb-3 mb-3 border-b sm:flex space-y-3 sm:space-y-0">
                <h1 class="flex items-center justify-center text-lg font-bold sm:justify-start md:text-xl xl:text-2xl">
                    {{ category.name }} Podcasts
                </h1>
                <nav class="flex items-center justify-center sm:justify-end">
                    <ul>
                        <li>{% include "_search_form.html" with placeholder=search_placeholder %}</li>
                    </ul>
                </nav>
            </header>
        {% endif %}
    {% endwith %}
    {% partialdef pagination inline=True %}
    {% cache 600 category-detail request.get_full_path %}
    {% include "podcasts/_podcasts.html" %}
{% endcache %}
{% endpartialdef pagination %}
{% endblock content %}
