{% extends "podcasts/detail_base.html" %}
{% load cache heroicons partials %}
{% block podcast_content %}
    <article class="space-y-6">
        {% if podcast.owner %}
            <h2 class="text-base md:text-lg">
                {% if podcast.website %}
                    <a href="{{ podcast.website }}"
                       rel="noopener nofollow"
                       target="_blank"
                       aria-label="Podcast Owner"
                       title="Podcast Owner"
                       class="link">{{ podcast.owner }}</a>
                {% else %}
                    {{ podcast.owner }}
                {% endif %}
            </h2>
        {% endif %}
        <div class="flex items-center space-x-3 sm:space-x-6">
            {% cover_image podcast.cover_url 200 podcast.cleaned_title css_class="h-32 w-32 lg:h-40 lg:w-40" %}
            <div class="flex flex-col place-content-between h-28 lg:h-32">
                {% if podcast.private %}
                    <div>
                        {% if is_subscribed %}
                            <button class="inline-flex items-center btn btn-danger btn-lg"
                                    aria-label="Remove podcast from your private feeds"
                                    title="Remove podcast from your private feeds"
                                    hx-push-url="true"
                                    hx-confirm="Are you sure you want to remove this podcast? You can't undo this action!"
                                    hx-delete="{% url 'podcasts:remove_private_feed' podcast.pk %}">
                                {% heroicon_mini "trash" class="mr-2" %}
                                Remove
                            </button>
                        {% else %}
                            <button class="inline-flex items-center btn btn-primary btn-lg opacity:"
                                    aria-label="This is a private feed, you cannot subscribe to it."
                                    title="This is a private feed, you cannot subscribe to it."
                                    disabled>
                                {% heroicon_mini "eye-slash" class="mr-2" %}
                                Subscribe
                            </button>
                        {% endif %}
                    </div>
                {% else %}
                    {% partialdef subscribe_button inline=True %}
                    <div hx-target="this"
                         hx-push-url="false"
                         hx-indicator="this"
                         hx-swap="outerHTML">
                        {% if is_subscribed %}
                            <button class="inline-flex items-center btn btn-primary btn-outline btn-lg"
                                    aria-label="Unsubscribe from this Podcast"
                                    title="Unsubscribe from this Podcast"
                                    hx-delete="{% url 'podcasts:unsubscribe' podcast.pk %}"
                                    hx-trigger="click once">
                                {% heroicon_mini "eye-slash" class="mr-2" %}
                                Unsubscribe
                            </button>
                        {% else %}
                            <button class="inline-flex items-center btn btn-primary btn-lg"
                                    aria-label="Subscribe to this Podcast"
                                    title="Subscribe to this Podcast"
                                    hx-post="{% url 'podcasts:subscribe' podcast.pk %}"
                                    hx-trigger="click once">
                                {% heroicon_mini "eye" class="mr-2" %}
                                Subscribe
                            </button>
                        {% endif %}
                    </div>
                {% endpartialdef subscribe_button %}
            {% endif %}
            <nav class="flex items-center space-x-3">
                {% if podcast.website %}
                    <div>
                        <a href="{{ podcast.website }}"
                           class="link"
                           rel="noopener nofollow"
                           target="_blank">Website</a>
                    </div>
                {% endif %}
                {% if is_subscribed or not podcast.private %}
                    <div>
                        <a href="{{ podcast.rss }}" class="link" download>RSS</a>
                    </div>
                {% endif %}
                {% if user.is_staff %}
                    <div>
                        <a href="{% url 'admin:podcasts_podcast_change' podcast.pk %}"
                           hx-disable="true"
                           class="link">Admin</a>
                    </div>
                {% endif %}
            </nav>
            <div class="flex flex-wrap">
                <a href="{{ podcast.get_latest_episode_url }}"
                   class="link"
                   aria-label="Latest Episode"
                   title="Latest Episode">
                    Latest episode
                    {% include "_date.html" with value=podcast.pub_date title="Release Date" %}
                </a>
            </div>
        </div>
    </div>
    {% if podcast.funding_url %}
        <div class="flex-wrap font-semibold">
            <a href="{{ podcast.funding_url }}"
               rel="noopener nofollow"
               target="_blank">{{ podcast.funding_text|default:'Support this podcast' }}</a>
        </div>
    {% endif %}
    {% cache 600 podcast-categories podcast.pk %}
    {% with categories=podcast.categories.all %}
        {% if categories %}
            <div class="flex flex-wrap items-center leading-loose max-w-prose space-x-2 sm:space-x-3">
                {% for category in categories %}
                    <a class="inline-flex items-center link"
                       aria-label="{{ category.name }} Podcasts"
                       title="{{ category.name }} Podcasts"
                       href="{{ category.get_absolute_url }}">
                        {% heroicon_mini "tag" class="mr-2" %}
                        {{ category.name }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endcache %}
{% markdown podcast.description %}
</article>
{% endblock podcast_content %}
