{% extends "podcasts/podcast_base.html" %}
{% load thumbnail %}

{% block podcast_content %}
<div class="p-2 border border-gray-500 mb-3">

  <div class="flex items-center w-full mb-3">

    {% thumbnail podcast.cover_image "200" format="PNG" crop="center" as img %}
    <img src="{{ img.url }}"
         alt="{{ podcast.title }}"
         class="object-cover mr-4 h-24 w-24 sm:h-32 sm:w-32 border border-white bg-transparent"
         width="32"
         height="32">
    {% endthumbnail %}


    <div>
      {% if podcast.authors %}
      <div class="text-gray-300 mb-2">{{ podcast.authors }}</div>
      {% endif %}

      <div class="mb-2">
        <a class="hover:text-gray-300"
           href="{% url 'podcasts:podcast_episode_list' podcast.id podcast.slug %}">
          {{ total_episodes }} episode{{ total_episodes|pluralize }}</a>
      </div>
      {% if podcast.explicit %}
      <div class="text-red-300 text-sm font-semibold">Explicit</div>
      {% endif %}

      <div class="flex items-center text-sm">
        {% if podcast.link %}
        <a href="{{ podcast.link }}"
           class="font-semibold hover:text-gray-300 mr-2"
           target="_blank"
           rel="noopener">Website</a>
        {% endif %}
        <a href="{{ podcast.rss }}"
           class="font-semibold hover:text-gray-300 mr-2"
           target="_blank"
           rel="noopener">RSS</a>
        <a href="{{ podcast.itunes }}"
           class="font-semibold hover:text-gray-300 mr-2"
           target="_blank"
           rel="noopener">iTunes</a>
      </div>

    </div>
  </div>

  <div class="markdown mb-3">
    {{ podcast.description|clean_html }}
  </div>
  <div>
    {% for category in podcast.categories.all %}
    <a class="inline-block border border-white bg-blue-800 hover:bg-blue-600 text-white px-2 py-1 rounded mr-3 mb-2 text-sm font-semibold"
       href="{{ category.get_absolute_url }}">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor"
             class="h-4 w-4 mr-2">
          <path stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
        </svg>
        {{ category.name }}
      </div>
    </a>
    {% endfor %}
  </div>

</div>

{% if recommendations %}
<div class="mb-3">
  <h3 class="font-semibold mb-3 text-center"> Also recommended... </h3>
  <div class="overflow-x-auto lg:overflow-none flex whitespace-nowrap lg:whitespace-none pb-1">

    {% for recommendation in recommendations %}
    {% with recommended=recommendation.recommended %}
    {% thumbnail recommended.cover_image "200" format="PNG" crop="center" as img %}
    <img data-controller="link"
         data-link-url-value="{{ recommended.get_absolute_url }}"
         data-action="click->link#visit"
         class="h-24 w-24 md:h-32 md:w-32 object-cover mr-2 cursor-pointer border border-white hover:opacity-75 bg-transparent"
         title="{{ recommended.title }}"
         src="{{ img.url }}"
         alt="{{ recommended.title }}"
         role="link"
         width="32"
         height="32">
    {% endthumbnail %}
    {% endwith %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
