{% extends "podcasts/podcast_detail_base.html" %}

{% block podcast_content %}
<div class="space-y-3 lg:space-y-6 border-t dark:border-gray-500 pt-3">

  {% include "podcasts/_credits.html" %}

  <div class="flex items-center w-full space-x-3 lg:space-x-4">

    <div>
      {% include "_cover_image.html" with cover_url=podcast.cover_url alt=podcast.cleaned_title size=28 css_class="h-24 w-24 lg:h-28 lg:w-28" css_class="h-24 w-24 lg:h-28 lg:w-28" %}
    </div>

    <div class="space-y-2 lg:space-y-3 text-sm lg:text-base">
      {% include "podcasts/_follow_toggle.html" %}
      <div class="flex items-center space-x-3">
        <div>
          <a href="{{ podcast.link }}"
             class="link"
             target="_blank"
             rel="noopener">Website</a>
        </div>
        <div>
          <a href="{{ podcast.rss }}"
             class="link"
             download>RSS</a>
        </div>
        <div>
          <a href="{{ podcast.itunes }}"
             class="link"
             target="_blank"
             rel="noopener">iTunes</a>
        </div>
      </div>
      {% share_buttons podcast.get_absolute_url podcast.cleaned_title %}
    </div>
  </div>

  <div class="font-semibold flex items-center text-gray-600 dark:text-gray-300 text-sm lg:text-base">
    Last updated {{ podcast.pub_date|timesince }} ago
  </div>

  {% if podcast.explicit %}
  <div class="font-semibold text-sm lg:text-base">
    This podcast may contain explicit content.
  </div>
  {% endif %}

  <blockquote class="markdown max-w-sm sm:max-w-full text-sm lg:text-base">
    {{ podcast.description|clean_html }}
  </blockquote>

  {% include "podcasts/_categories.html" %}

  {% include "podcasts/_disclaimer.html" %}
</div>
{% endblock podcast_content %}
