{% extends "base.html" %}
{% load cache heroicons %}
{% block title %}
    {{ block.super }} | {{ podcast.cleaned_title }}
{% endblock title %}
{% block content %}
    <header class="pb-3 mb-3 space-y-6 border-b">
        <h1 class="flex justify-center items-center text-xl font-bold text-center sm:justify-start lg:text-2xl xl:text-3xl sm:text-start">
            {{ podcast.cleaned_title }}
        </h1>
        <div class="space-y-3 sm:flex sm:justify-between sm:space-y-0">
            {% block podcast_navbar %}
                {% cache 300 podcast-detail-links request.path %}
                    <nav class="flex justify-center items-center sm:justify-start">
                        <ul class="flex items-center space-x-6">
                            {% active_link podcast.get_detail_url as link %}
                            <li>
                                <a class="{{ link.css }}"
                                   href="{{ link.url }}"
                                   {% if link.active %}aria-current="page"{% endif %}
                                   aria-label="{{ podcast.cleaned_title }} | About"
                                   title="{{ podcast.cleaned_title }} | About">About</a>
                            </li>
                            {% active_link podcast.get_episodes_url as link %}
                            <li>
                                <a class="{{ link.css }}"
                                   href="{{ link.url }}"
                                   {% if link.active %}aria-current="page"{% endif %}
                                   aria-label="{{ podcast.cleaned_title }} | Episodes"
                                   title="{{ podcast.cleaned_title }} | Episodes">Episodes ({{ podcast.num_episodes }})</a>
                            </li>
                            {% if podcast.has_similar %}
                                {% active_link podcast.get_similar_url as link %}
                                <li>
                                    <a class="{{ link.css }}"
                                       href="{{ link.url }}"
                                       {% if link.active %}aria-current="page"{% endif %}
                                       aria-label="{{ podcast.cleaned_title }} | Similar"
                                       title="{{ podcast.cleaned_title }} | Similar">Similar</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endcache %}
            {% endblock podcast_navbar %}
        </div>
    </header>
    {% block podcast_content %}
    {% endblock podcast_content %}
{% endblock content %}
