{% extends "base.html" %}
{% load cache partials %}
{% block title %}
    {{ block.super }} | Discover
{% endblock title %}

{% block content %}
    <c-header title="Discover">
        <c-header.nav>
            <c-header.nav.item>
                <c-search.form url="{% url 'podcasts:search_podcasts' %}"
                               placeholder="Search: Podcasts"
                />
            </c-header.nav.item>
        </c-header.nav>
    </c-header>
    <c-browse>
        {% cache 600 discover request.user.username %}
            {% for podcast in podcasts %}
                <c-browse.item>
                <!-- Relevance: {{ podcast.relevance }} -->
                    <c-podcasts.podcast :podcast="podcast" />
                </c-browse.item>
            {% endfor %}
        {% endcache %}
    </c-browse>
{% endblock content %}
