{% extends "base.html" %}
{% load cache heroicons %}
{% block title %}
    {{ block.super }} | Discover
{% endblock title %}
{% block content %}
    <header class="pb-3 mb-3 space-y-3 border-b sm:flex sm:justify-between sm:space-y-0">
        <h1 class="flex justify-center items-center text-xl font-bold text-center sm:justify-start lg:text-2xl sm:text-start">
            Discover
        </h1>
        <nav class="flex justify-center items-center space-x-3 sm:justify-end">
            <ul class="items-center space-y-3 sm:flex sm:justify-end sm:space-y-0 sm:space-x-3">
                {% if request.search %}
                    <li class="flex justify-center items-center sm:justify-end">
                        <a class="inline-flex items-center btn btn-default"
                           href="{% url "podcasts:search_itunes" %}{{ request.search.qs }}">
                            {% heroicon_mini "magnifying-glass" class="mr-2" %}
                            Search iTunes
                        </a>
                    </li>
                {% endif %}
                <li class="flex justify-center items-center sm:justify-end">
                    {% include "_search_form.html" with placeholder="Search: Podcasts" %}
                </li>
            </ul>
        </nav>
    </header>
    {% cache 300 promoted-podcasts request.get_full_path %}
    {% paginate podcasts as page_obj %}
    {% include "podcasts/_podcasts.html" %}
{% endcache %}
{% endblock content %}
