{% extends "base.html" %}
{% load cache partials %}
{% block title %}
    {{ block.super }} | Discover
{% endblock title %}

{% block content %}
    <c-header title="Discover">
        <c-header.nav>
            <c-header.nav.item>
                <c-search.form :url="search_podcasts_url" placeholder="Search: Podcasts" />
            </c-header.nav.item>
        </c-header.nav>
    </c-header>
    {% partialdef pagination inline=True %}
        {% cache 300 promoted-podcasts request.get_full_path %}
            <c-podcasts.paginate :page="page_obj" />
        {% endcache %}
    {% endpartialdef pagination %}
{% endblock content %}
