{% extends "podcasts/detail_base.html" %}
{% load cache %}
{% block title %}
    {{ block.super }} | Episodes
{% endblock title %}
{% block podcast_content %}
    {% cache 600 podcast-episodes request.get_full_path %}
    {% paginate episodes as page_obj %}
    {% if request.search or page_obj.has_other_pages %}
        <nav class="mb-6">
            <ul class="justify-between items-center pb-3 mb-3 border-b sm:flex">
                <li class="flex justify-center items-center mb-3 sm:justify-start sm:mb-0">
                    {% if request.search %}
                        <a href="{% url 'episodes:search_episodes' %}?{{ request.search.qs }}"
                           class="link">Search All Podcasts</a>
                    {% elif ordering_asc %}
                        <a href="{{ request.path }}?order=desc" class="link">Newest First</a>
                    {% else %}
                        <a href="{{ request.path }}?order=asc" class="link">Oldest First</a>
                    {% endif %}
                </li>
                <li class="flex justify-center items-center sm:justify-end">{% search_form "Search: Episodes" %}</li>
            </ul>
        </nav>
    {% endif %}
    {% include "episodes/_episodes.html" with is_podcast_detail=True %}
{% endcache %}
{% endblock podcast_content %}
