{% extends "podcasts/detail_base.html" %}
{% load cache partials %}
{% block title %}
    {{ block.super }} | Episodes
{% endblock title %}
{% block podcast_content %}
    {% if request.search or page_obj.has_other_pages %}
        <nav class="mb-6">
            <ul class="items-center justify-between pb-3 mb-3 border-b sm:flex">
                <li class="flex items-center justify-center mb-3 sm:justify-start sm:mb-0">
                    {% if request.search %}
                        <a href="{% url 'episodes:search_episodes' %}?{{ request.search.qs }}"
                           class="link">Search All Podcasts</a>
                    {% else %}
                        <a href="{{ request.path }}?{{ request.ordering.qs_reversed }}"
                           class="link">{{ request.ordering.is_asc|yesno:"Newest First,Oldest First" }}</a>
                    {% endif %}
                </li>
                <li class="flex items-center justify-center sm:justify-end">
                    {% include "_search_form.html" with placeholder="Search: Episodes" %}
                </li>
            </ul>
        </nav>
    {% endif %}
    {% partialdef pagination inline=True %}
    {% cache 600 podcast-episodes request.get_full_path %}
    {% include "episodes/_episodes.html" %}
{% endcache pagination %}
{% endpartialdef pagination %}
{% endblock podcast_content %}
