{% load cache %}
<header class="pb-3 mb-3 space-y-6 border-b">
    {% fragment "header.title" %}{{ podcast.cleaned_title }}{% endfragment %}
    <div class="space-y-3 md:flex md:justify-between md:space-y-0">
        <nav class="flex justify-center items-center sm:justify-start">
            {% cache cache_timeout podcast-header-nav request.path %}
                <ul class="flex items-center space-x-4 lg:space-x-6">
                    {% fragment "podcasts.header.item" name="detail" current=current url=podcast.get_detail_url %}
                        About
                    {% endfragment %}
                    {% fragment "podcasts.header.item" name="episodes" current=current url=podcast.get_episodes_url %}
                        Episodes ({{ podcast.num_episodes }})
                    {% endfragment %}
                    {% if podcast.has_similar %}
                        {% fragment "podcasts.header.item" name="similar" current=current url=podcast.get_similar_url %}
                            Similar
                        {% endfragment %}
                    {% endif %}
                </ul>
            {% endcache %}
        </nav>
        {{ slot }}
    </div>
</header>
