{% extends "podcasts/base.html" %}

{% block subtitle %} | Podcasts {% endblock %}

{% block content %}

<h1 class="font-bold flex items-center justify-center sm:justify-start text-lg md:text-xl mb-3 lg:mb-6">
  {% if featured %}
  Featured Podcasts
  {% else %}
  My Podcasts
  {% endif %}
</h1>

{% if has_follows %}
<div class="flex items-center justify-center sm:justify-start mb-3 lg:mb-6 lg:text-lg">
  {% if featured %}
  <a href="{% url 'podcasts:index' %}"
     class="link">My Podcasts</a>
  {% else %}
  <a href="{% url 'podcasts:featured' %}"
     class="link">Featured Podcasts</a>
  {% endif %}
</div>
{% endif %}

{% include pagination_template %}

{% endblock content %}
