{% extends "base.html" %}
{% load i18n %}

{% block title %} | {% if promoted %} {% translate "Podcasts" %}{% else %}{% translate "My Podcasts" %}{% endblock %}

    {% block content %}
        {% if has_subscriptions %}
            <div class="sm:flex justify-between mb-6">
                {% url 'podcasts:index' as index_url %}
                <h1 class="font-bold text-lg md:text-xl xl:text-2xl text-center sm:text-left mb-3 sm:mb-0">
                    {% if promoted %}
                        {% translate "Promoted" %}
                    {% else %}
                        {% translate "My Podcasts" %}
                    {% endif %}
                </h1>
                <div class="flex items-center justify-center sm:justify-start">
                    {% if promoted %}
                        <a href="{{ index_url }}"
                            class="link">{% translate "My Podcasts" %}</a>
                    {% else %}
                        <a href="{{ index_url }}?promoted=true"
                            class="link">{% translate "Promoted" %}</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% include pagination_template %}

    {% endblock content %}
