{% extends "podcasts/base.html" %}

{% block subtitle %} | Podcasts {% endblock %}

{% block content %}

<div class="sm:flex justify-between items-center space-y-2 sm:space-y-0 mb-6{% if not has_follows %} pb-6 border-b dark:border-gray-500{% endif %}">
  <h1 class="font-bold flex items-center justify-center sm:justify-start text-xl md:text-2xl">
    {% if featured %}
    Featured Podcasts
    {% else %}
    My Podcasts
    {% endif %}
  </h1>
  {% if not has_follows %}
  <div class="flex items-center justify-center sm:justify-end">
    {% include "forms/_search_form.html" with placeholder="Search podcasts..." %}
  </div>
  {% endif %}
</div>

{% if has_follows %}
<div class="sm:flex items-center justify-between space-y-2 sm:space-y-0 mb-6 pb-6 border-b dark:border-gray-500">
  <div class="flex items-center justify-center sm:justify-start text-lg">
    {% if featured %}
    <a href="{% url 'podcasts:index' %}"
       class="link">My Podcasts</a>
    {% else %}
    <a href="{% url 'podcasts:featured' %}"
       class="link">Featured Podcasts</a>
    {% endif %}
  </div>
  <div class="flex items-center justify-center sm:justify-end">
    {% include "forms/_search_form.html" with placeholder="Search podcasts..." %}
  </div>
</div>
{% endif %}

{% include pagination_template %}

{% endblock content %}
