{% extends "search_base.html" %}

{% block subtitle %} | Search iTunes {% endblock %}

{% block search_content %}
{% if feeds %}
<p class="text-center sm:text-left text-sm mb-3">
  Results sourced from <a href="https://podcastindex.org/"
     rel="noopener"
     _blank="true"
     class="link">Podcast Index</a>

</p>
{% endif %}
{% for feed in feeds %}
{% include "podcasts/_index_feed.html" %}
{% empty %}
<p class="text-center sm:text-left text-sm pt-3 border-t dark:border-gray-500">
  {% if error %}
  Unable to connect to the Podcast Index API at the moment.
  {% elif search %}
  No results found for <span class="font-bold">{{ search }}</span>.
  {% else %}
  No search query provided.
  {% endif %}
</p>
{% endfor %}
{% endblock %}
