{% extends "base.html" %}
{% load pagination %}

{% block content %}

<div class="mb-3 text-sm flex justify-center sm:block">
  <a href="{% url 'podcasts:category_list' %}"
     class="font-semibold hover:text-gray-300 mr-1">Discover</a>
  {% if category.parent %}
  <span class="text-gray-300 mr-1">&gt;</span>
  <a href="{{ category.parent.get_absolute_url }}"
     class="font-semibold hover:text-gray-300 mr-1">{{ category.parent.name }}</a>
  {% endif %}
  <span class="text-gray-300 mr-1">&gt;</span>
  <a href="{{ category.get_absolute_url }}"
     class="font-semibold hover:text-gray-300 mr-1">{{ category.name }}</a>
  <span class="text-gray-300 mr-1">&gt;</span>
  <span class="text-gray-300 mr-1">iTunes</span>
</div>

<h2 class="text-lg font-semibold mb-3 flex justify-center sm:block">
  Top-Rated {{ category.name }} Podcasts on iTunes
</h2>

{% for result in results %}
{% include "podcasts/_itunes_result.html" %}
{% empty %}
{% if error %}
<p class="text-center sm:text-left">Unable to connect to the ITunes API at the moment.</p>
{% endif %}
{% endfor %}

{% include "podcasts/_itunes.html" %}
{% endblock content %}
