{% extends "search_base.html" %}

{% block subtitle %} | Search iTunes {% endblock %}

{% block search_content %}


<div class="divide-y divide-gray-300 dark:divide-gray-500">
  {% for result in results %}
  {% include "podcasts/_itunes_result.html" %}
  {% empty %}
  {% if error %}
  <p class="text-center sm:text-left text-sm lg:text-base font-semibold">Unable to connect to the ITunes API at the moment.</p>
  {% elif search %}
  <p class="text-center sm:text-left text-sm lg:text-base font-semibold">No results found for <span class="font-bold">{{ search }}</span>.</p>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
