{% extends "search/search_base.html" %}

{% block title %} | Search | iTunes{% endblock %}

{% block search_content %}
    <section class="space-y-3" role="list">
        {% for feed in feeds %}
            {% if feed.podcast and feed.podcast.pub_date %}
                {% include "podcasts/podcast.html" with podcast=feed.podcast %}
            {% else %}
                {% include "podcasts/itunes_feed.html" %}
            {% endif %}
        {% empty %}
            {% include "pagination/empty.html" %}
        {% endfor %}
    </section>
{% endblock %}
