{% extends "podcasts/base.html" %}
{% load pagination %}

{% block content %}

<div class="mb-3 flex justify-center sm:justify-start space-x-1 text-sm">
  <a href="{% url 'podcasts:categories' %}"
     class="link">Discover</a>
  {% if category.parent %}
  <span class="text-gray-600 dark:text-gray-300">&gt;</span>
  <a href="{{ category.parent.get_absolute_url }}"
     class="link">{{ category.parent.name }}</a>
  {% endif %}
  <span class="text-gray-600 dark:text-gray-300">&gt;</span>
  <a href="{{ category.get_absolute_url }}"
     class="link">{{ category.name }}</a>
  <span class="text-gray-600 dark:text-gray-300">&gt;</span>
  <span class="text-gray-600 dark:text-gray-300">iTunes</span>
</div>

<h1 class="font-bold mb-3 flex justify-center sm:justify-start text-center text-lg">
  Top-Rated {{ category.name }} Podcasts on iTunes
</h1>

{% for result in results %}
{% include "podcasts/_itunes_result.html" %}
{% empty %}
{% if error %}
<p class="text-center sm:text-left text-sm font-semibold">Unable to connect to the ITunes API at the moment.</p>
{% endif %}
{% endfor %}
{% endblock content %}
