{% extends "base.html" %}
{% load cache %}
{% block content %}
    <header class="mb-6 text-center space-y-6">
        <h1 class="text-lg font-bold md:text-xl xl:text-2xl">
            Welcome to <strong>{{ request.site.name }}</strong>, where you can find the latest and greatest podcasts from around the world.
        </h1>
        <h2 class="text-base md:text-lg xl:text-xl text-semibold">
            We curate a selection of the best podcasts across a range of topics, so there's something for everyone!
        </h2>
    </header>
    <div class="flex flex-wrap justify-center gap-1" hx-disable="true">
        {% cache 3600 podcasts-landing-page %}
        {% for podcast in podcasts %}
            {% with css_class="h-28 w-28 md:h-48 md:w-48 xl:h-56 xl:w-56 hover:grayscale" %}
                <a href="{{ podcast.get_absolute_url }}"
                   class="{{ css_class }}"
                   title="{{ podcast.cleaned_title }}"
                   aria-label="{{ podcast.cleaned_title }}">
                    {% cover_image podcast.cover_url 300 podcast.cleaned_title css_class=css_class %}
                </a>
            {% endwith %}
        {% endfor %}
    {% endcache %}
</div>
{% endblock content %}
