{% extends "base.html" %}
{% load cache %}
{% block content %}
    <header class="mb-12 space-y-6 text-center">
        <h1 class="text-xl font-bold lg:text-2xl">
            Welcome to <strong>{{ request.site.name }}</strong>, where you can find the latest and greatest podcasts from around the world.
        </h1>
        <h2 class="text-lg lg:text-xl text-semibold">
            We curate a selection of the best podcasts across a range of topics, so there's something for everyone!
        </h2>
    </header>
    <div class="flex flex-wrap gap-1 justify-center" hx-disable="true">
        {% cache 300 podcasts-landing-page %}
        {% for podcast in podcasts|slice:30 %}
            {% with css_class="h-28 w-28 lg:h-56 lg:w-56 hover:grayscale" %}
                <a href="{{ podcast.get_absolute_url }}"
                   class="{{ css_class }}"
                   title="{{ podcast.cleaned_title }}"
                   aria-label="{{ podcast.cleaned_title }}">
                    {% cover_image podcast.cover_url "lg" podcast.cleaned_title css_class=css_class %}
                </a>
            {% endwith %}
        {% endfor %}
    {% endcache %}
</div>
{% endblock content %}
