{% extends "base.html" %}
{% load cache %}
{% block title %}
    {% title owner %}
{% endblock title %}

{% block content %}
    {% include "header.html" with title=request.search.value %}
    {% partialdef pagination inline %}
        {% cache cache_timeout owner-podcasts request.get_full_path %}
            {% fragment "paginate.html" %}
                {% for podcast in page %}
                    {% fragment "browse.html#item" %}
                        {% include "podcasts/cards.html#podcast" %}
                    {% endfragment %}
                {% empty %}
                    {% fragment "browse.html#empty" %}
                        <p>
                            No podcasts found for &quot;<strong>{{ request.search.value }}</strong>&quot;.
                        </p>
                    {% endfragment %}
                {% endfor %}
            {% endfragment %}
        {% endcache %}
    {% endpartialdef pagination %}
{% endblock content %}
