{% extends "base.html" %}

{% block title %} | {{ podcast.cleaned_title }}{% endblock %}

{% block content_metadata %}
    {% get_site_config as site_config %}
    {% with podcast_title=podcast.cleaned_title|escapejs podcast_description=podcast.cleaned_description|truncatechars:200|escapejs cover_url=podcast.cover_url %}

        {% if podcast_description %}
            <meta name="description"
                content="{{ podcast_description }}" />
        {% endif %}
        {% if podcast.keywords %}
            <meta name="keywords"
                content="{{ podcast.keywords|escapejs }}" />
        {% endif %}

        <meta name="og:type"
            content="website" />
        <meta name="og:title"
            content="{{ podcast_title }}" />
        {% if podcast_description %}
            <meta name="og:description"
                content="{{ podcast_description }}" />
        {% endif %}
        <meta name="og:url"
            content="{% absolute_uri podcast %}" />

        {% if cover_url %}
            <meta name="og:image"
                content="{{ cover_url }}" />
            <meta name="og:image:alt"
                content="{{ podcast_title }}" />
            <meta name="og:image:height"
                content="200" />
            <meta name="og:image:width"
                content="200" />
        {% endif %}


        <meta name="twitter:card"
            content="{{ cover_url|yesno:'summary_large_image,summary' }}">
        {% if cover_url %}
            <meta name="twitter:image"
                content="{{ cover_url }}">
        {% endif %}

        <meta name="twitter:title"
            content="{{ podcast_title }}">
        {% if podcast_description %}
            <meta name="twitter:description"
                content="{{ podcast_description }}">
        {% endif %}

        {% if site_config.twitter %}
            <meta name="twitter:site"
                content="@{{ site_config.twitter }}">
        {% endif %}


        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "url": "{% absolute_uri podcast %}",
                "name": "{{ podcast_title }}",
                {% if podcast_description %}
                    "description": "{{ podcast_description }}",
                {% endif %}
                {% if cover_url %}
                    "image": [
                        "{{ cover_url }}"
                    ],
                {% endif %}
                {% if podcast.owner %}
                    "publisher": {
                        "@type": "Organization",
                        "name": "{{ podcast.owner|escapejs }}"
                    }
                {% endif %}
            }
        </script>
    {% endwith %}
{% endblock content_metadata %}

{% block content %}
    <h1 class="font-bold text-lg md:text-xl xl:text-2xl mb-6 text-center sm:text-left">{{ podcast.cleaned_title }}</h1>
    <div id="podcast-content">
        <nav class="flex items-center mb-3 justify-center sm:justify-start">
            <ul class="flex items-center space-x-6">

                {% with TAB_ACTIVE_CSS="text-blue-600 font-bold dark:text-blue-300" %}
                    {% active_link podcast.get_detail_url as link %}
                    <li>
                        <a class="link{% if link.exact %} {{ TAB_ACTIVE_CSS }}{% endif %}"
                            href="{{ link.url }}"
                            title="{{ podcast.cleaned_title }} | About">About</a>
                    </li>

                    {% if num_episodes %}
                        {% active_link podcast.get_episodes_url as link %}
                        <li>
                            <a class="link{% if link.exact %} {{ TAB_ACTIVE_CSS }}{% endif %}"
                                href="{{ link.url }}"
                                title="{{ podcast.cleaned_title }} | Episodes">Episodes ({{ num_episodes }})</a>
                        </li>
                    {% endif %}

                    {% if has_similar %}
                        {% active_link podcast.get_similar_url as link %}
                        <li>
                            <a class="link{% if link.exact %} {{ TAB_ACTIVE_CSS }}{% endif %}"
                                href="{{ link.url }}"
                                title="{{ podcast.cleaned_title }} | Similar">Similar</a>
                        </li>
                    {% endif %}

                {% endwith %}
            </ul>
        </nav>
        {% block podcast_content %}{% endblock %}
    </div>
{% endblock %}
