{% extends "podcasts/base.html" %}

{% block subtitle %} | {{ podcast.title }}{% endblock %}

{% block content %}

<h1 class="font-bold mb-3">{{ podcast.title|stripentities }}</h1>

<div id="podcast-content">
  {% if has_recommendations and not search %}
  <nav class="mb-3 flex items-center">
    <ul class="flex items-center text-sm space-x-6">
      {% active_link podcast.get_episodes_url as link %}
      <li class="{% if link.exact %} tab--active{% endif %}">
        <a class="link"
           title="{{ podcast.title|stripentities }}"
           {{ link.hx }}>Episodes</a>
      </li>
      {% active_link podcast.get_recommendations_url as link %}
      <li class="{% if link.exact %} tab--active{% endif %}">
        <a class="link"
           title="{{ podcast.title|stripentities }} | Similar"
           {{ link.hx }}>Similar</a>
      </li>
    </ul>
  </nav>
  {% endif %}
  {% block podcast_content %}{% endblock %}
</div>
{% endblock %}
