{% extends "base.html" %}
{% load heroicons partials %}
{% block title %}
    {{ block.super }} | Private Feeds
{% endblock title %}

{% block content %}
    <c-header title="Private Feeds">
        <c-header.nav>
            {% if not request.search %}
                <c-header.nav.item>
                    <c-button icon="plus"
                              role="link"
                              label="Add Private Feed"
                              hx-get="{% url "podcasts:add_private_feed" %}"
                              hx-push-url="true"
                    />
                </c-header.nav.item>
            {% endif %}
            {% if request.search %}
                <c-header.nav.item>
                    <c-search.button url="{% url 'podcasts:search_podcasts' %}"
                                     label="Search All Podcasts"
                    />
                </c-header.nav.item>
            {% endif %}
            {% if request.search or page.has_other_pages %}
                <c-header.nav.item>
                    <c-search.form placeholder="Search: Private Feeds" clearable />
                </c-header.nav.item>
            {% endif %}
        </c-header.nav>
    </c-header>
    {% partialdef pagination inline=True %}
        <c-paginate :page="page">
            {% for podcast in page %}
                <c-browse.item>
                    <c-podcasts.podcast :podcast="podcast" />
                </c-browse.item>
            {% empty %}
                <c-browse.empty>
                    {% if request.search %}
                        No private feeds found for &quot;<strong>{{ request.search.value }}</strong>&quot;
                    {% else %}
                        <p>You are not subscribed to any Private Feeds.</p>
                        <p>
                            To subscribe, click the <strong>Add Private Feed</strong> button above and enter the URL of a private feed, like the one from a paid Patreon subscription. The feed owner should give you the RSS URL you need.
                        </p>
                    {% endif %}
                </c-browse.empty>
            {% endfor %}
        </c-paginate>
    {% endpartialdef pagination %}
{% endblock content %}
