{% extends "base.html" %}
{% load heroicons partials %}
{% block title %}
    {{ block.super }} | Private Feeds
{% endblock title %}
{% block content %}
    <header class="pb-3 mb-3 border-b space-y-3 {% if not page_obj.has_other_pages %}sm:space-y-0 sm:flex items-center justify-between{% endif %}">
        <h1 class="flex justify-center items-center text-xl font-bold text-center sm:justify-start lg:text-2xl xl:text-3xl sm:text-start">
            Private Feeds
        </h1>
        <nav>
            <ul class="justify-between items-center space-y-3 sm:flex sm:space-y-0 sm:space-x-3">
                {% if not request.search %}
                    <li class="flex justify-center items-center sm:justify-start">
                        <a href="{% url "podcasts:add_private_feed" %}"
                           class="inline-flex items-center btn btn-default">
                            {% heroicon_mini "plus" class="mr-2" %}
                            Add Private Feed
                        </a>
                    </li>
                {% endif %}
                {% if request.search or page_obj.has_other_pages %}
                    {% if request.search %}
                        <li class="flex justify-center items-center sm:justify-end">
                            {% url "podcasts:search_podcasts" as search_url %}
                            {% search_button search_url "Search All Podcasts" %}
                        </li>
                    {% endif %}
                    <li class="flex justify-center items-center sm:justify-end">{% search_form placeholder="Search: Private Feeds" %}</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% partialdef pagination inline=True %}
        {% with pagination_target="pagination" has_other_pages=page_obj.has_other_pages %}
            <ul class="divide-y divide-solid" id="{{ pagination_target }}">
                {% if has_other_pages %}
                    <li class="pb-3">{% include "_pagination_links.html" %}</li>
                {% endif %}
                {% for podcast in page_obj %}
                    <li class="py-3 first:pt-0 last:pb-0">{% include "podcasts/_podcast.html" %}</li>
                {% empty %}
                    <li class="space-y-3 text-center prose sm:text-start dark:prose-invert">
                        {% if request.search %}
                            No private feeds found for &quot;<strong>{{ request.search.value }}</strong>&quot;
                        {% else %}
                            <p>You are not subscribed to any Private Feeds.</p>
                            <p>
                                To subscribe, click the <strong>Add Private Feed</strong> button above and enter the URL of a private feed, like the one from a paid Patreon subscription. The feed owner should give you the RSS URL you need.
                            </p>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if has_other_pages %}
                    <li class="pt-3">{% include "_pagination_links.html" %}</li>
                {% endif %}
            </ul>
        {% endwith %}
    {% endpartialdef pagination %}
{% endblock content %}
