{% extends "base.html" %}
{% load heroicons %}
{% block title %}
    {{ block.super }} | Private Feeds
{% endblock title %}
{% block content %}
    {% paginate podcasts as page_obj %}
    <header class="pb-6 mb-3 border-b space-y-3 {% if not page_obj.has_other_pages %}sm:space-y-0 sm:flex items-center justify-between{% endif %}">
        <h1 class="flex justify-center items-center text-xl font-bold sm:justify-start md:text-2xl xl:text-3xl">
            Private Feeds
        </h1>
        <nav>
            <ul class="justify-between items-center space-y-3 sm:flex sm:space-y-0 sm:space-x-3">
                {% if not request.search %}
                    <li class="flex justify-center items-center mb-3 sm:justify-start sm:mb-0">
                        <a href="{% url "podcasts:add_private_feed" %}"
                           class="inline-flex items-center btn btn-default">
                            {% heroicon_mini "plus" class="mr-2" %}
                            Add Private Feed
                        </a>
                    </li>
                {% endif %}
                {% if request.search or page_obj.has_other_pages %}
                    {% if request.search %}
                        <li class="flex justify-center items-center sm:justify-end">
                            <a class="inline-flex items-center btn btn-default"
                               href="{% url "podcasts:discover" %}{{ request.search.qs }}">
                                {% heroicon_mini "magnifying-glass" class="mr-2" %}
                                Search All Podcasts
                            </a>
                        </li>
                    {% endif %}
                    <li class="flex justify-center items-center sm:justify-end">{% search_form "Search: Private Feeds" %}</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% include "podcasts/_podcasts.html" %}
{% endblock content %}
