{% extends "base.html" %}
{% load heroicons %}
{% block title %}
    {{ block.super }} | Private Feeds | Add Feed
{% endblock title %}
{% block content %}
    <header class="pb-3 mb-3 border-b space-y-3 sm:space-y-0{ sm:flex items-center justify-between">
        <h1 class="flex items-center justify-center text-lg font-bold sm:justify-start lg:text-xl xl:text-2xl">
            Add Private Feed
        </h1>
        <nav>
            <ul class="items-center justify-between sm:flex space-y-2 sm:space-y-0">
                <li class="flex items-center justify-center mb-3 sm:justify-start sm:mb-0">
                    <a href="{% url "podcasts:private_feeds" %}" class="link">Private Feeds</a>
                </li>
            </ul>
        </nav>
    </header>
    {% block form %}
        <form method="post"
              action="{{ request.path }}"
              class="space-y-3"
              id="private-feed-form"
              hx-post="{{ request.path }}"
              hx-target="this"
              hx-swap="outerHTML">
            {% csrf_token %}
            {{ form }}
            <div>
                <button class="inline-flex items-center btn btn-primary">
                    {% heroicon_mini "plus" class="mr-2" %}
                    Add Feed
                </button>
            </div>
        </form>
    {% endblock form %}
{% endblock content %}
