{% extends "base.html" %}
{% load heroicons partials %}
{% block title %}
    {{ block.super }} | Private Feeds | Add Private Feed
{% endblock title %}

{% block content %}
    <c-header title="Private Feeds" />
    {% partialdef form inline=True %}
        <c-form :form="form"
                :hx-post="request.path"
                hx-target="this"
                hx-swap="outerHTML"
                id="private-feed-form"
        >
            <c-slot name="buttons">
                <c-form.buttons>
                    <c-button icon="plus"
                              variant="primary"
                              label="Add Feed" />
                    <c-button icon="arrow-uturn-left"
                              role="link"
                              type="button"
                              label="Cancel"
                              hx-get="{% url 'podcasts:private_feeds' %}"
                              hx-swap="innerHTML show:window:top"
                              hx-target="#content"
                    />
                </c-form.buttons>
            </c-slot>
        </c-form>
    {% endpartialdef form %}
{% endblock content %}
