{% extends "base.html" %}
{% load heroicons partials %}
{% block title %}
    {{ block.super }} | Private Feeds
{% endblock title %}
{% block content %}
    <header class="pb-3 mb-6 border-b space-y-3 {% if not page_obj.has_other_pages %}sm:space-y-0 sm:flex items-center justify-between{% endif %}">
        <h1 class="flex items-center justify-center text-lg font-bold sm:justify-start md:text-xl xl:text-2xl">
            Private Feeds
        </h1>
        <nav>
            <ul class="items-center justify-between sm:flex space-y-3 sm:space-y-0 sm:space-x-3">
                <li class="flex items-center justify-center mb-3 sm:justify-start sm:mb-0">
                    {% if request.search %}
                        <a href="{% url 'podcasts:search_podcasts' %}?{{ request.search.qs }}"
                           class="link">Search All Podcasts</a>
                    {% else %}
                        <a href="{% url "podcasts:add_private_feed" %}"
                           class="inline-flex items-center btn btn-default">
                            {% heroicon_mini "plus" class="mr-2" %}
                            Add Private Feed
                        </a>
                    {% endif %}
                </li>
                {% if request.search or page_obj.has_other_pages %}
                    <li class="flex items-center justify-center sm:justify-end">
                        {% include "_search_form.html" with placeholder="Search: Private Feeds" %}
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% partialdef pagination inline=True %}
    {% include "podcasts/_podcasts.html" %}
{% endpartialdef pagination %}
{% endblock content %}
