{% extends "base.html" %}

{% block subtitle %} | Top-Rated Podcasts {% endblock %}

{% block content %}
<div class="sm:flex justify-between items-center mb-3">
  <h1 class="text-lg font-bold mb-2 sm:mb-0 flex items-center justify-center sm:justify-start">
    Top-Rated Podcasts
  </h1>
  <div class="flex items-center justify-center sm:justify-end">
    {% include "forms/_search_form.html" with placeholder="Search podcasts..." %}
  </div>
</div>

{% if user.is_authenticated %}
<p class="text-center sm:text-left mb-3">You haven't subscribed to any podcasts yet. Search for new podcasts here or on the <a class="font-semibold underline"
     href="{% url 'podcasts:categories' %}">Discover</a> page and click the "Subscribe" button to add them to your collection.</p>
{% endif %}

{% include pagination_template %}

{% endblock content %}
