{% extends "base.html" %}
{% load cache %}
{% block title %}
    | Podcasts | Promotions
{% endblock title %}
{% block content %}
    <header class="pb-3 mb-3 space-y-3 border-b sm:flex sm:justify-between sm:space-y-0">
        <h1 class="flex justify-center items-center text-lg font-bold sm:justify-start md:text-xl xl:text-2xl">Discover</h1>
        <nav class="flex justify-center items-center space-x-3 sm:justify-end">
            {% search_form "Search: Podcasts" search_url=search_podcasts_url %}
        </nav>
    </header>
    {% cache cache_timeout podcasts-promotions request.get_full_path %}
    {% paginate podcasts as page_obj %}
    {% include "podcasts/_podcasts.html" %}
{% endcache %}
{% endblock content %}
