{% extends "search_base.html" %}
{% load cache i18n %}
{% block title %}
    | {% translate "Search" %} | {% translate "Podcasts" %}
{% endblock title %}
{% block search_content %}
    {% get_current_language as language_code %}
    {% cache 600 podcasts-search request.get_full_path language_code %}
        {% block pagination %}
            <div class="dark:divide-gray-500 divide-y divide-solid"
                id="{{ pagination_target }}">
                {% include "snippets/pagination_links.html" %}
                {% for podcast in page_obj.object_list %}
                    {% include "podcasts/snippets/podcast.html" %}
                {% empty %}
                    {% include "snippets/empty.html" %}
                {% endfor %}
                {% include "snippets/pagination_links.html" %}
            </div>
        {% endblock pagination %}
    {% endcache %}
{% endblock search_content %}
