{% extends "base.html" %}
{% load cache %}
{% block title %}
    {{ block.super }}| Search | iTunes
{% endblock title %}

{% block content %}
    <c-header title="Search iTunes">
        <c-header.nav>
            <c-header.nav.item>
                <c-search.button url="{% url 'podcasts:search_podcasts' %}"
                                 text="Search Podcasts" />
            </c-header.nav.item>
            <c-header.nav.item>
                <c-search.form placeholder="Search: iTunes" />
            </c-header.nav.item>
        </c-header.nav>
    </c-header>
    {% cache 300 search-itunes request.get_full_path %}
        <c-browse>
            {% for feed in feeds %}
                <c-browse.item>
                    {% if feed.podcast.pub_date %}
                        <c-podcasts.podcast :podcast="feed.podcast" />
                    {% else %}
                        <c-podcasts.itunes_feed :feed="feed" />
                    {% endif %}
                </c-browse.item>
            {% empty %}
                <c-browse.empty>
                    No feeds found in iTunes for &quot;<strong>{{ request.search.value }}</strong>&quot;.
                </c-browse.empty>
            {% endfor %}
        </c-browse>
    {% endcache %}
{% endblock content %}
