{% extends "base.html" %}
{% load cache %}

{% block title %}
    {{ block.super }}| Search | iTunes
{% endblock title %}

{% block content %}
    {% fragment "header" title="Search iTunes" %}
        {% fragment "header.nav" %}
            {% fragment "header.nav.item" %}
                {% url "podcasts:search_podcasts" as search_podcasts_url %}

                {% include "search/button.html" with search_url=search_podcasts_url label="Search Podcasts" %}
            {% endfragment %}

            {% fragment "header.nav.item" %}
                {% include "search/form.html" with placeholder="Search: iTunes" %}
            {% endfragment %}

        {% endfragment %}
    {% endfragment %}

    {% cache cache_timeout search-itunes request.search.value %}
        {% fragment "pagination" %}
            {% for feed in feeds %}
                {% fragment "pagination.item" %}
                    {% include "podcasts/itunes_feed.html" %}
                {% endfragment %}
            {% empty %}
                {% fragment "pagination.empty" %}
                    No feeds found in iTunes for &quot;<strong>{{ request.search.value }}</strong>&quot;.
                {% endfragment %}
            {% endfor %}
        {% endfragment %}
    {% endcache %}
{% endblock content %}
