{% extends "base.html" %}
{% load cache %}

{% block title %}
    {% title_tag "Search" "Podcasts" %}
{% endblock title %}

{% block content %}
    {% fragment "header.html" title="Search Podcasts" %}
        {% fragment "header/nav.html" %}
            {% fragment "header/nav.html#item" %}
                {% url "podcasts:search_itunes" as search_button_url %}
                {% include "header/nav/search.html#button" with label="Search iTunes" %}
            {% endfragment %}
            {% fragment "header/nav.html#item" %}
                {% include "header/nav/search.html#form" %}
            {% endfragment %}
        {% endfragment %}
    {% endfragment %}
    {% partialdef pagination inline %}
        {% cache cache_timeout search-podcasts request.get_full_path %}
            {% fragment "paginate.html" %}
                {% for podcast in page %}
                    {% fragment "browse.html#item" %}
                        {% include "podcasts/cards.html#podcast" %}
                    {% endfragment %}
                {% empty %}
                    {% fragment "browse.html#empty" %}
                        <p>
                            No podcasts found for &quot;<strong>{{ request.search.value }}</strong>&quot;.
                        </p>
                        <p>
                            Click the <strong>Search iTunes</strong> button above to search the iTunes podcast directory.
                        </p>
                    {% endfragment %}
                {% endfor %}
            {% endfragment %}
        {% endcache %}
    {% endpartialdef pagination %}
{% endblock content %}
