{% extends "base.html" %}

{% block title %}
    {{ block.super }} Search | iTunes
{% endblock title %}

{% block content %}
    {% blockinclude "header.html" title="Search iTunes" %}
        {% blockinclude "header/nav.html" %}
            {% blockinclude "header/nav.html#item" %}
                {% url "podcasts:search_podcasts" as search_button_url %}
                {% include "search.html#button" with label="Search Podcasts" %}
            {% endblockinclude %}

            {% blockinclude "header/nav.html#item" %}
                {% include "search.html#form" with placeholder="Search: iTunes" %}
            {% endblockinclude %}
        {% endblockinclude %}
    {% endblockinclude %}

    {% blockinclude "browse.html" %}
        {% for feed in feeds %}
            {% blockinclude "browse.html#item" %}
                {% include "podcasts/cards.html#itunes_feed" with feed=feed %}
            {% endblockinclude %}
        {% empty %}
            {% blockinclude "browse.html#empty" %}
                No feeds found in iTunes for &quot;<strong>{{ request.search.value }}</strong>&quot;.
            {% endblockinclude %}
        {% endfor %}
    {% endblockinclude %}
{% endblock content %}
