{% extends "base.html" %}
{% load cache partials %}
{% block title %}
    {{ block.super }} | Search Podcasts
{% endblock title %}

{% block content %}
    {% fragment "header" %}
        {% fragment "header.title" %}Subscriptions{% endfragment %}
        {% fragment "header.nav" %}
            {% fragment "header.nav.item" %}
                {% url "podcasts:search_itunes" as search_itunes_url %}
                {% fragment "search.button" search_url=search_itunes_url %}
                    Search iTunes
                {% endfragment %}
            {% endfragment %}

            {% fragment "header.nav.item" %}
                {% include "search/form.html" with placeholder="Search: Podcasts" %}
            {% endfragment %}

        {% endfragment %}
    {% endfragment %}
    {% partialdef pagination inline=True %}
        {% cache cache_timeout search-podcasts request.get_full_path %}
            {% fragment "pagination" page=page %}
                {% for podcast in page %}
                    {% fragment "pagination.item" %}
                        {% include "podcasts/podcast.html" %}
                    {% endfragment %}
                {% empty %}
                    {% fragment "pagination.empty" %}
                        <p>

                            No podcasts found for &quot;<strong>{{ request.search.value }}</strong>&quot;.
                        </p>
                        <p>
                            Click the <strong>Search iTunes</strong> button above to search the iTunes podcast directory.
                        </p>
                    {% endfragment %}
                {% endfor %}
            {% endfragment %}
        {% endcache %}
    {% endpartialdef pagination %}
{% endblock content %}
