{% extends "base.html" %}
{% load cache partials %}
{% block title %}
    {{ block.super }} | Search Podcasts
{% endblock title %}

{% block content %}
    <c-header title="Search Podcasts">
        <c-header.nav>
            <c-header.nav.item>
                <c-search.button url="{% url 'podcasts:search_itunes' %}"
                                 text="Search iTunes"
                />
            </c-header.nav.item>
            <c-header.nav.item>
                <c-search.form placeholder="Search: Podcasts" />
            </c-header.nav.item>
        </c-header.nav>
    </c-header>
    {% partialdef pagination inline=True %}
        {% cache 300 search-podcasts request.get_full_path %}
            <c-podcasts.paginate :page="page">
                <c-slot name="empty">
                    <c-browse.empty>
                        No podcasts found for &quot;<strong>{{ request.search.value }}</strong>&quot;.
                    </c-browse.empty>
                </c-slot>
            </c-podcasts.paginate>
        {% endcache %}
    {% endpartialdef pagination %}
{% endblock content %}
