{% extends "base.html" %}
{% load cache %}
{% block title %}
    {% title_tag "Search" "People" %}
{% endblock title %}

{% block content %}
    {% blockinclude "header.html" title="Search People" %}
        {% blockinclude "header/nav.html" %}
            {% blockinclude "header/nav.html" %}
                {% blockinclude "header/nav.html#item" %}
                    {% url "podcasts:search_podcasts" as search_button_url %}
                    {% include "header/nav/search.html#button" with label="Search Podcasts" %}
                {% endblockinclude %}
                {% blockinclude "header/nav.html#item" %}
                    {% include "header/nav/search.html#form" %}
                {% endblockinclude %}
            {% endblockinclude %}
        {% endblockinclude %}
    {% endblockinclude %}
    {% partialdef pagination inline %}
        {% cache cache_timeout owner-podcasts request.get_full_path %}
            {% blockinclude "paginate.html" %}
                {% for podcast in page %}
                    {% blockinclude "browse.html#item" %}
                        {% include "podcasts/cards.html#podcast" %}
                    {% endblockinclude %}
                {% empty %}
                    {% blockinclude "browse.html#empty" %}
                        <p>
                            No podcasts found for &quot;<strong>{{ request.search.value }}</strong>&quot;.
                        </p>
                    {% endblockinclude %}
                {% endfor %}
            {% endblockinclude %}
        {% endcache %}
    {% endpartialdef pagination %}
{% endblock content %}
