{% extends "base.html" %}
{% load cache %}

{% block title %}
    {{ block.super }} | {{ podcast.cleaned_title }} | {{ season }}
{% endblock title %}

{% block content %}
    {% blockinclude "podcasts/header.html" active="episodes" %}
        {% cache cache_timeout podcast-season-nav request.get_full_path %}
            {% blockinclude "header/nav.html" %}
                {% blockinclude "header/nav/item.html" %}
                    {% blockinclude "header/nav/dropdown.html" dropdown_id="seasons-dropdown" label=season %}
                        {% blockinclude "header/nav/dropdown/item.html" url=podcast.get_episodes_url %}
                            All Seasons
                        {% endblockinclude %}
                        {% for season in podcast.seasons %}
                            {% blockinclude "header/nav/dropdown/item.html" url=season.url %}
                                {{ season }}
                            {% endblockinclude %}
                        {% endfor %}
                    {% endblockinclude %}
                {% endblockinclude %}
                {% with num_episodes=podcast.num_episodes page_size=page.page_size %}
                    {% if num_episodes > page_size %}
                        {% blockinclude "header/nav/item.html" %}
                            {% with search_url=podcast.get_episodes_url %}
                                {% include "search/form.html" with placeholder="Search: Podcast" clearable=True %}
                            {% endwith %}
                        {% endblockinclude %}
                    {% endif %}
                {% endwith %}
            {% endblockinclude %}
        {% endcache %}
    {% endblockinclude %}
    {% partialdef pagination inline %}
        {% cache cache_timeout podcast-season-episodes request.get_full_path %}
            {% blockinclude "paginate.html" %}
                {% for episode in page %}
                    {% blockinclude "browse/item.html" %}
                        {% include "podcasts/episode.html" %}
                    {% endblockinclude %}
                {% empty %}
                    {% blockinclude "browse/empty.html" %}
                        This season does not have any episodes.
                    {% endblockinclude %}
                {% endfor %}
            {% endblockinclude %}
        {% endcache %}
    {% endpartialdef pagination %}
{% endblock content %}
