{% extends "base.html" %}
{% load cache %}
{% block title %}
    {% title_tag podcast.cleaned_title season.label %}
{% endblock title %}

{% block content %}
    {% blockinclude "podcasts/header.html" active="episodes" %}
        {% with episodes_url=podcast.get_episodes_url %}
            {% blockinclude "header/nav.html" %}
                {% blockinclude "header/nav.html#item" %}
                    {% blockinclude "header/nav/dropdown.html" label=season dropdown_id="seasons-dropdown" %}
                        {% include "header/nav/dropdown.html#item" with label="All Seasons" url=episodes_url %}

                        {% cache cache_timeout podcast-seasons podcast.pk %}
                            {% for season in podcast.seasons %}
                                {% include "header/nav/dropdown.html#item" with label=season.label url=season.url %}
                            {% endfor %}
                        {% endcache %}

                    {% endblockinclude %}
                {% endblockinclude %}
                {% if podcast.num_episodes > page_size %}
                    {% blockinclude "header/nav.html#item" %}
                        {% include "header/nav/search.html#form" with search_url=episodes_url %}
                    {% endblockinclude %}
                {% endif %}
            {% endblockinclude %}
        {% endwith %}
    {% endblockinclude %}
    {% partialdef pagination inline %}
        {% cache cache_timeout podcast-season-episodes request.get_full_path %}
            {% blockinclude "paginate.html" %}
                {% for episode in page %}
                    {% blockinclude "browse.html#item" %}
                        {% include "podcasts/cards.html#episode" %}
                    {% endblockinclude %}
                {% empty %}
                    {% blockinclude "browse.html#empty" %}
                        This season does not have any episodes.
                    {% endblockinclude %}
                {% endfor %}
            {% endblockinclude %}
        {% endcache %}
    {% endpartialdef pagination %}
{% endblock content %}
