{% extends "base.html" %}
{% load cache %}
{% block title %}
    {{ block.super }} | {{ podcast.cleaned_title }} | Similar
{% endblock title %}

{% block content %}
    {% include "podcasts/header.html" with active="similar" %}
    {% cache cache_timeout similar-podcasts podcast.pk %}
        {% blockinclude "browse.html" %}
            {% for recommendation in recommendations %}
                {% blockinclude "browse.html#item" %}
                    {% include "podcasts/cards.html#podcast" with podcast=recommendation.recommended %}
                {% endblockinclude %}
            {% endfor %}
        {% endblockinclude %}
    {% endcache %}
{% endblock content %}
