{% extends "base.html" %}
{% load cache %}
{% block title %}
    {{ block.super }} | {{ podcast.cleaned_title }} | Similar
{% endblock title %}

{% block content %}
    <c-podcasts.detail :podcast="podcast" current="similar">
        {% cache 300 similar-podcasts podcast.pk %}
            <c-browse>
                {% for recommendation in recommendations %}
                    <c-browse.item>
                        <c-podcasts.podcast :podcast="recommendation.recommended" />
                    </c-browse.item>
                {% endfor %}
            </c-browse>
        {% endcache %}
    </c-podcasts.detail>
{% endblock content %}
