{% extends "base.html" %}

{% block title %}
    {{ block.super }} | Subscriptions
{% endblock title %}

{% block content %}
    {% fragment "header.html" title="Subscriptions" %}
        {% if request.search or page.has_other_pages %}
            {% fragment "header/nav.html" %}
                {% if request.search %}
                    {% fragment "header/nav.html#item" %}
                        {% url "podcasts:search_podcasts" as search_button_url %}
                        {% include "header/nav/search.html#button" with label="Search Podcasts" %}
                    {% endfragment %}
                {% endif %}
                {% fragment "header/nav.html#item" %}
                    {% include "header/nav/search.html#form" with placeholder="Search: Subscriptions" clearable=True %}
                {% endfragment %}
            {% endfragment %}
        {% endif %}
    {% endfragment %}
    {% partialdef pagination inline %}
        {% fragment "paginate.html" %}
            {% for podcast in page %}
                {% fragment "browse.html#item" %}
                    {% include "podcasts/cards.html#podcast" %}
                {% endfragment %}
            {% empty %}
                {% fragment "browse.html#empty" %}
                    {% if request.search %}
                        No subscriptions found for &quot;<strong>{{ request.search.value }}</strong>&quot;. Click the <strong>Search Podcasts</strong> button above to find the podcast you are looking for.
                    {% else %}
                        <p>You're not following any podcasts yet.</p>
                        <p>
                            Head over to the <a class="link" href="{% url 'podcasts:discover' %}">Discover</a> page to find any podcasts you like, and hit the <strong>Subscribe</strong> button in the podcast description to add it to your list.
                        </p>
                        <p>You can also <a href="{% url 'users:import_podcast_feeds' %}">import </a>an <a href="https://en.wikipedia.org/wiki/OPML" target="_blank" rel="noopener nofollow">OPML</a> file containing your favorite feeds from other podcast applications.</p>
                    {% endif %}
                {% endfragment %}
            {% endfor %}
        {% endfragment %}
    {% endpartialdef pagination %}
{% endblock content %}
