{% extends "base.html" %}
{% load heroicons %}
{% block title %}
    {{ block.super }} | Subscriptions
{% endblock title %}
{% block content %}
    {% paginate podcasts as page_obj %}
    <header class="pb-3 mb-3 space-y-3 border-b sm:flex sm:justify-between sm:space-y-0">
        <h1 class="flex justify-center items-center text-xl font-bold text-center sm:justify-start lg:text-2xl sm:text-start">
            Subscriptions
        </h1>
        {% if request.search or page_obj.has_other_pages %}
            <nav>
                <ul class="items-center space-y-3 sm:flex sm:justify-end sm:space-y-0 sm:space-x-3">
                    {% if request.search %}
                        <li class="flex justify-center items-center sm:justify-end">
                            <a class="inline-flex items-center btn btn-default"
                               href="{% url "podcasts:search_podcasts" %}{{ request.search.qs }}">
                                {% heroicon_mini "magnifying-glass" class="mr-2" %}
                                Search All Podcasts
                            </a>
                        </li>
                    {% endif %}
                    <li class="flex justify-center items-center space-x-3 sm:justify-end">{% search_form "Search: Subscriptions" %}</li>
                </ul>
            </nav>
        {% endif %}
    </header>
    {% if not page_obj.paginator.count %}
        <p class="p-3 rounded-lg border sm:text-center">
            {% if request.search %}
                Sorry, no search results found in your Subscriptions. Click the <strong>Search All Podcasts</strong> button above to search the entire podcast database.
            {% else %}
                You are not subscribed to any podcasts. Find new podcasts on the <a href="{% url "podcasts:discover" %}" class="link">Discover</a> page and click the <strong>Subscribe</strong> button to add a podcast to your collection.
            </p>
        {% endif %}
    {% else %}
        {% include "podcasts/_podcasts.html" %}
    {% endif %}
{% endblock content %}
