{% extends "base.html" %}
{% load heroicons %}
{% block title %}
    {{ block.super }} | Podcasts
{% endblock title %}
{% block content %}
    {% paginate podcasts as page_obj %}
    <header class="pb-6 mb-3 space-y-3 border-b sm:flex sm:justify-between sm:space-y-0">
        <h1 class="flex justify-center items-center text-xl font-bold sm:justify-start md:text-2xl xl:text-3xl">Podcasts</h1>
        {% if request.search or page_obj.has_other_pages %}
            <nav>
                <ul class="items-center space-y-3 sm:flex sm:justify-end sm:space-y-0 sm:space-x-3">
                    {% if request.search %}
                        <li class="flex justify-center items-center sm:justify-end">
                            <a class="inline-flex items-center btn btn-default"
                               href="{% url "podcasts:discover" %}{{ request.search.qs }}">
                                {% heroicon_mini "magnifying-glass" class="mr-2" %}
                                Search All Podcasts
                            </a>
                        </li>
                    {% endif %}
                    <li class="flex justify-center items-center space-x-3 sm:justify-end">{% search_form "Search: Subscriptions" %}</li>
                </ul>
            </nav>
        {% endif %}
    </header>
    {% include "podcasts/_podcasts.html" %}
{% endblock content %}
