{% with ICON_CSS="h-4 w-4 lg:h-5 lg:w-5" LINK_CSS="link focus:outline-none" %}
    <div class="flex items-center space-x-3 {{ css_class|default:'' }}"
        x-data>
        <a href="{{ share_urls.email }}"
            target="_blank"
            rel="noopener"
            title="Share with Email"
            class="{{ LINK_CSS }}">
            {% icon "mail" css_class=ICON_CSS %}
        </a>

        <a href="{{ share_urls.facebook }}"
            target="_blank"
            rel="noopener"
            title="Share on Facebook"
            class="{{ LINK_CSS }}">
            {% icon "facebook" css_class=ICON_CSS %}
        </a>

        <a href="{{ share_urls.twitter }}"
            target="_blank"
            rel="noopener"
            title="Share on Twitter"
            class="{{ LINK_CSS }}">
            {% icon "twitter" css_class=ICON_CSS %}
        </a>
        <a href="{{ share_urls.linkedin }}"
            target="_blank"
            rel="noopener"
            title="Share on Linkedin"
            class="{{ LINK_CSS }}">
            {% icon "linkedin" css_class=ICON_CSS %}
        </a>
        <button title="Copy link to Clipboard"
            class="{{ LINK_CSS }}"
            @click="{# fmt:off #}
                input = document.createElement('input');
                input.style = 'position: absolute; left: -1000px; top: -1000px';
                input.value = window.location.href;
                document.body.appendChild(input);
                input.select();
                document.execCommand('copy');
                document.body.removeChild(input);
                $dispatch('add-message', {
                    message: 'Copied link to Clipboard',
                    tags: 'success'
                });
                "{# fmt:on #}>
                {% icon "link" css_class=ICON_CSS %}
            </button>
        </div>
{% endwith %}
