x-logging: &default-logging
    options:
        max-size: "10k"
        max-file: "3"

services:
    postgres:
        image: postgres:16.6-bookworm
        shm_size: 10g
        command: >
          postgres
          -c lock_timeout=5s
          -c log_destination=stderr
          -c log_statement=all
          -c max_connections=200
          -c max_wal_size=4GB
          -c statement_timeout=30s
          -c wal_buffers=32MB
        environment:
            - POSTGRES_PASSWORD={{ postgres_password }}
        volumes:
            - pg_data:/var/lib/postgresql/data
        stop_grace_period: "3s"
        restart: always
        logging: *default-logging
        healthcheck:
            test: ["CMD", "pg_isready", "-U", "postgres"]
            interval: 1s
            timeout: 3s
            retries: 30
        ports:
            - "5432:5432"

    redis:
        image: redis:7.4.1-bookworm
        stop_grace_period: "3s"
        restart: always
        logging: *default-logging
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 1s
            timeout: 3s
            retries: 30
        ports:
            - "6379:6379"

volumes:
    pg_data: {}
