{% load i18n %}
{% translate "Add to Bookmarks" as t_add_bookmark %}
{% translate "Remove from Bookmarks" as t_remove_bookmark %}
{% with target=episode.get_bookmark_target %}
    <div class="flex items-center text-xs md:text-sm"
        id="{{ target }}"
        hx-push-url="false"
        hx-target="this"
        hx-swap="outerHTML"
        hx-disinherit="hx-indicator">
        {% if is_bookmarked %}
            <button title="{{ t_remove_bookmark }}"
                class="btn btn-secondary inline-flex items-center"
                hx-post="{% url 'episodes:remove_bookmark' episode.id %}">
                {% icon "star" css_class="mr-2" %}
                {% translate "Bookmark" %}
            </button>
        {% else %}
            <button title="{{ t_add_bookmark }}"
                class="btn btn-default inline-flex items-center"
                hx-post="{% url 'episodes:add_bookmark' episode.id %}">
                {% icon "star" "regular" css_class="mr-2" %}
                {% translate "Bookmark" %}
            </button>
        {% endif %}
    </div>
    {% if request.htmx.target == target %}
        {% include "includes/messages.html" with hx_oob=True %}
    {% endif %}
{% endwith %}
