{% load i18n %}
{% if user.is_authenticated %}
    <div{% if hx_oob %} hx-swap-oob="true"
    {% endif %}
        hx-push-url="false"
        hx-target="#player"
        hx-swap="innerHTML"
        hx-disinherit="hx-indicator"
        id="{{ episode.get_player_target }}">
        {% if is_playing %}
            <button class="inline-flex items-center btn btn-outline"
                hx-post="{% url 'episodes:close_player' %}"
                title="{% translate "Close Player" %}">
                {% icon "stop-circle" "regular" css_class="mr-2" %}
                {% translate "Close" %}
            </button>
        {% else %}
            <button class="inline-flex items-center btn btn-primary"
                hx-post="{% url 'episodes:start_player' episode.id %}"
                title="{% translate "Open Episode in Player" %}">
                {% icon "play-circle" "regular" css_class="mr-2" %}
                {% translate "Play" %}
            </button>
        {% endif %}
    </div>
{% else %}
    <div>
        <a class="inline-flex items-center btn btn-primary"
            href="{{ episode.get_absolute_url|login_url }}"
            title="{% translate "You must sign up or log in to play this episode" %}"
            hx-disable="true">
            {% icon "play-circle" "regular" css_class="mr-2" %}
            {% translate "Play" %}
        </a>
    </div>
{% endif %}
