- name: Deploy Kubernetes
  environment:
      KUBECONFIG: "{{ kubeconfig }}"
  block:
      - name: Assert k3s_pg_upgrade_new_image and k3s_pg_upgrade_new_volume are defined
        ansible.builtin.assert:
            that:
                - k3s_pg_upgrade_new_image is defined
                - k3s_pg_upgrade_new_image|length > 0
                - k3s_pg_upgrade_new_volume is defined
                - k3s_pg_upgrade_new_volume|length > 0
            fail_msg: "Both 'k3s_pg_upgrade_new_image' and 'k3s_pg_upgrade_new_volume' must be defined for the upgrade."

      - name: Get current Postgres StatefulSet image
        ansible.builtin.shell: |
            kubectl get statefulset postgres -o jsonpath='{.spec.template.spec.containers[0].image}'
        register: k3s_pg_upgrade_current_postgres_image
        changed_when: false

      - name: Get the MAJOR version of the current Postgres image
        ansible.builtin.set_fact:
            k3s_pg_upgrade_postgres_current_version: "{{ k3s_pg_upgrade_current_postgres_image.stdout.split(':')[1].split('.')[0] }}"

      - name: Get the MAJOR version of the new Postgres image
        ansible.builtin.set_fact:
            k3s_pg_upgrade_postgres_new_version: "{{ k3s_pg_upgrade_new_image.split(':')[1].split('.')[0] }}"

      - name: Debug current and new Postgres versions
        ansible.builtin.debug:
            msg: "Current Postgres version: {{ k3s_pg_upgrade_postgres_current_version }}, New Postgres version: {{ k3s_pg_upgrade_postgres_new_version }}"

      - name: Debug current and new Postgres volumes
        ansible.builtin.debug:
            msg: "Current Postgres volume: {{ k3s_pg_upgrade_current_volume }}, New Postgres volume: {{ k3s_pg_upgrade_new_volume }}"

      - name: Assert volume + image are different than current
        ansible.builtin.assert:
            that:
                - k3s_pg_upgrade_postgres_new_version != k3s_pg_upgrade_postgres_current_version
                - k3s_pg_upgrade_new_volume != k3s_pg_upgrade_current_volume
            fail_msg: "The new image and volume must differ from the current ones."

      - name: Create a temporary directory
        ansible.builtin.tempfile:
            state: directory
        register: k3s_pg_upgrade_manifests_dir

      - name: Render Kubernetes manifests
        ansible.builtin.template:
            src: "{{ item }}.yaml.j2"
            dest: "{{ k3s_pg_upgrade_manifests_dir.path + '/' + item + '.yaml' }}"
            mode: "0644"
        loop:
            - postgres_upgrade_pv
            - postgres_upgrade_pvc
            - postgres_upgrade_statefulset
            - postgres_upgrade_service

      - name: Apply Kubernetes manifests
        ansible.builtin.shell: |
            kubectl apply -f {{ k3s_pg_upgrade_manifests_dir.path }} --namespace=default
        environment:
            KUBECTL_APPLYSET: "true"
        changed_when: true

      - name: Delete manifests dir
        ansible.builtin.file:
            path: "{{ k3s_pg_upgrade_manifests_dir.path }}"
            state: absent
