{% extends "pagination/base.html" %}

{% block results %}
<div id="favorites">
  {% for favorite in page_obj %}
  {% url 'episodes:favorite_actions' favorite.episode.id as action_url %}
  {% url 'episodes:remove_favorite' favorite.episode.id as remove_url %}
  {% include "episodes/favorites/_episode.html" with episode=favorite.episode remove_title="Remove from Favorites" %}
  {% empty %}
  {% if search %}
  <p class="text-center sm:text-left">No results found for <span class="font-bold">{{ search }}</span>.</p>
  {% else %}
  You do not have any Favorites at the moment.
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
