{% if user.is_authenticated %}
<form method="post"
      id="{{ turbo_stream_target|default:episode.get_favorite_toggle_id }}"
      action="{% if is_favorited %}{% url 'episodes:remove_favorite' episode.id %}{% else %}{% url 'episodes:add_favorite' episode.id %}{% endif %}">
  {% csrf_token %}
  {% if is_favorited %}
  <button title="Remove episode from Favorites"
          class="btn btn-secondary flex items-center">
    {% svg "trash" css_class="btn-icon mr-2" %}
    Favorite
  </button>
  {% else %}
  <button title="Add episode to Favorites"
          class="btn btn-default flex items-center">
    {% svg "star" css_class="btn-icon mr-2" %}
    Favorite
  </button>
  {% endif %}
</form>
{% else %}
<a title="Log in or sign up to add this episode to Favorites"
   href="{% url 'account_login' %}?next={{ request.path|urlencode }}"
   data-turbo-frame="_top"
   class="btn btn-default flex items-center">
  {% svg "star" css_class="btn-icon mr-2" %}
  Favorite
</a>
{% endif %}
