# Deployment settings
#
docker_image: "{{ docker_image }}"

postgres:
  image: "{{ postgres_image | default('postgres:18.1-bookworm', true) }}"
  password: "{{ postgres_password }}"
  storage: "{{ postgres_storage | default('30Gi', true) }}"
  volume: "{{ postgres_volume | default('/home/ubuntu/pg_data', true) }}"

redis:
  image: "{{ redis_image | default('redis:8.2.2-bookworm', true) }}"

# Django settings

admin_site_header: "Radiofeed Admin [Production]"
admin_url: "admin/"
admins: "admin@{{ domain }}"
allowed_hosts: "*"
contact_email: "contact@{{ domain }}"
conn_pool_max_idle: 120
conn_pool_max_lifetime: 1800
conn_pool_max_size: 100
conn_pool_max_waiting: 25
conn_pool_min_size: 2
conn_pool_timeout: 20
csp_script_whitelist: "*.account.google.com,*.googleapis.com,*.cloudflareinsights.com"
mailgun_api_key: ""
mailgun_api_url: "https://api.eu.mailgun.net/v3"
mailgun_sender_domain: "mg.{{ domain }}"
meta_author: "Site owner"
meta_description: "Podcast aggregator site"
meta_keywords: "podcasts, feeds, rss"
pwa_sha256_fingerprints: ""
secret_key_fallbacks: ""
secure_ssl_redirect: false
sentry_url: ""
