{% extends "base.html" %}
{% load heroicons head_tags %}

{% block title %}
    {% title_tag "Private Feeds" "Add Private Feed" %}
{% endblock title %}

{% block content %}
    {% include "header.html" with title="Private Feeds" %}
    <div class="space-y-6">
        {% partialdef form inline %}
            {% fragment "form.html" htmx=True target="private-feed-form" %}
                {{ form }}
                {% fragment "form.html#buttons" %}
                    <button class="btn btn-primary">
                        {% heroicon_mini "plus" class="mr-2" %}
                        Add Feed
                    </button>
                    <button
                        class="btn btn-default btn-outline"
                        role="link"
                        hx-get="{% url 'private_feeds:index' %}"
                        hx-swap="innerHTML"
                        hx-target="#content"
                        hx-push-url="true"
                    >
                        {% heroicon_mini "arrow-uturn-left" class="mr-2" %}
                        Cancel
                    </button>
                {% endfragment %}
            {% endfragment %}
        {% endpartialdef form %}
        <div class="space-y-3 prose dark:prose-invert">
            <p>
                If you have a private podcast feed that requires a username and password, you can add it here with this format:
            </p>
            <code>https://username:password@feed-url</code>
            <p>Use a <a class="link"
                        href="https://www.urlencoder.org/"
                        rel="noopener"
                        target="_blank">URL encoding service</a> to encode the username and password if required.</p>
        </div>
    </div>
{% endblock content %}
