{% load cache %}
<c-vars podcast current />
<header class="pb-3 mb-3 space-y-6 border-b">
    <c-header.title>{{ podcast.cleaned_title }}</c-header.title>
    <div class="space-y-3 sm:flex sm:justify-between sm:space-y-0">
        {% cache 300 podcast-detail-links request.path %}
            <nav class="flex justify-center items-center sm:justify-start">
                <ul class="flex items-center space-x-6">
                    <c-podcasts.detail.item name="detail"
                                            :current="current"
                                            :url="podcast.get_detail_url"
                                            title="About" />
                    <c-podcasts.detail.item name="episodes"
                                            :current="current"
                                            :url="podcast.get_episodes_url"
                                            title="Episodes ({{ podcast.num_episodes }})" />
                    {% if podcast.has_similar %}
                        <c-podcasts.detail.item name="similar"
                                                :current="current"
                                                :url="podcast.get_similar_url"
                                                title="Similar" />
                    {% endif %}
                </ul>
            </nav>
        {% endcache %}
        {{ nav }}
    </div>
</header>
{{ slot }}
