{% load cache %}
<c-vars podcast current />
<header class="pb-3 mb-3 space-y-6 border-b">
    <c-header.title>{{ podcast.cleaned_title }}</c-header.title>
    <div class="space-y-3 sm:flex sm:justify-between sm:space-y-0">
        {% cache 300 podcast-detail-links request.path %}
            <nav class="flex justify-center items-center sm:justify-start">
                <ul class="flex items-center space-x-6">
                    <li>
                        <a class="link {% if current == 'detail' %}active{% endif %}"
                           href="{{ podcast.get_detail_url }}"
                           {% if current == 'detail' %}aria-current="page"{% endif %}
                           title="{{ podcast.cleaned_title }} | About">About</a>
                    </li>
                    <li>
                        <a class="link {% if current == 'episodes' %}active{% endif %}"
                           href="{{ podcast.get_episodes_url }}"
                           {% if current == 'episodes' %}aria-current="page"{% endif %}
                           title="{{ podcast.cleaned_title }} | Episodes">Episodes ({{ podcast.num_episodes }})</a>
                    </li>
                    {% if podcast.has_similar %}
                        <li>
                            <a class="link {% if current == 'similar' %}active{% endif %}"
                               href="{{ podcast.get_similar_url }}"
                               {% if current == 'similar' %}aria-current="page"{% endif %}
                               title="{{ podcast.cleaned_title }} | Similar">Similar</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endcache %}
        {{ nav }}
    </div>
</header>
{{ slot }}
