name: radiofeed_checks
on: workflow_call
jobs:
    precommit:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: "3.12.1"
                  cache: "pip"
            - uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: "npm"
            # install eslint dependencies etc first
            - run: npm install
            - uses: pre-commit/action@v3.0.1
    unittests:
        needs: precommit
        runs-on: ubuntu-latest
        services:
            postgres:
                image: postgres:16
                env:
                    POSTGRES_PASSWORD: password
                ports: ["5432:5432"]
                options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: "3.12.1"
                  cache: "pip"
            - run: pip install -r ./requirements-ci.txt
            - run: xargs python -m nltk.downloader < nltk.txt
            - run: python -m pytest
