name: radiofeed:deploy
run-name: ${{ github.actor }} is deploying to production
on:
    workflow_dispatch:
        branches:
            - main
permissions:
  attestations: write
  contents: write
  packages: write
  id-token: write

jobs:
    checks:
        uses: ./.github/workflows/checks.yml
    build:
        uses: ./.github/workflows/docker.yml
        needs: checks
        secrets: inherit
    deploy:
        runs-on: ubuntu-latest
        needs: build
        permissions:
          contents: read
        steps:
            - name: Deploy to Kubernetes
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.DEPLOY_IP }}
                  username: ${{ secrets.DEPLOY_USER }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  script: |
                    IMAGE=${{ needs.build.outputs.image }} ./deploy.sh
