name: listenwave_deploy_dokku
run-name: ${{ github.actor }} is deploying to Dokku
on:
    workflow_dispatch:
        branches:
            - main
jobs:
    run_checks:
        uses: ./.github/workflows/checks.yml
    build_docker:
        permisssions: write-all
        runs-on: ubuntu-latest
        needs: run_checks
        environment:
            - REGISTRY=docker.io
            - DOCKER_IMAGE=danjac2018/listenwave
        steps:
            - name: Cloning repo
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
            - name: Log in to Docker Hub
              uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
              with:
                images: ${env.REGISTRY}/${env.DOCKER_IMAGE}
            - name: Build and push Docker image
              id: push
              uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
              with:
                context: .
                file: ./Dockerfile
                push: true
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}
            - name: Generate artifact attestation
              uses: actions/attest-build-provenance@v1
              with:
                subject-name: ${{ env.REGISTRY }}/${{ env.DOCKER_IMAGE }}
                subject-digest: ${{ steps.push.outputs.digest }}
                push-to-registry: true
    deploy:
        jobs:
            - name: Deploy cron scheduler
            - name: Deploy app servers
